<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.AccessUserMapper">
   <!-- <cache type="xh.mybatis.tools.MybatisRedisCache" eviction="LRU"
		flushInterval="600000" size="1024" readOnly="false" /> -->
    <!--接入用户列表-->
    <select id="accessUserList" parameterType="java.lang.Integer" resultType="map" useCache="true">
     select * from xhgmnet_user_access_list limit 0,100
    </select>  
    
    <!--接入用户是否存在-->
    <select id="accessUserExists" parameterType="int" resultType="int" useCache="true">
     select count(id) from xhgmnet_user_access_list where User_id=#{id}
    </select>   

   
    <!--添加接入用户-->    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="xh.mybatis.bean.AccessUserBean">
      insert into xhgmnet_user_access_list
      (User_Name,User_Pwd,User_Unit,User_id,User_Ip,User_Reg_Time,User_Day_Range,User_SMSRx_EN,User_SMSSingle_EN,
      User_SMSGroup_EN,User_SMSRecvSearch_EN,User_SMSSendSearch_EN,User_GPSRx_EN,User_GPSImmRequest_EN,
      User_GPSTriggerRequest_EN,User_GPSOnOffRequest_EN,User_GPSInfoSearch_EN,User_GPSOperationSearch_EN,
      User_CallRecordSearch_EN,User_VideoDownload_EN,User_RadioStatusImmQuery_EN,User_RadioStatusHistoryQuery_EN,
      User_DispatchSingleCall_EN,User_DispatchGroupCall_EN,User_DispatchDisableEnable_EN,User_DispatchDGNA_EN,
      User_DispatchDiscreetListening_EN,User_DispatchAmbienceListening_EN,User_DispatchPatch_EN,User_DispatchPpc_EN,
      User_DispatchMsel_EN)
      values(#{User_Name},#{User_Pwd},#{User_Unit},#{User_id},#{User_Ip},#{User_Reg_Time},
      #{User_Day_Range},#{User_SMSRx_EN},#{User_SMSSingle_EN},#{User_SMSGroup_EN},#{User_SMSRecvSearch_EN},#{User_SMSSendSearch_EN},
      #{User_GPSRx_EN},#{User_GPSImmRequest_EN},#{User_GPSTriggerRequest_EN},#{User_GPSOnOffRequest_EN},#{User_GPSInfoSearch_EN},
      #{User_GPSOperationSearch_EN},#{User_CallRecordSearch_EN},#{User_VideoDownload_EN},#{User_RadioStatusImmQuery_EN},
      #{User_RadioStatusHistoryQuery_EN},#{User_DispatchSingleCall_EN},#{User_DispatchGroupCall_EN},#{User_DispatchDisableEnable_EN},
      #{User_DispatchDGNA_EN},#{User_DispatchDiscreetListening_EN},#{User_DispatchAmbienceListening_EN},#{User_DispatchPatch_EN},
      #{User_DispatchPpc_EN},#{User_DispatchMsel_EN})
    </insert>
   
    <!--修改接入用户权限--> 
    <update id="updateAccessUser" parameterType="xh.mybatis.bean.AccessUserBean">
     update xhgmnet_user_access_list set
      User_Name=#{User_Name},User_Pwd=#{User_Pwd},User_Unit=#{User_Unit},User_Ip=#{User_Ip},
      User_Reg_Time=#{User_Reg_Time},User_Day_Range=#{User_Day_Range},User_SMSRx_EN=#{User_SMSRx_EN},
      User_SMSSingle_EN=#{User_SMSSingle_EN},User_SMSGroup_EN=#{User_SMSGroup_EN},User_SMSRecvSearch_EN=#{User_SMSRecvSearch_EN},
      User_SMSSendSearch_EN=#{User_SMSSendSearch_EN},User_GPSRx_EN=#{User_GPSRx_EN},User_GPSImmRequest_EN=#{User_GPSImmRequest_EN},
      User_GPSTriggerRequest_EN=#{User_GPSTriggerRequest_EN},User_GPSOnOffRequest_EN=#{User_GPSOnOffRequest_EN},
      User_GPSInfoSearch_EN=#{User_GPSInfoSearch_EN},User_GPSOperationSearch_EN=#{User_GPSOperationSearch_EN},
      User_CallRecordSearch_EN=#{User_CallRecordSearch_EN},User_VideoDownload_EN=#{User_VideoDownload_EN},
      User_RadioStatusImmQuery_EN=#{User_RadioStatusImmQuery_EN},User_RadioStatusHistoryQuery_EN=#{User_RadioStatusHistoryQuery_EN},
      User_DispatchSingleCall_EN=#{User_DispatchSingleCall_EN},User_DispatchGroupCall_EN=#{User_DispatchGroupCall_EN},
      User_DispatchDisableEnable_EN=#{User_DispatchDisableEnable_EN},User_DispatchDGNA_EN=#{User_DispatchDGNA_EN},
      User_DispatchDiscreetListening_EN=#{User_DispatchDiscreetListening_EN},
      User_DispatchAmbienceListening_EN=#{User_DispatchAmbienceListening_EN},User_DispatchPatch_EN=#{User_DispatchPatch_EN},
      User_DispatchPpc_EN=#{User_DispatchPpc_EN},User_DispatchMsel_EN=#{User_DispatchMsel_EN}
     where User_id=#{User_id}
    </update>     
   <!--根据用户ID删除用户-->
    <delete id="deleteByUserId" parameterType="java.util.List">
     delete from xhgmnet_user_access_list where User_id in(
        <foreach collection="list" item="id" separator=",">
            #{id}
        </foreach>
     ) 
    </delete>    

</mapper>
