<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.AssetInfoMapper">
	<!-- 自定义返回结果集 -->
	<resultMap id="assetInfoMap" type="xh.mybatis.bean.AssetInfoBean">
		<id property="id" column="id" javaType="java.lang.Integer"></id>
		<result property="type" column="type" javaType="java.lang.Integer"></result>
		<result property="name" column="name" javaType="java.lang.String"></result>
		<result property="model" column="model" javaType="java.lang.String"></result>
		<result property="serialNumber" column="serialNumber" javaType="java.lang.String"></result>
		<result property="price" column="price" javaType="java.lang.String"></result>
		<result property="number" column="number" javaType="java.lang.Integer"></result>
		<result property="from" column="from" javaType="java.lang.Integer"></result>
		<result property="status" column="status" javaType="java.lang.Integer"></result>
		<result property="note" column="note" javaType="java.lang.String"></result>
		<result property="createTime" column="createTime" javaType="java.lang.String"></result>

		<result property="statusCount" column="statusCount" javaType="java.lang.Integer"></result>
	</resultMap>
	<!--查询资产记录statusCount -->
	<select id="assetInfo" parameterType="map"
		resultType="xh.mybatis.bean.AssetInfoBean" useCache="true">
		select * from xhgmnet_business_assetinfo where 1=1
		<if test="type !=0">
			and type=#{type}
		</if>
		<if test="name !=null and name !=''">
			and name like concat(#{name},'%')
		</if>
		<if test="model !=null and model!=''">
			and model like concat(#{model},'%')
		</if>
		<if test="serialNumber !=null and serialNumber!=''">
			and serialNumber like concat(#{serialNumber},'%')
		</if>
		<if test="from !=0">
			and `from`=#{from}
		</if>
		<if test="status !=0">
			and status=#{status}
		</if>
		<if test="isLock==1 and tag==1">
			and isLock=1 and addUser=#{user}
		</if>
		<if test="isLock==1 and tag==0">
			and addUser=#{user}
		</if>
		<if test="isLock==0">
			and isLock=0
		</if>
		<if test="applyTag!=null and applyTag!=''">
			and applyTag=#{applyTag}
		</if>
		order by createTime desc limit #{start},#{limit}
	</select>
	<select id="assetInfoByserialNumberExists" parameterType="String"
		resultType="int" useCache="true">
		select count(*) from
		xhgmnet_business_assetinfo where serialNumber=#{serialNumber}
	</select>
	<!--按资产状态统计 -->
	<select id="allAssetStatus" parameterType="map" resultType="java.util.HashMap"
		useCache="true">
		select status,count(status) as number from
		xhgmnet_business_assetinfo where isLock=0 group by status
	</select>
	<!--按资产状类型统计 -->
	<select id="allAssetType" parameterType="map" resultType="java.util.HashMap"
		useCache="true">
		select sum(if(status=1 ,1,0 )) as status1,
		sum(if(status=2
		,1,0 )) as status2,
		sum(if(status=3 ,1,0 )) as status3,
		sum(if(status=4
		,1,0 )) as status4,
		sum(if(status=5 ,1,0 )) as status5,
		sum(if(status=6
		,1,0 )) as status6,
		sum(if(status=7 ,1,0 )) as status7,type,count(type)
		as total
		from xhgmnet_business_assetinfo where isLock=0 group by type
	</select>
	<!--按设备统计 -->
	<select id="allAssetNameCount" parameterType="map" resultType="java.util.HashMap"
		useCache="true">
		select sum(if(status=1 ,1,0 )) as status1,
		sum(if(status=2
		,1,0 )) as status2,
		sum(if(status=3 ,1,0 )) as status3,
		sum(if(status=4
		,1,0 )) as status4,
		sum(if(status=5 ,1,0 )) as status5,
		sum(if(status=6
		,1,0 )) as status6,
		sum(if(status=7 ,1,0 )) as
		status7,type,name,count(name) as total
		from xhgmnet_business_assetinfo
		where isLock=0 group by name
	</select>
	<!--查询资产记录总数 -->
	<select id="assetInfoCount" parameterType="map" resultType="int"
		useCache="true">
		select count(*) from xhgmnet_business_assetinfo where 1=1
		<if test="type !=0">
			and type=#{type}
		</if>
		<if test="name !=null and name !=''">
			and name like concat(#{name},'%')
		</if>
		<if test="model !=null and model!=''">
			and model like concat(#{model},'%')
		</if>
		<if test="serialNumber !=null and serialNumber!=''">
			and serialNumber like concat(#{serialNumber},'%')
		</if>
		<if test="from !=0">
			and `from`=#{from}
		</if>
		<if test="status !=0">
			and status=#{status}
		</if>
		<if test="isLock==1 and tag==1">
			and isLock=1 and addUser=#{user}
		</if>
		<if test="isLock==1 and tag==0">
			and addUser=#{user}
		</if>
		<if test="isLock==0">
			and isLock=0
		</if>
		<if test="applyTag!=null and applyTag!=''">
			and applyTag=#{applyTag}
		</if>
	</select>
	<!--增加资产 -->
	<insert id="insertAsset" useGeneratedKeys="true" keyProperty="id"
		parameterType="xh.mybatis.bean.AssetInfoBean">
		insert into
		xhgmnet_business_assetinfo(type,name,model,serialNumber,price,number,`from`,status,note,createTime,isLock,addUser,applyTag)
		values(#{type},#{name},#{model},#{serialNumber},#{price},#{number},#{from},#{status},
		#{note},#{createTime},#{isLock},#{addUser},#{applyTag})
	</insert>
	<insert id="insertManyAsset" parameterType="java.util.List"
		keyProperty="serialNumber">
		insert IGNORE into
		xhgmnet_business_assetinfo(type,name,model,serialNumber,price,`from`,status,note,isLock,addUser)
		values
		<foreach collection="list" separator="," index="index" item="x">
			(#{x.type},#{x.name},#{x.model},#{x.serialNumber},#{x.price},#{x.from},#{x.status},#{x.note},#{x.isLock},#{x.addUser})
		</foreach>
	</insert>
	<!--更新资产记录 -->
	<update id="updateAsset" parameterType="xh.mybatis.bean.AssetInfoBean">
		update
		xhgmnet_business_assetinfo set type=#{type},
		name=#{name},model=#{model},
		serialNumber=#{serialNumber},price=#{price},number=#{number},`from`=#{from},
		status=#{status},note=#{note} where id=#{id}
	</update>
	<!--核查资产 -->
	<update id="checkAsset" parameterType="map">
		update
		xhgmnet_business_assetinfo set status=#{status},
		checkTime=#{checkTime},checkResult=#{checkResult},
		checkUser=#{checkUser} where id=#{id}
	</update>
	<update id="updateStatus" parameterType="map">
		update
		xhgmnet_business_assetinfo set status=#{status},
		checkTime=#{checkTime},
		checkUser=#{checkUser} where
		serialNumber=#{serialNumber}
	</update>
	<!--删除资产 -->
	<delete id="deleteAsset" parameterType="java.util.List">
		delete from xhgmnet_business_assetinfo where id in(
		<foreach collection="list" item="id" separator=",">
			#{id}
		</foreach>
		)
	</delete>

	<!-- 根据序列号查询是否存在 wlk -->
	<select id="count" parameterType="java.lang.String" resultType="int">
		select count(*) from xhgmnet_business_assetinfo where
		serialNumber=#{serialNumber}
	</select>

	<!-- 根据序列号查询 wlk -->
	<select id="selectbynum" parameterType="java.lang.String"
		resultMap="assetInfoMap">
		select * from xhgmnet_business_assetinfo where
		serialNumber=#{serialNumber}
	</select>

	<!-- 根据序列号更新资产记录的状态 wlk -->
	<update id="updateStatusByNum" parameterType="java.util.Map">
		update
		xhgmnet_business_assetinfo set status=#{status} where
		serialNumber=#{serialNumber}
	</update>

	<!-- 根据序列号批量更新资产记录的状态 wlk -->
	<update id="updateStatusByNumAsList" parameterType="java.util.Map">
		update xhgmnet_business_assetinfo set status=#{status} where
		serialNumber in
		<foreach collection="checkIds" index="index" item="serialNumber"
			separator=",">
			#{serialNumber}
		</foreach>
	</update>

	<select id="add_apply_list" parameterType="map"
		resultType="xh.mybatis.bean.AssetAddApplyBean">
		select * from xhgmnet_asset_add_apply where 1=1
		<if test="roleType!=0 and power!='on'">
			and user=#{user}
		</if>
		order by createTime desc limit #{start},#{limit}
	</select>
	<select id="add_apply_list_count" parameterType="map"
		resultType="int">
		select count(*) from xhgmnet_asset_add_apply where 1=1
		<if test="roleType!=0 and power!='on'">
			and user=#{user}
		</if>
	</select>
	<insert id="add_apply" keyProperty="id" useGeneratedKeys="true"
		parameterType="xh.mybatis.bean.AssetAddApplyBean">
		insert into
		xhgmnet_asset_add_apply(userId,user,userName,tel,attachmentName,attachmentPath,comment,createTime,applyTag)
		values(#{userId},#{user},#{userName},#{tel},#{attachmentName},#{attachmentPath},#{comment},#{createTime},#{applyTag})
	</insert>
	<update id="add_apply_check1" parameterType="xh.mybatis.bean.AssetAddApplyBean">
		update
		xhgmnet_asset_add_apply set
		status=#{status},note1=#{note1},time1=#{time1},checkUser=#{checkUser}
		where id=#{id}
	</update>

	<insert id="add_apply_info" keyProperty="applyId"
		useGeneratedKeys="true" parameterType="xh.mybatis.bean.AssetAddApplayInfoBean">
		insert into
		xhgmnet_asset_add_apply_info(applyId,createTime,workNote)values(#{applyId},#{createTime},#{workNote})
	</insert>

	<update id="add_apply_check2" parameterType="xh.mybatis.bean.AssetAddApplyBean">
		update
		xhgmnet_asset_add_apply set status=#{status},time2=#{time2} where
		id=#{id}
	</update>
	<update id="update_asset_isLock" parameterType="String">
		update
		xhgmnet_business_assetinfo set isLock=0 where isLock=1 and
		addUser=#{user}
	</update>
	<update id="update_asset_applyTag" parameterType="map">
		update
		xhgmnet_business_assetinfo set applyTag=#{applyTag} where isLock=1
		and
		addUser=#{user} and applyTag is null
	</update>
	<update id="add_apply_check3" parameterType="xh.mybatis.bean.AssetAddApplyBean">
		update
		xhgmnet_asset_add_apply set status=#{status},time3=#{time3} where
		id=#{id}
	</update>
	<!-- 资产报废申请明细 -->
	<select id="asset_scrap_info" parameterType="map"
		resultType="xh.mybatis.bean.AssetScrapInfoBean" useCache="true">
		select * from xhgmnet_asset_scrap where 1=1
		<if test="isLock==1 and tag==1">
			and isLock=1 and addUser=#{user}
		</if>
		<if test="isLock==1 and tag==0">
			and addUser=#{user}
		</if>
		<if test="applyTag!=null and applyTag!=''">
			and applyTag=#{applyTag}
		</if>
		order by createTime desc limit 0,500
	</select>
	<!-- 判断报废资产是否存在 -->
	<select id="scrapAssetInfoByserialNumberExists" parameterType="String"
		resultType="int" useCache="true">
		select count(*) from xhgmnet_asset_scrap
		where serialNumber=#{serialNumber}
	</select>
	<!--增加报废资产 -->
	<insert id="insertScrapAsset" useGeneratedKeys="true"
		keyProperty="id" parameterType="xh.mybatis.bean.AssetScrapInfoBean">
		insert into
		xhgmnet_asset_scrap(type,name,model,serialNumber,price,number,`from`,status,note,createTime,isLock,addUser,applyTag)
		values(#{type},#{name},#{model},#{serialNumber},#{price},#{number},#{from},#{status},
		#{note},#{createTime},#{isLock},#{addUser},#{applyTag})
	</insert>
	<!-- 报废资产申请 -->
	<insert id="scrap_apply" keyProperty="id" useGeneratedKeys="true"
		parameterType="xh.mybatis.bean.AssetScrapApplyBean">
		insert into
		xhgmnet_asset_scrap_apply(userId,user,userName,tel,attachmentName,attachmentPath,comment,createTime,applyTag)
		values(#{userId},#{user},#{userName},#{tel},#{attachmentName},#{attachmentPath},#{comment},#{createTime},#{applyTag})
	</insert>
	<!-- 更新报废资产tag -->
	<update id="update_scrap_asset_applyTag" parameterType="map">
		update
		xhgmnet_asset_scrap set applyTag=#{applyTag} where isLock=1 and
		addUser=#{user} and applyTag is null
	</update>

	<!-- 报废资产申请列表 -->
	<select id="scrap_apply_list" parameterType="map"
		resultType="xh.mybatis.bean.AssetScrapApplyBean">
		select * from xhgmnet_asset_scrap_apply where 1=1
		<if test="roleType!=0 and power!='on'">
			and user=#{user}
		</if>
		order by createTime desc limit #{start},#{limit}
	</select>
	<!-- 报废资产申请列表总数 -->
	<select id="scrap_apply_list_count" parameterType="map"
		resultType="int">
		select count(*) from xhgmnet_asset_scrap_apply where 1=1
		<if test="roleType!=0 and power!='on'">
			and user=#{user}
		</if>
	</select>
	<!-- 审核报废清单 -->
	<update id="scrap_apply_check1" parameterType="xh.mybatis.bean.AssetScrapApplyBean">
		update
		xhgmnet_asset_scrap_apply set
		status=#{status},note1=#{note1},time1=#{time1},checkUser=#{checkUser}
		where id=#{id}
	</update>

	<update id="scrap_apply_check2" parameterType="xh.mybatis.bean.AssetScrapApplyBean">
		update
		xhgmnet_asset_scrap_apply set status=#{status},time2=#{time2} where
		id=#{id}
	</update>
	<update id="update_scrap_asset_isLock" parameterType="String">
		update
		xhgmnet_asset_scrap set isLock=0 where isLock=1 and addUser=#{user}
	</update>
	<insert id="scrap_apply_info" keyProperty="applyId"
		useGeneratedKeys="true" parameterType="xh.mybatis.bean.AssetScrapApplayInfoBean">
		insert into
		xhgmnet_asset_scrap_apply_info(applyId,createTime,workNote)values(#{applyId},#{createTime},#{workNote})
	</insert>
	<update id="scrap_apply_check3" parameterType="xh.mybatis.bean.AssetScrapApplyBean">
		update
		xhgmnet_asset_scrap_apply set status=#{status},time3=#{time3} where
		id=#{id}
	</update>
	<delete id="deleteScrapAsset" parameterType="java.util.List">
		delete from xhgmnet_asset_scrap where id in(
		<foreach collection="list" item="id" separator=",">
			#{id}
		</foreach>
		)
	</delete>
	<!-- 资产状态变更申请列表 -->
	<select id="update_status_apply_list" parameterType="map"
		resultType="xh.mybatis.bean.AssetUpdateStatusApplyBean">
		select * from xhgmnet_asset_update_status_apply where 1=1
		<if test="roleType!=0 and power!='on'">
			and user=#{user}
		</if>
		order by createTime desc limit #{start},#{limit}
	</select>
	<select id="update_status_apply_count" parameterType="map"
		resultType="int">
		select count(*) from xhgmnet_asset_update_status_apply where 1=1
		<if test="roleType!=0 and power!='on'">
			and user=#{user}
		</if>
	</select>
	<insert id="add_update_status" parameterType="java.util.List">
		insert into
		xhgmnet_asset_update_status_info(type,name,model,serialNumber,price,number,
		`from`,status,note,createTime,isLock,addUser,afterStatus)values
		<foreach collection="list" item="x" index="index" separator=",">
			(
			#{x.type},#{x.name},#{x.model},#{x.serialNumber},#{x.price},#{x.number},#{x.from},#{x.status},
			#{x.note},#{x.createTime},#{x.isLock},#{x.addUser},#{x.afterStatus}
			)
		</foreach>

	</insert>
	<select id="update_status_info" parameterType="map"
		resultType="xh.mybatis.bean.AssetUpdateStatusInfoBean" useCache="true">
		select * from xhgmnet_asset_update_status_info where 1=1
		<if test="isLock==1 and tag==1">
			and isLock=1 and addUser=#{user}
		</if>
		<if test="isLock==1 and tag==0">
			and addUser=#{user}
		</if>
		<if test="applyTag!=null and applyTag!=''">
			and applyTag=#{applyTag}
		</if>
		order by createTime desc limit 0,500
	</select>
	<delete id="deleteUpdateStatusAsset" parameterType="java.util.List">
		delete from xhgmnet_asset_update_status_info where id in(
		<foreach collection="list" item="id" separator=",">
			#{id}
		</foreach>
		)
	</delete>
	<insert id="add_update_status_apply" keyProperty="id"
		useGeneratedKeys="true" parameterType="xh.mybatis.bean.AssetUpdateStatusApplyBean">
		insert into
		xhgmnet_asset_update_status_apply(userId,user,userName,tel,attachmentName,attachmentPath,comment,createTime,applyTag)
		values(#{userId},#{user},#{userName},#{tel},#{attachmentName},#{attachmentPath},#{comment},#{createTime},#{applyTag})
	</insert>
	<update id="update_update_status_applyTag" parameterType="map">
		update
		xhgmnet_asset_update_status_info set applyTag=#{applyTag} where
		isLock=1 and
		addUser=#{user} and applyTag is null
	</update>
	<update id="update_status_check1" parameterType="xh.mybatis.bean.AssetUpdateStatusApplyBean">
		update
		xhgmnet_asset_update_status_apply set
		status=#{status},note1=#{note1},time1=#{time1},checkUser=#{checkUser}
		where id=#{id}
	</update>

	<update id="update_status_check2" parameterType="xh.mybatis.bean.AssetUpdateStatusApplyBean">
		update
		xhgmnet_asset_update_status_apply set status=#{status},time2=#{time2}
		where
		id=#{id}
	</update>
	<insert id="update_status_attr" keyProperty="applyId"
		useGeneratedKeys="true" parameterType="xh.mybatis.bean.AssetUpdateStatusAttrBean">
		insert into
		xhgmnet_asset_scrap_apply_info_attr(applyId,createTime,workNote)values(#{applyId},#{createTime},#{workNote})
	</insert>
	<update id="update_status_isLock" parameterType="String">
		update
		xhgmnet_asset_update_status_info set isLock=0 where isLock=1 and
		addUser=#{user}
	</update>
	<update id="update_status_check3" parameterType="xh.mybatis.bean.AssetUpdateStatusApplyBean">
		update
		xhgmnet_asset_update_status_apply set status=#{status},time3=#{time3} where
		id=#{id}
	</update>
</mapper>
