<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.BsAlarmMapper">


<!-- 自定义返回结果集 -->
   <resultMap id="BsAlarmMap" type="xh.mybatis.bean.BsAlarmBean">
        <id property="id" column="id" javaType="java.lang.Integer"></id>
		<result property="bsId" column="bsId" javaType="java.lang.Integer"></result>
		<result property="bsName" column="name" javaType="java.lang.String"></result>
		<result property="alarmSource" column="source" javaType="java.lang.String"></result>
        <result property="alarmLevel" column="level" javaType="java.lang.Integer"></result>
        <result property="alarmType" column="type" javaType="java.lang.Integer"></result>
        <result property="content" column="content" javaType="java.lang.String"></result>
        <result property="alarmReason" column="reason" javaType="java.lang.Integer"></result>
    </resultMap>

    <!--查询所有告警信息-->
    <select id="selectAllBsAlarm" resultType="java.util.HashMap" useCache="true">
     	select * from xhgmnet_bs_alarm as a LEFT JOIN xhgmnet_bs_station as b on a.bsId=b.bsId
    </select>
	<!--查询告警列表
		显示告警列表，列表中只显示没有处理的告警；显示列表时联合查询基站列表显示基站名称，等级。
	-->
    <select id="selectBsAlarmList" parameterType="map" resultType="java.util.HashMap" useCache="true">
     	select a.bsId,name,a.level,b.level as bsLevel,a.source,a.type,reason,dealEn from xhgmnet_bs_alarm as a LEFT JOIN xhgmnet_bs_station as b on a.bsId=b.bsId where 1=1
     	<if test="bsId !=null and bsId !='' and bsId !=0">
			and a.bsId like concat(#{bsId},'%')
		</if>
		<if test="name !=null and name !=''">
			and b.name like concat(#{name},'%')
		</if>
		<if test="dealEn !=null and dealEn !='' and dealEn !=3">
			and a.dealEn=#{dealEn}
		</if>
		order by bsId asc limit #{start},#{limit}
    </select>
    <!--警告等级统计 -->
	<select id="bsAlarmLevelChart" resultType="java.util.HashMap"
		useCache="true">
		select level as name,count(id) as value from xhgmnet_bs_alarm
		group by level order by level asc
	</select>  
	<!--警告类型统计 -->
	<select id="bsAlarmTypeChart" resultType="java.util.HashMap"
		useCache="true">
		select type as name,count(id) as value from xhgmnet_bs_alarm
		group by type order by type asc
	</select>

</mapper>