<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.CheckCutMapper">
    <!-- redis缓存  LRU FIFO-->
    <!-- <cache eviction="LRU" flushInterval="-1" size="1024" readOnly="true"
     type="xh.mybatis.tools.MybatisRedisCache"/> -->
    <!--    <cache eviction="FIFO" flushInterval="600000" size="1024"
            readOnly="true" />  -->
    <!--查询核减所有记录 -->
    <select id="selectAll" parameterType="map" resultType="map">
        select a.*,b.unit as unit1,b.unitType as initType1,b.userType as userType1,c.period as bsPeriod
        from xhgmnet_bs_checkcut as a LEFT JOIN xhgmnet_web_user as b on a.userName=b.user LEFT JOIN xhgmnet_bs_station as c on a.bsId=c.bsId where 1=1
        <if test="bsId != null  and bsId != ''">
            and a.bsId=#{bsId}
        </if>
        <if test="name != null  and name != ''">
            and a.name like concat('%',#{name},'%')
        </if>
        <if test="status != null  and status != ''">
            and a.checked=#{status}
        </if>
        <if test="bsPeriod != null  and bsPeriod != ''">
            and c.period=#{bsPeriod}
        </if>
        <if test="bsRules != null  and bsRules != ''">
            and a.rules like concat('%',#{bsRules},'%')
        </if>
        <if test="startTime != null  and startTime != ''">
            and breakTime BETWEEN #{startTime} and #{endTime}
        </if>
        <if test="roleId != null  and roleId == 10002 ">
            and a.checked BETWEEN 1 and 4
        </if>
        order by a.id desc limit #{start},#{limit}
    </select>
    <!--查询申请所有记录总数 -->
    <select id="dataCount" parameterType="map" resultType="int" useCache="true">
        select count(*) from xhgmnet_bs_checkcut as a LEFT JOIN xhgmnet_bs_station as c on a.bsId=c.bsId where 1=1
        <if test="bsId != null  and bsId != ''">
            and a.bsId=#{bsId}
        </if>
        <if test="name != null  and name != ''">
            and a.name like concat('%',#{name},'%')
        </if>
        <if test="status != null  and status != ''">
            and a.checked=#{status}
        </if>
        <if test="bsPeriod != null  and bsPeriod != ''">
            and c.period=#{bsPeriod}
        </if>
        <if test="bsRules != null  and bsRules != ''">
            and a.rules like concat('%',#{bsRules},'%')
        </if>
        <if test="startTime != null  and startTime != ''">
            and breakTime BETWEEN #{startTime} and #{endTime}
        </if>
        <if test="roleId != null  and roleId == 10002 ">
            and a.checked BETWEEN 1 and 4
        </if>
    </select>

    <!--根据ID删除核减记录-->
    <delete id="deleteCheckCutById" parameterType="int" >
         delete from xhgmnet_bs_checkcut where id=#{id}
    </delete>

    <!--查询申请进度 -->
    <select id="applyProgress" parameterType="int" resultType="map"
            useCache="true">
        select * from xhgmnet_bs_checkcut where id=#{id}
    </select>

    <!--故障核减自动生成 -->
    <insert id="createCheckCut" useGeneratedKeys="true" keyProperty="id"
            parameterType="xh.mybatis.bean.CheckCutBean">
        insert into
        xhgmnet_bs_checkcut(id,fileName4,filePath4,note7,bsId,name,breakTime,restoreTime,hometype,transfer,transferCompare,transferOne,transferTwo,powerOne,powerTimeOne,powerTwo,powerTimeTwo,maintainTime,isPower,isPowerTime,period,applyTime,`desc`,situation,checked)
        values(#{id},#{fileName4},#{filePath4},#{note7},#{bsId},#{name},#{breakTime},#{restoreTime},#{hometype},#{transfer},#{transferCompare},#{transferOne},#{transferTwo},#{powerOne},#{powerTimeOne},#{powerTwo},#{powerTimeTwo},#{maintainTime},#{isPower},#{isPowerTime},#{period},#{applyTime},#{desc},#{situation},#{checked})
    </insert>

    <!--运维人员发起核减申请 -->
    <update id="insertCheckCut" parameterType="xh.mybatis.bean.CheckCutBean">
        update xhgmnet_bs_checkcut set
        userUnit=#{userUnit},tel=#{tel},fileName1=#{fileName1},filePath1=#{filePath1},note1=#{note1},checked=#{checked},
        requestTime=#{requestTime},userName=#{userName} where id=#{id}
    </update>

    <!--运维人员重新发起核减申请 -->
    <update id="checkedNegTwo" parameterType="xh.mybatis.bean.CheckCutBean">
        update xhgmnet_bs_checkcut set
        fileName1=#{fileName1},filePath1=#{filePath1},note1=#{note1},time1=#{time1},user1=#{user1},checked=#{checked} where id=#{id}
    </update>

    <!--运维负责人审核核减申请 -->
    <update id="checkedOne" parameterType="xh.mybatis.bean.CheckCutBean">
        update xhgmnet_bs_checkcut set
        user2=#{user2},time2=#{time2},note2=#{note2},checked=#{checked},persion2=#{persion2} where id=#{id}
    </update>

    <!--管理方审核核减申请 -->
    <update id="checkedTwo" parameterType="xh.mybatis.bean.CheckCutBean">
        update xhgmnet_bs_checkcut set
        user3=#{user3},time3=#{time3},note3=#{note3},checked=#{checked},persion3=#{persion3} where id=#{id}
    </update>

    <!--运维人员提交相关资料-->
    <update id="checkedThree" parameterType="xh.mybatis.bean.CheckCutBean">
        update xhgmnet_bs_checkcut set
        user4=#{user4},time4=#{time4},note4=#{note4},fileName2=#{fileName2},filePath2=#{filePath2},checked=#{checked} where id=#{id}
    </update>

    <!--运维人员结束流程-->
    <update id="checkedFour" parameterType="xh.mybatis.bean.CheckCutBean">
        update xhgmnet_bs_checkcut set
        user5=#{user5},time5=#{time5},note5=#{note5},checked=#{checked} where id=#{id}
    </update>

    <!-- 查询系统升级表格数据 -->
    <select id="sheetShow" parameterType="map" resultType="xh.mybatis.bean.CheckCutBean">
        select * from xhgmnet_bs_checkcut where id=#{id}
    </select>

    <!-- 修改系统升级表格 -->
    <update id="sheetChange" parameterType="xh.mybatis.bean.CheckCutBean">
        update xhgmnet_bs_checkcut as a set a.bsId=#{bsId},a.name=#{name},a.hometype=#{hometype},a.transfer=#{transfer},
        a.transferCompare=#{transferCompare},a.transferOne=#{transferOne},
        a.transferTwo=#{transferTwo},a.powerOne=#{powerOne},a.powerTimeOne=#{powerTimeOne},a.powerTwo=#{powerTwo},
        a.powerTimeTwo=#{powerTimeTwo},a.maintainTime=#{maintainTime},a.isPower=#{isPower},a.firstDesc=#{firstDesc},
        a.desc=#{desc},a.breakTime=#{breakTime},a.restoreTime=#{restoreTime},a.checkCutTime=#{checkCutTime},
        a.alarmTime=#{alarmTime},a.situation=#{situation},a.rules=#{rules},a.period=#{period},
        a.applyTime=#{applyTime},a.persion1=#{persion1},a.persion2=#{persion2},a.suggest=#{suggest},a.persion3=#{persion3} where a.id=#{id}
    </update>

    <!-- 根据基站id查询详细信息，用于填充核减表 -->
    <select id="selectBsInformationById" parameterType="map" resultType="map">
        select a.hometype,a.period,b.*,c.tag,c.is_open,c.operator from xhgmnet_bs_station a left join xhgmnet_bs_supply_electricity b on a.bsId=b.bsId left join xhgmnet_bs_link_config c on a.bsId=c.bsId where a.bsId=#{bsId} order by c.tag
    </select>

    <!-- 根据id更新核减打印状态 -->
    <update id="updatePrintStatusById" parameterType="int">
        update xhgmnet_bs_checkcut set isPrint = 1 where id = #{id}
    </update>

    <!--查询核减所有记录 -->
    <select id="exportWordByTime" parameterType="map" resultType="map">
        select a.*,b.unit as unit1,b.unitType as initType1,b.userType as userType1,c.period as bsPeriod,TIMESTAMPDIFF(MINUTE,(DATE_FORMAT(breakTime,'%Y-%m-%d %H:%i')),(DATE_FORMAT(restoreTime, '%Y-%m-%d %H:%i'))) calcData
        from xhgmnet_bs_checkcut as a LEFT JOIN xhgmnet_web_user as b on a.userName=b.user LEFT JOIN xhgmnet_bs_station as c on a.bsId=c.bsId where 1=1

        <if test="bsId != null  and bsId != ''">
            and a.bsId=#{bsId}
        </if>
        <if test="name != null  and name != ''">
            and a.name like concat('%',#{name},'%')
        </if>
        <if test="status != null  and status != ''">
            and a.checked=#{status}
        </if>
        <if test="bsPeriod != null  and bsPeriod != ''">
            and c.period=#{bsPeriod}
        </if>
        <if test="bsRules != null  and bsRules != ''">
            and a.rules like concat('%',#{bsRules},'%')
        </if>
        <if test="startTime != null  and startTime != ''">
            and breakTime BETWEEN #{startTime} and #{endTime}
        </if>
        order by breakTime
    </select>

</mapper>
