<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.DispatchStatusMapper">

    <!--调度台状态-->
    <select id="dispatchstatus" resultType="map" useCache="true">
     select * from xhgmnet_dispatch order by sort asc limit 0,100
    </select> 
    <!-- 根据调度台ID判断调度台是否存在 -->
    <select id="dispatchExists" parameterType="int" resultType="int" useCache="true">
     select count(*) from xhgmnet_dispatch where dstId=#{dstId}
    </select>  
    <!--获取已经安装的调度台-->
    <select id="dispatchSetup" resultType="map" useCache="true">
     select * from xhgmnet_dispatch where setupStatus =1 limit 0,500
    </select> 
    <!-- 修改调度台状态  -->
    <update id="updateDispatchStatus" parameterType="map">
     update xhgmnet_dispatch set flag=#{flag} where dstId=#{dstId}
    </update> 
    <!-- 新增调度台 -->
    <insert id="addDispatch" keyProperty="dstId" useGeneratedKeys="false" parameterType="xh.mybatis.bean.DispatchBean">
    INSERT INTO `xhgmnet_dispatch` (`dstId`, `dstName`, `IP`,`setupStatus`,dbox_ip) VALUES
    (#{dstId}, #{dstName},#{IP},#{setupStatus},#{dbox_ip})
    </insert>
    <!-- 更新调度台参数 --> 
    <update id="updateDispatch" parameterType="xh.mybatis.bean.DispatchBean">
    update xhgmnet_dispatch set dstName=#{dstName},IP=#{IP},dbox_ip=#{dbox_ip},setupStatus=#{setupStatus} where dstId=#{dstId}
    </update>
    <!-- 删除调度台 -->
    <delete id="deleteDispatch" parameterType="List">
    delete from xhgmnet_dispatch  where dstId in
    (<foreach collection="list" item="id" separator=",">#{id}</foreach>)
    </delete> 
    <!-- 调度台断开报警 -->
    <select id="dispatchOffAlarm" resultType="map" useCache="true">
    SELECT dstId as bsId,dstName as name,dstId,updateTime FROM  xhgmnet_dispatch where setupStatus=1 and flag=0
    </select> 
    <!-- 调度台断开声音报警数目 -->
    <select id="dispatchOffAlarmCount" resultType="int" useCache="true">
    select count(*) as total from xhgmnet_dispatch where setupStatus=1 and flag=0 and alarmFlag=0
    </select> 
    <!-- 解除调度台掉线告警 --> 
    <update id="updateDispatchAlarmStatus">
      update xhgmnet_dispatch set alarmFlag=1 where setupStatus=1 and flag=0
    </update>
</mapper>
