<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.EastComMapper">

<!-- 基站信道排队top5 -->
<select id="queueTop5" resultType="map" useCache="true" parameterType="String" >
select TotalActiveCalls as value,bsId  from pef_newbstotal where  starttime=#{time}  and (bsId&lt;=200 or bsId>=1000)
order by TotalActiveCalls desc limit 5
</select>
<!-- 基站信道排队top5 -->
<select id="queueTopBsName" resultType="map" useCache="true" parameterType="List" >
select name,bsId  from xhgmnet_bs_station where  bsId in(
 <foreach collection="list" item="id" separator=",">
 #{id}
 </foreach>
)
</select>

</mapper>
