<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.ElecGenerationMapper">
	<select id="list" parameterType="map" resultType="map">
		select a.*,b.name,b.period,b.level,b.type,c.userName,c.tel,d.userName as send_userName,
		d.tel as send_tel
		from xhgmnet_operations_bs_elec_generation as a
		left join xhgmnet_bs_station as b on a.bsId=b.bsId
		left join xhgmnet_web_user as c on c.user=a.recv_user
		left join xhgmnet_web_user as d on d.user=a.send_user
		where 1=1

		<if test="bsId!=null and bsId!=''">
			and bsId=#{bsId}
		</if>
		<if test="starttime!=null and starttime!=''">
			and date_format(dispatchtime,'%Y-%m-%d')>#{starttime}
		</if>
		<if test="endtime!=null and endtime!=''">
			and date_format(dispatchtime,'%Y-%m-%d') &lt;#{endtime}
		</if>
		order by dispatchtime desc LIMIT #{start},#{limit}
	</select>
	<select id="count" parameterType="map" resultType="int">
		select
		count(*) from xhgmnet_operations_bs_elec_generation
		<if test="bsId!=null and bsId!=''">
			and bsId=#{bsId}
		</if>
		<if test="starttime!=null and starttime!=''">
			and date_format(dispatchtime,'%Y-%m-%d')>#{starttime}
		</if>
		<if test="endtime!=null and endtime!=''">
			and date_format(dispatchtime,'%Y-%m-%d') &lt;#{endtime}
		</if>
	</select>
	<select id="bs_offline_record" parameterType="map" resultType="map">
        select bsId,time,faultRecoveryTime,alarmTag from xhgmnet_operations_bsfault 
        WHERE neType=4 AND bsId=#{bsId} AND time BETWEEN #{start_time} AND #{end_time}
    </select>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into
		xhgmnet_operations_bs_elec_generation(bsfault_id,bsId,serialnumber,send_user,
		poweroff_time,comment,dispatchtime,recever,copier,recever_user,copier_user)values
		(#{fault_id},#{bsId},#{serialnumber},#{send_user},#{poweroff_time},#{comment},
		#{dispatchtime},#{recever},#{copier},#{recever_user},#{copier_user})
	</insert>
	<update id="update_fault" parameterType="int">
		update xhgmnet_operations_bsfault set iselec=1 where id=#{id}
	</update>
	   <update id="check" parameterType="map">
	    <if test="gen_off_time!=null and gen_off_time!=''">
	     update xhgmnet_operations_bs_elec_generation set status=#{status},
	     gen_off_time=#{gen_off_time},gen_end_time=#{gen_off_time} where id=#{id}
	    </if>
         <if test="gen_off_time==null">
         update xhgmnet_operations_bs_elec_generation set status=#{status} where id=#{id}
        </if>
    </update>
      <update id="checkOne" parameterType="map">
         update xhgmnet_operations_bs_elec_generation set status=#{status},
         check_user1=#{check_user},check_time1=#{time},check_note1=#{note} where id=#{id}
    </update>
          <update id="checkTwo" parameterType="map">
         update xhgmnet_operations_bs_elec_generation set status=#{status},
         check_user2=#{check_user},check_time2=#{time},check_note2=#{note} where id=#{id}
    </update>
</mapper>
