<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xh.mybatis.mapper.EventReportMapper">

	<select id="eventReportlist" parameterType="map" resultType="xh.mybatis.bean.EventReportBean"
		useCache="true">
		select * from xhgmnet_operations_eventreport where 1=1
		<if test="fileType!='所有报告'">
		     and fileType=#{fileType}
		</if>
		<if test="time !=null and time !=''">
			and date_format(createtime,"%Y-%m")=#{time}
		</if>
		
		<if test="status !=2">
			and status=#{status}
		</if>
		<!-- <if test="roleType!=2">
		and uploadUser=#{loginuser}
		</if> -->
		
		order by id desc limit #{start},#{limit}
	</select>

	<select id="count" parameterType="map" resultType="int"
		useCache="true">
		select count(*) from xhgmnet_operations_eventreport where 1=1
		<if test="fileType!='所有报告'">
		     and fileType=#{fileType}
		</if>
		<if test="time !=null and time !=''">
            and date_format(createtime,"%Y-%m")=#{time}
        </if>
		<if test="status !=2">
			and status=#{status}
		</if>
		<!-- <if test="roleType!=2">
		and uploadUser=#{loginuser}
		</if> -->
	</select>
	<!-- 新增工作记录 -->
	<insert id="addEventReport" useGeneratedKeys="true" keyProperty="id"
		parameterType="xh.mybatis.bean.EventReportBean">
		insert into xhgmnet_operations_eventreport(fileType,fileName,contact,tel,note,status,filePath,uploadUser,recvUser,createtime)
		values(#{fileType},#{fileName},#{contact},#{tel},#{note},#{status},#{filePath},#{uploadUser},#{recvUser},#{createtime})
	</insert>
	<!-- 签收工作记录 -->
    <update id="signEventReport" parameterType="map">
     update xhgmnet_operations_eventreport set status=#{status},checkUser=#{checkUser},
     checkTime=#{checkTime},note1=#{note1} where id=#{id}    
    </update>














</mapper>