<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.FaultMapper">
  <!-- redis缓存  LRU FIFO-->
   <!-- <cache eviction="LRU" flushInterval="-1" size="1024" readOnly="true"  
    type="xh.mybatis.tools.MybatisRedisCache"/> -->
<!--    <cache eviction="FIFO" flushInterval="600000" size="1024"  
        readOnly="true" />  -->
	<!--查询故障申请所有记录 -->
	<select id="selectAll" parameterType="map" resultType="java.util.HashMap"
		>
		select a.*
		,b.unit as unit1
		,b.unitType as initType1
		,b.userType as userType1
		from xhgmnet_business_fault as a LEFT JOIN xhgmnet_web_user as b on a.userName=b.user where 1=1
		
		 and (a.userName=#{user} or a.user1=#{user} or a.user2=#{user} or a.checkUser=#{user})
		<!-- <choose>
			<when test="roleId &gt;10003 || roleId &lt;10000">
				and a.userName=#{user}
			</when>
			<otherwise>
			</otherwise>
		</choose> -->
		order by id desc limit #{start},#{limit}
	</select>

	<!--查询故障申请所有记录总数 -->
	<select id="dataCount" parameterType="map" resultType="int" useCache="true">
		select count(id) from xhgmnet_business_fault where 1=1
		and (userName=#{user} or user1=#{user} or user2=#{user} or checkUser=#{user})
	</select>

	<!--查询故障申请进度 -->
	<select id="applyProgress" parameterType="int" resultType="map"
		useCache="true">
		select * from xhgmnet_business_fault where id=#{id}
	</select>
	<!--故障申请 -->
	<insert id="insertFault" useGeneratedKeys="true" keyProperty="id"
		parameterType="xh.mybatis.bean.FaultBean">
		insert into
		xhgmnet_business_fault(unit,person,tel,information,faultReason,time,userName)
		values(#{unit},#{person},#{tel},#{information},#{faultReason},#{time},#{userName})
	</insert>

	<update id="checkedEight" parameterType="xh.mybatis.bean.FaultBean">
		update xhgmnet_business_fault set
		checked=#{checked},checkUser=#{checkUser} where id=#{id}
	</update>

	<!--管理方审核 -->
	<update id="checkedOne" parameterType="xh.mybatis.bean.FaultBean">
		update xhgmnet_business_fault set
		user1=#{user1},time1=#{time1},note1=#{note1},checked=#{checked},
		faultType=#{faultType} where id=#{id}
	</update>
	
	<!--管理方上传-->
	<update id="checkedTwo" parameterType="xh.mybatis.bean.FaultBean">
		update xhgmnet_business_fault set
		fileName_Request=#{fileName_Request},filePath_Request=#{filePath_Request},checked=#{checked}
		where id=#{id}
	</update>

	<!--服务提供方审核 -->
	<update id="checkedThree" parameterType="xh.mybatis.bean.FaultBean">
		update xhgmnet_business_fault set
		user2=#{user2},time2=#{time2},note2=#{note2},checked=#{checked} where id=#{id}
	</update>

	<!--服务提供方上传 -->
	<update id="checkedFour" parameterType="xh.mybatis.bean.FaultBean">
		update xhgmnet_business_fault set
		fileName_Finish=#{fileName_Finish},filePath_Finish=#{filePath_Finish},checked=#{checked} where
		id=#{id}
	</update>

	<!--管理方审核 -->
	<update id="checkedFive" parameterType="xh.mybatis.bean.FaultBean">
		update xhgmnet_business_fault set
		time3=#{time3},note3=#{note3},checked=#{checked} where id=#{id}
	</update>

	<!--管理方审核 -->
	<update id="checkedSix" parameterType="xh.mybatis.bean.FaultBean">
		update xhgmnet_business_fault set
		time4=#{time4},note4=#{note4},checked=#{checked} where id=#{id}
	</update>

	<!--用户确认 -->
	<update id="sureFile" parameterType="xh.mybatis.bean.FaultBean">
		update xhgmnet_business_fault set
		time=#{time},UserVisit=#{UserVisit},checked=#{checked} where id=#{id}
	</update>
</mapper>
