<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xh.mybatis.mapper.GosuncnMapper" >

	<!--增加注册信息-->
	<insert id="insertLogin" useGeneratedKeys="true" keyProperty="id"
		parameterType="map">
		insert into
		xhgmnet_emh_login(fsuId,fsuIp,fsuMac,fsuVer)
		values(#{FSUID},#{FSUIP},#{FSUMAC},#{FSUVER})
	</insert>
	
	<!-- 根据fsuId更新注册信息 -->
	<update id="updateLogin" parameterType="map">
		update xhgmnet_emh_login set fsuIp=#{FSUIP},fsuMac=#{FSUMAC},fsuVer=#{FSUVER},time=now() where fsuId=#{FSUID}
	</update>
	
	<!-- 查询注册信息用于维持心跳 -->
	<select id="selectForGetLogin" resultType="map">
		select fsuId,fsuIp from xhgmnet_emh_login group by fsuId
	</select>
	
	<!-- 根据FSUID删除对应配置信息数据 -->
	<delete id="deleteConfigByFSUID" parameterType="String">
		delete from xhgmnet_emh_config where fsuId=#{FSUID}
	</delete>
	
	<!-- 增加FSU配置信息 -->
	<insert id="insertConfig" parameterType="java.util.List">
		INSERT INTO
		xhgmnet_emh_config(siteId,siteName,fsuId,deviceId,deviceName)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.siteId},#{item.siteName},#{item.fsuId},#{item.deviceId},#{item.deviceName})
		</foreach>
	</insert>
	
	<!-- 根据FSUID查询当前配置信息 -->
	<select id="selectConfigByFSUID" parameterType="String" resultType="String">
		select deviceId from xhgmnet_emh_config where fsuId=#{FSUID}
	</select>
	
	<!-- 增加监控点数据 -->
	<insert id="insertData" parameterType="java.util.List">
		INSERT INTO
		xhgmnet_emh_sensor_status(fsuId,deviceId,singleId,singleType,singleValue,status,updateTime)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.FSUID},#{item.deviceId},#{item.ID},#{item.Type},#{item.MeasuredVal},#{item.Status},#{item.Time})
		</foreach>
	</insert>
	
	<!-- 根据FSUID查询是否存在数据 -->
	<select id="selectByFSUID" parameterType="String" resultType="int">
		select count(*) from xhgmnet_emh_sensor_status where fsuId=#{FSUID}
	</select>
	
	<!-- 根据FSUID删除对应数据 -->
	<delete id="deleteByFSUID" parameterType="String">
		delete from xhgmnet_emh_sensor_status where fsuId=#{FSUID}
	</delete>
	
	<!-- 历史状态表插入数据 -->
	<insert id="insertHData" parameterType="java.util.List">
		INSERT INTO
		xhgmnet_emh_sensor_oldstatus(fsuId,deviceId,singleId,singleType,singleValue,status,createTime)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.FSUID},#{item.deviceId},#{item.ID},#{item.Type},#{item.MeasuredVal},#{item.Status},#{item.Time})
		</foreach>
	</insert>
	
	<!-- 增加告警前查询是否有相同流水号的告警 -->
	<select id="selectBySerialNo" parameterType="map" resultType="map">
		select * from xhgmnet_emh_sensor_alarm where serialNo=#{serialNo} and fsuId=#{FSUID}
	</select>
	
	<!-- 根据流水号删除对应告警 -->
	<delete id="deleteBySerialNo" parameterType="map">
		delete from xhgmnet_emh_sensor_alarm where serialNo=#{serialNo} and fsuId=#{FSUID}
	</delete>
	
	<!-- 增加告警信息 -->
	<insert id="insertAlarm" parameterType="java.util.List">
		insert into xhgmnet_emh_sensor_alarm(fsuId,serialNo,alarmId,deviceId,nmAlarmId,alarmTime,alarmlevel,alarmFlag,alarmDesc,eventValue,startTime) 
		values
		<foreach collection="list" item="item" index="index" separator=",">
		(#{item.FSUID},#{item.SerialNo},#{item.ID},#{item.DeviceID},#{item.NMAlarmID},#{item.AlarmTime},#{item.AlarmLevel},#{item.AlarmFlag},#{item.AlarmDesc},#{item.EventValue},#{item.startTime})
		</foreach>
	</insert>
	
	<!-- 动环告警页面部分 -->
	
	<!--根据不同传感器查找告警记录-->
	<select id="selectEMHAlarm" parameterType="map" resultType="map"
		useCache="true">
		select otherTab.*,conf.siteId,conf.name,conf.level,conf.zone from
		xhgmnet_emh_sensor_alarm as otherTab LEFT JOIN (select fsuId,siteId,siteName,name,level,zone from (select * from xhgmnet_emh_fsuId4bsId GROUP BY fsuId) as x
		LEFT JOIN xhgmnet_bs_station as y on x.siteId=y.bsId) as conf on otherTab.fsuId=conf.fsuId where 1=1
		<if test="deviceIds ==null or deviceIds ==''">
			and 1=0
		</if>
		<if test="deviceIds !=null and deviceIds !=''">
			and otherTab.deviceId in
			<foreach collection="deviceIds" index="index" item="item" open="(" separator="," close=")">
      			#{item}
   			</foreach>
		</if>
		<if test="alarmlevel !=null and alarmlevel !=0">
			and alarmlevel=#{alarmlevel}
		</if>
		<if test="alarmFlag !=null and alarmFlag !=''">
			and alarmFlag=#{alarmFlag}
		</if>
		<if test="bsLevel !=null and bsLevel !=0">
			and level=#{bsLevel}
		</if>
		<if test="bsArea !=null and bsArea !=tempArea">
			and zone=#{bsArea}
		</if>
		<if test="bsId !=null and bsId !=''">
			and siteId=#{bsId}
		</if>
		<if test="bsName !=null and bsName !=''">
			and name like concat('%',#{bsName},'%')
		</if>
		<if test="startTime !=null and startTime !=''">
			and startTime between #{startTime} and #{endTime}
		</if>
		order by startTime desc limit #{start},#{limit}
	</select>
	<!--根据不同传感器查找告警记录总数 -->
	<select id="countEMHAlarm" parameterType="map" resultType="int"
		useCache="true">
		select count(*) from
		xhgmnet_emh_sensor_alarm as otherTab LEFT JOIN (select fsuId,siteId,siteName,name,level,zone from (select * from xhgmnet_emh_fsuId4bsId GROUP BY fsuId) as x
		LEFT JOIN xhgmnet_bs_station as y on x.siteId=y.bsId) as conf on otherTab.fsuId=conf.fsuId where 1=1
		<if test="deviceIds ==null or deviceIds ==''">
			and 1=0
		</if>
		<if test="deviceIds !=null and deviceIds !=''">
			and otherTab.deviceId in
			<foreach collection="deviceIds" index="index" item="item" open="(" separator="," close=")">
      			#{item}
   			</foreach>
		</if>
		<if test="alarmlevel !=null and alarmlevel !=0">
			and alarmlevel=#{alarmlevel}
		</if>
		<if test="alarmFlag !=null and alarmFlag !=''">
			and alarmFlag=#{alarmFlag}
		</if>
		<if test="bsLevel !=null and bsLevel !=0">
			and level=#{bsLevel}
		</if>
		<if test="bsArea !=null and bsArea !=tempArea">
			and zone=#{bsArea}
		</if>
		<if test="bsId !=null and bsId !=''">
			and siteId=#{bsId}
		</if>
		<if test="bsName !=null and bsName !=''">
			and name like concat('%',#{bsName},'%')
		</if>
		<if test="startTime !=null and startTime !=''">
			and startTime between #{startTime} and #{endTime}
		</if>	
	</select>	
	
	<!-- 查询不同传感器的告警 -->
	<select id="selectByDevice" parameterType="map" resultType="map" useCache="true">
		select deviceId,count(deviceId) as alarmNum from
		(select * from xhgmnet_emh_sensor_alarm where startTime BETWEEN #{startTime} and #{endTime} GROUP BY serialNo) as c GROUP BY deviceId
	</select>
	
	<!-- 查询不同级别的告警 -->
	<select id="selectByAlarmLevel" parameterType="map" resultType="map" useCache="true">
		select alarmlevel,count(alarmlevel) as alarmNum from
		(select * from xhgmnet_emh_sensor_alarm where startTime BETWEEN #{startTime} and #{endTime} GROUP BY serialNo) as a GROUP BY alarmlevel
	</select>
	
	<!-- 根据基站id查询摄像头IP(非简阳) -->
	<select id="selectCameraIpByBsId" parameterType="map" resultType="map">
		select * from xhgmnet_emh_nvrchannels where bsId=#{bsId}
	</select>
	<!-- 根据基站id查询摄像头IP(简阳基站) -->
	<select id="selectCameraIpByVpn" parameterType="map" resultType="map">
		select bsId,name,online,c.fsuIp as deviceIP,loginName,password,ch from xhgmnet_emh_nvrchannels as n LEFT JOIN
		(select b.siteId,b.siteName,a.fsuIp from xhgmnet_emh_login as a LEFT JOIN (select * from xhgmnet_emh_config GROUP BY fsuId) as b 
		on a.fsuId=b.fsuId where b.siteId>2001 ORDER BY b.siteId) as c on n.bsId=c.siteId where n.bsId=#{bsId}
	</select>
	
	<!-- 更新简阳无线传输的vpnIp -->
	<update id="updataCameraIpByFSUID" parameterType="map">
		update xhgmnet_emh_camera set deviceIP=#{FSUIP} where fsuId=#{FSUID}
	</update>
	
	<!-- 查询所有站的环控通断情况 -->
	<select id="selectFor4EMH" resultType="map" useCache="true">
	<![CDATA[
		select a.*,b.fsuId,b.siteId,b.fsuIp,c.alarmStatus,c.dataStatus from xhgmnet_bs_station as a LEFT JOIN 
		(select x.fsuId,y.siteId,y.siteName,x.fsuIp from xhgmnet_emh_login as x LEFT JOIN xhgmnet_emh_config as y 
		on x.fsuId=y.fsuId GROUP BY x.fsuId) as b on a.bsId=b.siteId LEFT JOIN xhgmnet_gps_voice.xhgmnet_emh_sensor_current as c on a.bsId=c.bsId
		where a.envMonitor!=2 and a.bsId<=2038 ORDER BY a.bsId
	]]>
	</select>

	<!--三期环控历史数据 -->
	<select id="emh3History" parameterType="map" resultType="java.util.HashMap"
			useCache="true">
		select a.*,b.name from xhgmnet_operations_emh_three a left join xhgmnet_bs_station b on a.bsId=b.bsId where 1=1
		<if test="bsId!=null and bsId!=''">
			and a.bsId=#{bsId}
		</if>
		<if test="DevNode!=null and DevNode!=''">
			and DevNode=#{DevNode}
		</if>
		<if test="NodeId!=null and NodeId!=''">
			and NodeId=#{NodeId}
		</if>
		<if test="startTime!=null and startTime!=''">
			and updateTime between #{startTime} and #{endTime}
		</if>
		order by updateTime desc limit #{start},#{limit}
	</select>

	<select id="emh3HistoryCount" parameterType="map" resultType="int"
			useCache="true">
		select count(*) from xhgmnet_operations_emh_three where 1=1
		<if test="bsId!=null and bsId!=''">
			and bsId=#{bsId}
		</if>
		<if test="DevNode!=null and DevNode!=''">
			and DevNode=#{DevNode}
		</if>
		<if test="NodeId!=null and NodeId!=''">
			and NodeId=#{NodeId}
		</if>
		<if test="startTime!=null and startTime!=''">
			and updateTime between #{startTime} and #{endTime}
		</if>
	</select>
	
	<!--环控历史数据 -->
	<select id="emhHistory" parameterType="map" resultType="java.util.HashMap"
		useCache="true">
		select * from ${currentMonth} where 1=1
		<if test="bsId!=null and bsId!=''">
			and bsId=#{bsId}
		</if>
		<if test="startTime!=null and startTime!=''">
			and createTime between #{startTime} and #{endTime}
		</if>

		<if test="startUps1!='' and endUps1!=''">
			and ups1+0 between #{startUps1}+0 and #{endUps1}+0
		</if>
		<if test="startUps1=='' and endUps1!=''">
			and ups1+0 &lt; #{endUps1}+0
		</if>
		<if test="startUps1!='' and endUps1==''">
			and ups1+0 &gt; #{startUps1}+0
		</if>

		<if test="startUps4!='' and endUps4!=''">
			and ups4+0 between #{startUps4}+0 and #{endUps4}+0
		</if>
		<if test="startUps4=='' and endUps4!=''">
			and ups4+0 &lt; #{endUps4}+0
		</if>
		<if test="startUps4!='' and endUps4==''">
			and ups4+0 &gt; #{startUps4}+0
		</if>

		<if test="startE1!='' and endE1!=''">
			and e1+0 between #{startE1}+0 and #{endE1}+0
		</if>
		<if test="startE1=='' and endE1!=''">
			and e1+0 &lt; #{endE1}+0
		</if>
		<if test="startE1!='' and endE1==''">
			and e1+0 &gt; #{startE1}+0
		</if>
		order by createTime desc limit #{start},#{limit}
	</select>
	<!--环控历史数据总数 -->
	<select id="emhHistoryCount" parameterType="map" resultType="int"
		useCache="true">
		select count(*) from ${currentMonth} where 1=1
		<if test="bsId!=null and bsId!=''">
			and bsId=#{bsId}
		</if>
		<if test="startTime!=null and startTime!=''">
			and createTime between #{startTime} and #{endTime}
		</if>

		<if test="startUps1!='' and endUps1!=''">
			and ups1+0 between #{startUps1}+0 and #{endUps1}+0
		</if>
		<if test="startUps1=='' and endUps1!=''">
			and ups1+0 &lt; #{endUps1}+0
		</if>
		<if test="startUps1!='' and endUps1==''">
			and ups1+0 &gt; #{startUps1}+0
		</if>

		<if test="startUps4!='' and endUps4!=''">
			and ups4+0 between #{startUps4}+0 and #{endUps4}+0
		</if>
		<if test="startUps4=='' and endUps4!=''">
			and ups4+0 &lt; #{endUps4}+0
		</if>
		<if test="startUps4!='' and endUps4==''">
			and ups4+0 &gt; #{startUps4}+0
		</if>

		<if test="startE1!='' and endE1!=''">
			and e1+0 between #{startE1}+0 and #{endE1}+0
		</if>
		<if test="startE1=='' and endE1!=''">
			and e1+0 &lt; #{endE1}+0
		</if>
		<if test="startE1!='' and endE1==''">
			and e1+0 &gt; #{startE1}+0
		</if>
	</select>

	<!--查询单个基站本月电压情况用于显示曲线图 -->
	<select id="emh3HistoryForBsId" parameterType="map" resultType="java.util.HashMap"
			useCache="true">
		select value ups1,updateTime createTime from xhgmnet_operations_emh_three where DevNode=0051 and NodeID=1003
		<if test="bsId!=null and bsId!=''">
			and bsId=#{bsId}
		</if>
		<if test="startTime!=null and startTime!=''">
			and updateTime between #{startTime} and #{endTime}
		</if>
		order by updateTime
	</select>

	<!--查询单个基站本月电压情况用于显示曲线图 -->
	<select id="emhHistoryForBsId" parameterType="map" resultType="java.util.HashMap"
			useCache="true">
		select ups1,ups4,e1,e4,DATE_FORMAT(createTime,'%Y-%m-%d %H:%i') createTime from ${currentMonth} where 1=1
		<if test="bsId!=null and bsId!=''">
			and bsId=#{bsId}
		</if>
		<if test="startTime!=null and startTime!=''">
			and createTime between #{startTime} and #{endTime}
		</if>
		order by createTime
	</select>
	
	<!-- NVR相关参数获取 -->
	<!-- 删除NVR通道配置 -->
	<update  id="truncateNVRChannels">
		truncate xhgmnet_emh_nvrChannels
	</update >
	
	<!--添加NVR通道配置-->
	<insert id="insertNVRChannels" parameterType="map">
		INSERT INTO
		xhgmnet_emh_nvrChannels(sn,name,online,deviceIp,ch,bsId)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.sn},#{item.name},#{item.online},#{item.deviceIp},#{item.ch},#{item.bsId})
		</foreach>
	</insert>
	<!-- 查询所有通道信息 -->
	<select id="selectNVRChannels" resultType="map" useCache="true">
		select sn,name from xhgmnet_emh_nvrChannels order by name
	</select>
	
	<!-- 查询四期所有FSU的bsId和IP -->
	<select id="selectNVRStatus" resultType="map" useCache="true">
		select bsId,deviceIP from xhgmnet_nvrstatus
	</select>
	
	<!-- 环控excel导出部分 -->
	<!--环控告警导出-->
	<select id="selectEMHAlarmForExcel" parameterType="map" resultType="xh.mybatis.bean.AlarmList"
		useCache="true">
		select conf.siteId,conf.name,conf.level,conf.zone,otherTab.fsuId,otherTab.serialNo,otherTab.deviceId,otherTab.deviceName,otherTab.alarmId,
		otherTab.alarmlevel,otherTab.alarmFlag,otherTab.alarmDesc,otherTab.startTime,otherTab.alarmTime from 
		(select a.*,b.deviceName from xhgmnet_emh_sensor_alarm as a left join xhgmnet_emh_device as b on a.deviceId=b.deviceId
		) as otherTab LEFT JOIN (select fsuId,siteId,siteName,name,level,zone from (select * from xhgmnet_emh_config GROUP BY fsuId) as x 
		LEFT JOIN xhgmnet_bs_station as y on x.siteId=y.bsId) as conf on otherTab.fsuId=conf.fsuId where 1=1 
		<if test="deviceIds ==null or deviceIds ==''">
			and 1=0
		</if>
		<if test="deviceIds !=null and deviceIds !=''">
			and otherTab.deviceId in
			<foreach collection="deviceIds" index="index" item="item" open="(" separator="," close=")">
      			#{item}
   			</foreach>
		</if>
		<if test="alarmlevel !=null and alarmlevel !=0">
			and alarmlevel=#{alarmlevel}
		</if>
		<if test="alarmFlag !=null and alarmFlag !=''">
			and alarmFlag=#{alarmFlag}
		</if>
		<if test="bsLevel !=null and bsLevel !=0">
			and level=#{bsLevel}
		</if>
		<if test="bsArea !=null and bsArea !=tempArea">
			and zone=#{bsArea}
		</if>
		<if test="bsId !=null and bsId !=''">
			and siteId=#{bsId}
		</if>
		<if test="bsName !=null and bsName !=''">
			and name like concat('%',#{bsName},'%')
		</if>
		<if test="startTime !=null and startTime !=''">
			and startTime between #{startTime} and #{endTime}
		</if>
		<!-- 判断是正在告警还是告警结束，用不同排序 -->
		<if test="alarmFlag =='BEGIN'">
			order by alarmTime desc
		</if>
		<if test="alarmFlag !='BEGIN'">
			order by startTime desc
		</if>
		
	</select>
	<!--环控历史数据导出 -->
	<select id="emhHistoryForExcel" parameterType="map" resultType="xh.mybatis.bean.HistoryList"
		useCache="true">
		select bsId,name,fsuId,water,smoke,red,door,temp,damp,ups1,ups2,ups3,ups4,ups5,fsu1,fsu2,fsu3,fsu4,e1,e2,e3,e4,e5,createTime from ${currentMonth} where 1=1
		<if test="bsId!=null and bsId!=''">
			and bsId=#{bsId}
		</if>
		<if test="startTime!=null and startTime!=''">
			and createTime between #{startTime} and #{endTime}
		</if>

		<if test="startUps1!='' and endUps1!=''">
			and ups1 between #{startUps1} and #{endUps1}
		</if>
		<if test="startUps1=='' and endUps1!=''">
			and ups1 &lt; #{endUps1}
		</if>
		<if test="startUps1!='' and endUps1==''">
			and ups1 &gt; #{startUps1}
		</if>

		<if test="startUps4!='' and endUps4!=''">
			and ups4 between #{startUps4} and #{endUps4}
		</if>
		<if test="startUps4=='' and endUps4!=''">
			and ups4 &lt; #{endUps4}
		</if>
		<if test="startUps4!='' and endUps4==''">
			and ups4 &gt; #{startUps4}
		</if>

		<if test="startE1!='' and endE1!=''">
			and e1 between #{startE1} and #{endE1}
		</if>
		<if test="startE1=='' and endE1!=''">
			and e1 &lt; #{endE1}
		</if>
		<if test="startE1!='' and endE1==''">
			and e1 &gt; #{startE1}
		</if>
		order by createTime
	</select>

	<!-- 查询所有通道信息 -->
	<select id="getEMHStatus" resultType="map" parameterType="map" useCache="true">
		select * from xhgmnet_emh_sensor_status order by updateTime desc limit 1
	</select>

</mapper>