<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xh.mybatis.mapper.GosuncnMapper" >

	<!--增加注册信息-->
	<insert id="insertLogin" useGeneratedKeys="true" keyProperty="id"
		parameterType="map">
		insert into
		xhgmnet_emh_login(fsuId,fsuIp,fsuMac,fsuVer)
		values(#{FSUID},#{FSUIP},#{FSUMAC},#{FSUVER})
	</insert>
	
	<!-- 根据fsuId更新注册信息 -->
	<update id="updateLogin" parameterType="map">
		update xhgmnet_emh_login set fsuIp=#{FSUIP},fsuMac=#{FSUMAC},fsuVer=#{FSUVER} where fsuId=#{FSUID}
	</update>
	
	<!-- 查询注册信息用于维持心跳 -->
	<select id="selectForGetLogin" resultType="map">
		select fsuId,fsuIp from xhgmnet_emh_login group by fsuId
	</select>
	
	<!-- 根据FSUID删除对应配置信息数据 -->
	<delete id="deleteConfigByFSUID" parameterType="String">
		delete from xhgmnet_emh_config where fsuId=#{FSUID}
	</delete>
	
	<!-- 增加FSU配置信息 -->
	<insert id="insertConfig" parameterType="java.util.List">
		INSERT INTO
		xhgmnet_emh_config(siteId,siteName,fsuId,deviceId,deviceName)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.siteId},#{item.siteName},#{item.fsuId},#{item.deviceId},#{item.deviceName})
		</foreach>
	</insert>
	
	<!-- 根据FSUID查询当前配置信息 -->
	<select id="selectConfigByFSUID" parameterType="String" resultType="String">
		select deviceId from xhgmnet_emh_config where fsuId=#{FSUID}
	</select>
	
	<!-- 增加监控点数据 -->
	<insert id="insertData" parameterType="java.util.List">
		INSERT INTO
		xhgmnet_emh_sensor_status(fsuId,deviceId,singleId,singleType,singleValue,status,updateTime)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.FSUID},#{item.deviceId},#{item.ID},#{item.Type},#{item.MeasuredVal},#{item.Status},#{item.Time})
		</foreach>
	</insert>
	
	<!-- 根据FSUID查询是否存在数据 -->
	<select id="selectByFSUID" parameterType="String" resultType="int">
		select count(*) from xhgmnet_emh_sensor_status where fsuId=#{FSUID}
	</select>
	
	<!-- 根据FSUID删除对应数据 -->
	<delete id="deleteByFSUID" parameterType="String">
		delete from xhgmnet_emh_sensor_status where fsuId=#{FSUID}
	</delete>
	
	<!-- 历史状态表插入数据 -->
	<insert id="insertHData" parameterType="java.util.List">
		INSERT INTO
		xhgmnet_emh_sensor_oldstatus(fsuId,deviceId,singleId,singleType,singleValue,status,createTime)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.FSUID},#{item.deviceId},#{item.ID},#{item.Type},#{item.MeasuredVal},#{item.Status},#{item.Time})
		</foreach>
	</insert>
	
	<!-- 增加告警信息 -->
	<insert id="insertAlarm" parameterType="java.util.List">
		insert into xhgmnet_emh_sensor_alarm(fsuId,serialNo,alarmId,deviceId,nmAlarmId,alarmTime,alarmlevel,alarmFlag,alarmDesc,eventValue) 
		values
		<foreach collection="list" item="item" index="index" separator=",">
		(#{item.FSUID},#{item.SerialNo},#{item.ID},#{item.DeviceID},#{item.NMAlarmID},#{item.AlarmTime},#{item.AlarmLevel},#{item.AlarmFlag},#{item.AlarmDesc},#{item.EventValue})
		</foreach>
	</insert>
	
	<!-- 动环告警页面部分 -->
	
	<!--根据不同传感器查找告警记录-->
	<select id="selectEMHAlarm" parameterType="map" resultType="map"
		useCache="true">
		select * from xhgmnet_emh_sensor_alarm as a left join xhgmnet_emh_device as b on a.deviceId=b.deviceId where 1=1
		<if test="deviceIds ==null or deviceIds ==''">
			and 1=0
		</if>
		<if test="deviceIds !=null and deviceIds !=''">
			and a.deviceId in
			<foreach collection="deviceIds" index="index" item="item" open="(" separator="," close=")">
      			#{item}
   			</foreach>
		</if>
		<if test="alarmlevel !=null and alarmlevel !=0">
			and alarmlevel=#{alarmlevel}
		</if>
		order by alarmTime desc limit #{start},#{limit}
	</select>
	<!--根据基站ID，名称查找基站记录总数 -->
	<select id="countEMHAlarm" parameterType="map" resultType="int"
		useCache="true">
		select count(*) from xhgmnet_emh_sensor_alarm as a left join xhgmnet_emh_device as b on a.deviceId=b.deviceId where 1=1
		<if test="deviceIds ==null or deviceIds ==''">
			and 1=0
		</if>
		<if test="deviceIds !=null and deviceIds !=''">
			and a.deviceId in
			<foreach collection="deviceIds" index="index" item="item" open="(" separator="," close=")">
      			#{item}
   			</foreach>
		</if>
		<if test="alarmlevel !=null and alarmlevel !=0">
			and alarmlevel=#{alarmlevel}
		</if>
	</select>
	


</mapper>