<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xh.mybatis.mapper.GosuncnMapper" >
	<!--增加注册信息-->
	<insert id="insertLogin" useGeneratedKeys="true" keyProperty="id"
		parameterType="map">
		insert into
		xhgmnet_emh_login(bsId,fsuId,fsuIp,fsuMac,fsuVer)
		values(#{bsId},#{FSUID},#{FSUIP},#{FSUMAC},#{FSUVER})
	</insert>
	
	<!-- 根据FSUID删除对应配置信息数据 -->
	<delete id="deleteConfigByFSUID" parameterType="String">
		delete from xhgmnet_emh_config where fsuId=#{FSUID}
	</delete>
	
	<!-- 增加FSU配置信息 -->
	<insert id="insertConfig" parameterType="java.util.List">
		INSERT INTO
		xhgmnet_emh_config(fsuId,deviceId,deviceName)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.fsuId},#{item.deviceId},#{item.deviceName})
		</foreach>
	</insert>
	
	<!-- 增加监控点数据 -->
	<insert id="insertData" parameterType="java.util.List">
		INSERT INTO
		xhgmnet_emh_sensor_status(bsId,fsuId,deviceId,singleId,singleType,singleValue,status,updateTime)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.bsId},#{item.FSUID},#{item.deviceId},#{item.ID},#{item.Type},#{item.MeasuredVal},#{item.Status},#{item.Time})
		</foreach>
	</insert>
	
	<!-- 增加告警信息 -->
	<insert id="insertAlarm" parameterType="map">
		insert into xhgmnet_emh_sensor_alarm(fsuId,serialNo,alarmId,deviceId,nmAlarmId,alarmTime,alarmlevel,alarmFlag,eventValue,description) 
		values(#{FSUID},#{SerialNo},#{ID},#{DeviceID},#{NMAlarmID},#{AlarmTime},#{AlarmLevel},#{AlarmFlag},#{EventValue},#{AlarmDesc})
	</insert>
	
	<!-- 根据FSUID查询是否存在数据 -->
	<select id="selectByFSUID" parameterType="String" resultType="int">
		select count(*) from xhgmnet_emh_sensor_status where fsuId=#{FSUID}
	</select>
	
	<!-- 根据FSUID删除对应数据 -->
	<delete id="deleteByFSUID" parameterType="String">
		delete from xhgmnet_emh_sensor_status where fsuId=#{FSUID}
	</delete>

</mapper>