<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xh.mybatis.mapper.MenuMapper">

<!-- 菜单列表 -->
	<select id="menuList" parameterType="int" resultType="map"
		useCache="true">
		select * from xhgmnet_web_menu where pId=#{pId}
		order by id asc,morder asc limit 30
	</select>
	<!-- 获取菜单子项 -->
	<select id="menuChild" parameterType="map" resultType="map"
		useCache="true">
		select id,pId,name,url,enabled from xhgmnet_web_menu where pId=#{pId}
		order by id asc,morder asc limit 30
	</select>
	<!-- 新增工作记录 -->
	<insert id="addwork" useGeneratedKeys="true" keyProperty="id"
		parameterType="xh.mybatis.bean.WorkBean">
		insert into xhgmnet_operations_work(fileName,contact,tel,note,status,filePath,uploadUser,createtime)
		values(#{fileName},#{contact},#{tel},#{note},#{status},#{filePath},#{uploadUser},#{createtime})
	</insert>
	<!-- 签收工作记录 -->
    <update id="signWork" parameterType="xh.mybatis.bean.WorkBean">
     update xhgmnet_operations_work set status=1,signTime=#{signTime} where id=#{id}    
    </update>














</mapper>