<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.OndutyMapper">
  <!--  <cache type="xh.mybatis.tools.MybatisRedisCache" eviction="LRU"
		flushInterval="600000" size="1024" readOnly="false" /> -->
    <!--记录日志-->    
<!--     <insert id="insertLog" useGeneratedKeys="true" keyProperty="id" parameterType="xh.mybatis.bean.WebLogBean">
      insert into xhgmnet_web_log(operator,operatorIp,style,content,createTime)
      values(#{operator},#{operatorIp},#{style},#{content},#{createTime})
    </insert> -->
    <!--查询日志记录-->
    <select id="duty_list" parameterType="map" resultType="map" useCache="true">
     select * from xhgmnet_operations_onduty where 1=1
     <if test="time !=null and time !=''">
         and dutyDate>=#{time}
     </if>

     order by dutyDate asc limit #{start},#{limit}
    </select>  
    
     <select id="onduty" resultType="map" useCache="true">
     select * from xhgmnet_operations_onduty where  dutyDate=date_format(now(),'%Y-%m-%d')
    </select>  
    
     <select id="count" parameterType="map" resultType="int" useCache="true">
     select count(*) from xhgmnet_operations_onduty where 1=1
     <if test="time !=null and time !=''">
         and dutyDate>=#{time}
     </if>
    </select> 
    <!--写入东信基站呼叫统计数据 -->
	<insert id="write_data" parameterType="java.util.List">
		replace into xhgmnet_operations_onduty(dutyDate,onePerson,twoPerson)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.dutyDate},
			#{item.onePerson},
			#{item.twoPerson}
			)
		</foreach>
	</insert> 

</mapper>
