<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.OrderMapper">

	<!--派单记录 -->
	<select id="orderList" parameterType="map" resultType="map"
		useCache="true">
		select a.*,b.userName,c.period from xhgmnet_operations_fault_task_order as a
		left join xhgmnet_web_user as b on a.userid=b.user 
		left join xhgmnet_bs_station as c on a.bsid=c.bsId
		where 1=1
		<if test="bs!=null and bs!=''">
			and (a.bsid=#{bs} or a.bsname like concat(#{bs},'%'))
		</if>
		<if test="starttime!=null and starttime!=''">
			and date_format(a.dispatchtime,"%Y-%m-%d") &gt;=#{starttime}
		</if>
		<if test="endtime!=null and endtime!=''">
			and date_format(a.dispatchtime,"%Y-%m-%d") &lt;=#{endtime}
		</if>
		<!-- <if test="roleId &lt;10000"> and (a.userid=#{user} or a.orderAccount=#{user}) 
			</if> -->
		order by a.dispatchtime desc 
		<if test="start!=null and start!='' and limit!=null and limit !=''">
		limit #{start},#{limit}
		</if>
		
	</select>
	<!--派单记录总数 -->
	<select id="orderListCount" resultType="int" useCache="true"
		parameterType="map">
		select count(*) from xhgmnet_operations_fault_task_order where 1=1
		<if test="type==0">
			and status=0
		</if>
		<if test="type==1">
			and status=1
		</if>
		<if test="type==2">
			and status=2
		</if>
		<if test="type==3">
			and status!=2
		</if>
		<if test="bs!=null and bs!=''">
            and (bsid=#{bs} or bsname like concat(#{bs},'%'))
        </if>
        <if test="starttime!=null and starttime!=''">
            and date_format(dispatchtime,"%Y-%m-%d") &gt;=#{starttime}
        </if>
        <if test="endtime!=null and endtime!=''">
            and date_format(dispatchtime,"%Y-%m-%d") &lt;=#{endtime}
        </if>
		<!-- <if test="roleId &lt;10000"> and (userid=#{user} or orderAccount=#{user}) 
			</if> -->
	</select>
	<!-- 添加派单 -->
	<insert id="addOrder" parameterType="com.tcpBean.ErrProTable"
		useGeneratedKeys="true" keyProperty="id">
		insert into xhgmnet_operations_fault_task_order(bsid, bsname, dispatchtime,
		dispatchman, errtype, errlevel,
		errfoundtime, errslovetime, progress, proresult, workman, auditor,serialnumber,
		userid,orderAccount,alarmId,`from`,zbdldm)values(#{bsid}, #{bsname},
		#{dispatchtime},#{dispatchman}, #{errtype},#{errlevel},
		#{errfoundtime},#{errslovetime},#{progress},#{proresult},#{workman},#{auditor},#{serialnumber},#{userid},
		#{orderAccount},#{id},#{from},#{zbdldm})
	</insert>
	<!-- 更新拍单记录 -->
	<update id="updateOrder" parameterType="map">
		update xhgmnet_operations_fault_task_order set status=#{status} where
		id=#{id}
	</update>
	<!-- 更新四方伟业派单记录 -->
	<update id="updateSfOrder" parameterType="com.tcpBean.ErrProTable">
		update xhgmnet_sf_bs_out set is_order=1 where type=#{zbdldm} and bsid=#{bsid}
	</update>
	<!-- 更新基站故障状态记录 -->
	<update id="updateBsFault" parameterType="map">
		update xhgmnet_operations_bsfault set status=#{status},orderId=#{orderId}
		where id=#{id}
	</update>
	<!--用户列表 -->
	<select id="userList" resultType="map" useCache="true">
		select a.userId,a.user,a.userName,b.role from xhgmnet_web_user as a
		left join (select x.userId,x.roleId,y.role from xhgmnet_web_role_user as x
		left join xhgmnet_web_role as y on x.roleId=y.roleId) as b
		on a.userId=b.userId
		where a.userId in(select userId from xhgmnet_web_role_user
		where roleId in(select roleId from xhgmnet_web_role where roleType=3 and
		roleId!=10003))
		order by user asc
	</select>
	<!-- 根据流水号查询派单信息 -->
	<select id="selectBySerialnumber" parameterType="String"
		resultType="map" useCache="true">
		select * from xhgmnet_operations_fault_task_order where
		serialnumber=#{serialnumber}
	</select>


</mapper>
