<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xh.mybatis.mapper.RadioUserSeriaMapper" >
  <resultMap id="BaseResultMap" type="xh.mybatis.bean.RadioUserSeria" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="priorityLevel" property="prioritylevel" jdbcType="INTEGER" />
    <result column="bicType" property="bictype" jdbcType="INTEGER" />
    <result column="bocType" property="boctype" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <select id="ById" parameterType="map" resultMap="BaseResultMap"
		useCache="true">
		select * from xhgmnet_radiouseria where 1=1
		<if test="id !=null and id !=''">
			and id like concat('%',#{id},'%')
		</if>
		<if test="name !=null and name !=''">
			and name like concat('%',#{name},'%')
		</if>
		order by id asc limit #{start},#{limit}
	</select>

	<select id="Count" parameterType="map" resultType="int"
		useCache="true">
		select count(*) from xhgmnet_radiouseria where 1=1
		<if test="id!=null and id !=''">
			and id like concat('%',#{id},'%')
		</if>
		<if test="name!=null and name!=''">
			and name like concat('%',#{name},'%')
		</if>
	</select>
	
	<!--增加 -->
	<insert id="insert" parameterType="java.util.Map">
		insert into
		xhgmnet_radiouseria(id,name,priorityLevel,bicType,bocType)
		values(#{id},#{name},#{prioritylevel},#{bictype},#{boctype})
	</insert>

	<!--更新 -->
	<update id="update" parameterType="java.util.Map">
		update
		xhgmnet_radiouseria set name=#{name},priorityLevel=#{prioritylevel},bicType=#{bictype},bocType=#{boctype} where id=#{id} 
	</update>

	<!--删除-->
	<delete id="delete" parameterType="java.util.List">
		delete from xhgmnet_radiouseria where id in(
		<foreach collection="list" item="id" separator=",">
			#{id}
		</foreach>
		)
	</delete>
  
</mapper>