<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.SystemChangeMapper">
    <!-- redis缓存  LRU FIFO-->
    <!-- <cache eviction="LRU" flushInterval="-1" size="1024" readOnly="true"
     type="xh.mybatis.tools.MybatisRedisCache"/> -->
    <!--    <cache eviction="FIFO" flushInterval="600000" size="1024"
            readOnly="true" />  -->
    <!--查询网络优化申请所有记录 -->
    <select id="selectAll" parameterType="map" resultType="java.util.HashMap">
        select a.*
        ,b.unit as unit1
        ,b.unitType as initType1
        ,b.userType as userType1
        from xhgmnet_bs_systemChange as a LEFT JOIN xhgmnet_web_user as b on a.userName=b.user where 1=1
        <choose>
        <!--<when test="roleId &lt; 10000">
         and a.userName=#{user}
        </when>-->
        </choose>

        order by id desc limit #{start},#{limit}
    </select>
    <!--查询申请所有记录总数 -->
    <select id="dataCount" parameterType="map" resultType="int" useCache="true">
        select count(id) from xhgmnet_bs_systemChange where 1=1
        <choose>
        <!--<when test="roleId &lt; 10000">
         and userName=#{user}
        </when>-->
        </choose>
    </select>
    <!--查询申请进度 -->
    <select id="applyProgress" parameterType="int" resultType="map"
            useCache="true">
        select * from xhgmnet_bs_systemChange where id=#{id}
    </select>

    <!--申请 -->
    <insert id="insertSystemChange" useGeneratedKeys="true" keyProperty="id"
            parameterType="xh.mybatis.bean.SystemChangeBean">
        insert into
        xhgmnet_bs_systemChange(userUnit,tel,fileName1,filePath1,note1,requestTime,userName,systemChangeType,solutionNewVersion,checked) values(#{userUnit},#{tel},#{fileName1},#{filePath1},#{note1},#{requestTime},#{userName},#{systemChangeType},#{solutionNewVersion},#{checked})
    </insert>

    <!--审核系统升级方案 -->
    <update id="checkedOne" parameterType="xh.mybatis.bean.SystemChangeBean">
        update xhgmnet_bs_systemChange set
        user2=#{user2},time2=#{time2},note2=#{note2},checked=#{checked} where id=#{id}
    </update>

    <!-- 创建实施组 -->
    <insert id="createSystemGroup" parameterType="map">
        insert into xhgmnet_web_role(roleId,role,roleType,createTime) VALUES (#{roleId},#{role},#{roleType},#{createTime})
    </insert>

    <!--管理方审核系统升级方案-->
    <update id="checkedTwo" parameterType="xh.mybatis.bean.SystemChangeBean">
        update xhgmnet_bs_systemChange set
        user3=#{user3},time3=#{time3},note3=#{note3},checked=#{checked} where id=#{id}
    </update>

    <!--提交升级申请-->
    <update id="checkedThree" parameterType="xh.mybatis.bean.SystemChangeBean">
        update xhgmnet_bs_systemChange set
        user4=#{user4},time4=#{time4},note4=#{note4},checked=#{checked},fileName2=#{fileName2},filePath2=#{filePath2} where id=#{id}
    </update>

    <!--管理方负责人审核升级申请-->
    <update id="checkedFour" parameterType="xh.mybatis.bean.SystemChangeBean">
        update xhgmnet_bs_systemChange set
        user5=#{user5},time5=#{time5},note5=#{note5},checked=#{checked} where id=#{id}
    </update>

    <!--创建实施组后更新状态-->
    <update id="checkedFive" parameterType="xh.mybatis.bean.SystemChangeBean">
        update xhgmnet_bs_systemChange set
        user6=#{user6},time6=#{time6},note6=#{note6},checked=#{checked},implId=#{implId} where id=#{id}
    </update>

    <!--执行系统升级 -->
    <update id="checkedSix" parameterType="xh.mybatis.bean.SystemChangeBean">
        update xhgmnet_bs_systemChange set
        user7=#{user7},time7=#{time7},note7=#{note7},checked=#{checked},excImplId=#{excImplId} where id=#{id}
    </update>

    <!--反馈升级结果-->
    <update id="checkedSenven" parameterType="xh.mybatis.bean.SystemChangeBean">
        update xhgmnet_bs_systemChange set
        user8=#{user8},time8=#{time8},note8=#{note8},checked=#{checked} where id=#{id}
    </update>

    <!--提交工作记录-->
    <update id="checkedEight" parameterType="xh.mybatis.bean.SystemChangeBean">
        update xhgmnet_bs_systemChange set
        user9=#{user9},time9=#{time9},note9=#{note9},checked=#{checked},fileName3=#{fileName3},filePath3=#{filePath3} where id=#{id}
    </update>

    <!--向管理方反馈结果-->
    <update id="checkedNine" parameterType="xh.mybatis.bean.SystemChangeBean">
        update xhgmnet_bs_systemChange set
        user10=#{user10},time10=#{time10},note10=#{note10},checked=#{checked},fileName4=#{fileName4},filePath4=#{filePath4} where id=#{id}
    </update>

    <!--重新拟制升级方案-->
    <update id="checkedNegOne" parameterType="xh.mybatis.bean.SystemChangeBean">
        update xhgmnet_bs_systemChange set
        user1=#{user1},time1=#{time1},note1=#{note1},checked=#{checked},fileName1=#{fileName1},filePath1=#{filePath1},
        user2=null,time2=null,note2=null,user3=null,time3=null,note3=null,user4=null,time4=null,note4=null,
        user5=null,time5=null,note5=null,user6=null,time6=null,note6=null where id=#{id}
    </update>

    <!--确认是否再次提交申请-->
    <update id="checkedNegThree" parameterType="xh.mybatis.bean.SystemChangeBean">
        update xhgmnet_bs_systemChange set
        userNeg3=#{userNeg3},noteNeg3=#{noteNeg3},timeNeg3=#{timeNeg3},checked=#{checked} where id=#{id}
    </update>

    <!--执行回退操作-->
    <update id="checkedNegFour" parameterType="xh.mybatis.bean.SystemChangeBean">
        update xhgmnet_bs_systemChange set
        userNeg4=#{userNeg4},noteNeg4=#{noteNeg4},timeNeg4=#{timeNeg4},checked=#{checked} where id=#{id}
    </update>

    <!-- 查询系统升级表格数据 -->
    <select id="sheetShow" parameterType="map" resultType="xh.mybatis.bean.SystemChangeSheet">
        select * from xhgmnet_bs_systemSheet where id=#{id}
    </select>

    <!-- 修改系统升级表格 -->
    <update id="sheetChange" parameterType="xh.mybatis.bean.SystemChangeSheet">
        replace into xhgmnet_bs_systemSheet(id,systemChangeStartTime,systemChangeExcTime,systemChangeType,versionOld,versionNew,
        solutionNewVersion,processAndResult,systemChangeNote,excPerson,supervisePersion,serialNumber)
        values (#{id},#{systemChangeStartTime},#{systemChangeExcTime},#{systemChangeType},#{versionOld},#{versionNew},
        #{solutionNewVersion},#{processAndResult},#{systemChangeNote},#{excPerson},#{supervisePersion},#{serialNumber})
    </update>

    <!-- 根据id查询记录 -->
    <select id="selectSystemChangeById" parameterType="map" resultType="map">
        select * from xhgmnet_bs_systemChange where id=#{id}
    </select>

    <!-- 为实施组添加默认权限 -->
    <insert id="insertDefaultPower" parameterType="map">
        insert into xhgmnet_web_role_action(roleId,r_system_up) values(#{roleId},'on');
    </insert>

    <!--更新类型和新版解决问题字段-->
    <update id="updateTypeAndQuestionById" parameterType="xh.mybatis.bean.SystemChangeBean">
        update xhgmnet_bs_systemChange set systemChangeType=#{systemChangeType},solutionNewVersion=#{solutionNewVersion},checked=9,user10=#{user10},time10=#{time10} where id=#{id}
    </update>

</mapper>
