<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xh.mybatis.mapper.TalkGroupMapper" >
  <resultMap id="BaseResultMap" type="xh.mybatis.bean.TalkGroup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="TalkgroupID" property="talkgroupid" jdbcType="INTEGER" />
    <result column="M_TalkgroupAlias" property="mTalkgroupalias" jdbcType="VARCHAR" />
    <result column="M_SecurityGroup" property="mSecuritygroup" jdbcType="VARCHAR" />
    <result column="M_ConsoleTGMGCapabilityProfileAlias" property="mConsoletgmgcapabilityprofilealias" jdbcType="VARCHAR" />
    <result column="M_TGMGCapabilityProfileAlias" property="mTgmgcapabilityprofilealias" jdbcType="VARCHAR" />
    <result column="M_TGMGValidSitesProfileAlias" property="mTgmgvalidsitesprofilealias" jdbcType="VARCHAR" />
    <result column="M_PreemptCapable" property="mPreemptcapable" jdbcType="BIT" />
    <result column="M_ExtendedBandchannelscanbeassigned" property="mExtendedbandchannelscanbeassigned" jdbcType="BIT" />
    <result column="M_TalkgroupRegroupable" property="mTalkgroupregroupable" jdbcType="BIT" />
    <result column="M_GroupEnable" property="mGroupenable" jdbcType="BIT" />
    <result column="E_name" property="eName" jdbcType="VARCHAR" />
    <result column="E_alias" property="eAlias" jdbcType="VARCHAR" />
    <result column="E_mscId" property="eMscid" jdbcType="INTEGER" />
    <result column="E_vpnId" property="eVpnid" jdbcType="BIGINT" />
    <result column="E_said" property="eSaid" jdbcType="INTEGER" />
    <result column="E_iaid" property="eIaid" jdbcType="INTEGER" />
    <result column="E_vaid" property="eVaid" jdbcType="INTEGER" />
    <result column="E_preempt" property="ePreempt" jdbcType="INTEGER" />
    <result column="E_radioType" property="eRadiotype" jdbcType="INTEGER" />
    <result column="E_regroupable" property="eRegroupable" jdbcType="INTEGER" />
    <result column="E_enabled" property="eEnabled" jdbcType="INTEGER" />
    <result column="E_directDial" property="eDirectdial" jdbcType="VARCHAR" />
    <result column="saName" property="saname" jdbcType="VARCHAR" />
    <result column="iaName" property="ianame" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <!-- 根据通话组ID查找名称 -->
  <select id="GroupNameById" parameterType="int" resultType="String"
		useCache="true">
		select E_name from xhgmnet_talkgroup where TalkgroupID=#{id} limit 1
  </select>
  <select id="ById" parameterType="map" resultMap="BaseResultMap"
		useCache="true">
		select * from xhgmnet_talkgroup where 1=1
		<if test="talkgroupid !=null and talkgroupid !=''">
			and talkgroupid like concat('%',#{talkgroupid},'%')
		</if>
		<if test="eName !=null and eName !=''">
			and E_name like concat('%',#{eName},'%')
		</if>
		order by id asc limit #{start},#{limit}
	</select>

	<select id="Count" parameterType="map" resultType="int"
		useCache="true">
		select count(*) from xhgmnet_talkgroup where 1=1
		<if test="talkgroupid!=null and talkgroupid!=''">
			and talkgroupid like concat('%',#{talkgroupid},'%')
		</if>
		<if test="eName!=null and eName!=''">
			and E_name like concat('%',#{eName},'%')
		</if>
	</select>
  <!-- 增加组 --><insert id="insertTalkGroup" useGeneratedKeys="true" keyProperty="id"
		parameterType="java.util.Map">
		insert into
		xhgmnet_talkgroup(TalkgroupID,M_TalkgroupAlias,M_SecurityGroup,M_ConsoleTGMGCapabilityProfileAlias,M_TGMGCapabilityProfileAlias,M_TGMGValidSitesProfileAlias,
		M_PreemptCapable,M_ExtendedBandchannelscanbeassigned,M_TalkgroupRegroupable,M_GroupEnable,
		E_name,E_alias,E_mscId,E_vpnId,E_saId,E_iaId,E_vaId,E_preempt,E_radioType,E_regroupable,E_enabled,E_directDial,E_pdtType,E_npType,id_JoinNet)
		values(#{TalkgroupID}, '', '', '', '', '', 0, 0, 0, 0,
		#{E_name},#{E_alias},#{E_mscId},#{E_vpnId},#{E_saId},#{E_iaId},#{E_vaId},#{E_preempt},#{E_radioType},#{E_regroupable},#{E_enabled},#{E_directDial},
		#{E_pdtType},#{E_npType},#{id_joinNet})
	</insert>
  <sql id="Base_Column_List" >
    id, TalkgroupID, M_TalkgroupAlias, M_SecurityGroup, M_ConsoleTGMGCapabilityProfileAlias, 
    M_TGMGCapabilityProfileAlias, M_TGMGValidSitesProfileAlias, M_PreemptCapable, M_ExtendedBandchannelscanbeassigned, 
    M_TalkgroupRegroupable, M_GroupEnable, E_name, E_alias, E_mscId, E_vpnId, E_said, 
    E_iaid, E_vaid, E_preempt, E_radioType, E_regroupable, E_enabled, E_directDial, saName, 
    iaName, time
  </sql>
  <insert id="insert" parameterType="xh.mybatis.bean.TalkGroup" >
    insert into xhgmnet_talkgroup (id, TalkgroupID, M_TalkgroupAlias, 
      M_SecurityGroup, M_ConsoleTGMGCapabilityProfileAlias, 
      M_TGMGCapabilityProfileAlias, M_TGMGValidSitesProfileAlias, 
      M_PreemptCapable, M_ExtendedBandchannelscanbeassigned, 
      M_TalkgroupRegroupable, M_GroupEnable, E_name, 
      E_alias, E_mscId, E_vpnId, 
      E_said, E_iaid, E_vaid, 
      E_preempt, E_radioType, E_regroupable, 
      E_enabled, E_directDial, saName, 
      iaName, time)
    values (#{id,jdbcType=INTEGER}, #{talkgroupid,jdbcType=INTEGER}, #{mTalkgroupalias,jdbcType=VARCHAR}, 
      #{mSecuritygroup,jdbcType=VARCHAR}, #{mConsoletgmgcapabilityprofilealias,jdbcType=VARCHAR}, 
      #{mTgmgcapabilityprofilealias,jdbcType=VARCHAR}, #{mTgmgvalidsitesprofilealias,jdbcType=VARCHAR}, 
      #{mPreemptcapable,jdbcType=BIT}, #{mExtendedbandchannelscanbeassigned,jdbcType=BIT}, 
      #{mTalkgroupregroupable,jdbcType=BIT}, #{mGroupenable,jdbcType=BIT}, #{eName,jdbcType=VARCHAR}, 
      #{eAlias,jdbcType=VARCHAR}, #{eMscid,jdbcType=INTEGER}, #{eVpnid,jdbcType=BIGINT}, 
      #{eSaid,jdbcType=INTEGER}, #{eIaid,jdbcType=INTEGER}, #{eVaid,jdbcType=INTEGER}, 
      #{ePreempt,jdbcType=INTEGER}, #{eRadiotype,jdbcType=INTEGER}, #{eRegroupable,jdbcType=INTEGER}, 
      #{eEnabled,jdbcType=INTEGER}, #{eDirectdial,jdbcType=VARCHAR}, #{saname,jdbcType=VARCHAR}, 
      #{ianame,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="xh.mybatis.bean.TalkGroup" >
    insert into xhgmnet_talkgroup
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="talkgroupid != null" >
        TalkgroupID,
      </if>
      <if test="mTalkgroupalias != null" >
        M_TalkgroupAlias,
      </if>
      <if test="mSecuritygroup != null" >
        M_SecurityGroup,
      </if>
      <if test="mConsoletgmgcapabilityprofilealias != null" >
        M_ConsoleTGMGCapabilityProfileAlias,
      </if>
      <if test="mTgmgcapabilityprofilealias != null" >
        M_TGMGCapabilityProfileAlias,
      </if>
      <if test="mTgmgvalidsitesprofilealias != null" >
        M_TGMGValidSitesProfileAlias,
      </if>
      <if test="mPreemptcapable != null" >
        M_PreemptCapable,
      </if>
      <if test="mExtendedbandchannelscanbeassigned != null" >
        M_ExtendedBandchannelscanbeassigned,
      </if>
      <if test="mTalkgroupregroupable != null" >
        M_TalkgroupRegroupable,
      </if>
      <if test="mGroupenable != null" >
        M_GroupEnable,
      </if>
      <if test="eName != null" >
        E_name,
      </if>
      <if test="eAlias != null" >
        E_alias,
      </if>
      <if test="eMscid != null" >
        E_mscId,
      </if>
      <if test="eVpnid != null" >
        E_vpnId,
      </if>
      <if test="eSaid != null" >
        E_said,
      </if>
      <if test="eIaid != null" >
        E_iaid,
      </if>
      <if test="eVaid != null" >
        E_vaid,
      </if>
      <if test="ePreempt != null" >
        E_preempt,
      </if>
      <if test="eRadiotype != null" >
        E_radioType,
      </if>
      <if test="eRegroupable != null" >
        E_regroupable,
      </if>
      <if test="eEnabled != null" >
        E_enabled,
      </if>
      <if test="eDirectdial != null" >
        E_directDial,
      </if>
      <if test="saname != null" >
        saName,
      </if>
      <if test="ianame != null" >
        iaName,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="talkgroupid != null" >
        #{talkgroupid,jdbcType=INTEGER},
      </if>
      <if test="mTalkgroupalias != null" >
        #{mTalkgroupalias,jdbcType=VARCHAR},
      </if>
      <if test="mSecuritygroup != null" >
        #{mSecuritygroup,jdbcType=VARCHAR},
      </if>
      <if test="mConsoletgmgcapabilityprofilealias != null" >
        #{mConsoletgmgcapabilityprofilealias,jdbcType=VARCHAR},
      </if>
      <if test="mTgmgcapabilityprofilealias != null" >
        #{mTgmgcapabilityprofilealias,jdbcType=VARCHAR},
      </if>
      <if test="mTgmgvalidsitesprofilealias != null" >
        #{mTgmgvalidsitesprofilealias,jdbcType=VARCHAR},
      </if>
      <if test="mPreemptcapable != null" >
        #{mPreemptcapable,jdbcType=BIT},
      </if>
      <if test="mExtendedbandchannelscanbeassigned != null" >
        #{mExtendedbandchannelscanbeassigned,jdbcType=BIT},
      </if>
      <if test="mTalkgroupregroupable != null" >
        #{mTalkgroupregroupable,jdbcType=BIT},
      </if>
      <if test="mGroupenable != null" >
        #{mGroupenable,jdbcType=BIT},
      </if>
      <if test="eName != null" >
        #{eName,jdbcType=VARCHAR},
      </if>
      <if test="eAlias != null" >
        #{eAlias,jdbcType=VARCHAR},
      </if>
      <if test="eMscid != null" >
        #{eMscid,jdbcType=INTEGER},
      </if>
      <if test="eVpnid != null" >
        #{eVpnid,jdbcType=BIGINT},
      </if>
      <if test="eSaid != null" >
        #{eSaid,jdbcType=INTEGER},
      </if>
      <if test="eIaid != null" >
        #{eIaid,jdbcType=INTEGER},
      </if>
      <if test="eVaid != null" >
        #{eVaid,jdbcType=INTEGER},
      </if>
      <if test="ePreempt != null" >
        #{ePreempt,jdbcType=INTEGER},
      </if>
      <if test="eRadiotype != null" >
        #{eRadiotype,jdbcType=INTEGER},
      </if>
      <if test="eRegroupable != null" >
        #{eRegroupable,jdbcType=INTEGER},
      </if>
      <if test="eEnabled != null" >
        #{eEnabled,jdbcType=INTEGER},
      </if>
      <if test="eDirectdial != null" >
        #{eDirectdial,jdbcType=VARCHAR},
      </if>
      <if test="saname != null" >
        #{saname,jdbcType=VARCHAR},
      </if>
      <if test="ianame != null" >
        #{ianame,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xh.mybatis.bean.TalkGroup" >
    update xhgmnet_talkgroup
    <set >
      <if test="mTalkgroupalias != null" >
        M_TalkgroupAlias = #{mTalkgroupalias,jdbcType=VARCHAR},
      </if>
      <if test="mSecuritygroup != null" >
        M_SecurityGroup = #{mSecuritygroup,jdbcType=VARCHAR},
      </if>
      <if test="mConsoletgmgcapabilityprofilealias != null" >
        M_ConsoleTGMGCapabilityProfileAlias = #{mConsoletgmgcapabilityprofilealias,jdbcType=VARCHAR},
      </if>
      <if test="mTgmgcapabilityprofilealias != null" >
        M_TGMGCapabilityProfileAlias = #{mTgmgcapabilityprofilealias,jdbcType=VARCHAR},
      </if>
      <if test="mTgmgvalidsitesprofilealias != null" >
        M_TGMGValidSitesProfileAlias = #{mTgmgvalidsitesprofilealias,jdbcType=VARCHAR},
      </if>
      <if test="mPreemptcapable != null" >
        M_PreemptCapable = #{mPreemptcapable,jdbcType=BIT},
      </if>
      <if test="mExtendedbandchannelscanbeassigned != null" >
        M_ExtendedBandchannelscanbeassigned = #{mExtendedbandchannelscanbeassigned,jdbcType=BIT},
      </if>
      <if test="mTalkgroupregroupable != null" >
        M_TalkgroupRegroupable = #{mTalkgroupregroupable,jdbcType=BIT},
      </if>
      <if test="mGroupenable != null" >
        M_GroupEnable = #{mGroupenable,jdbcType=BIT},
      </if>
      <if test="eName != null" >
        E_name = #{eName,jdbcType=VARCHAR},
      </if>
      <if test="eAlias != null" >
        E_alias = #{eAlias,jdbcType=VARCHAR},
      </if>
      <if test="eMscid != null" >
        E_mscId = #{eMscid,jdbcType=INTEGER},
      </if>
      <if test="eVpnid != null" >
        E_vpnId = #{eVpnid,jdbcType=BIGINT},
      </if>
      <if test="eSaid != null" >
        E_said = #{eSaid,jdbcType=INTEGER},
      </if>
      <if test="eIaid != null" >
        E_iaid = #{eIaid,jdbcType=INTEGER},
      </if>
      <if test="eVaid != null" >
        E_vaid = #{eVaid,jdbcType=INTEGER},
      </if>
      <if test="ePreempt != null" >
        E_preempt = #{ePreempt,jdbcType=INTEGER},
      </if>
      <if test="eRadiotype != null" >
        E_radioType = #{eRadiotype,jdbcType=INTEGER},
      </if>
      <if test="eRegroupable != null" >
        E_regroupable = #{eRegroupable,jdbcType=INTEGER},
      </if>
      <if test="eEnabled != null" >
        E_enabled = #{eEnabled,jdbcType=INTEGER},
      </if>
      <if test="eDirectdial != null" >
        E_directDial = #{eDirectdial,jdbcType=VARCHAR},
      </if>
      <if test="saname != null" >
        saName = #{saname,jdbcType=VARCHAR},
      </if>
      <if test="ianame != null" >
        iaName = #{ianame,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and TalkgroupID = #{talkgroupid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xh.mybatis.bean.TalkGroup" >
    update xhgmnet_talkgroup
    set M_TalkgroupAlias = #{mTalkgroupalias,jdbcType=VARCHAR},
      M_SecurityGroup = #{mSecuritygroup,jdbcType=VARCHAR},
      M_ConsoleTGMGCapabilityProfileAlias = #{mConsoletgmgcapabilityprofilealias,jdbcType=VARCHAR},
      M_TGMGCapabilityProfileAlias = #{mTgmgcapabilityprofilealias,jdbcType=VARCHAR},
      M_TGMGValidSitesProfileAlias = #{mTgmgvalidsitesprofilealias,jdbcType=VARCHAR},
      M_PreemptCapable = #{mPreemptcapable,jdbcType=BIT},
      M_ExtendedBandchannelscanbeassigned = #{mExtendedbandchannelscanbeassigned,jdbcType=BIT},
      M_TalkgroupRegroupable = #{mTalkgroupregroupable,jdbcType=BIT},
      M_GroupEnable = #{mGroupenable,jdbcType=BIT},
      E_name = #{eName,jdbcType=VARCHAR},
      E_alias = #{eAlias,jdbcType=VARCHAR},
      E_mscId = #{eMscid,jdbcType=INTEGER},
      E_vpnId = #{eVpnid,jdbcType=BIGINT},
      E_said = #{eSaid,jdbcType=INTEGER},
      E_iaid = #{eIaid,jdbcType=INTEGER},
      E_vaid = #{eVaid,jdbcType=INTEGER},
      E_preempt = #{ePreempt,jdbcType=INTEGER},
      E_radioType = #{eRadiotype,jdbcType=INTEGER},
      E_regroupable = #{eRegroupable,jdbcType=INTEGER},
      E_enabled = #{eEnabled,jdbcType=INTEGER},
      E_directDial = #{eDirectdial,jdbcType=VARCHAR},
      saName = #{saname,jdbcType=VARCHAR},
      iaName = #{ianame,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
      and TalkgroupID = #{talkgroupid,jdbcType=INTEGER}
  </update>
</mapper>