<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xh.mybatis.mapper.TalkGroupIaMapper" >
  <resultMap id="BaseResultMap" type="xh.mybatis.bean.TalkGroupIa" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="priorityLevel" property="prioritylevel" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="ById" parameterType="map" resultMap="BaseResultMap"
		useCache="true">
		select * from xhgmnet_talkgroupia order by id asc limit #{start},#{limit}
	</select>

	<select id="Count" parameterType="map" resultType="int"
		useCache="true">
		select count(*) from xhgmnet_talkgroupia
	</select>
  
  
  <sql id="Base_Column_List" >
    id, name, priorityLevel, time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from xhgmnet_talkgroupia
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xhgmnet_talkgroupia
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xh.mybatis.bean.TalkGroupIa" >
    insert into xhgmnet_talkgroupia (id, name, priorityLevel, 
      time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{prioritylevel,jdbcType=INTEGER}, 
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="xh.mybatis.bean.TalkGroupIa" >
    insert into xhgmnet_talkgroupia
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="prioritylevel != null" >
        priorityLevel,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="prioritylevel != null" >
        #{prioritylevel,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xh.mybatis.bean.TalkGroupIa" >
    update xhgmnet_talkgroupia
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="prioritylevel != null" >
        priorityLevel = #{prioritylevel,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xh.mybatis.bean.TalkGroupIa" >
    update xhgmnet_talkgroupia
    set name = #{name,jdbcType=VARCHAR},
      priorityLevel = #{prioritylevel,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>