<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.TcpMapper">
	<!-- app根据用户id查询用户名称 -->
	<select id="selectUserName" parameterType="String" resultType="map">
		select userName from xhgmnet_web_user where user={userId}
	</select>

    <!-- app根据基站id查询基站基本信息 -->
	<select id="selectByBsId" parameterType="String" resultType="map" useCache="true">
		select bsId as bsid,name as bsname,level as bslevel from xhgmnet_bs_station where bsId=#{bsId}
	</select>
	
	<!-- 更新派单状态为处理中 -->
	<update id="updateUserStatus" parameterType="map">
		update xhgmnet_operations_fault_task_order set status=1 where serialnumber=#{serialNum}
	</update>
	
	<!-- 查询派单处理情况 -->
	<select id="selectOrderStatus" parameterType="String" resultType="map" useCache="true">
		select status from xhgmnet_operations_fault_task_order where serialnumber=#{serialNum}
	</select>
	
	<!-- 派单完成前删除原派单信息 -->
	<delete id="deleteBySerialNum" parameterType="String">
		delete from xhgmnet_operations_fault_task_order where serialnumber=#{serialNum}
	</delete>
	
	<!-- 插入故障派单 -->
	<insert id="insertFaultOrder" parameterType="List">
		INSERT INTO xhgmnet_operations_fault_task_order VALUES(id,
		<foreach collection="list" item="item" index="index"
			separator=",">
			#{item}
		</foreach>
		)
	</insert>
	
	<!-- 插入移动基站巡检表数据 -->
	<insert id="insertMoveBsTable" parameterType="List">
		INSERT INTO xhgmnet_operations_inspection_movebs VALUES(id,
		<foreach collection="list" item="item" index="index"
			separator=",">
			#{item}
		</foreach>
		)
	</insert>
	<!-- 插入自建基站巡检表数据 -->
	<insert id="insertOwnBsTable" parameterType="List">
		INSERT INTO xhgmnet_operations_inspection_selfbs VALUES(id,
		<foreach collection="list" item="item" index="index"
			separator=",">
			#{item}
		</foreach>
		)
	</insert>
	<!-- 插入网管巡检作业表 -->
	<insert id="insertNetTable" parameterType="List">
		INSERT INTO xhgmnet_operations_inspection_net VALUES(id,
		<foreach collection="list" item="item" index="index"
			separator=",">
			#{item}
		</foreach>
		)
	</insert>
	<!-- 插入调度台作业表 -->
	<insert id="insertDispatchTable" parameterType="List">
		INSERT INTO xhgmnet_operations_inspection_dispatch VALUES(id,
		<foreach collection="list" item="item" index="index"
			separator=",">
			#{item}
		</foreach>
		)
	</insert>
	
</mapper>
