<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.TcpMapper">
	<!-- app根据用户id查询用户名称 -->
	<select id="selectUserName" parameterType="String" resultType="map">
		select userName from xhgmnet_web_user where user=#{userId}
	</select>

    <!-- app根据基站id查询基站基本信息 -->
	<select id="selectByBsId" parameterType="String" resultType="map" useCache="true">
		select bsId as bsid,name as bsname,level as bslevel from xhgmnet_bs_station where bsId=#{bsId}
	</select>
	
	<!-- 更新派单状态为处理中 -->
	<update id="updateUserStatus" parameterType="map">
		update xhgmnet_operations_fault_task_order set status=1 where serialnumber=#{serialNum}
	</update>
	
	<!-- 查询派单处理情况 -->
	<select id="selectOrderStatus" parameterType="String" resultType="map" useCache="true">
		select status from xhgmnet_operations_fault_task_order where serialnumber=#{serialNum}
	</select>
	
	<!-- 派单完成前删除原派单信息 -->
	<delete id="deleteBySerialNum" parameterType="String">
		delete from xhgmnet_operations_fault_task_order where serialnumber=#{serialNum}
	</delete>
	
	<!-- 插入故障派单 -->
	<insert id="insertFaultOrder" parameterType="List">
		INSERT INTO xhgmnet_operations_fault_task_order VALUES(id,
		<foreach collection="list" item="item" index="index"
			separator=",">
			#{item}
		</foreach>
		)
	</insert>
	
	<!-- 插入移动基站巡检表数据 -->
	<insert id="insertMoveBsTable" parameterType="List">
		INSERT INTO xhgmnet_operations_inspection_movebs VALUES(id,
		<foreach collection="list" item="item" index="index"
			separator=",">
			#{item}
		</foreach>
		)
	</insert>
	<!-- 插入自建基站巡检表数据 -->
	<insert id="insertOwnBsTable" parameterType="List">
		INSERT INTO xhgmnet_operations_inspection_selfbs VALUES(id,
		<foreach collection="list" item="item" index="index"
			separator=",">
			#{item}
		</foreach>
		)
	</insert>
	<!-- 插入网管巡检作业表 -->
	<insert id="insertNetTable" parameterType="List">
		INSERT INTO xhgmnet_operations_inspection_net VALUES(id,
		<foreach collection="list" item="item" index="index"
			separator=",">
			#{item}
		</foreach>
		)
	</insert>
	<!-- 插入调度台作业表 -->
	<insert id="insertDispatchTable" parameterType="List">
		INSERT INTO xhgmnet_operations_inspection_dispatch VALUES(id,
		<foreach collection="list" item="item" index="index"
			separator=",">
			#{item}
		</foreach>
		)
	</insert>
	
	<!-- 查询最近一分钟手台gps信息 -->
	<select id="selectForGpsDst" resultType="map" parameterType="map">
		select srcId,longitude,latitude from (select * from ${currentMonth} where infoTime > DATE_SUB(NOW(),INTERVAL 1 MINUTE) 
		and srcId in (
		<foreach collection="list" item="item" index="index"
			separator=",">
			#{item}
		</foreach>
		) ORDER BY infoTime DESC) as gpsTable GROUP BY srcId
	</select>
	
	<!-- 查询所有需要显示的手台 -->
	<select id="selectForAllVisable" resultType="String">
		select radioId from xhgmnet_radio_gis_visable where visable=1
	</select>
	
	<!-- 查询所有手台显示情况 -->
	<select id="selectForAllVisableStatus" resultType="map">
		select * from xhgmnet_radio_gis_visable
	</select>
	
	<!-- 更新GIS终端显示情况 -->
	<update id="saveForAllVisable" parameterType="map">
        update xhgmnet_radio_gis_visable
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="visable = case" suffix="end,">
                <foreach collection="listMap" item="item" index="index">
                     <if test="item.visable !=null and item.visable != -1">
                         when radioId=#{item.radioId} then #{item.visable}
                     </if>
                </foreach>
            </trim>
        </trim>
        where radioId in 
		<foreach collection="listMap" index="index" item="item" separator="," open="(" close=")">
            #{item.radioId}
        </foreach>
    </update>
	
	<!-- 查询该用户的地图初始化信息 -->
	<select id="selectForMapInitByUser" resultType="String" parameterType="String">
		select mapInit from xhgmnet_web_user where user=#{userId}
	</select>
	
	<!-- 更新该用户的地图初始化信息 -->
	<update id="updateForMapInitByUser" parameterType="map">
		update xhgmnet_web_user set mapInit=#{mapInit} where user=#{userId}
	</update>
	
	<!-- 查询所有基站信息 -->
	<select id="selectForAllBsList" resultType="map">
		select bsid,name as bsname,lat as latitude,lng as longitude,address from xhgmnet_bs_station where lat!=0 and lng!=0 and lat is not null and lng is not null
	</select>
	
	<!-- 插入在线用户的位置信息 -->
	<insert id="appInsertGpsInfoUp" parameterType="map">
		insert into xhgmnet_app_location(userId,name,lat,lng,address) values(#{userId},#{name},#{lat},#{lng},#{address})
	</insert>
	
	<!-- 查询所有在线用户的最新位置信息 -->
	<select id="selectForAllAppLocation" parameterType="List" resultType="map">
		select a.userId as userid,name,lat as latitude,lng as longitude,address from xhgmnet_app_location  as a JOIN (
		select userId,MAX(uploadTime) uploadTime from xhgmnet_app_location WHERE
		userId in (
		<foreach collection="list" item="item" index="index"
			separator=",">
			#{item}
		</foreach>
		) GROUP BY userId) b on a.userId=b.userId and a.uploadTime=b.uploadTime
	</select>
	
</mapper>
