<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xh.mybatis.mapper.ToWordFileMapper">

	<select id="system_call" parameterType="map" resultType="map">
		select (
		select count(bsId) FROM xhgmnet.xhgmnet_bs_station WHERE 1=1
		AND
		`status`=1) as bsTotals,
		TotalCalls,TotalActiveCall,round(TotalActiveCallDuration/60,0) as
		TotalActiveCallDuration,AverageCallDuration,TotalFailedCalls,NoEffectCalls,
		totalQueueCount,totalMaxReg, maxRegGroup,
		CONCAT(round((TotalCalls-TotalFailedCalls)/TotalCalls*100,3),'%') as
		FailedPercentage,
		(select SUM(total) FROM xhgmnet_gpsinfo_day WHERE
		DATE_FORMAT(infoTime,'%Y-%m')=#{time}) as gpsTotals
		from
		chart_month_msc
		WHERE starttime=#{time}
	</select>

	<select id="system_bs_call" parameterType="String" resultType="map">
		select sum(TotalActiveCalls) TotalCalls, SUM(QueueCount) as QueueCount
		from
		chart_month_bstotal
		WHERE starttime=#{time}
	</select>

	<select id="system_call_year" parameterType="String" resultType="map">
		select
		TotalCalls,TotalActiveCallDuration,totalQueueCount,starttime,LEFT(starttime,4)
		as yearstr,right(starttime,2) as monthstr
		from chart_month_msc
		WHERE
		LOCATE(#{year},starttime)
	</select>

	<select id="system_gps_year" parameterType="String" resultType="map">
		select SUM(total) as totals,DATE_FORMAT(infoTime,'%Y') as
		yearstr,DATE_FORMAT(infoTime,'%m') as monthstr FROM
		xhgmnet_gpsinfo_day WHERE
		DATE_FORMAT(infoTime,'%Y')=#{year} GROUP BY
		DATE_FORMAT(infoTime,'%m')
	</select>

	<select id="system_call_level" parameterType="map"
		resultType="xh.mybatis.bean.EastBsCallDataBean">
		select
		y.`level`,
		count(x.bsid) as bsTotals,
		sum(x.TotalActiveCalls) as
		TotalActiveCalls,
		round((sum(x.TotalActiveCallDuration)/60),0) as
		TotalActiveCallDuration,
		round(avg(x.AverageCallDuration),0) as
		AverageCallDuration,
		sum(x.PTTCount) as PTTCount,
		sum(x.QueueCount) as
		QueueCount,
		sum(x.QueueDuration) as QueueDuration,
		max(x.MaxUserRegCount) as MaxUserRegCount,
		max(x.MaxGroupRegCount) as
		MaxGroupRegCount
		from chart_month_bstotal
		as x left join
		xhgmnet.xhgmnet_bs_station as y on
		x.bsid=y.bsId
		where
		x.starttime=#{time}
		and y.level>0 group by y.`level` order by y.level
		asc
	</select>

	<select id="system_call_year_level" parameterType="map"
		resultType="xh.mybatis.bean.EastBsCallDataBean">
		select
		y.`level`,
		count(x.bsid) as bsTotals,
		sum(x.TotalActiveCalls) as
		TotalActiveCalls,
		round((sum(x.TotalActiveCallDuration)/60),0) as
		TotalActiveCallDuration,
		round(avg(x.AverageCallDuration),0) as
		AverageCallDuration,
		sum(x.PTTCount) as PTTCount,
		sum(x.QueueCount) as
		QueueCount,
		sum(x.QueueDuration) as QueueDuration,
		max(x.MaxUserRegCount) as MaxUserRegCount,
		max(x.MaxGroupRegCount) as
		MaxGroupRegCount,
		x.starttime
		from chart_month_bstotal
		as x left join
		xhgmnet.xhgmnet_bs_station as y on
		x.bsid=y.bsId
		where x.starttime
		BETWEEN #{starttime} and #{endtime}
		and y.level>0 group by
		y.`level`,x.starttime order by y.level
		asc
	</select>

	<select id="system_call_area" parameterType="map"
		resultType="xh.mybatis.bean.EastBsCallDataBean">
		select
		y.area,
		count(x.bsid) as bsTotals,
		sum(x.TotalActiveCalls) as
		TotalActiveCalls,
		round((sum(x.TotalActiveCallDuration)/10),0) as
		TotalActiveCallDuration,
		round(avg(x.AverageCallDuration),0) as
		AverageCallDuration,
		sum(x.PTTCount) as PTTCount,
		sum(x.QueueCount) as
		QueueCount,
		sum(x.QueueDuration) as QueueDuration,
		max(x.MaxUserRegCount) as MaxUserRegCount,
		max(x.MaxGroupRegCount) as
		MaxGroupRegCount
		from chart_month_bstotal
		as x left join
		xhgmnet.xhgmnet_bs_station as y on
		x.bsid=y.bsId
		where
		x.starttime=#{time}
		and y.area is not null and y.area!='' group by
		y.area
	</select>


	<select id="system_call_year_area" parameterType="map"
		resultType="xh.mybatis.bean.EastBsCallDataBean">
		select
		y.area,
		count(x.bsid) as bsTotals,
		sum(x.TotalActiveCalls) as
		TotalActiveCalls,
		round((sum(x.TotalActiveCallDuration)/10),0) as
		TotalActiveCallDuration,
		round(avg(x.AverageCallDuration),0) as
		AverageCallDuration,
		sum(x.PTTCount) as PTTCount,
		sum(x.QueueCount) as
		QueueCount,
		sum(x.QueueDuration) as QueueDuration,
		max(x.MaxUserRegCount) as MaxUserRegCount,
		max(x.MaxGroupRegCount) as
		MaxGroupRegCount,x.starttime
		from chart_month_bstotal
		as x left join
		xhgmnet.xhgmnet_bs_station as y on
		x.bsid=y.bsId
		where x.starttime
		BETWEEN #{starttime} and #{endtime}
		and y.area is not null and
		y.area!='' group by
		y.area,x.starttime
	</select>

	<select id="system_call_zone_top10" parameterType="String"
		resultType="xh.mybatis.bean.EastBsCallDataBean">
		select
		count(x.bsid) as bsTotals,
		sum(x.TotalActiveCalls) as
		TotalActiveCalls,
		sum(x.TotalActiveCallDuration) as
		TotalActiveCallDuration,
		round(avg(x.AverageCallDuration),0) as
		AverageCallDuration,
		sum(x.PTTCount) as PTTCount,
		sum(x.QueueCount) as
		QueueCount,
		sum(x.QueueDuration) as QueueDuration,
		max(x.MaxUserRegCount) as
		MaxUserRegCount,
		max(x.MaxGroupRegCount) as
		MaxGroupRegCount,y.zone,
		ROUND(sum(x.TotalActiveCalls)/x.totals*100,2)
		as percent,
		x.starttime

		from (select
		T1.bsid,
		T1.TotalActiveCalls,
		T1.TotalActiveCallDuration,
		T1.AverageCallDuration,
		T1.PTTCount,
		T1.QueueCount,
		T1.QueueDuration,
		T1.MaxUserRegCount,
		T1.MaxGroupRegCount,
		T2.totals,
		T1.starttime
		from chart_month_bstotal
		as
		T1,(
		select sum(totals) as
		totals from (
		select
		sum(a.TotalActiveCalls)
		as
		totals,b.zone from chart_month_bstotal
		as a
		left join
		xhgmnet.xhgmnet_bs_station as b on
		a.bsid=b.bsId
		where starttime=#{time}
		group by zone
		) as e) as T2

		) as x

		left join
		xhgmnet.xhgmnet_bs_station as
		y on
		x.bsid=y.bsId
		where starttime=#{time}
		group by y.zone order by
		TotalActiveCalls desc
		limit 10

	</select>
	<select id="system_call_bs_top10" parameterType="String"
		resultType="xh.mybatis.bean.EastBsCallDataBean">
		select x.*,y.`name`,y.`level`,y.area,y.zone from
		(select
		a.*,ROUND(a.TotalActiveCalls/b.totals*100,2) as percent,b.totals from
		(select bsid,
		sum(TotalActiveCalls) AS TotalActiveCalls,
		sum(TotalActiveCallDuration) AS TotalActiveCallDuration,
		round(avg(AverageCallDuration), 0) AS AverageCallDuration,
		sum(PTTCount) AS PTTCount,
		sum(QueueCount) AS QueueCount,
		sum(QueueDuration) AS QueueDuration,
		max(MaxUserRegCount) AS
		MaxUserRegCount,
		max(MaxGroupRegCount) AS MaxGroupRegCount,
		starttime
		from chart_month_bstotal
		where starttime=#{time}
		GROUP BY bsid) as
		a,(select sum(TotalActiveCalls) as totals from
		chart_month_bstotal
		where starttime=#{time}
		) as b) as x

		left join
		xhgmnet.xhgmnet_bs_station as y on x.bsid=y.bsId
		order by
		TotalActiveCalls desc limit 10


	</select>

	<select id="system_call_queue_top10" parameterType="String"
		resultType="xh.mybatis.bean.EastBsCallDataBean">
		select x.*,y.`name`,y.`level`,y.area,y.zone
		from (select
		a.*,ROUND(a.QueueCount/b.totals*100,2) as percent from
		(select bsid,
		sum(TotalActiveCalls) AS TotalActiveCalls,
		sum(TotalActiveCallDuration) AS TotalActiveCallDuration,
		round(avg(AverageCallDuration), 0) AS AverageCallDuration,
		sum(PTTCount) AS PTTCount,
		sum(QueueCount) AS QueueCount,
		sum(QueueDuration) AS QueueDuration,
		max(MaxUserRegCount) AS
		MaxUserRegCount,
		max(MaxGroupRegCount) AS MaxGroupRegCount from
		chart_month_bstotal
		where starttime=#{time}
		GROUP BY bsid) as a,
		(select
		sum(QueueCount) as totals
		from chart_month_bstotal
		where
		starttime=#{time}
		) as b) as x

		left join xhgmnet.xhgmnet_bs_station as y
		on x.bsid=y.bsId
		order by
		QueueCount desc limit 10



	</select>

	<select id="system_call_vpn_top10" parameterType="String"
		resultType="xh.mybatis.bean.EastVpnCallBean">
		SELECT
		x.*, y.`name`
		FROM
		(
		SELECT
		a.*, ROUND(
		(a.TotalActiveCalls-a.NoEffectCalls) / a.TotalActiveCalls
		* 100,
		2
		) AS
		percent
		FROM
		(
		SELECT
		T1.vpnid,
		sum(T1.TotalActiveCalls) AS
		TotalActiveCalls,
		sum(T1.TotalActiveCallDuration) AS
		TotalActiveCallDuration,
		round(
		avg(T1.AverageCallDuration),
		0
		) AS
		AverageCallDuration,
		sum(T1.dexTotalCalls) AS dexTotalCalls,
		sum(T1.TotalFailedCalls) AS TotalFailedCalls,
		T1.FailedPercentage,
		sum(T1.NoEffectCalls) AS NoEffectCalls,
		T1.starttime
		FROM
		chart_month_vpntotal
		AS T1
		WHERE starttime=#{time}
		GROUP BY
		vpnid
		) AS a,
		(
		SELECT
		sum(TotalActiveCalls) AS totals
		FROM chart_month_vpntotal
		WHERE
		starttime=#{time}
		) AS b
		) AS x
		LEFT JOIN xhgmnet.xhgmnet_vpn AS y ON
		x.vpnid = y.vpnId
		ORDER BY
		x.TotalActiveCalls DESC
		LIMIT 10



	</select>
	<select id="chart_bs_userreg_top10" parameterType="String"
		resultType="xh.mybatis.bean.EastBsCallDataBean">

		select x.*, y.`name`,y.`level`,y.area,y.zone FROM (SELECT
		bsid,
		sum(TotalActiveCalls) AS TotalActiveCalls,
		sum(TotalActiveCallDuration) AS TotalActiveCallDuration,
		round(avg(AverageCallDuration), 0) AS AverageCallDuration,
		sum(PTTCount) AS PTTCount,
		sum(QueueCount) AS QueueCount,
		sum(QueueDuration) AS QueueDuration,
		max(MaxUserRegCount) AS
		MaxUserRegCount,
		max(MaxGroupRegCount) AS MaxGroupRegCount,starttime

		from chart_month_bstotal
		where starttime=#{time}
		GROUP BY bsid) as x

		left join xhgmnet.xhgmnet_bs_station as y on
		x.bsid=y.bsId order by
		x.MaxUserRegCount desc limit 10
	</select>

	<select id="xj_bs_all_type_num" parameterType="int" resultType="map">
		select SUM(bs) as
		bs,SUM(room) as room,SUM(vertical) as
		vertical,SUM(bus) as
		bus ,SUM(bs+room+vertical+bus) as total FROM
		(select count(1) as bs,0 as room,0 as
		vertical,0 as bus from
		xhgmnet_bs_station WHERE type=0 AND
		period=#{period} union ALL
		select 0
		as
		bs,count(1) as room,0 as
		vertical,0 as bus from
		xhgmnet_bs_station_coverage WHERE
		period=#{period} union ALL
		select 0 as
		bs,0
		as room,count(1) as
		vertical,0 as bus from
		xhgmnet_bs_station_repeater
		WHERE
		period=#{period} union ALL
		select 0 as
		bs,0 as room,0 as
		vertical,count(1) as bus from
		xhgmnet_bs_station_portable ) as a
	</select>
	<select id="xj_bs_num" parameterType="map" resultType="map">
		select
		SUM(bs) as bs,SUM(room) as room,SUM(vertical) as vertical,SUM(bus) as
		bus,SUM(bs+room+vertical+bus) as total from (
		select count(1) as bs,0
		as room,0 as vertical,0 as bus from
		xhgmnet_operations_inspection_movebs as a
		LEFT JOIN xhgmnet_bs_station
		as b on a.bsid=b.bsId WHERE
		DATE_FORMAT(a.commitdate,'%Y-%m')=#{time}
		AND b.period=#{period} UNION ALL

		select 0 as bs,count(1) as room,0 as
		vertical,0 as bus from
		xhgmnet_operations_inspection_room as a
		LEFT JOIN
		xhgmnet_bs_station_coverage as b on a.name=b.`name` WHERE
		DATE_FORMAT(a.commitdate,'%Y-%m')=#{time} AND b.period=#{period} UNION
		ALL

		select 0 as bs,0 as room,count(1) as vertical,0 as bus from
		xhgmnet_operations_inspection_vertical as a
		LEFT JOIN
		xhgmnet_bs_station_repeater as b on a.name=b.bsName WHERE
		DATE_FORMAT(a.commitdate,'%Y-%m')=#{time} AND b.period=#{period} union
		ALL


		select 0 as bs,0 as room,0 as vertical,count(1) as bus from
		xhgmnet_operations_inspection_statellite as a
		LEFT JOIN
		xhgmnet_bs_station_portable as b on a.name=b.bsName WHERE
		DATE_FORMAT(a.commitdate,'%Y-%m')=#{time}

		) as x

	</select>
	<select id="xj_dispatch" parameterType="map" resultType="map">
		select
		(select count(*) FROM xhgmnet_dispatch WHERE setupStatus=1) as
		count1,
		count(*) as count2 from xhgmnet_operations_inspection_dispatch WHERE
		DATE_FORMAT(commitdate,"%Y-%m")=#{time}

	</select>
	<select id="xj_net" parameterType="map" resultType="map">
		select 2 as
		count1, count(*) as count2 from
		xhgmnet_operations_inspection_net
		WHERE
		DATE_FORMAT(commitdate,"%Y-%m")=#{time}

	</select>
	<select id="xj_room" parameterType="map" resultType="map">
		select
		(select count(*) from xhgmnet_bs_station_coverage WHERE
		period=#{period}) as count1,
		count(*) as count2 from
		xhgmnet_operations_inspection_room WHERE
		DATE_FORMAT(commitdate,"%Y-%m")=#{time}
		AND `name` in(select `name`
		from xhgmnet_bs_station_coverage WHERE
		period=#{period})

	</select>
	<select id="xj_vertical" parameterType="map" resultType="map">
		select
		(select count(*) from xhgmnet_bs_station_repeater WHERE
		period=#{period}) as
		count1,
		count(*) as count2 from
		xhgmnet_operations_inspection_vertical WHERE
		DATE_FORMAT(commitdate,"%Y-%m")=#{time}
		AND `name` in(select bsName
		from xhgmnet_bs_station_repeater WHERE
		period=#{period})

	</select>
	<select id="xj_bs" parameterType="map" resultType="map">
		select (select count(1) from xhgmnet_bs_station WHERE period=#{period} AND
		type=0) as count1,
		count(*) as count2 from xhgmnet_operations_inspection_selfbs WHERE
		DATE_FORMAT(commitdate,"%Y-%m")=#{time}
		AND bsId in(select bsId from xhgmnet_bs_station WHERE period=#{period}
		AND type=0)
	</select>
	<select id="fault_num" parameterType="map" resultType="map">
		select
		SUM(one+two+three+four) as total,SUM(one) as one,SUM(two) as
		two,SUM(three) as three,SUM(four) as four, SUM(checked) as checked
		FROM
		(select count(*) as one,0 as two,0 as three,0 as four,0 as checked
		from
		xhgmnet_operations_fault_one WHERE type=1 AND
		DATE_FORMAT(produce_time,"%Y-%m")=#{time} UNION ALL

		select 0 as one
		,count(*) as two,0 as three,0 as four,0 as checked from
		xhgmnet_operations_fault_one WHERE type=2 AND
		DATE_FORMAT(produce_time,"%Y-%m")=#{time} UNION ALL

		select 0 as one,0
		as two,count(*) as three,0 as four,count(checkTag=1 or NULL) as
		checked from
		xhgmnet_operations_bsfault_three WHERE
		DATE_FORMAT(time,"%Y-%m")=#{time} AND bsId in(select bsId from xhgmnet_bs_station WHERE period=#{period}) UNION ALL

		select 0 as one,0 as two,0
		as three,count(*) as four,0 as checked from
		xhgmnet_operations_fault_four WHERE
		DATE_FORMAT(produce_time,"%Y-%m")=#{time} ) as x
	</select>
	<select id="fault_level" parameterType="map" resultType="map">
		select
		count(*) as total,count(checkTag=1 or NULL) as
		checked,(count(*)
		-count(checkTag=1 or NULL)) as afterCheck,`level`,period from
		(select
		a.*,b.`level` ,b.period from xhgmnet_operations_bsfault_three as a
		LEFT JOIN xhgmnet_bs_station as b on a.bsId=b.bsId) as x
		WHERE
		DATE_FORMAT(time,"%Y-%m")=#{time} AND level>0 AND period=#{period}
		GROUP BY
		level ORDER BY level ASC
	</select>
	<select id="fault_level_pie" parameterType="map" resultType="map">
		select count(*) as total,`level`,DATE_FORMAT(time,'%m') as month,
		period from
		(select a.*,b.`level` ,b.period from
		xhgmnet_operations_bsfault_three as a
		LEFT JOIN xhgmnet_bs_station as b
		on a.bsId=b.bsId) as x
		WHERE DATE_FORMAT(time,"%Y")=#{time} AND
		LEVEL=#{level} AND period=#{period}
	</select>
	
    <select id="user_need" parameterType="String" resultType="xh.mybatis.bean.UserNeedBean">
        select * from xhgmnet_operations_userneed WHERE DATE_FORMAT(time,"%Y-%m")=#{time}
    </select>
	
	<select id="RecordCommunication" parameterType="String" resultType="xh.mybatis.bean.RecordCommunicationBean">
        select * from record_communication WHERE DATE_FORMAT(end_time,"%Y-%m")=#{time}
    </select>
	

</mapper>