<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xh.mybatis.mapper.VpnMapper" >
  <resultMap id="BaseResultMap" type="xh.mybatis.bean.VpnBean" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectAllName" resultType="java.util.HashMap" parameterType="map">
  	select vpnId,pId,c_name from xhgmnet_vpn where 1=1
  	<if test="vpnId !=null and vpnId !='' and pId == '0'">
  		and pId=#{vpnId} or vpnId=#{vpnId}
  	</if>
  	<if test="vpnId !=null and vpnId !='' and pId !=null and pId !='' and pId != '0' ">
  		and pId=#{pId} and vpnId=#{vpnId} or vpnId=#{pId}
  	</if>
  </select>
  
  <delete id="deleteByVpnId" parameterType="java.lang.String">
  	delete from xhgmnet_vpn where vpnId=#{vpnId}
  </delete>
  
  <update id="updateByVpnId" parameterType="map">
  	update xhgmnet_vpn set name=#{name} where vpnId=#{vpnId}
  </update>

    <!-- 根据pId查询所有子单位 -->
    <select id="selectByPId" resultType="int" parameterType="java.lang.String">
        select vpnId from xhgmnet_vpn where pId=#{pId} ORDER BY vpnId
    </select>
  
  <insert id="insertByVpnId" parameterType="xh.mybatis.bean.VpnBean">
  	insert into xhgmnet_vpn(vpnId,pId,name,c_name,type,time) values(#{vpnId},#{pId},#{name},#{c_name},#{type},now())
  </insert>
  
  <!-- 添加之前查询vpnId是否重复 -->
  <select id="countByVpnId" resultType="int" parameterType="java.lang.String">
  	select count(*) from xhgmnet_vpn where vpnId=#{vpnId}
  </select>
  
  <!-- 查询所有一级单位 -->
  <select id="selectParentVpnId" resultType="map">
  	select vpnId,c_name as name from xhgmnet_vpn where pId=0
  </select>
  
</mapper>