<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.WebRoleMapper">
<!-- 自定义返回结果集 -->
   <resultMap id="role" type="xh.mybatis.bean.WebRoleBean">
        <id property="roleId" column="roleId" javaType="java.lang.Integer"></id>
        <result property="roleType" column="roleType" javaType="java.lang.Integer"></result>
        <result property="role" column="role" javaType="java.lang.String"></result>
        <result property="createTime" column="createTime" javaType="java.lang.String"></result>
   </resultMap>
 <!--   <cache type="xh.mybatis.tools.MybatisRedisCache" eviction="LRU"
		flushInterval="600000" size="1024" readOnly="false" /> -->
   <!--根据用户查询角色role-->
    <select id="roleByUser" parameterType="String" resultType="String" useCache="true">
     select role from xhgmnet_web_role where roleId=(select roleId from xhgmnet_web_role_user where 
      userId=(select userId from xhgmnet_web_user where user=#{user}))
    </select>
   <!--根据角色类型查找角色列表-->
    <select id="roleTypeByList" parameterType="int" resultType="map" useCache="true">
     select * from xhgmnet_web_role where roleType=#{roleType} limit 0,10
    </select>    
   <!--根据角色判断角色是否存在-->
    <select id="roleIsExists" parameterType="xh.mybatis.bean.WebRoleBean" resultType="int" useCache="true">
     select count(*) from xhgmnet_web_role where roleType=#{roleType} and (roleId=#{roleId} or role= role=#{role}) and parentId=#{parentId}
    </select>
   <!--根据用户查询角色roleId-->
    <select id="roleIdByUser" parameterType="String" resultType="int" useCache="true">
     select roleId from xhgmnet_web_role where roleId=(select roleId from xhgmnet_web_role_user where 
      userId=(select userId from xhgmnet_web_user where user=#{user}))
    </select>
   <!--查询所有角色role-->
    <select id="roleByAll"  resultType="xh.mybatis.bean.WebRoleBean" useCache="true">
     select * from xhgmnet_web_role 
     <if test="roleType!=0">
     where parentId=#{roleId} or roleId=#{roleId}
     </if>
     order by roleType asc,roleId asc
    </select> 
      <!--查询角色role-->
    <select id="roleOne"  resultType="xh.mybatis.bean.WebRoleBean" useCache="true" parameterType="String">
     select * from xhgmnet_web_role where roleId=#{roleId}
    </select> 
    <!--添加角色-->    
    <insert id="addRole" useGeneratedKeys="true" keyProperty="roleId" parameterType="xh.mybatis.bean.WebRoleBean">
      insert into xhgmnet_web_role(roleId,role,createTime,roleType,parentId)
      values(#{roleId},#{role},#{createTime},#{roleType},#{parentId})
    </insert> 
    <!--更新角色-->
    <update id="updateByroleId" parameterType="xh.mybatis.bean.WebRoleBean">
      update xhgmnet_web_role set role=#{role},roleType=#{roleType} 
      where roleId=#{roleId} and roleType=#{roleType} and parentId=#{parentId} 
    </update>          
   <!--根据角色ID删除角色-->
    <delete id="deleteByRoleId" parameterType="java.util.List">
     delete from xhgmnet_web_role where roleId in(
        <foreach collection="list" item="id" separator=",">
            #{id}
        </foreach>
     ) 
    </delete> 
    <!-- 获取角色权限 -->
    <select id="role_power"  resultType="xh.mybatis.bean.UserPowerBean" useCache="true" parameterType="int">
     select * from xhgmnet_web_role_action where roleId=#{roleId}
    </select> 
	<!--判断角色权限是否存在 -->
	<select id="exists_role_power" parameterType="int" resultType="int"
		useCache="true">
		select count(roleId) from xhgmnet_web_role_action where
		roleId=#{roleId}
	</select> 
	<!--修改角色权限 -->
	<update id="update_role_power" parameterType="xh.mybatis.bean.UserPowerBean">
		update
		xhgmnet_web_role_action set

		r_send_order=#{r_send_order},
		r_recv_order=#{r_recv_order},
		recv_work_contact=#{recv_work_contact}
		where roleId=#{roleId}
	</update> 
	<!--添加角色权限 -->
	<insert id="add_role_power" keyProperty="roleId"
		parameterType="xh.mybatis.bean.UserPowerBean">
		insert into xhgmnet_web_role_action
		(roleId,r_send_order,r_recv_order,recv_work_contact)
		values
		(#{roleId},#{r_send_order},#{r_recv_order},#{recv_work_contact})
	</insert>
</mapper>
