<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xh.mybatis.mapper.WorkMapper">

	<select id="worklist" parameterType="map" resultType="map"
		useCache="true">
		select * from xhgmnet_operations_work where 1=1
		<if test="fileName !=null and fileName !=''">
			and fileName like concat('%',#{fileName},'%')
		</if>
		<if test="contact !=null and contact !=''">
			and contact like concat('%',#{contact},'%')
		</if>
		<if test="status !=null and status !='' and status !=2">
			and status=#{status}
		</if>
		order by id asc limit #{start},#{limit}
	</select>

	<select id="count" parameterType="map" resultType="int"
		useCache="true">
		select count(*) from xhgmnet_operations_work where 1=1
		<if test="fileName !=null and fileName !=''">
			and fileName like concat('%',#{fileName},'%')
		</if>
		<if test="contact !=null and contact !=''">
			and contact like concat('%',#{contact},'%')
		</if>
		<if test="status !=null and status !='' and status !=2">
			and status=#{status}
		</if>
	</select>
	<!-- 新增工作记录 -->
	<insert id="addwork" useGeneratedKeys="true" keyProperty="id"
		parameterType="xh.mybatis.bean.WorkBean">
		insert into xhgmnet_operations_work(fileName,contact,tel,note,status,filePath,uploadUser,recvUser)
		values(#{fileName},#{contact},#{tel},#{note},#{status},#{filePath},#{uploadUser},#{recvUser})
	</insert>
	<!-- 签收工作记录 -->
    <update id="signWork" parameterType="int">
     update xhgmnet_operations_work set status=1 where id=#{id}    
    </update>














	<sql id="Base_Column_List">
		id, fileName, contact, tel, note, status, filePath, uploadUser, recvUser,
		createtime
	</sql>
	<select id="selectByPrimaryKey" resultType="map" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from xhgmnet_operations_quality
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from xhgmnet_operations_quality
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="xh.mybatis.bean.Quality">
		insert into xhgmnet_operations_quality (id, fileName, contact,
		tel, note, status, filePath,
		uploadUser, recvUser, createtime
		)
		values (#{id,jdbcType=INTEGER}, #{filename,jdbcType=VARCHAR},
		#{contact,jdbcType=VARCHAR},
		#{tel,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{status,jdbcType=BIT},
		#{filepath,jdbcType=VARCHAR},
		#{uploaduser,jdbcType=VARCHAR}, #{recvuser,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="xh.mybatis.bean.Quality">
		insert into xhgmnet_operations_quality
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="filename != null">
				fileName,
			</if>
			<if test="contact != null">
				contact,
			</if>
			<if test="tel != null">
				tel,
			</if>
			<if test="note != null">
				note,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="filepath != null">
				filePath,
			</if>
			<if test="uploaduser != null">
				uploadUser,
			</if>
			<if test="recvuser != null">
				recvUser,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="filename != null">
				#{filename,jdbcType=VARCHAR},
			</if>
			<if test="contact != null">
				#{contact,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				#{tel,jdbcType=VARCHAR},
			</if>
			<if test="note != null">
				#{note,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=BIT},
			</if>
			<if test="filepath != null">
				#{filepath,jdbcType=VARCHAR},
			</if>
			<if test="uploaduser != null">
				#{uploaduser,jdbcType=VARCHAR},
			</if>
			<if test="recvuser != null">
				#{recvuser,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="xh.mybatis.bean.Quality">
		update xhgmnet_operations_quality
		<set>
			<if test="filename != null">
				fileName = #{filename,jdbcType=VARCHAR},
			</if>
			<if test="contact != null">
				contact = #{contact,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				tel = #{tel,jdbcType=VARCHAR},
			</if>
			<if test="note != null">
				note = #{note,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=BIT},
			</if>
			<if test="filepath != null">
				filePath = #{filepath,jdbcType=VARCHAR},
			</if>
			<if test="uploaduser != null">
				uploadUser = #{uploaduser,jdbcType=VARCHAR},
			</if>
			<if test="recvuser != null">
				recvUser = #{recvuser,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="xh.mybatis.bean.Quality">
		update xhgmnet_operations_quality
		set fileName = #{filename,jdbcType=VARCHAR},
		contact = #{contact,jdbcType=VARCHAR},
		tel = #{tel,jdbcType=VARCHAR},
		note = #{note,jdbcType=VARCHAR},
		status = #{status,jdbcType=BIT},
		filePath = #{filepath,jdbcType=VARCHAR},
		uploadUser = #{uploaduser,jdbcType=VARCHAR},
		recvUser = #{recvuser,jdbcType=VARCHAR},
		createtime = #{createtime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>