
<div class="modal fade" id="dispatchWin" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-llg">
		<div class="modal-content">
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<!-- <small class="font-bold">自建基站巡检表</small> -->
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
				<div class="row">
					<div class="col-md-12">
						<div class="btn-group">
							<button type="button" class="btn btn-success btn-sm" onclick="xh.print_dispatch()">
								<i class="fa fa-print"></i>&nbsp;打印
							</button>
						</div> 
					</div>
				</div>
				<div class="row" style="margin-top:5px;" id="print_dispatch">
				<style type="text/css" id="style1">
                .table-view{border-collapse:collapse;text-align: center;word-break: break-word;}
                .table-view td{border:1px solid #ccc;border-collapse:collapse;}
                </style>
					<div class="col-md-12">
						<table style="width:100%;border-collapse: collapse;" class="table-view">
						
								<tr>
									<td colspan="8" style="text-align: center;">调度台巡检表</td>
								</tr>
								<tr>
									<td style="width:10%;">调度台名称</td>
									<td style="width:20%;color:blue">{{dispatchOneData.dispatchname}}</td>
									<td style="width:10%;">地点</td>
									<td style="width:15%;color:blue">{{dispatchOneData.dispatchplace}}</td>
									<td style="width:10%;">巡检时间</td>
									<td style="width:15%;color:blue">{{dispatchOneData.commitdate}}</td>
									<td style="width:10%;">巡检人</td>
									<td style="width:10%;color:blue">{{dispatchOneData.checkman}}</td>

								</tr>

								<tr style="font-weight:700;">
									<td>序号</td>
									<td>检查类容</td>
									<td colspan="2">备注</td>
									<td>检查情况</td>
									<td>问题描述</td>
									<td colspan="2">处理情况及遗留问题</td>
								</tr>
								<tr>
									<td>1</td>
									<td>调度台安装环境是否完成正常</td>
									<td colspan="2">{{dispatchOneData.comment1}}</td>
									<td>{{dispatchOneData.d1}}</td>
									<td>{{dispatchOneData.p1}}</td>
									<td colspan="2">{{dispatchOneData.r1}}</td>
								</tr>
								<tr>
									<td>2</td>
									<td>调度台电源是否正常开启</td>
									<td colspan="2">{{dispatchOneData.comment2}}</td>
									<td>{{dispatchOneData.d2}}</td>
									<td>{{dispatchOneData.p2}}</td>
									<td colspan="2">{{dispatchOneData.r2}}</td>
								</tr>
								<tr>
									<td>3</td>
									<td>调度台是否正常登录</td>
									<td colspan="2">{{dispatchOneData.comment3}}</td>
									<td>{{dispatchOneData.d3}}</td>
									<td>{{dispatchOneData.p3}}</td>
									<td colspan="2">{{dispatchOneData.r3}}</td>
								</tr>
								<tr>
									<td>4</td>
									<td>调度台配置是否正常</td>
									<td colspan="2">{{dispatchOneData.comment4}}</td>
									<td>{{dispatchOneData.d4}}</td>
									<td>{{dispatchOneData.p4}}</td>
									<td colspan="2">{{dispatchOneData.r4}}</td>
								</tr>
								 <tr>
									<td>5</td>
									<td>调度台录音是否正常</td>
									<td colspan="2">{{dispatchOneData.comment5}}</td>
									<td>{{dispatchOneData.d5}}</td>
									<td>{{dispatchOneData.p5}}</td>
									<td colspan="2">{{dispatchOneData.r5}}</td>
								</tr>
								
								<tr>
									<td>6</td>
									<td>语音、短信业务测试是否正常</td>
									<td colspan="2">{{dispatchOneData.comment6}}</td>
									<td>{{dispatchOneData.d6}}</td>
									<td>{{dispatchOneData.p6}}</td>
									<td colspan="2">{{dispatchOneData.r6}}</td>
								</tr>
								<tr>
									<td>7</td>
									<td>调度业务测试是否正常</td>
									<td colspan="2">{{dispatchOneData.comment7}}</td>
									<td>{{dispatchOneData.d7}}</td>
									<td>{{dispatchOneData.p7}}</td>
									<td colspan="2">{{dispatchOneData.r7}}</td>
								</tr>
								
								<tr>
									<td>8</td>
									<td>环境温度是否工作正常</td>
									<td colspan="2">{{dispatchOneData.comment8}}</td>
									<td>{{dispatchOneData.d8}}</td>
									<td>{{dispatchOneData.p8}}</td>
									<td colspan="2">{{dispatchOneData.r8}}</td>
								</tr>
							
							
						</table>
					</div>
				</div>

			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>
