<!DOCTYPE html>
<html>
<head>
<title>巡检记录</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
<script language="javascript" src="../../Resources/js/LodopFuncs.js"></script>
<object id="LODOP_OB"
	classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>
	<embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>
</object>
<style type="text/css">
input[type="text"] {
	width: 100%;
}

.info-bs li {
	float: left;
	margin-right: 10px;
}

.input-div div {
	float: left;
	margin-left: 5px;
}

.vertical-tab li {
	
}
</style>
</head>
<body ng-app="app" ng-controller="xhcontroller" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>

	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>运维管理</span></li>
							<li class="active"><span>巡检记录</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">

			<div class="row">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-body">
							<div class="col-xs-2">
								<ul class="nav nav-tab vertical-tab" role="tablist" id="xh-tabs">
									<li role="presentation" class="active"><a href="#sbs" data-toggle="tab"
										ng-click='sbs_refresh()' role="tab"> 基站巡检</a></li>

									<li><a href="#net" data-toggle="tab"
										ng-click='net_refresh()' role="tab"> 网管巡检</a></li>
									<li><a href="#dispatch" data-toggle="tab"
										ng-click='dispatch_refresh()' role="tab"> 调度台巡检</a></li>
									<li><a href="#msc" data-toggle="tab"
										ng-click='msc_refresh()' role="tab"> 交换中心巡检</a></li>
								</ul>
							</div>
							<div class="tab-content vertical-tab-content col-xs-10"
								style="padding:20px">

								<!-- group -->
								<div class="tab-pane fade in active" id="sbs">
									<div class="row">
										<div class="form-group col-md-2">
											<label for="starttime">月份</label>
											<div>
												<input type="text" class="form-control" ng-model="time"
													id="month" onfocus="WdatePicker({dateFmt:'yyyy-MM'})"
													placeholder="选择月份">
											</div>
										</div>

										<div class="form-group col-md-2">
											<div class="col-sm-offset-2" style="padding-top:22px">
												<button type="submit" class="btn btn-sm btn-success"
													ng-click="sbs_refresh()">
													<i class="fa fa-search"></i>&nbsp;&nbsp;查询
												</button>
											</div>
										</div>
										<div class="form-group col-md-2">
                                            <div class="col-sm-offset-2" style="padding-top:22px">
                                                <button type="submit" class="btn btn-sm btn-success"
                                                    data-target="#addSbsWin" data-toggle="modal">
                                                    <i class="fa fa-plus"></i>&nbsp;&nbsp;新增基站巡检记录
                                                </button>
                                            </div>
                                        </div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="hpanel">
												<!-- <div class="panel-heading"
													style="color:#000;border-left:2px solid green">800M移动基站巡检记录</div> -->
												<div class="panel-body">
													<table id="tb-info" class="xh-table table-hover"
														style="table-layout：fixed">
														<thead>
															<tr class="tr-gray">
																<th>基站</th>
																<th>基站级别</th>
																<th>机房类型</th>
																<th>遗留问题</th>
																<th>巡检人员</th>
																<th width="180px">巡检时间</th>
																<th>GPS定位</th>
																<th>定位精度</th>
																<th width="150">操作</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-if="sbsTotals==0">
																<td colspan="10" class="text-center">没有记录！</td>
															</tr>
															<tr ng-repeat="x in sbsData">
																<td>{{x.bsid}}-{{x.bsname}}</td>

																<td>{{x.level}}</td>
																<td><span
																	ng-if="x.hometype=='移动' || x.hometype=='电信' || x.hometype=='铁塔'">运营商机房</span>
																	<span ng-if="x.hometype=='自建'">自建机房</span> <span
																	ng-if="x.hometype=='租赁'">租赁机房</span></td>
																<td>{{x.remainwork}}</td>
																<td>{{x.checkman}}</td>
																<td>{{x.commitdate}}</td>
																<td>{{x.address}}</td>
																<td>{{x |py}}</td>
																<td><a href="#" ng-click="showSbsWin($index)"
																	class="text-danger"> <i
																		class="fa fa-info text-danger"></i>&nbsp;详细
																</a>| <a href="#" ng-click="showSbsEditWin($index)"
																	class="text-danger"> <i
																		class="fa fa-edit text-danger"></i>&nbsp;编辑
																</a> <a href="#" ng-click="del_bs($index)"
																	class="text-danger" ng-if="up.o_delete=='on'"> <i
																		class="fa fa-delete text-danger"></i>|&nbsp;删除
																</a></td>
															</tr>
														</tbody>
													</table>

												</div>
												<div class="panel-footer">
													<div class="page" style="margin-top:0;height:40px;">
														<div class="page-info">
															每页显示 <select id="page-limit-sbs"
																ng-change="mbs_refresh()" ng-model="count">
																<option value="15">15</option>
																<option value="20">20</option>
																<option value="30">30</option>
																<option value="40">40</option>
																<option value="50">50</option>
															</select> 条, <span ng-model="index">显示{{sbs_start}}-</span> <span>{{sbs_lastIndex}}条,</span>
															<span>总计{{sbsTotals}}条</span>
														</div>
														<div class="page-paging sbs-page-paging"></div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="net">
								<div class="row">
                                        <div class="form-group col-md-2">
                                            <label for="starttime">选择月</label>
                                            <div>
                                                <input type="text" class="form-control" ng-model="time"
                                                    id="month_net" onfocus="WdatePicker({dateFmt:'yyyy-MM'})"
                                                    placeholder="选择月份">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-2">
                                            <div class="col-sm-offset-2" style="padding-top:22px">
                                                <button type="submit" class="btn btn-sm btn-success"
                                                    ng-click="net_refresh()">
                                                    <i class="fa fa-search"></i>&nbsp;&nbsp;查询
                                                </button>
                                            </div>
                                        </div>
                                       
                                    </div>
									<div class="row">
									
										<div class="col-md-12">
											<div class="hpanel">
												<!-- <div class="panel-heading"
													style="color:#000;border-left:2px solid green">800M移动基站巡检记录</div> -->
												<div class="panel-body">
													<table id="tb-info" class="xh-table table-hover"
														style="table-layout：fixed">
														<thead>
															<tr class="tr-gray">
																<th>网管名称</th>
																<th>地点</th>
																<th>巡检人员</th>
																<th width="180px">巡检时间</th>
																<th>GPS定位</th>
																<th width="120">操作</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-if="netTotals==0">
																<td colspan="6" class="text-center">没有记录！</td>
															</tr>
															<tr ng-repeat="x in netData">
																<td>{{x.managername}}</td>

																<td>{{x.managerplace}}</td>
																<td>{{x.checkman}}</td>
																<td>{{x.commitdate}}</td>
																<td>{{x.address}}</td>
																<td><a href="#" ng-click="showNetWin($index)"
																	class="text-danger"> <i
																		class="fa fa-info text-danger"></i>&nbsp;详细
																</a></td>
															</tr>
														</tbody>
													</table>

												</div>
												<div class="panel-footer">
													<div class="page" style="margin-top:0;height:40px;">
														<div class="page-info">
															每页显示 <select id="page-limit-net"
																ng-change="net_refresh()" ng-model="count">
																<option value="15">15</option>
																<option value="20">20</option>
																<option value="30">30</option>
																<option value="40">40</option>
																<option value="50">50</option>
															</select> 条, <span>显示{{net_start}}-</span> <span>{{net_lastIndex}}条,</span>
															<span>总计{{netTotals}}条</span>
														</div>
														<div class="page-paging net-page-paging"></div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
								<!-- radio -->
								<div class="tab-pane fade" id="dispatch">
								<div class="row">
                                        <div class="form-group col-md-2">
                                            <label for="starttime">选择月</label>
                                            <div>
                                                <input type="text" class="form-control" ng-model="time"
                                                    id="month_dispatch" onfocus="WdatePicker({dateFmt:'yyyy-MM'})"
                                                    placeholder="选择月份">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-2">
                                            <div class="col-sm-offset-2" style="padding-top:22px">
                                                <button type="submit" class="btn btn-sm btn-success"
                                                    ng-click="dispatch_refresh()">
                                                    <i class="fa fa-search"></i>&nbsp;&nbsp;查询
                                                </button>
                                            </div>
                                        </div>
                                       
                                    </div>
									<div class="row">
										<div class="col-md-12">
											<div class="hpanel">
												<!-- <div class="panel-heading"
													style="color:#000;border-left:2px solid green">800M移动基站巡检记录</div> -->
												<div class="panel-body">
													<table id="tb-info" class="xh-table table-hover"
														style="table-layout：fixed">
														<thead>
															<tr class="tr-gray">
																<th>调度台名称</th>
																<th>地点</th>
																<th>巡检人员</th>
																<th width="180px">巡检时间</th>
																<th>GPS定位</th>
																<th width="120">操作</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-if="dispatchTotals==0">
																<td colspan="6" class="text-center">没有记录！</td>
															</tr>
															<tr ng-repeat="x in dispatchData">
																<td>{{x.dispatchname}}</td>

																<td>{{x.dispatchplace}}</td>
																<td>{{x.checkman}}</td>
																<td>{{x.commitdate}}</td>
																<td>{{x.address}}</td>
																<td><a href="#" ng-click="showDispatchWin($index)"
																	class="text-danger"> <i
																		class="fa fa-info text-danger"></i>&nbsp;详细
																</a></td>
															</tr>
														</tbody>
													</table>

												</div>
												<div class="panel-footer">
													<div class="page" style="margin-top:0;height:40px;">
														<div class="page-info">
															每页显示 <select id="page-limit-dispatch"
																ng-change="dispatch_refresh()" ng-model="count">
																<option value="15">15</option>
																<option value="20">20</option>
																<option value="30">30</option>
																<option value="40">40</option>
																<option value="50">50</option>
															</select> 条, <span>显示{{dispatch_start}}-</span> <span>{{dispatch_lastIndex}}条,</span>
															<span>总计{{dispatchTotals}}条</span>
														</div>
														<div class="page-paging dispatch-page-paging"></div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
								<!-- 调度台 -->
								<div class="tab-pane fade" id="msc">
								<div class="row">
                                        <div class="form-group col-md-2">
                                            <label for="starttime">选择年</label>
                                            <div>
                                                <input type="text" class="form-control" ng-model="year"
                                                    id="month_msc" onfocus="WdatePicker({dateFmt:'yyyy'})"
                                                    placeholder="选择年">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-2">
                                            <div class="col-sm-offset-2" style="padding-top:22px">
                                                <button type="submit" class="btn btn-sm btn-success"
                                                    ng-click="msc_refresh()">
                                                    <i class="fa fa-search"></i>&nbsp;&nbsp;查询
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <div class="col-sm-offset-2" style="padding-top:22px">
                                                <button type="submit" class="btn btn-sm btn-success"
                                                    data-target="#mscAddWin" data-toggle="modal">
                                                    <i class="fa fa-plus"></i>&nbsp;&nbsp;新增交换中心巡检记录
                                                </button>
                                            </div>
                                        </div>
                                    </div>
								
									<div class="row">
										<div class="col-md-12">
											<div class="hpanel">
												<!-- <div class="panel-heading"
                                                    style="color:#000;border-left:2px solid green">800M移动基站巡检记录</div> -->
												<div class="panel-body">
													<table id="tb-info" class="xh-table table-hover"
														style="table-layout：fixed">
														<thead>
															<tr class="tr-gray">
																<th>系统名称</th>
																<th>地点</th>
																<th>巡检人员</th>
																<th width="180px">巡检时间</th>

																<th width="120">操作</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-if="mscTotals==0">
																<td colspan="5" class="text-center">没有记录！</td>
															</tr>
															<tr ng-repeat="x in mscData">
																<td>{{x.name}}</td>

																<td>{{x.address}}</td>
																<td>{{x.checkPersion}}</td>
																<td>{{x.checkDate}}</td>
																<td><a href="#" ng-click="showMscWin($index)"
																	class="text-danger"> <i
																		class="fa fa-info text-danger"></i>&nbsp;详细
																</a>| <a href="#" ng-click="showMscEditWin($index)"
																	class="text-danger"> <i
																		class="fa fa-edit text-danger"></i>&nbsp;编辑
																</a></td>
															</tr>
														</tbody>
													</table>

												</div>
												<div class="panel-footer">
													<div class="page" style="margin-top:0;height:40px;">
														<div class="page-info">
															每页显示 <select id="page-limit-msc"
																ng-change="msc_refresh()" ng-model="count">
																<option value="15">15</option>
																<option value="20">20</option>
																<option value="30">30</option>
																<option value="40">40</option>
																<option value="50">50</option>
															</select> 条, <span>显示{{msc_start}}-</span> <span>{{msc_lastIndex}}条,</span>
															<span>总计{{mscTotals}}条</span>
														</div>
														<div class="page-paging msc-page-paging"></div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
								<!-- 交换中心 -->


							</div>
						</div>
					</div>
					<!-- panel -->
				</div>
			</div>
			<!-- row---end -->

		</div>


	</div>
	<!-- 中间内容体 /-->
	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<div ng-include="'appInspection-movebs-detail.html'"></div>
	<div ng-include="'appInspection-movebs-add.html'"></div>
	<div ng-include="'appInspection-movebs-edit.html'"></div>
	<div ng-include="'appInspection-selfbs-detail.html'"></div>
	<div ng-include="'appInspection-selfbs-add.html'"></div>
	<div ng-include="'appInspection-selfbs-edit.html'"></div>
	<div ng-include="'appInspection-net.html'"></div>
	<div ng-include="'appInspection-dispatch.html'"></div>
	<div ng-include="'appInspection-msc-detail.html'"></div>
	<div ng-include="'appInspection-msc-add.html'"></div>
	<div ng-include="'appInspection-msc-edit.html'"></div>
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="../../lib/metisMenu/dist/metisMenu.min.js"></script>
	<script type="text/javascript"
		src="../../Controllers/operations/appInspection.js"></script>
	<!-- <script type="text/javascript" src="../../Resources/js/51WebPrinter.js"></script> -->

	<script type="text/javascript">
		xh.load();
	</script>
	<script language="javascript" type="text/javascript">
		
	</script>
</body>
</html>
