
<div class="modal fade" id="verticalEditWin" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-llg">
		<div class="modal-content">
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<!-- <small class="font-bold">自建基站巡检表</small> -->
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">

				<div class="row" style="margin-top:5px;">
					<div class="col-md-12">
						<form action="#" id="editVerticalForm" onSubmit="return false">
							<table style="width:100%;border-collapse: collapse;text-align: left;"
								class="table-view">

								<tr>
									<td colspan="8" style="text-align: center;">直放站巡检表
									<input type="text" ng-show="false"  name="id" ng-model="verticalOneData.id">
									</td>
								</tr>
								<tr>
									<td style="width:10%;">基站名称</td>
									<td style="width:20%;color:blue"><input type="text"
										name="name" ng-model="verticalOneData.name"></td>
									<td style="width:20%;">巡检人</td>
									<td style="width:19%;color:blue"><input type="text"
										name="checkman" ng-model="verticalOneData.checkman"></td>

								</tr>
								<tr>
									<td style="width:13%;">巡检时间</td>
									<td style="width:20%;color:blue"><input type="text"
										name="commitdate"
										onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" ng-model="verticalOneData.commitdate"></td>
									<td style="width:10%;">电表数</td>
									<td style="width:15%;color:blue"><input type="text"
										name="ammeternumber" ng-model="verticalOneData.ammeternumber"></td>
								</tr>

								<tr style="font-weight:700;">
									<td>巡检项目</td>
									<td>具体项目</td>
									<td>具体操作</td>
									<td>执行情况</td>
									<td>备注</td>
								</tr>


								<tr>
									<td rowspan="2">基站清洁</td>
									<td>机房清洁</td>
									<td>机房门窗、地面、墙面是否整洁正常</td>
									<td>
									<input id="dd1" ng-show="false" type="radio" value="正常-" name="d1" ng-checked="verticalOneData.d1=='正常-'"> 
                                    <label for="dd1">
                                    <span title="点击取消选中" style="color:blue;cursor: pointer; font-weight: 800;margin-right:20px;">不选</span>
                                    </label>
									<input id="v-edita1" class="magic-radio" type="radio"
										value="正常" name="d1" ng-checked="verticalOneData.d1=='正常'"> <label
										for="v-edita1"><span>正常</span></label> <input id="v-editb1"
										class="magic-radio" type="radio" value="异常" name="d1" ng-checked="verticalOneData.d1=='异常'">
										<label for="v-editb1"><span>异常</span></label></td>
									<td><input type="text" ng-model="verticalOneData.comment1" name="comment1"></td>
								</tr>
								<tr>
									<td>设备除尘</td>
									<td>设备表面及内部卫生是否正常</td>
									<td>
									<input id="dd2" ng-show="false" type="radio" value="正常-" name="d2" ng-checked="verticalOneData.d2=='正常-'"> 
                                    <label for="dd2">
                                    <span title="点击取消选中" style="color:blue;cursor: pointer; font-weight: 800;margin-right:20px;">不选</span>
                                    </label>
									<input id="v-edita2" class="magic-radio" type="radio"
										value="正常" name="d2" ng-checked="verticalOneData.d2=='正常'"> <label
										for="v-edita2"><span>正常</span></label> <input id="v-editb2"
										class="magic-radio" type="radio" value="异常" name="d2" ng-checked="verticalOneData.d2=='异常'">
										<label for="v-editb2"><span>异常</span></label></td>
									<td><input type="text" ng-model="verticalOneData.comment2" name="comment2"></td>
								</tr>

								<tr>
									<td rowspan="6">基站环境</td>
									<td rowspan="3">基站安全</td>
									<td>门锁、门窗是否正常</td>
									   <td>
									   <input id="dd3" ng-show="false" type="radio" value="正常-" name="d3" ng-checked="verticalOneData.d3=='正常-'"> 
                                    <label for="dd3">
                                    <span title="点击取消选中" style="color:blue;cursor: pointer; font-weight: 800;margin-right:20px;">不选</span>
                                    </label>
									   <input id="v-edita3" class="magic-radio" type="radio"
                                        value="正常" name="d3" ng-checked="verticalOneData.d3=='正常'"> <label
                                        for="v-edita3"><span>正常</span></label> <input id="v-editb3"
                                        class="magic-radio" type="radio" value="异常" name="d3" ng-checked="verticalOneData.d3=='异常'">
                                        <label for="v-editb3"><span>异常</span></label></td>
									<td><input type="text" ng-model="verticalOneData.comment3" name="comment3"></td>
								</tr>
								<tr>
									<td>机房内消防设施是否正常</td>
									   <td>
									   <input id="dd4" ng-show="false" type="radio" value="正常-" name="d4" ng-checked="verticalOneData.d4=='正常-'"> 
                                    <label for="dd4">
                                    <span title="点击取消选中" style="color:blue;cursor: pointer; font-weight: 800;margin-right:20px;">不选</span>
                                    </label>
									   <input id="v-edita4" class="magic-radio" type="radio"
                                        value="正常" name="d4" ng-checked="verticalOneData.d4=='正常'"> <label
                                        for="v-edita4"><span>正常</span></label> <input id="v-editb4"
                                        class="magic-radio" type="radio" value="异常" name="d4" ng-checked="verticalOneData.d4=='异常'">
                                        <label for="v-editb4"><span>异常</span></label></td>
									<td><input type="text" ng-model="verticalOneData.comment4" name="comment4"></td>
								</tr>
								<tr>
									<td>机房防水情况是否正常（裂缝、渗水、漏水等情况	）</td>
									   <td>
									   <input id="dd5" ng-show="false" type="radio" value="正常-" name="d5" ng-checked="verticalOneData.d5=='正常-'"> 
                                    <label for="dd5">
                                    <span title="点击取消选中" style="color:blue;cursor: pointer; font-weight: 800;margin-right:20px;">不选</span>
                                    </label>
									   <input id="v-edita5" class="magic-radio" type="radio"
                                        value="正常" name="d5" ng-checked="verticalOneData.d5=='正常'"> <label
                                        for="v-edita5"><span>正常</span></label> <input id="v-editb5"
                                        class="magic-radio" type="radio" value="异常" name="d5" ng-checked="verticalOneData.d5=='异常'">
                                        <label for="v-editb5"><span>异常</span></label></td>
									<td><input type="text" ng-model="verticalOneData.comment5" name="comment5"></td>
								</tr>
								<tr>
									<td rowspan="3">机房配套</td>
									<td>机房照明设施是否正常</td>
									   <td>
									   <input id="dd6" ng-show="false" type="radio" value="正常-" name="d6" ng-checked="verticalOneData.d6=='正常-'"> 
                                    <label for="dd6">
                                    <span title="点击取消选中" style="color:blue;cursor: pointer; font-weight: 800;margin-right:20px;">不选</span>
                                    </label>
									   <input id="v-edita6" class="magic-radio" type="radio"
                                        value="正常" name="d6" ng-checked="verticalOneData.d6=='正常'"> <label
                                        for="v-edita6"><span>正常</span></label> <input id="v-editb6"
                                        class="magic-radio" type="radio" value="异常" name="d6" ng-checked="verticalOneData.d6=='异常'">
                                        <label for="v-editb6"><span>异常</span></label></td>
									<td><input type="text" ng-model="verticalOneData.comment6" name="comment6"></td>
								</tr>
								<tr>
									<td>灭火设备是否正常</td>
									   <td>
									   <input id="dd7" ng-show="false" type="radio" value="正常-" name="d7" ng-checked="verticalOneData.d7=='正常-'"> 
                                    <label for="dd7">
                                    <span title="点击取消选中" style="color:blue;cursor: pointer; font-weight: 800;margin-right:20px;">不选</span>
                                    </label>
									   <input id="v-edita7" class="magic-radio" type="radio"
                                        value="正常" name="d7" ng-checked="verticalOneData.d7=='正常'"> <label
                                        for="v-edita7"><span>正常</span></label> <input id="v-editb7"
                                        class="magic-radio" type="radio" value="异常" name="d7" ng-checked="verticalOneData.d7=='异常'">
                                        <label for="v-editb7"><span>异常</span></label></td>
									<td><input type="text" ng-model="verticalOneData.comment7" name="comment7"></td>
								</tr>
								<tr>
									<td>机房插座是否运行正常</td>
									<td>
									<input id="dd8" ng-show="false" type="radio" value="正常-" name="d8" ng-checked="verticalOneData.d8=='正常-'"> 
                                    <label for="dd8">
                                    <span title="点击取消选中" style="color:blue;cursor: pointer; font-weight: 800;margin-right:20px;">不选</span>
                                    </label>
									<input id="v-edita8" class="magic-radio" type="radio"
										value="正常" name="d8" ng-checked="verticalOneData.d8=='正常'"> <label
										for="v-edita8"><span>正常</span></label> <input id="v-editb8"
										class="magic-radio" type="radio" value="异常" name="d8" ng-checked="verticalOneData.d8=='异常'">
										<label for="v-editb8"><span>异常</span></label></td>
									<td><input type="text" ng-model="verticalOneData.comment8" name="comment8"></td>
								</tr>
								<tr>
                                    <td rowspan="6">主体设备</td>
                                    <td >基站运行状态</td>
                                    <td>基站设备是否正常运行（供电是否正常，设备有无明显告警）</td>
                                      <td>
                                      <input id="dd9" ng-show="false" type="radio" value="正常-" name="d9" ng-checked="verticalOneData.d9=='正常-'"> 
                                    <label for="dd9">
                                    <span title="点击取消选中" style="color:blue;cursor: pointer; font-weight: 800;margin-right:20px;">不选</span>
                                    </label>
                                      <input id="v-edita9" class="magic-radio" type="radio"
                                        value="正常" name="d9" ng-checked="verticalOneData.d9=='正常'"> <label
                                        for="v-edita9"><span>正常</span></label> <input id="v-editb9"
                                        class="magic-radio" type="radio" value="异常" name="d9" ng-checked="verticalOneData.d9=='异常'">
                                        <label for="v-editb9"><span>异常</span></label></td>
                                    <td><input type="text" ng-model="verticalOneData.comment9" name="comment9"></td>
                                </tr>
                                <tr>
                                    <td>告警确认</td>
                                    <td>与监控后台联系确认设备运行是否正常</td>
                                    <td>
                                      <input id="dd10" ng-show="false" type="radio" value="正常-" name="d10" ng-checked="verticalOneData.d10=='正常-'"> 
                                    <label for="dd10">
                                    <span title="点击取消选中" style="color:blue;cursor: pointer; font-weight: 800;margin-right:20px;">不选</span>
                                    </label>
                                    <input id="v-edita10" class="magic-radio" type="radio"
                                        value="正常" name="d10" ng-checked="verticalOneData.d10=='正常'"> <label
                                        for="v-edita10"><span>正常</span></label> <input id="v-editb10"
                                        class="magic-radio" type="radio" value="异常" name="d10" ng-checked="verticalOneData.d10=='异常'">
                                        <label for="v-editb10"><span>异常</span></label></td>
                                    <td><input type="text" ng-model="verticalOneData.comment10" name="comment10"></td>
                                </tr>
                                <tr>
                                    <td>风扇运行检查</td>
                                    <td>设备风扇运转动是否正常</td>
                                       <td>
                                         <input id="dd11" ng-show="false" type="radio" value="正常-" name="d11" ng-checked="verticalOneData.d11=='正常-'"> 
                                    <label for="dd11">
                                    <span title="点击取消选中" style="color:blue;cursor: pointer; font-weight: 800;margin-right:20px;">不选</span>
                                    </label>
                                       <input id="v-edita11" class="magic-radio" type="radio"
                                        value="正常" name="d11" ng-checked="verticalOneData.d11=='正常'"> <label
                                        for="v-edita11"><span>正常</span></label> <input id="v-editb11"
                                        class="magic-radio" type="radio" value="异常" name="d11" ng-checked="verticalOneData.d11=='异常'">
                                        <label for="v-editb11"><span>异常</span></label></td>
                                    <td><input type="text" ng-model="verticalOneData.comment11" name="comment11"></td>
                                </tr>
                                 <tr>
                                    <td>检查各连线状态</td>
                                    <td>设备连线是否正常（电源/信号是否分开，连线接触是否良好）</td>
                                    <td>
                                      <input id="dd12" ng-show="false" type="radio" value="正常-" name="d12" ng-checked="verticalOneData.d12=='正常-'"> 
                                    <label for="dd12">
                                    <span title="点击取消选中" style="color:blue;cursor: pointer; font-weight: 800;margin-right:20px;">不选</span>
                                    </label>
                                    <input id="v-edita12" class="magic-radio" type="radio"
                                        value="正常" name="d12" ng-checked="verticalOneData.d12=='正常'"> <label
                                        for="v-edita12"><span>正常</span></label> <input id="v-editb12"
                                        class="magic-radio" type="radio" value="异常" name="d12" ng-checked="verticalOneData.d12=='异常'">
                                        <label for="v-editb12"><span>异常</span></label></td>
                                    <td><input type="text" ng-model="verticalOneData.comment12" name="comment12"></td>
                                </tr>
                                 <tr>
                                    <td>设备加固</td>
                                    <td>各设备加固是否正常</td>
                                      <td>
                                        <input id="dd13" ng-show="false" type="radio" value="正常-" name="d13" ng-checked="verticalOneData.d13=='正常-'"> 
                                    <label for="dd13">
                                    <span title="点击取消选中" style="color:blue;cursor: pointer; font-weight: 800;margin-right:20px;">不选</span>
                                    </label>
                                      <input id="v-edita13" class="magic-radio" type="radio"
                                        value="正常" name="d13" ng-checked="verticalOneData.d13=='正常'"> <label
                                        for="v-edita13"><span>正常</span></label> <input id="v-editb13"
                                        class="magic-radio" type="radio" value="异常" name="d13" ng-checked="verticalOneData.d13=='异常'">
                                        <label for="v-editb13"><span>异常</span></label></td>
                                    <td><input type="text" ng-model="verticalOneData.comment13" name="comment13"></td>
                                </tr>
                                 <tr>
                                    <td>设备温度</td>
                                    <td>各设备温度是否正常</td>
                                      <td>
                                        <input id="dd14" ng-show="false" type="radio" value="正常-" name="d14" ng-checked="verticalOneData.d14=='正常-'"> 
                                    <label for="dd14">
                                    <span title="点击取消选中" style="color:blue;cursor: pointer; font-weight: 800;margin-right:20px;">不选</span>
                                    </label>
                                      <input id="v-edita14" class="magic-radio" type="radio"
                                        value="正常" name="d14" ng-checked="verticalOneData.d14=='正常'"> <label
                                        for="v-edita14"><span>正常</span></label> <input id="v-editb14"
                                        class="magic-radio" type="radio" value="异常" name="d14" ng-checked="verticalOneData.d14=='异常'">
                                        <label for="v-editb14"><span>异常</span></label></td>
                                    <td><input type="text" ng-model="verticalOneData.comment14" name="comment14"></td>
                                </tr>
                                <tr>
                                    <td rowspan="2">空调</td>
                                    <td>制冷效果</td>
                                    <td>空调制冷效果是否正常</td>
                                     <td>
                                       <input id="dd15" ng-show="false" type="radio" value="正常-" name="d15" ng-checked="verticalOneData.d15=='正常-'"> 
                                    <label for="dd15">
                                    <span title="点击取消选中" style="color:blue;cursor: pointer; font-weight: 800;margin-right:20px;">不选</span>
                                    </label>
                                     <input id="v-edita15" class="magic-radio" type="radio"
                                        value="正常" name="d15" ng-checked="verticalOneData.d15=='正常'"> <label
                                        for="v-edita15"><span>正常</span></label> <input id="v-editb15"
                                        class="magic-radio" type="radio" value="异常" name="d15" ng-checked="verticalOneData.d15=='异常'">
                                        <label for="v-editb15"><span>异常</span></label></td>
                                    <td><input type="text" ng-model="verticalOneData.comment15" name="comment15"></td>
                                </tr>
                                 <tr>
                                    <td>温度设置</td>
                                    <td>机房温度是否正常（建议25℃，最终情况以机房环境为主））</td>
                                     <td>
                                       <input id="dd16" ng-show="false" type="radio" value="正常-" name="d16" ng-checked="verticalOneData.d16=='正常-'"> 
                                    <label for="dd16">
                                    <span title="点击取消选中" style="color:blue;cursor: pointer; font-weight: 800;margin-right:20px;">不选</span>
                                    </label>
                                     <input id="v-edita16" class="magic-radio" type="radio"
                                        value="正常" name="d16" ng-checked="verticalOneData.d16=='正常'"> <label
                                        for="v-edita16"><span>正常</span></label> <input id="v-editb16"
                                        class="magic-radio" type="radio" value="异常" name="d16" ng-checked="verticalOneData.d16=='异常'">
                                        <label for="v-editb16"><span>异常</span></label></td>
                                    <td><input type="text" ng-model="verticalOneData.comment16" name="comment16"></td>
                                </tr>
                                 <tr>
                                    <td>功能</td>
                                    <td>呼叫功能</td>
                                    <td>语音呼叫测试是否正常</td>
                                    <td>
                                      <input id="dd17" ng-show="false" type="radio" value="正常-" name="d17" ng-checked="verticalOneData.d17=='正常-'"> 
                                    <label for="dd17">
                                    <span title="点击取消选中" style="color:blue;cursor: pointer; font-weight: 800;margin-right:20px;">不选</span>
                                    </label>
                                    <input id="v-edita17" class="magic-radio" type="radio"
                                        value="正常" name="d17" ng-checked="verticalOneData.d17=='正常'"> <label
                                        for="v-edita17"><span>正常</span></label> <input id="v-editb17"
                                        class="magic-radio" type="radio" value="异常" name="d17" ng-checked="verticalOneData.d17=='异常'">
                                        <label for="v-editb17"><span>异常</span></label></td>
                                    <td><input type="text" ng-model="verticalOneData.comment17" name="comment17"></td>
                                </tr>
                                <tr>
                                    <td>遗留问题</td>
                                    <td colspan="4"><input type="text" name="question" ng-model="verticalOneData.question"></td>
                                </tr>




							</table>
						</form>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" class="btn btn-success btn-sm"
					id="edit_vertical_btn">
					<i class="fa fa-plus"></i>&nbsp;修改
				</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#edit_vertical_btn").click(function() {
		var a = $("#editVerticalForm").find("input[name='commitdate']").val();
		var b = $("#editVerticalForm").find("input[name='checkman']").val();
		var c = $("#editVerticalForm").find("input[name='name']").val();
		if (a == "" || b == "" || c == "") {
			toastr.error("基站名称，巡检人和时间不能为空", '提示');
			return;
		}

		xh.edit_vertical();
	});
</script>
