<!DOCTYPE html>
<html>
<head>
<title>巡检记录</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<link href="../../Resources/css/bootstrap-select.css" rel="stylesheet"
	type="text/css">
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
<script language="javascript" src="../../Resources/js/LodopFuncs.js"></script>
<object id="LODOP_OB"
	classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>
	<embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>
</object>
<style type="text/css">
input[type="text"] {
	width: 100%;
}
.info-bs li {
	float: left;
	margin-right: 10px;
}

.input-div div {
	float: left;
	margin-left: 5px;
}

.vertical-tab li {
	
}

.select-style {
	background: #fff;
}
</style>
</head>
<body ng-app="app" ng-controller="xhcontroller" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>

	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>运维管理</span></li>
							<li class="active"><span>巡检记录</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">

			<div class="row">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-body">
							<div class="col-xs-12">
								<!-- <ul class="nav nav-tab"  id="xh-tabs">
									<li  class="active"><a href="#sbs" data-toggle="tab"
										ng-click='sbs_refresh()' > 基站巡检</a></li>

									<li><a href="#net" data-toggle="tab"
										ng-click='net_refresh()' > 网管巡检</a></li>
									<li><a href="#dispatch" data-toggle="tab"
										ng-click='dispatch_refresh()' > 调度台巡检</a></li>
									<li><a href="#msc" data-toggle="tab"
										ng-click='msc_refresh()' > 交换中心巡检</a></li>
								</ul> -->
								<ul class="nav nav-tabs">
									<li class="active"><a href="#sbs" data-toggle="tab"
										ng-click='sbs_refresh()'> 基站巡检</a></li>

									<li><a href="#vertical" data-toggle="tab"
										ng-click='vertical_refresh()'>直放站巡检</a></li>
									<li><a href="#room" data-toggle="tab"
										ng-click='room_refresh()'>室内覆盖巡检</a></li>
									<li><a href="#star" data-toggle="tab"
										ng-click='star_refresh()'>卫星通信车载便携站巡检</a></li>

									<li><a href="#net" data-toggle="tab"
										ng-click='net_refresh()'> 网管巡检</a></li>
									<li><a href="#dispatch" data-toggle="tab"
										ng-click='dispatch_refresh()'> 调度台巡检</a></li>
									<li><a href="#msc" data-toggle="tab"
										ng-click='msc_refresh()'> 交换中心巡检</a></li>
									<li><a href="#" data-toggle="modal"
										data-target="#excel-month-inspection"><i
											class="fa fa-file-excel-o  text-danger"></i> 导出巡检汇总表</a></li>

								</ul>
							</div>
							<div class="tab-content col-xs-12" style="padding:20px">

								<!-- group -->
								<div class="tab-pane fade in active" id="sbs">
									<div class="row">
										<div class="form-group col-md-2">
											<label>开始时间</label>
											<div>
												<input type="text" class="form-control" ng-model="nowDay"
													id="start_time" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"
													placeholder="选择时间">
											</div>
										</div>
										<div class="form-group col-md-2">
                                            <label>结束时间</label>
                                            <div>
                                                <input type="text" class="form-control"
                                                    id="end_time" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"
                                                    placeholder="选择时间">
                                            </div>
                                        </div>

										<div class="btn-group col-md-8" style="padding-top:24px;">
											<button type="submit" class="btn btn-sm btn-primary"
												ng-click="sbs_refresh()">
												<i class="fa fa-search"></i>&nbsp;&nbsp;查询
											</button>
											<button type="submit" class="btn btn-sm btn-success"
												data-target="#addSbsWin" data-toggle="modal">
												<i class="fa fa-plus"></i>&nbsp;&nbsp;新增基站巡检记录
											</button>
											<button type="submit" class="btn btn-sm btn-danger"
												ng-click="excel_batch(1)">
												<i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;批量导出巡检记录
											</button>

										</div>

									</div>
									<div class="row">
										<div class="col-md-12">
											<p>
												本月应巡检基站总数<span
													style="color:green;font-weight: 800;font-size: 14pt">{{sbsAllTotals}}</span>个，
												当前巡检基站总数<span
													style="color:red;font-weight: 800;font-size: 14pt">{{sbsTotals}}</span>个
											</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="hpanel">
												<!-- <div class="panel-heading"
													style="color:#000;border-left:2px solid green">800M移动基站巡检记录</div> -->
												<div class="panel-body">
													<table id="tb-info" class="xh-table table-hover"
														style="table-layout：fixed">
														<thead>
															<tr class="tr-gray">
																<th width="30px"><input type="checkbox"
																	id="table-checkbox" class="table-check" /></th>
																<th>基站</th>
																<th>基站级别</th>
																<th>机房类型</th>
																<th>遗留问题</th>
																<th>巡检人员</th>
																<th width="180px">巡检时间</th>
																<th>GPS定位</th>
																<th>定位精度</th>
																<th width="200">操作</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-if="sbsTotals==0">
																<td colspan="11" class="text-center">没有记录！</td>
															</tr>
															<tr ng-repeat="x in sbsData">
																<td><input type="checkbox" name="tb-check" id="bs-check"
																	value="{{x.id}}" index="{{$index}}" />
												
																	</td>
																<td>
																<span ng-if="x.c1!='' || x.c2!='' || x.c3!='' || x.c4!='' || x.c5!='' 
																|| x.c6!='' || x.c7!='' || x.c8!='' || x.c9!='' || x.c10!='' || x.c11!='' || x.c12!='' || x.c13!='' 
																|| x.c14!='' || x.c15!='' || x.c16!='' || x.c17!='' || x.c18!='' || x.c19!='' || x.c20!='' 
																|| x.c21!='' || x.c22!='' || x.c23!='' || x.c24!='' || x.c25!='' || x.c26!='' || x.c27!='' 
																|| x.c28!=''"><img src='../../Resources/images/icon/16/1.png'></span>
																
																{{x.bsid}}-{{x.bsname}}</td>

																<td>{{x.level}}</td>
																<td><span
																	ng-if="x.hometype=='移动' || x.hometype=='电信' || x.hometype=='铁塔'">运营商机房</span>
																	<span ng-if="x.hometype=='自建'">自建机房</span> <span
																	ng-if="x.hometype=='租赁'">租赁机房</span></td>
																<td>{{x.remainwork}}</td>
																<td>{{x.checkman}}</td>
																<td>{{x.commitdate |timeFormat}}</td>
																<td>{{x.address}}</td>
																<td>{{x |py}}</td>
																<td><a href="#" ng-click="showSbsWin($index)"
																	class="text-danger"> <i
																		class="fa fa-info text-danger"></i>&nbsp;详细
																</a>| <a href="#" ng-click="showSbsEditWin($index)"
																	class="text-danger"> <i
																		class="fa fa-edit text-danger"></i>&nbsp;编辑
																</a> <a href="#" ng-click="del_bs($index)"
																	class="text-danger" ng-if="up.o_delete=='on'"> <i
																		class="fa fa-delete text-danger"></i>|&nbsp;删除
																</a> <a href="#"
																	ng-click="bs_month_inspection_excel($index)"
																	class="text-danger"> <i
																		class="fa fa-file-excel-o text-danger"></i>|&nbsp;导出
																</a></td>
															</tr>
														</tbody>
													</table>

												</div>
												<div class="panel-footer">
													<div class="page" style="margin-top:0;height:40px;">
														<div class="page-info">
															每页显示 <select id="page-limit-sbs"
																ng-change="sbs_refresh()" ng-model="count">
																<option value="15">15</option>
																<option value="20">20</option>
																<option value="30">30</option>
																<option value="40">40</option>
																<option value="50">50</option>
																<option value="500">500</option>
															</select> 条, <span ng-model="index">显示{{sbs_start}}-</span> <span>{{sbs_lastIndex}}条,</span>
															<span>总计{{sbsTotals}}条</span>
														</div>
														<div class="page-paging sbs-page-paging"></div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="net">
									<div class="row">
										<div class="form-group col-md-2">
											<label for="starttime">选择月</label>
											<div>
												<input type="text" class="form-control" ng-model="time"
													id="month_net" onfocus="WdatePicker({dateFmt:'yyyy-MM'})"
													placeholder="选择月份">
											</div>
										</div>



										<div class="btn-group col-md-10" style="padding-top:24px;">
											<button type="submit" class="btn btn-sm btn-primary"
												ng-click="net_refresh()">
												<i class="fa fa-search"></i>&nbsp;&nbsp;查询
											</button>
											<button type="submit" class="btn btn-sm btn-success"
												ng-click="showNetAddWin()">
												<i class="fa fa-plus"></i>&nbsp;&nbsp;新增网管巡检记录
											</button>
											<button type="submit" class="btn btn-sm btn-danger"
                                                ng-click="excel_batch(5)">
                                                <i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;批量导出巡检记录
                                            </button>


										</div>

									</div>
									<div class="row">

										<div class="col-md-12">
											<div class="hpanel">
												<!-- <div class="panel-heading"
													style="color:#000;border-left:2px solid green">800M移动基站巡检记录</div> -->
												<div class="panel-body">
													<table id="tb-info" class="xh-table table-hover"
														style="table-layout：fixed">
														<thead>
															<tr class="tr-gray">
															 <th width="30px"><input type="checkbox" class="table-check" /></th>
																<th>网管名称</th>
																<th>地点</th>
																<th>巡检人员</th>
																<th width="180px">巡检时间</th>
																<th>GPS定位</th>
																<th width="200">操作</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-if="netTotals==0">
																<td colspan="7" class="text-center">没有记录！</td>
															</tr>
															<tr ng-repeat="x in netData">
															<td><input type="checkbox" name="tb-check" id="n-check"
                                                                    value="{{x.id}}" index="{{$index}}" /></td>
																<td>{{x.managername}}</td>

																<td>{{x.managerplace}}</td>
																<td>{{x.checkman}}</td>
																<td>{{x.commitdate |timeFormat}}</td>
																<td>{{x.address}}</td>
																<td><a href="#" ng-click="showNetWin($index)"
																	class="text-danger"> <i
																		class="fa fa-info text-danger"></i>&nbsp;详细
																</a> <a href="#" ng-click="showNetEditWin($index)"
																	class="text-danger" ng-if="up.o_update=='on'"> <i
																		class="fa fa-edit text-danger"></i>|&nbsp;编辑
																</a> <a href="#" ng-click="del_net($index)"
																	class="text-danger" ng-if="up.o_delete=='on'"> <i
																		class="fa fa-delete text-danger"></i>|&nbsp;删除
																</a> <a href="#" ng-click="excelToNet($index)"
																	class="text-danger"> <i
																		class="fa fa-file-excel-o text-danger"></i>|&nbsp;导出
																</a></td>
															</tr>
														</tbody>
													</table>

												</div>
												<div class="panel-footer">
													<div class="page" style="margin-top:0;height:40px;">
														<div class="page-info">
															每页显示 <select id="page-limit-net"
																ng-change="net_refresh()" ng-model="count">
																<option value="15">15</option>
																<option value="20">20</option>
																<option value="30">30</option>
																<option value="40">40</option>
																<option value="50">50</option>
																<option value="500">500</option>
															</select> 条, <span>显示{{net_start}}-</span> <span>{{net_lastIndex}}条,</span>
															<span>总计{{netTotals}}条</span>
														</div>
														<div class="page-paging net-page-paging"></div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
								<!-- radio -->
								<div class="tab-pane fade" id="dispatch">
									<div class="row">
										<div class="form-group col-md-2">
											<label for="starttime">选择月</label>
											<div>
												<input type="text" class="form-control" ng-model="time"
													id="month_dispatch"
													onfocus="WdatePicker({dateFmt:'yyyy-MM'})"
													placeholder="选择月份">
											</div>
										</div>
										<div class="btn-group col-md-10" style="padding-top:24px;">
											<button type="submit" class="btn btn-sm btn-primary"
												ng-click="dispatch_refresh()">
												<i class="fa fa-search"></i>&nbsp;&nbsp;查询
											</button>
											<button type="submit" class="btn btn-sm btn-success"
												ng-click="showDispatchAddWin()">
												<i class="fa fa-plus"></i>&nbsp;&nbsp;新增调度台巡检记录
											</button>
											<button type="submit" class="btn btn-sm btn-danger"
                                                ng-click="excel_batch(6)">
                                                <i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;批量导出巡检记录
                                            </button>

										</div>

									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="hpanel">
												<!-- <div class="panel-heading"
													style="color:#000;border-left:2px solid green">800M移动基站巡检记录</div> -->
												<div class="panel-body">
													<table id="tb-info" class="xh-table table-hover"
														style="table-layout：fixed">
														<thead>
															<tr class="tr-gray">
															<th width="30px"><input type="checkbox" class="table-check" /></th>
																<th>调度台名称</th>
																<th>地点</th>
																<th>巡检人员</th>
																<th width="180px">巡检时间</th>
																<th>GPS定位</th>
																<th width="200">操作</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-if="dispatchTotals==0">
																<td colspan="7" class="text-center">没有记录！</td>
															</tr>
															<tr ng-repeat="x in dispatchData">
															 
															     <td><input type="checkbox" name="tb-check" id="d-check"
                                                                    value="{{x.id}}" index="{{$index}}" /></td>
																<td>{{x.dispatchname}}</td>

																<td>{{x.dispatchplace}}</td>
																<td>{{x.checkman}}</td>
																<td>{{x.commitdate |timeFormat}}</td>
																<td>{{x.address}}</td>
																<td><a href="#" ng-click="showDispatchWin($index)"
																	class="text-danger"> <i
																		class="fa fa-info text-danger"></i>&nbsp;详细
																</a><a href="#" ng-click="showDispatchEditWin($index)"
																	class="text-danger" ng-if="up.o_update=='on'"> <i
																		class="fa fa-edit text-danger"></i>|&nbsp;编辑
																</a> <a href="#" ng-click="del_dispatch($index)"
																	class="text-danger" ng-if="up.o_delete=='on'"> <i
																		class="fa fa-delete text-danger"></i>|&nbsp;删除
																</a> <a href="#" ng-click="excelToDispatch($index)"
																	class="text-danger"> <i
																		class="fa fa-file-excel-o text-danger"></i>|&nbsp;导出
																</a></td>
															</tr>
														</tbody>
													</table>

												</div>
												<div class="panel-footer">
													<div class="page" style="margin-top:0;height:40px;">
														<div class="page-info">
															每页显示 <select id="page-limit-dispatch"
																ng-change="dispatch_refresh()" ng-model="count">
																<option value="15">15</option>
																<option value="20">20</option>
																<option value="30">30</option>
																<option value="40">40</option>
																<option value="50">50</option>
																<option value="500">500</option>
															</select> 条, <span>显示{{dispatch_start}}-</span> <span>{{dispatch_lastIndex}}条,</span>
															<span>总计{{dispatchTotals}}条</span>
														</div>
														<div class="page-paging dispatch-page-paging"></div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="msc">
									<div class="row">
										<div class="form-group col-md-2">
											<label for="starttime">选择年</label>
											<div>
												<input type="text" class="form-control" ng-model="year"
													id="month_msc" onfocus="WdatePicker({dateFmt:'yyyy'})"
													placeholder="选择年">
											</div>
										</div>

										<div class="btn-group col-md-10" style="padding-top:24px;">
											<button type="submit" class="btn btn-sm btn-primary"
												ng-click="msc_refresh()">
												<i class="fa fa-search"></i>&nbsp;&nbsp;查询
											</button>
											<button type="submit" class="btn btn-sm btn-success"
												data-target="#mscAddWin" data-toggle="modal">
												<i class="fa fa-plus"></i>&nbsp;&nbsp;新增交换中心巡检记录
											</button>
											<button type="submit" class="btn btn-sm btn-danger"
                                                ng-click="excel_batch(7)">
                                                <i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;批量导出巡检记录
                                            </button>

										</div>

									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="hpanel">
												<!-- <div class="panel-heading"
                                                    style="color:#000;border-left:2px solid green">800M移动基站巡检记录</div> -->
												<div class="panel-body">
													<table id="tb-info" class="xh-table table-hover"
														style="table-layout：fixed">
														<thead>
															<tr class="tr-gray">
															<th width="30px"><input type="checkbox" class="table-check" /></th>
																<th>系统名称</th>
																<th>地点</th>
																<th>巡检人员</th>
																<th width="180px">巡检时间</th>

																<th width="200">操作</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-if="mscTotals==0">
																<td colspan="6" class="text-center">没有记录！</td>
															</tr>
															<tr ng-repeat="x in mscData">

																<td><input type="checkbox" name="tb-check"
																	id="m-check" value="{{x.id}}" index="{{$index}}" /></td>
																<td>{{x.name}}</td>

																<td>{{x.address}}</td>
																<td>{{x.checkPersion}}</td>
																<td>{{x.checkDate}}</td>
																<td><a href="#" ng-click="showMscWin($index)"
																	class="text-danger"> <i
																		class="fa fa-info text-danger"></i>&nbsp;详细
																</a><a href="#" ng-click="showMscEditWin($index)"
																	class="text-danger" ng-if="up.o_update=='on'"> <i
																		class="fa fa-edit text-danger"></i>|&nbsp;编辑
																</a> <a href="#" ng-click="del_msc($index)"
																	class="text-danger" ng-if="up.o_delete=='on'"> <i
																		class="fa fa-delete text-danger"></i>|&nbsp;删除
																</a> <a href="#" ng-click="excelToMsc($index)"
																	class="text-danger"> <i
																		class="fa fa-file-excel-o text-danger"></i>|&nbsp;导出
																</a></td>
															</tr>
														</tbody>
													</table>

												</div>
												<div class="panel-footer">
													<div class="page" style="margin-top:0;height:40px;">
														<div class="page-info">
															每页显示 <select id="page-limit-msc"
																ng-change="msc_refresh()" ng-model="count">
																<option value="15">15</option>
																<option value="20">20</option>
																<option value="30">30</option>
																<option value="40">40</option>
																<option value="50">50</option>
																<option value="500">500</option>
															</select> 条, <span>显示{{msc_start}}-</span> <span>{{msc_lastIndex}}条,</span>
															<span>总计{{mscTotals}}条</span>
														</div>
														<div class="page-paging msc-page-paging"></div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
								<!-- 交换中心 -->

								<!-- 直放站巡检 -->
								<div class="tab-pane fade" id="vertical">
									<div class="row">
										<div class="form-group col-md-2">
											<label for="starttime">选择月</label>
											<div>
												<input type="text" class="form-control" ng-model="time"
													id="month_vertical"
													onfocus="WdatePicker({dateFmt:'yyyy-MM'})"
													placeholder="选择月份">
											</div>
										</div>



										<div class="btn-group col-md-10" style="padding-top:24px;">
											<button type="submit" class="btn btn-sm btn-primary"
												ng-click="vertical_refresh()">
												<i class="fa fa-search"></i>&nbsp;&nbsp;查询
											</button>
											<button type="submit" class="btn btn-sm btn-success"
												ng-click="showVerticalAddWin()">
												<i class="fa fa-plus"></i>&nbsp;&nbsp;新增直放站巡检记录
											</button>
											<button type="submit" class="btn btn-sm btn-danger"
                                                ng-click="excel_batch(2)">
                                                <i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;批量导出巡检记录
                                            </button>


										</div>

									</div>
									<div class="row">

										<div class="col-md-12">
											<div class="hpanel">
												<!-- <div class="panel-heading"
                                                    style="color:#000;border-left:2px solid green">800M移动基站巡检记录</div> -->
												<div class="panel-body">
													<table id="tb-info" class="xh-table table-hover"
														style="table-layout：fixed">
														<thead>
															<tr class="tr-gray">
															    <th width="30px"><input type="checkbox" class="table-check" /></th>
																<th>直放站名称</th>
																<th>电表读数</th>
																<th>巡检人员</th>
																<th width="180px">巡检时间</th>
																<th width="200">操作</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-if="verticalTotals==0">
																<td colspan="6" class="text-center">没有记录！</td>
															</tr>
															<tr ng-repeat="x in verticalData">
															    <td><input type="checkbox" name="tb-check" id="v-check"
                                                                    value="{{x.id}}" index="{{$index}}" /></td>
																<td>{{x.name}}</td>

																<td>{{x.ammeternumber}}</td>
																<td>{{x.checkman}}</td>
																<td>{{x.commitdate}}</td>
																<td><a href="#" ng-click="showVerticalWin($index)"
																	class="text-danger"> <i
																		class="fa fa-info text-danger"></i>&nbsp;详细
																</a> <a href="#" ng-click="showVerticalEditWin($index)"
																	class="text-danger" ng-if="up.o_update=='on'"> <i
																		class="fa fa-edit text-danger"></i>|&nbsp;编辑
																</a> <a href="#" ng-click="del_vertical($index)"
																	class="text-danger" ng-if="up.o_delete=='on'"> <i
																		class="fa fa-delete text-danger"></i>|&nbsp;删除
																</a> <a href="#" ng-click="excelToVertical($index)"
																	class="text-danger"> <i
																		class="fa fa-file-excel-o text-danger"></i>|&nbsp;导出
																</a></td>
															</tr>
														</tbody>
													</table>

												</div>
												<div class="panel-footer">
													<div class="page" style="margin-top:0;height:40px;">
														<div class="page-info">
															每页显示 <select id="page-limit-vertical"
																ng-change="vertical_refresh()" ng-model="count">
																<option value="15">15</option>
																<option value="20">20</option>
																<option value="30">30</option>
																<option value="40">40</option>
																<option value="50">50</option>
																<option value="500">500</option>
															</select> 条, <span>显示{{vertical_start}}-</span> <span>{{vertical_lastIndex}}条,</span>
															<span>总计{{verticalTotals}}条</span>
														</div>
														<div class="page-paging vertical-page-paging"></div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>

								<!--          直放站 -->

								<!-- 室内覆盖巡检 -->
								<div class="tab-pane fade" id="room">
									<div class="row">
										<div class="form-group col-md-2">
											<label for="starttime">选择月</label>
											<div>
												<input type="text" class="form-control" ng-model="time"
													id="month_room" onfocus="WdatePicker({dateFmt:'yyyy-MM'})"
													placeholder="选择月份">
											</div>
										</div>



										<div class="btn-group col-md-10" style="padding-top:24px;">
											<button type="submit" class="btn btn-sm btn-primary"
												ng-click="room_refresh()">
												<i class="fa fa-search"></i>&nbsp;&nbsp;查询
											</button>
											<button type="submit" class="btn btn-sm btn-success"
												ng-click="showRoomAddWin()">
												<i class="fa fa-plus"></i>&nbsp;&nbsp;新增室内覆盖站巡检记录
											</button>
											<button type="submit" class="btn btn-sm btn-danger"
                                                ng-click="excel_batch(3)">
                                                <i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;批量导出巡检记录
                                            </button>


										</div>

									</div>
									<div class="row">

										<div class="col-md-12">
											<div class="hpanel">
												<!-- <div class="panel-heading"
                                                    style="color:#000;border-left:2px solid green">800M移动基站巡检记录</div> -->
												<div class="panel-body">
													<table id="tb-info" class="xh-table table-hover"
														style="table-layout：fixed">
														<thead>
															<tr class="tr-gray">
															<th width="30px"><input type="checkbox" class="table-check" /></th>
																<th>室内覆盖站名称</th>
																<th>电表读数</th>
																<th>巡检人员</th>
																<th width="180px">巡检时间</th>
																<th width="200">操作</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-if="starTotals==0">
																<td colspan="6" class="text-center">没有记录！</td>
															</tr>
															<tr ng-repeat="x in roomData">
															 <td><input type="checkbox" name="tb-check" id="r-check"
                                                                    value="{{x.id}}" index="{{$index}}" /></td>
																<td>{{x.name}}</td>

																<td>{{x.ammeternumber}}</td>
																<td>{{x.checkman}}</td>
																<td>{{x.commitdate}}</td>
																<td><a href="#" ng-click="showRoomWin($index)"
																	class="text-danger"> <i
																		class="fa fa-info text-danger"></i>&nbsp;详细
																</a> <a href="#" ng-click="showRoomEditWin($index)"
																	class="text-danger" ng-if="up.o_update=='on'"> <i
																		class="fa fa-edit text-danger"></i>|&nbsp;编辑
																</a> <a href="#" ng-click="del_room($index)"
																	class="text-danger" ng-if="up.o_delete=='on'"> <i
																		class="fa fa-delete text-danger"></i>|&nbsp;删除
																</a> <a href="#" ng-click="excelToRoom($index)"
																	class="text-danger"> <i
																		class="fa fa-file-excel-o text-danger"></i>|&nbsp;导出
																</a></td>
															</tr>
														</tbody>
													</table>

												</div>
												<div class="panel-footer">
													<div class="page" style="margin-top:0;height:40px;">
														<div class="page-info">
															每页显示 <select id="page-limit-room"
																ng-change="room_refresh()" ng-model="count">
																<option value="15">15</option>
																<option value="20">20</option>
																<option value="30">30</option>
																<option value="40">40</option>
																<option value="50">50</option>
																<option value="500">500</option>
															</select> 条, <span>显示{{room_start}}-</span> <span>{{room_lastIndex}}条,</span>
															<span>总计{{roomTotals}}条</span>
														</div>
														<div class="page-paging room-page-paging"></div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>

								<!--          室内覆盖站 -->

								<!-- 卫星通信车载便携站巡检 -->
								<div class="tab-pane fade" id="star">
									<div class="row">
										<div class="form-group col-md-2">
											<label for="starttime">选择月</label>
											<div>
												<input type="text" class="form-control" ng-model="time"
													id="month_star" onfocus="WdatePicker({dateFmt:'yyyy-MM'})"
													placeholder="选择月份">
											</div>
										</div>



										<div class="btn-group col-md-10" style="padding-top:24px;">
											<button type="submit" class="btn btn-sm btn-primary"
												ng-click="star_refresh()">
												<i class="fa fa-search"></i>&nbsp;&nbsp;查询
											</button>
											<button type="submit" class="btn btn-sm btn-success"
												ng-click="showStarAddWin()">
												<i class="fa fa-plus"></i>&nbsp;&nbsp;新增卫星通信车载便携站巡检记录
											</button>
											<button type="submit" class="btn btn-sm btn-danger"
                                                ng-click="excel_batch(4)">
                                                <i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;批量导出巡检记录
                                            </button>


										</div>

									</div>
									<div class="row">

										<div class="col-md-12">
											<div class="hpanel">
												<!-- <div class="panel-heading"
                                                    style="color:#000;border-left:2px solid green">800M移动基站巡检记录</div> -->
												<div class="panel-body">
													<table id="tb-info" class="xh-table table-hover"
														style="table-layout：fixed">
														<thead>
															<tr class="tr-gray">
															<th width="30px"><input type="checkbox" class="table-check" /></th>
															    <th>基站编号</th>
																<th>基站名称</th>
																<th>基站级别</th>
																<th>基站类型</th>
																<th>巡检人员</th>
																<th width="180px">巡检时间</th>
																<th width="200">操作</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-if="starTotals==0">
																<td colspan="8" class="text-center">没有记录！</td>
															</tr>
															<tr ng-repeat="x in starData">
															 <td><input type="checkbox" name="tb-check" id="s-check"
                                                                    value="{{x.id}}" index="{{$index}}" /></td>
																<td>{{x.bsId}}</td>
<td>{{x.name}}</td>
																<td>{{x.level}}</td>
																<td>{{x.type}}</td>
																<td>{{x.checkman}}</td>
																<td>{{x.commitdate}}</td>
																<td><a href="#" ng-click="showStarWin($index)"
																	class="text-danger"> <i
																		class="fa fa-info text-danger"></i>&nbsp;详细
																</a> <a href="#" ng-click="showStarEditWin($index)"
																	class="text-danger" ng-if="up.o_update=='on'"> <i
																		class="fa fa-edit text-danger"></i>|&nbsp;编辑
																</a> <a href="#" ng-click="del_star($index)"
																	class="text-danger" ng-if="up.o_delete=='on'"> <i
																		class="fa fa-delete text-danger"></i>|&nbsp;删除
																</a> <a href="#" ng-click="excelToStar($index)"
																	class="text-danger"> <i
																		class="fa fa-file-excel-o text-danger"></i>|&nbsp;导出
																</a></td>
															</tr>
														</tbody>
													</table>

												</div>
												<div class="panel-footer">
													<div class="page" style="margin-top:0;height:40px;">
														<div class="page-info">
															每页显示 <select id="page-limit-star"
																ng-change="star_refresh()" ng-model="count">
																<option value="15">15</option>
																<option value="20">20</option>
																<option value="30">30</option>
																<option value="40">40</option>
																<option value="50">50</option>
																<option value="500">500</option>
															</select> 条, <span>显示{{star_start}}-</span> <span>{{star_lastIndex}}条,</span>
															<span>总计{{starTotals}}条</span>
														</div>
														<div class="page-paging star-page-paging"></div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>

								<!--卫星通信车载便携站 -->


							</div>
						</div>
					</div>
					<!-- panel -->
				</div>
			</div>
			<!-- row---end -->

		</div>


	</div>
	<!-- 中间内容体 /-->
	<div class="modal fade" id="excel-month-inspection" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="color-line"></div>
				<div class="modal-header ">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<small class="font-bold">导出巡检汇总表</small>
				</div>
				<div class="modal-body pad-0" style="margin:2px;padding:2px;">
					<div class="row">

						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>时间</label>&nbsp; <input name="time" class="form-control"
									onfocus="WdatePicker({dateFmt:'yyyy-MM'})" required="required" />
							</div>
						</div>


					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger btn-sm"
						id="excel-month-inspection-btn" data-loading-text="数据导出中.."
						ng-click="inspection_month_excel()">
						<i class="fa "></i>&nbsp;导出
					</button>
					<button type="button" class="btn btn-danger btn-sm"
						data-dismiss="modal">
						<i class="fa fa-remove"></i>&nbsp;关闭
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<div ng-include="'appInspection-dispatch-detail.html'"></div>
	<div ng-include="'appInspection-dispatch-edit.html'"></div>
	<div ng-include="'appInspection-dispatch-add.html'"></div>
	<div ng-include="'appInspection-selfbs-detail.html'"></div>
	<div ng-include="'appInspection-selfbs-add.html'"></div>
	<div ng-include="'appInspection-selfbs-edit.html'"></div>
	<div ng-include="'appInspection-net-detail.html'"></div>
	<div ng-include="'appInspection-net-add.html'"></div>
	<div ng-include="'appInspection-net-edit.html'"></div>
	<div ng-include="'appInspection-msc-detail.html'"></div>
	<div ng-include="'appInspection-msc-add.html'"></div>
	<div ng-include="'appInspection-msc-edit.html'"></div>
	<div ng-include="'appInspection-msc-detail.html'"></div>
	<div ng-include="'appInspection-vertical-add.html'"></div>
	<div ng-include="'appInspection-vertical-edit.html'"></div>
	<div ng-include="'appInspection-vertical-detail.html'"></div>
	<div ng-include="'appInspection-room-add.html'"></div>
	<div ng-include="'appInspection-room-edit.html'"></div>
	<div ng-include="'appInspection-room-detail.html'"></div>
	<div ng-include="'appInspection-star-add.html'"></div>
	<div ng-include="'appInspection-star-edit.html'"></div>
	<div ng-include="'appInspection-star-detail.html'"></div>
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="../../Resources/js/bootstrap-select.js">
		
	</script>
	<script type="text/javascript"
		src="../../lib/metisMenu/dist/metisMenu.min.js"></script>
	<script type="text/javascript"
		src="../../Controllers/operations/appInspection.js"></script>
	<!-- <script type="text/javascript" src="../../Resources/js/51WebPrinter.js"></script> -->

	<script type="text/javascript">
		xh.load();
	</script>
	<script language="javascript" type="text/javascript">
		
	</script>
</body>
</html>
