
<div class="modal fade" id="roomAddWin" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-llg">
		<div class="modal-content">
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<!-- <small class="font-bold">自建基站巡检表</small> -->
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">

				<div class="row" style="margin-top:5px;">
					<div class="col-md-12">
						<form action="#" id="addRoomForm" onSubmit="return false">
							<table style="width:100%;border-collapse: collapse;"
								class="table-view">

								<tr>
									<td colspan="8" style="text-align: center;">室内覆盖站巡检表</td>
								</tr>
								<tr>
									<td style="width:10%;">基站名称</td>
									<td style="width:20%;color:blue">
									<div class="col-lg-12">
                                            <select ng-model="rd"
                                                class="form-control"
                                                data-live-search="true" ng-init="rd = roomListData[0]"
                                                ng-options="x.name for x in roomListData">
                                            </select> <input name="name" ng-model="rd.name" ng-show="false">
                                        </div>
									</td>
									<td style="width:20%;">巡检人</td>
									<td style="width:15%;color:blue"><input type="text"
										name="checkman"></td>

								</tr>
								<tr>
									<td style="width:13%;">巡检时间</td>
									<td style="width:20%;color:blue"><input type="text"
										name="commitdate"
										onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"></td>
									<td style="width:10%;">电表数</td>
									<td style="width:15%;color:blue"><input type="text"
										name="ammeternumber"></td>
								</tr>

								<tr style="font-weight:700;">
									<td>巡检项目</td>
									<td>具体项目</td>
									<td>具体操作</td>
									<td>执行情况</td>
									<td>备注</td>
								</tr>


								<tr>
									<td rowspan="2">基站清洁</td>
									<td>机房清洁</td>
									<td>清洁机房内门窗、地面、墙面卫生</td>
									<td><input id="v-adda1" class="magic-radio" type="radio"
										value="执行" name="d1" ng-checked="true"> <label
										for="v-adda1"><span>执行</span></label> <input id="v-addb1"
										class="magic-radio" type="radio" value="未执行" name="d1">
										<label for="v-addb1"><span>未执行</span></label></td>
									<td><input type="text" name="comment1"></td>
								</tr>
								<tr>
									<td>设备除尘</td>
									<td>清洁设备表面及内部</td>
									<td><input id="v-adda2" class="magic-radio" type="radio"
										value="执行" name="d2" ng-checked="true"> <label
										for="v-adda2"><span>执行</span></label> <input id="v-addb2"
										class="magic-radio" type="radio" value="未执行" name="d2">
										<label for="v-addb2"><span>未执行</span></label></td>
									<td><input type="text" name="comment2"></td>
								</tr>

								<tr>
									<td rowspan="6">基站环境</td>
									<td rowspan="3">基站安全</td>
									<td>门锁、门窗是否完好</td>
									   <td><input id="v-adda3" class="magic-radio" type="radio"
                                        value="安全" name="d3" ng-checked="true"> <label
                                        for="v-adda3"><span>安全</span></label> <input id="v-addb3"
                                        class="magic-radio" type="radio" value="有隐患" name="d3">
                                        <label for="v-addb3"><span>有隐患</span></label></td>
									<td><input type="text" name="comment3"></td>
								</tr>
								<tr>
									<td>清理可燃物</td>
									   <td><input id="v-adda4" class="magic-radio" type="radio"
                                        value="安全" name="d4" ng-checked="true"> <label
                                        for="v-adda4"><span>安全</span></label> <input id="v-addb4"
                                        class="magic-radio" type="radio" value="有隐患" name="d4">
                                        <label for="v-addb4"><span>有隐患</span></label></td>
									<td><input type="text" name="comment4"></td>
								</tr>
								<tr>
									<td>机房是否存在裂缝、渗水、漏水等情况</td>
									   <td><input id="v-adda5" class="magic-radio" type="radio"
                                        value="安全" name="d5" ng-checked="true"> <label
                                        for="v-adda5"><span>安全</span></label> <input id="v-addb5"
                                        class="magic-radio" type="radio" value="有隐患" name="d5">
                                        <label for="v-addb5"><span>有隐患</span></label></td>
									<td><input type="text" name="comment5"></td>
								</tr>
								<tr>
									<td rowspan="3">机房配套</td>
									<td>机房照明设施是否完好</td>
									   <td><input id="v-adda6" class="magic-radio" type="radio"
                                        value="安全" name="d6" ng-checked="true"> <label
                                        for="v-adda6"><span>安全</span></label> <input id="v-addb6"
                                        class="magic-radio" type="radio" value="有隐患" name="d6">
                                        <label for="v-addb6"><span>有隐患</span></label></td>
									<td><input type="text" name="comment6"></td>
								</tr>
								<tr>
									<td>机房插座是否有电</td>
									   <td><input id="v-adda7" class="magic-radio" type="radio"
                                        value="安全" name="d7" ng-checked="true"> <label
                                        for="v-adda7"><span>安全</span></label> <input id="v-addb7"
                                        class="magic-radio" type="radio" value="有隐患" name="d7">
                                        <label for="v-addb7"><span>有隐患</span></label></td>
									<td><input type="text" name="comment7"></td>
								</tr>
								<tr>
									<td>灭火设备是否完好</td>
									<td><input id="v-adda8" class="magic-radio" type="radio"
										value="安全" name="d8" ng-checked="true"> <label
										for="v-adda8"><span>安全</span></label> <input id="v-addb8"
										class="magic-radio" type="radio" value="有隐患" name="d8">
										<label for="v-addb8"><span>有隐患</span></label></td>
									<td><input type="text" name="comment8"></td>
								</tr>
								<tr>
                                    <td rowspan="6">主体设备</td>
                                    <td >基站运行状态</td>
                                    <td>基站设备是否正常运行，供电是否正常，设备有无明显告警</td>
                                      <td><input id="v-adda9" class="magic-radio" type="radio"
                                        value="正常" name="d9" ng-checked="true"> <label
                                        for="v-adda9"><span>正常</span></label> <input id="v-addb9"
                                        class="magic-radio" type="radio" value="异常" name="d9">
                                        <label for="v-addb9"><span>异常</span></label></td>
                                    <td><input type="text" name="comment9"></td>
                                </tr>
                                <tr>
                                    <td>告警确认</td>
                                    <td>通过与监控后台联系确认设备运行是否正常</td>
                                    <td><input id="v-adda10" class="magic-radio" type="radio"
                                        value="正常" name="d10" ng-checked="true"> <label
                                        for="v-adda10"><span>正常</span></label> <input id="v-addb10"
                                        class="magic-radio" type="radio" value="异常" name="d10">
                                        <label for="v-addb10"><span>异常</span></label></td>
                                    <td><input type="text" name="comment10"></td>
                                </tr>
                                <tr>
                                    <td>风扇运行检查</td>
                                    <td>检查风扇是否正常运转、无告警</td>
                                       <td><input id="v-adda11" class="magic-radio" type="radio"
                                        value="正常" name="d11" ng-checked="true"> <label
                                        for="v-adda11"><span>正常</span></label> <input id="v-addb11"
                                        class="magic-radio" type="radio" value="异常" name="d11">
                                        <label for="v-addb11"><span>异常</span></label></td>
                                    <td><input type="text" name="comment11"></td>
                                </tr>
                                 <tr>
                                    <td>检查各连线状态</td>
                                    <td>电源/信号/射频/地线/网线是否分开，机架内各连线是否接触良好并正确无误</td>
                                    <td><input id="v-adda12" class="magic-radio" type="radio"
                                        value="正常" name="d12" ng-checked="true"> <label
                                        for="v-adda12"><span>正常</span></label> <input id="v-addb12"
                                        class="magic-radio" type="radio" value="异常" name="d12">
                                        <label for="v-addb12"><span>异常</span></label></td>
                                    <td><input type="text" name="comment12"></td>
                                </tr>
                                 <tr>
                                    <td>设备加固</td>
                                    <td>各设备是否安装牢固</td>
                                      <td><input id="v-adda13" class="magic-radio" type="radio"
                                        value="正常" name="d13" ng-checked="true"> <label
                                        for="v-adda13"><span>正常</span></label> <input id="v-addb13"
                                        class="magic-radio" type="radio" value="异常" name="d13">
                                        <label for="v-addb13"><span>异常</span></label></td>
                                    <td><input type="text" name="comment13"></td>
                                </tr>
                                 <tr>
                                    <td>设备温度</td>
                                    <td>各设备是否有高温、异味</td>
                                      <td><input id="v-adda14" class="magic-radio" type="radio"
                                        value="正常" name="d14" ng-checked="true"> <label
                                        for="v-adda14"><span>正常</span></label> <input id="v-addb14"
                                        class="magic-radio" type="radio" value="异常" name="d14">
                                        <label for="v-addb14"><span>异常</span></label></td>
                                    <td><input type="text" name="comment14"></td>
                                </tr>
                                <tr>
                                    <td rowspan="2">空调</td>
                                    <td>制冷效果</td>
                                    <td>空调制冷效果是否正常</td>
                                     <td><input id="v-adda15" class="magic-radio" type="radio"
                                        value="正常" name="d15" ng-checked="true"> <label
                                        for="v-adda15"><span>正常</span></label> <input id="v-addb15"
                                        class="magic-radio" type="radio" value="异常" name="d15">
                                        <label for="v-addb15"><span>异常</span></label></td>
                                    <td><input type="text" name="comment15"></td>
                                </tr>
                                 <tr>
                                    <td>温度设置</td>
                                    <td>机房温度是否正常（建议空调设置25℃，最终情况以机房环境为主）</td>
                                     <td><input id="v-adda16" class="magic-radio" type="radio"
                                        value="正常" name="d16" ng-checked="true"> <label
                                        for="v-adda16"><span>正常</span></label> <input id="v-addb16"
                                        class="magic-radio" type="radio" value="异常" name="d16">
                                        <label for="v-addb16"><span>异常</span></label></td>
                                    <td><input type="text" name="comment16"></td>
                                </tr>
                                 <tr>
                                    <td>功能</td>
                                    <td>呼叫功能</td>
                                    <td>沿途呼叫测试</td>
                                    <td><input id="v-adda17" class="magic-radio" type="radio"
                                        value="正常" name="d17" ng-checked="true"> <label
                                        for="v-adda17"><span>正常</span></label> <input id="v-addb17"
                                        class="magic-radio" type="radio" value="异常" name="d17">
                                        <label for="v-addb17"><span>异常</span></label></td>
                                    <td><input type="text" name="comment17"></td>
                                </tr>
                                <tr>
                                    <td>遗留问题</td>
                                    <td colspan="4"><input type="text" name="question"></td>
                                </tr>




							</table>
						</form>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" class="btn btn-success btn-sm"
					id="add_room_btn">
					<i class="fa fa-plus"></i>&nbsp;新增
				</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#add_room_btn").click(function() {
		var a = $("#addRoomForm").find("input[name='commitdate']").val();
		var b = $("#addRoomForm").find("input[name='checkman']").val();
		var c = $("#addRoomForm").find("input[name='name']").val();
		if (a == "" || b == "" || c == "") {
			toastr.error("基站名称，巡检人和时间不能为空", '提示');
			return;
		}

		xh.add_room();
	});
</script>
