
<div class="modal fade" id="starDetailWin" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-llg">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
                <!-- <small class="font-bold">自建基站巡检表</small> -->
            </div>
            <div class="modal-body pad-0" style="margin: 2px; padding: 2px;">

                <div class="row" style="margin-top:5px;">
                    <div class="col-md-12">
                        <form action="#" id="detailStarForm" onSubmit="return false">
                            <table style="width:100%;border-collapse: collapse;"
                                class="table-view">

                                <tr>
                                    <td colspan="8" style="text-align: center;">卫星通信车载便携站巡检表
                                    <input type="text" ng-show="false"  name="id" ng-model="starOneData.id">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:10%;">基站名称</td>
                                    <td><input type="text" name="name" ng-model="starOneData.name"></td>
                                    <td>基站号</td>
                                    <td><input type="text" name="bsId" ng-model="starOneData.bsId"></td>
                                    <td>基站级别</td>
                                    <td><input type="text" name="level" ng-model="starOneData.level"></td>
                                    <td>巡检人员</td>
                                    <td><input type="text" name="checkman" ng-model="starOneData.checkman"></td>

                                </tr>
                                <tr>
                                    <td>基站类型</td>
                                    <td><input id="type1" class="magic-radio" type="radio"
                                        value="车载" name="type" ng-checked="starOneData.type=='车载'"> <label
                                        for="type1"><span>车载</span></label> <input id="type2"
                                        class="magic-radio" type="radio" value="便携" name="type" ng-checked="starOneData.type=='便携'">
                                        <label for="type2"><span>便携</span></label></td>
                                    <td>巡检时间</td>
                                    <td>{{starOneData.commitdate  |timeFormatNoTime}}</td>

                                </tr>

                                <tr style="font-weight:700;">
                                    <td>巡检项目</td>
                                    <td>具体项目</td>
                                    <td colspan="2">具体操作</td>
                                    <td colspan="2">执行情况</td>
                                    <td colspan="2">备注</td>
                                </tr>


                                <tr>
                                    <td>天 面</td>
                                    <td>防倾斜</td>
                                    <td colspan="2">集群天线是否竖起正常</td>
                                    <td colspan="2"><input id="s-detaila1" class="magic-radio"
                                        type="radio" value="是" name="d1" ng-checked="starOneData.d1=='是'"> <label
                                        for="s-detaila1"><span>是</span></label> <input id="s-detailb1"
                                        class="magic-radio" type="radio" value="否" ng-checked="starOneData.d1=='否'" name="d1">
                                        <label for="s-detailb1"><span>否</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment1" name="comment1"></td>
                                </tr>

                                <tr>
                                    <td rowspan="3">卫星设备</td>
                                    <td>天线</td>
                                    <td colspan="2">卫星天线寻星是否正常</td>
                                    <td colspan="2"><input id="s-detaila2" class="magic-radio"
                                        type="radio" value="正常" name="d2" ng-checked="starOneData.d2=='正常'"> <label
                                        for="s-detaila2"><span>正常</span></label> <input id="s-detailb2"
                                        class="magic-radio" type="radio" value="异常" ng-checked="starOneData.d2=='异常'" name="d2">
                                        <label for="s-detailb2"><span>异常</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment2" name="comment2"></td>
                                </tr>
                                <tr>
                                    <td>天线控制器</td>
                                    <td colspan="2">天线对星控制模式、数据是否正常</td>
                                    <td colspan="2"><input id="s-detaila3" class="magic-radio"
                                        type="radio" value="正常" name="d3" ng-checked="starOneData.d3=='正常'"> <label
                                        for="s-detaila3"><span>正常</span></label> <input id="s-detailb3"
                                        class="magic-radio" type="radio" value="异常" ng-checked="starOneData.d3=='异常'" name="d3">
                                        <label for="s-detailb3"><span>异常</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment3" name="comment3"></td>
                                </tr>
                                <tr>
                                    <td>卫星调制解调器</td>
                                    <td colspan="2">卫星调制解调器是否正常</td>
                                    <td colspan="2"><input id="s-detaila4" class="magic-radio"
                                        type="radio" value="正常" name="d4" ng-checked="starOneData.d4=='正常'"> <label
                                        for="s-detaila4"><span>正常</span></label> <input id="s-detailb4"
                                        class="magic-radio" type="radio" value="异常" ng-checked="starOneData.d4=='异常'" name="d4">
                                        <label for="s-detailb4"><span>异常</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment4" name="comment4"></td>
                                </tr>

                                <tr>
                                    <td rowspan="3">主体设备</td>
                                    <td>单板状态</td>
                                    <td colspan="2">检查各单板运行状态、供电情况是否正常，设备是否有明显告警</td>
                                    <td colspan="2"><input id="s-detaila5" class="magic-radio"
                                        type="radio" value="正常" name="d5" ng-checked="starOneData.d5=='正常'"> <label
                                        for="s-detaila5"><span>正常</span></label> <input id="s-detailb5"
                                        class="magic-radio" type="radio" value="异常" ng-checked="starOneData.d5=='异常'" name="d5">
                                        <label for="s-detailb5"><span>异常</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment5" name="comment5"></td>
                                </tr>

                                <tr>
                                    <td>设备加固</td>
                                    <td colspan="2">设备安装是否牢固</td>
                                    <td colspan="2"><input id="s-detaila6" class="magic-radio"
                                        type="radio" value="正常" name="d6" ng-checked="starOneData.d6=='正常'"> <label
                                        for="s-detaila6"><span>正常</span></label> <input id="s-detailb6"
                                        class="magic-radio" type="radio" value="异常" ng-checked="starOneData.d6=='异常'" name="d6">
                                        <label for="s-detailb6"><span>异常</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment6" name="comment6"></td>
                                </tr>

                                <tr>
                                    <td>设备温度</td>
                                    <td colspan="2">设备是否有高温、异味</td>
                                    <td colspan="2"><input id="s-detaila7" class="magic-radio"
                                        type="radio" value="正常" name="d7" ng-checked="starOneData.d7=='正常'"> <label
                                        for="s-detaila7"><span>正常</span></label> <input id="s-detailb7"
                                        class="magic-radio" type="radio" value="异常" ng-checked="starOneData.d7=='异常'" name="d7">
                                        <label for="s-detailb7"><span>异常</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment7" name="comment7"></td>
                                </tr>

                                <tr>
                                    <td rowspan="7">电源配套</td>
                                    <td rowspan="2">发电机</td>
                                    <td colspan="2">发电机是否能正常运行</td>
                                    <td colspan="2"><input id="s-detaila8" class="magic-radio"
                                        type="radio" value="正常" name="d8" ng-checked="starOneData.d8=='正常'"> <label
                                        for="s-detaila8"><span>正常</span></label> <input id="s-detailb8"
                                        class="magic-radio" type="radio" value="异常" ng-checked="starOneData.d8=='异常'" name="d8">
                                        <label for="s-detailb8"><span>异常</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment8" name="comment8"></td>
                                </tr>

                                <tr>
                                    <td colspan="2">发电机及引电线缆有无老化、发热等情况</td>
                                    <td colspan="2"><input id="s-detaila9" class="magic-radio"
                                        type="radio" value="正常" name="d9" ng-checked="starOneData.d9=='正常'"> <label
                                        for="s-detaila9"><span>正常</span></label> <input id="s-detailb9"
                                        class="magic-radio" type="radio" value="异常" ng-checked="starOneData.d9=='异常'" name="d9">
                                        <label for="s-detailb9"><span>异常</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment9" name="comment9"></td>
                                </tr>

                                <tr>
                                    <td rowspan="3">UPS</td>
                                    <td colspan="2">电源连接线有无松动、老化、发热等情况</td>
                                    <td colspan="2"><input id="s-detaila10" class="magic-radio"
                                        type="radio" value="正常" name="d10" ng-checked="starOneData.d10=='正常'"> <label
                                        for="s-detaila10"><span>正常</span></label> <input id="s-detailb10"
                                        class="magic-radio" type="radio" value="异常" ng-checked="starOneData.d10=='异常'" name="d10">
                                        <label for="s-detailb10"><span>异常</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment10" name="comment10"></td>
                                </tr>

                                <tr>
                                    <td colspan="2">电池壳体有无渗漏和变形，极柱、安全阀周围是否有酸雾、酸液逸出</td>
                                    <td colspan="2"><input id="s-detaila11" class="magic-radio"
                                        type="radio" value="正常" name="d11" ng-checked="starOneData.d11=='正常'"> <label
                                        for="s-detaila11"><span>正常</span></label> <input id="s-detailb11"
                                        class="magic-radio" type="radio" value="异常" ng-checked="starOneData.d11=='异常'" name="d11">
                                        <label for="s-detailb11"><span>异常</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment11" name="comment11"></td>
                                </tr>

                                <tr>
                                    <td colspan="2">断开交流电及发电机电源输入，查看UPS输出是否正常</td>
                                    <td colspan="2"><input id="s-detaila12" class="magic-radio"
                                        type="radio" value="正常" name="d12" ng-checked="starOneData.d12=='正常'"> <label
                                        for="s-detaila12"><span>正常</span></label> <input id="s-detailb12"
                                        class="magic-radio" type="radio" value="异常" ng-checked="starOneData.d12=='异常'" name="d12">
                                        <label for="s-detailb12"><span>异常</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment12" name="comment12"></td>
                                </tr>

                                <tr>
                                    <td>照明</td>
                                    <td colspan="2">车内照明设施是否完好</td>
                                    <td colspan="2"><input id="s-detaila13" class="magic-radio"
                                        type="radio" value="是" name="d13" ng-checked="starOneData.d13=='是'"> <label
                                        for="s-detaila13"><span>是</span></label> <input id="s-detailb13"
                                        class="magic-radio" type="radio" value="否" ng-checked="starOneData.d13=='否'" name="d13">
                                        <label for="s-detailb13"><span>否</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment13" name="comment13"></td>
                                </tr>

                                <tr>
                                    <td>插座</td>
                                    <td colspan="2">车内插座是否有电</td>
                                    <td colspan="2"><input id="s-detaila14" class="magic-radio"
                                        type="radio" value="是" name="d14" ng-checked="starOneData.d14=='是'"> <label
                                        for="s-detaila14"><span>是</span></label> <input id="s-detailb14"
                                        class="magic-radio" type="radio" value="否" ng-checked="starOneData.d14=='否'" name="d14">
                                        <label for="s-detailb14"><span>否</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment14" name="comment14"></td>
                                </tr>


                                <tr>
                                    <td rowspan="6">隐患检查</td>
                                    <td rowspan="5">车内安全</td>
                                    <td colspan="2">灭火设备是否完好</td>
                                    <td colspan="2"><input id="s-detaila15" class="magic-radio"
                                        type="radio" value="是" name="d15" ng-checked="starOneData.d15=='是'"> <label
                                        for="s-detaila15"><span>是</span></label> <input id="s-detailb15"
                                        class="magic-radio" type="radio" value="否" ng-checked="starOneData.d15=='否'" name="d15">
                                        <label for="s-detailb15"><span>否</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment15" name="comment15"></td>
                                </tr>

                                <tr>
                                    <td colspan="2">车门、车窗、车锁是否完好</td>
                                    <td colspan="2"><input id="s-detaila16" class="magic-radio"
                                        type="radio" value="是" name="d16" ng-checked="starOneData.d16=='是'"> <label
                                        for="s-detaila16"><span>是</span></label> <input id="s-detailb16"
                                        class="magic-radio" type="radio" value="否" ng-checked="starOneData.d16=='否'" name="d16">
                                        <label for="s-detailb16"><span>否</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment16" name="comment16"></td>
                                </tr>
                                <tr>
                                    <td colspan="2">车门、车窗、馈线孔等缝隙密封是否严实</td>
                                    <td colspan="2"><input id="s-detaila17" class="magic-radio"
                                        type="radio" value="是" name="d17" ng-checked="starOneData.d17=='是'"> <label
                                        for="s-detaila17"><span>是</span></label> <input id="s-detailb17"
                                        class="magic-radio" type="radio" value="否" ng-checked="starOneData.d17=='否'" name="d17">
                                        <label for="s-detailb17"><span>否</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment17" name="comment17"></td>
                                </tr>
                                <tr>
                                    <td colspan="2">空调有无漏水情况</td>
                                    <td colspan="2"><input id="s-detaila18" class="magic-radio"
                                        type="radio" value="正常" name="d18" ng-checked="starOneData.d18=='正常'"> <label
                                        for="s-detaila18"><span>正常</span></label> <input id="s-detailb18"
                                        class="magic-radio" type="radio" value="异常" ng-checked="starOneData.d18=='异常'" name="d18">
                                        <label for="s-detailb18"><span>异常</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment18" name="comment18"></td>
                                </tr>
                                <tr>
                                    <td colspan="2">车体有无裂缝、渗水、漏水等情况</td>
                                    <td colspan="2"><input id="s-detaila19" class="magic-radio"
                                        type="radio" value="正常" name="d19" ng-checked="starOneData.d19=='正常'"> <label
                                        for="s-detaila19"><span>正常</span></label> <input id="s-detailb19"
                                        class="magic-radio" type="radio" value="异常" ng-checked="starOneData.d19=='异常'" name="d19">
                                        <label for="s-detailb19"><span>异常</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment19" name="comment19"></td>
                                </tr>

                                <tr>
                                    <td>车内温度</td>
                                    <td colspan="2">空调制冷效果及运行状态是否正常</td>
                                    <td colspan="2"><input id="s-detaila20" class="magic-radio"
                                        type="radio" value="是" name="d20" ng-checked="starOneData.d20=='是'"> <label
                                        for="s-detaila20"><span>是</span></label> <input id="s-detailb20"
                                        class="magic-radio" type="radio" value="否" ng-checked="starOneData.d20=='否'" name="d20">
                                        <label for="s-detailb20"><span>否</span></label></td>
                                    <td colspan="2"><input type="text"  ng-model="starOneData.comment20" name="comment20"></td>
                                </tr>

                                <tr>
                                    <td rowspan="5">车 辆</td>
                                    <td >外观</td>
                                    <td colspan="2">车辆外观是否正常，有无擦挂、破损</td>
                                    <td colspan="2"><input id="s-detaila21" class="magic-radio"
                                        type="radio" value="正常" name="d21" ng-checked="starOneData.d21=='正常'"> <label
                                        for="s-detaila21"><span>正常</span></label> <input id="s-detailb21"
                                        class="magic-radio" type="radio" value="异常" ng-checked="starOneData.d21=='异常'" name="d21">
                                        <label for="s-detailb21"><span>异常</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment21" name="comment21"></td>
                                </tr>
                                
                                <tr>
                                    <td>仪表盘</td>
                                    <td colspan="2">显示是否正常</td>
                                    <td colspan="2"><input id="s-detaila22" class="magic-radio"
                                        type="radio" value="正常" name="d22" ng-checked="starOneData.d22=='正常'"> <label
                                        for="s-detaila22"><span>正常</span></label> <input id="s-detailb22"
                                        class="magic-radio" type="radio" value="异常" ng-checked="starOneData.d22=='异常'" name="d22">
                                        <label for="s-detailb22"><span>异常</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment22" name="comment22"></td>
                                </tr>
                                
                                <tr>
                                    <td>指示灯</td>
                                    <td colspan="2">各指示灯是否正常</td>
                                    <td colspan="2"><input id="s-detaila23" class="magic-radio"
                                        type="radio" value="正常" name="d23" ng-checked="starOneData.d23=='正常'"> <label
                                        for="s-detaila23"><span>正常</span></label> <input id="s-detailb23"
                                        class="magic-radio" type="radio" value="异常" ng-checked="starOneData.d23=='异常'" name="d23">
                                        <label for="s-detailb23"><span>异常</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment23" name="comment23"></td>
                                </tr>
                                
                                <tr>
                                    <td>操作</td>
                                    <td colspan="2">刹车、启动、运行是否正常</td>
                                    <td colspan="2"><input id="s-detaila24" class="magic-radio"
                                        type="radio" value="正常" name="d24" ng-checked="starOneData.d24=='正常'"> <label
                                        for="s-detaila24"><span>正常</span></label> <input id="s-detailb24"
                                        class="magic-radio" type="radio" value="异常" ng-checked="starOneData.d24=='异常'" name="d24">
                                        <label for="s-detailb24"><span>异常</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment24" name="comment24"></td>
                                </tr>
                                
                                <tr>
                                    <td>顶起装置</td>
                                    <td colspan="2">是否收放正常</td>
                                    <td colspan="2"><input id="s-detaila25" class="magic-radio"
                                        type="radio" value="正常" name="d25" ng-checked="starOneData.d25=='正常'"> <label
                                        for="s-detaila25"><span>正常</span></label> <input id="s-detailb25"
                                        class="magic-radio" type="radio" value="异常" ng-checked="starOneData.d25=='异常'" name="d25">
                                        <label for="s-detailb25"><span>异常</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment25" name="comment25"></td>
                                </tr>
                                
                                <tr>
                                    <td rowspan="2">清    洁</td>
                                    <td>车内清洁</td>
                                    <td colspan="2">清洁车内门、窗、地面、桌椅卫生</td>
                                    <td colspan="2"><input id="s-detaila26" class="magic-radio"
                                        type="radio" value="已执行" name="d26" ng-checked="starOneData.d26=='已执行'"> <label
                                        for="s-detaila26"><span>已执行</span></label> <input id="s-detailb26"
                                        class="magic-radio" type="radio" value="未执行" ng-checked="starOneData.d26=='未执行'" name="d26">
                                        <label for="s-detailb26"><span>未执行</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment26" name="comment26"></td>
                                </tr>
                                
                                <tr>
                                    <td>设备除尘</td>
                                    <td colspan="2">清洁设备表面、内部</td>
                                    <td colspan="2"><input id="s-detaila27" class="magic-radio"
                                        type="radio" value="已执行" name="d27" ng-checked="starOneData.d27=='已执行'"> <label
                                        for="s-detaila27"><span>已执行</span></label> <input id="s-detailb27"
                                        class="magic-radio" type="radio" value="未执行" ng-checked="starOneData.d27=='未执行'" name="d27">
                                        <label for="s-detailb27"><span>未执行</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment27" name="comment27"></td>
                                </tr>

                                <tr>
                                    <td>功 能</td>
                                    <td>呼叫功能</td>
                                    <td colspan="2">基站覆盖范围内呼叫测试</td>
                                    <td colspan="2"><input id="s-detaila28" class="magic-radio"
                                        type="radio" value="正常" name="d28" ng-checked="starOneData.d28=='正常'"> <label
                                        for="s-detaila28"><span>正常</span></label> <input id="s-detailb28"
                                        class="magic-radio" type="radio" value="异常" ng-checked="starOneData.d28=='异常'" name="d28">
                                        <label for="s-detailb28"><span>异常</span></label></td>
                                    <td colspan="2"><input type="text" ng-model="starOneData.comment28" name="comment28"></td>
                                </tr>

                                <tr>
                                    <td>遗留问题</td>
                                    <td colspan="7"><input type="text" ng-model="starOneData.question" name="question"></td>
                                </tr>

                            </table>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
               
            </div>
        </div>
    </div>
</div>

