<!DOCTYPE html>
<html>
<head>
<title>话务统计</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
</head>
<body ng-app="app" ng-controller="audio" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>统计分析</span></li>
							<li class="active"><span>话务统计</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">

			<!-- row -->
			<div class="row">
				<!-- 左侧菜单 -->
				<div class="col-md-2">
					<div class="hpanel">
						<div class="panel-heading hbuilt">
							<!-- <div class="panel-tools">
								<a class="showhide"><i class="fa fa-chevron-up"></i></a> <a
									class="closebox"><i class="fa fa-times"></i></a>
							</div> -->
							<i class="fa fa-reorder"></i> 筛选
						</div>
						<div class="panel-body">

							<form action="#" onSubmit="return false" id="chartForm">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group col-md-12">
										<label>基站列表</label> <select class="form-control" name="bsId">
											<option value="0" selected="selected">==全部基站==</option>
											<option ng-repeat="x in bslistData" value="{{x.bsId}}">{{x.name}}</option>
										</select>
									</div>

								</div>
								<div class="col-md-12">
									<div class="form-group col-md-12">
										<label>时间</label> <input type="text" class="form-control"
											name="time" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"
											placeholder="时间" value="" required="required">

									</div>
								</div>
								<div class="col-md-12" style="padding-left:30px;">

									<div class="radio radio-primary">
										<input type="radio" name="type" id="radio1" value="day"
											checked=""> <label for="radio1"> 按天统计 </label>
									</div>
									<div class="radio radio-danger">
										<input type="radio" name="type" id="radio2" value="hour">
										<label for="radio2"> 按小时统计 </label>
									</div>
								</div>
							</div>
							</form>
							
							<div class="row">
							<div class="col-md-12">
								<button class="btn btn-danger btn-sm" id="chartBtn"><i class="fa fa-bar-chart"></i>&nbsp;统计分析</button>
								</div>
							</div>


						</div>

					</div>
				</div>
				<div class="col-md-10">


					<div class="row">
						<div class="col-md-12">
							<div class="hpanel">
								<div class="panel-heading hbuilt">

									<i class="fa fa-bar-chart text-danger"></i>&nbsp; 图形分析
								</div>
								<div class="panel-body">
								<div id="chart"></div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- row/ -->
	</div>
	<!-- 中间内容体 /-->
	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>


	<!-- 告警详情 -->
	<div ng-include="'audio-play.html'"></div>

	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript" src="../../lib/echarts/echarts.js"></script>
	<script type="text/javascript"
		src="../../Controllers/operations/audio-chart.js"></script>
	<script type="text/javascript">
		xh.load();
	</script>
	<script type="text/javascript">
		$("#chartBtn").click(function() {
			xh.chart();
			//$('#chartForm').submit();
		});
		var faIcon = {
			valid : 'fa fa-check-circle fa-lg text-success',
			invalid : 'fa fa-times-circle fa-lg',
			validating : 'fa fa-refresh'
		};
		$('#chartForm').bootstrapValidator({
			excluded : [ ':disabled' ],
			/* feedbackIcons: faIcon, */
			fields : {

			}
		}).on('success.form.bv', function(e, data) {
			e.preventDefault();
			xh.chart();
		});
	</script>
</body>
</html>
