
<div class="modal fade" id="order" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold">故障处理任务单</small>
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
				<div class="order">
					<table id="xh-table" style="width:100%;border-collapse: collapse;">
					<!-- <thead>
					<tr>
					<th></th>
					</tr>
					</thead> -->
					<tbody>
					<tr><td colspan="4" style="text-align: center;">故障处理跟踪单</td></tr>
					<tr><td style="height:40px;width:130px;">派单时间</td><td>&nbsp;</td><td style="height:40px;width:130px;">派单人</td><td>&nbsp;</td></tr>
					<tr style="height:60px;"><td>故障类型</td><td>&nbsp;</td><td colspan="2">&nbsp;</td></tr>
					<tr style="height:80px;"><td>故障等级</td><td>&nbsp;</td><td colspan="2">&nbsp;</td></tr>
					<tr><td>故障发现时间</td><td>&nbsp;</td><td>故障恢复时间</td><td>&nbsp;</td></tr>
					<tr style="height:60px;"><td>处理进展</td><td colspan="3">&nbsp;</td></tr>
					<tr style="height:60px;"><td>处理结果</td><td colspan="3">&nbsp;</td></tr>
					<tr><td>处理人</td><td>&nbsp;</td><td>审核人</td><td>&nbsp;</td></tr>
					</tbody>
					</table>
				</div>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
			</div>
		</div>
	</div>
</div>