
<div class="modal fade" id="order" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header ">
			
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold">故障处理任务单</small>
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
		
				<div class="order">
					<form action="" onsubmit="false" id="order-form">
						<table id="order-table"
							style="width:100%;border-collapse: collapse;">
							<!-- <thead>
					<tr>
					<th></th>
					</tr>
					</thead> -->
							<tbody>
								<tr>
									<td colspan="6" style="text-align: center;">
									故障处理任务单
									</td>
								</tr>
								<tr>
								<input ng-show="false" class="input-div" name="id" ng-model="orderData.id">
                                    <input ng-show="false" class="input-div" name="from" ng-model="orderData.from">
                                    <input ng-show="false" class="input-div" name="zbdldm" ng-model="orderData.modType">
								</tr>
								<tr>
									<td>基站ID</td>
									<td><input class="input-div" name="bsId" ng-model="orderData.bsId"></td>
									<td>基站名称</td>
									<td colspan="3">
									<input class="input-div" name="name" ng-model="orderData.name">
									</td>
								</tr>
								
							<!-- 	<tr ng-show="false">
									<td colspan="6" style="text-align: center;background:#ccc;">
									基站ID：{{orderData.bsId}}&nbsp;&nbsp;&nbsp;基站名称：{{orderData.name}}
									</td>
								</tr> -->
								
								<tr>
									<td style="height:40px;width:130px;">派单时间</td>
									<td style="height:40px;width:250px;">
									<input class="input-div" name="dispatchtime" ng-model="nowDate">
									</td>
									<td style="height:40px;width:100px;">派单人</td>
									<td style="height:40px;width:140px;">
									<input class="input-div" name="dispatchman" ng-model="userName">
								    </td>
									<td style="width:80px;">接单人</td>
									<td>

										<div class="slDiv">
											<span id="btnSelect">点击搜索</span>
											<input id="userid" name="userid" ng-show=false></input>
											<div class="ulDiv order_man">
												<ul>
													<li ng-repeat="x in userData" value="{{x.user}}">{{x.userName}}</li>
												</ul>
											</div>
										</div> <!-- <div contenteditable="true" class="input-div">
								<select class="form-control" name="userid">
								    <optgroup label="用户">
								     <option ng-repeat="x in userData" value="{{x.user}}" >{{x.userName}}</option>
								    </optgroup>
								   
								</select>
								</div> -->
									</td>
								</tr>
								<tr style="height:60px;">
									<td>故障类型</td>
									<td>
										<!-- <div contenteditable="true" class="input-div" name="errtype"></div> -->
										<div class="slDiv">
											<span id="btnType">点击选择故障类型</span>
											<span  name="errtype" ng-show=false></span>
											<div class="ulDiv ul_type">
												<ul>
												<li>断站故障</li>
												<li>隐患故障</li>
												<li>机房配套问题</li>
												</ul>
											</div>
										</div>

										<!-- <div class="type-div">
											<ul id="type-ul">
												<li>断站故障</li>
												<li>隐患故障</li>
												<li>机房配套问题</li>
											</ul>
										</div> -->
									</td>
									<td colspan="4">1、断站故障 2、隐患故障 3、机房配套问题</td>
								</tr>
								<tr style="height:80px;">
									<td>故障等级</td>
									<td>
									<div class="slDiv">
											<span id="btnLevel">点击选择故障等级</span>
											<span name="errlevel" ng-show=false></span>
											<div class="ulDiv ul_level">
												<ul>
												<li>A级</li>
												<li>B级</li>
												<li>C级</li>
												<li>D级</li>
												</ul>
											</div>
										</div>
										<!-- <div contenteditable="true" class="input-div" name="errlevel"></div>

										<div class="level-div">
											<ul id="level-ul">
												<li>A级</li>
												<li>B级</li>
												<li>C级</li>
												<li>D级</li>
											</ul>
										</div> -->
									</td>
									<td colspan="4">
										<p>A级，包括一级基站断站，1小时40分钟内处理恢复；</p>
										<p>B级，包括二级基站断站，2小时40分钟内处理恢复；</p>
										<p>C级，包括三级基站断站，4小时40分钟内处理恢复；</p>
										<p>D级，包括隐患故障和机房配套问题，3天内处理恢复</p>
									</td>
								</tr>
								<tr>
									<td>故障发现时间</td>
									<td>
									<input class="input-div" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                                            name="errfoundtime" ng-model="orderData.time">
									</td>
									<td>故障恢复时间</td>
									<td colspan="3">
									<input class="input-div" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                                            name="errslovetime">
									</td>
								</tr>
								<tr>
									<td>处理进展</td>
									<td colspan="5"><textarea
											class="textarea-div" name="progress"></textarea></td>
								</tr>
								<tr>
									<td colspan="6" style="color:red">注：故障处理暂未恢复或预处理临时恢复，交付抢修组进行下一步处理。</td>
								</tr>
								<tr>
									<td>处理结果</td>
									<td colspan="5"><textarea ng-disabled="true"
											class="textarea-div" name="proresult"></textarea></td>
								</tr>
								<tr>
									<td>处理人</td>
									<td colspan="2">
									<input class="input-div" ng-disabled="true" name="workman">
									</td>
									<td>审核人</td>
									<td colspan="2">
									<input class="input-div" ng-disabled="true" name="auditor">
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm"
					data-dismiss="modal" id="order-btn">
					<i class="fa fa-remove"></i>&nbsp;派单
				</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(".type-div>ul>li").on('click', function() {
		$("div[name='errtype']").html($(this).html())
	})
	$(".level-div>ul>li").on('click', function() {
		$("div[name='errlevel']").html($(this).html())
	})
	$('.slDiv #btnSelect').on('click',function(){  
		$(this).siblings('.ulDiv').toggleClass('ulShow');  
	});  
	$('.slDiv .order_man ul').delegate('li','click',function(){  
			  var selTxt=$(this).text();
			  var userid=$(this).attr("value");
			 
			  $('.slDiv #btnSelect').text(selTxt); 
			  $('.slDiv #userid').val(userid); 
			  $('.ulDiv').removeClass('ulShow');  
	}); 
	 $('.slDiv #btnType').on('click',function(){  
		$(this).siblings('.ulDiv').toggleClass('ulShow');  
	});  
    $('.slDiv .ul_type ul').delegate('li','click',function(){  
				  var selTxt=$(this).text();
				  $('.slDiv #btnType').text(selTxt); 
				  $('span[name="errtype"]').text(selTxt); 
				  $('.ulDiv').removeClass('ulShow');
	});
	 $('.slDiv #btnLevel').on('click',function(){  
			$(this).siblings('.ulDiv').toggleClass('ulShow');  
		});  
	    $('.slDiv .ul_level ul').delegate('li','click',function(){  
					  var selTxt=$(this).text();
					  $('.slDiv #btnLevel').text(selTxt); 
					  $('span[name="errlevel"]').text(selTxt); 
					  $('.ulDiv').removeClass('ulShow');
		}); 
</script>
<script type="text/javascript">
	$("#order-btn").click(function() {
		$('#order-form').submit();
	});
	var faIcon = {
		valid : 'fa fa-check-circle fa-lg text-success',
		invalid : 'fa fa-times-circle fa-lg',
		validating : 'fa fa-refresh'
	};
	$('#order-form').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
			

		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		/* xh.add(); */
		xh.order();
	});
</script>