<!DOCTYPE html>
<html>
<head>
<title>Tetra系统警告</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
</head>
<body ng-app="app" ng-controller="bsAlarm"
	class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>运维管理</span></li>
							<li><span>实时监测</span></li>
							<li><span>故障管理</span></li>
							<li class="active"><span>Tetra系统警告</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">
			<div class="row">
				<div class="col-md-2">
					<div class="hpanel">
					<div class="panel-heading hbuilt">
							<!-- <div class="panel-tools">
								<a class="showhide"><i class="fa fa-chevron-up"></i></a> <a
									class="closebox"><i class="fa fa-times"></i></a>
							</div> -->
							<i class="fa fa-reorder"></i> 菜单列表
						</div>
						<div class="panel-body">
							<ul class="mailbox-list" style="height:200px;">
								<li style="margin-bottom:10px;"><a href="emhAlarm.html"
									target="_self"><i
										class="fa fa-sitemap text-success"></i>环控告警</a></li>

								<li class="active"><a href="bsAlarm.html" target="_self"><i
										class="fa fa-sitemap text-success"></i>Tetra系统告警</a></li>

							</ul>
						</div>

					</div>
				</div>
				<div class="col-md-10">

					<div class="row">
						<div class="col-md-12">

							<div class="hpanel">
							<div class="panel-heading hbuilt">
									<!-- <i class="fa fa-filter text-danger"></i>&nbsp; --><span>告警信息</span>
								</div>
								<div class="panel-body">
									<table id="tb-info" class="xh-table table-hover">
										<thead>
											<tr class="tr-gray">
												<!-- <th width="50px">#</th> -->
	<!-- 											('1', '基站');
('2', '交换中心');
('3', '调度台');
('4', '网管');
('5', '分组中心');
('6', '综合业务网关');
('7', 'INIGW');
('8', '短信中心');
('9', 'PDT');
('10', '鉴权中心');
('11', '录音');
('12', '模拟网关');
('13', 'MPT基站');
('14', 'NTP服务器');
('15', '路由器');
('16', '数字交叉连接设备');
('17', '同播服务器');
('18', 'DSGW');
('19', '以太网交换机');
('20', 'WEB调度服务器');
('21', '短信业务网关');
('22', '室外基站');
('23', 'PDT室外基站');
('24', '桥接基站');
('29', '以太网E1网桥');
('30', '桥接中心');
('32', '媒体服务器'); -->

												<th width="100px">网元类型</th>
												<th>网元ID</th>
												<th>安全级别</th>
												<th>描述</th>
												
												<th>故障位置</th>
												<th>告警时间</th>
											
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-if="totals==0">
												<td colspan="6" class="text-center">没有记录！</td>
											</tr>
											<tr ng-repeat="x in data">
												<!-- <td>{{$index+1}}</td> -->
												<td >
												<div class="td-danger" ng-if="x.neType==2 && x.modType==1000 && x.subModType==1 && x.code==2">主要告警</div>
												
												<!-- <span ng-if="x.neType==1">基站</span>
												<span ng-if="x.neType==2">交换中心</span>
												<span ng-if="x.neType==3">调度台</span>
												<span ng-if="x.neType==4">网管</span>
												<span ng-if="x.neType==5">分组中心</span>
												<span ng-if="x.neType==6">综合业务网关</span>
												<span ng-if="x.neType==7">INIGW</span>
												<span ng-if="x.neType==8">短信中心</span>
												<span ng-if="x.neType==9">PDT</span>
												<span ng-if="x.neType==10">鉴权中心</span>
												<span ng-if="x.neType==11">录音</span>
												<span ng-if="x.neType==12">模拟网关</span>
												<span ng-if="x.neType==13">MPT基站</span>
												<span ng-if="x.neType==14">NTP服务器</span>
												<span ng-if="x.neType==15">路由器</span>
												<span ng-if="x.neType==16">数字交叉连接设备</span>
												<span ng-if="x.neType==17">同播服务器</span>
												<span ng-if="x.neType==18">DSGW</span>
												<span ng-if="x.neType==19">以太网交换机</span>
												<span ng-if="x.neType==20">WEB调度服务器</span>
												<span ng-if="x.neType==21">短信业务网关</span>
												<span ng-if="x.neType==22">室外基站</span>
												<span ng-if="x.neType==23">PDT室外基站</span>
												<span ng-if="x.neType==24">桥接基站</span>
												<span ng-if="x.neType==29">以太网E1网桥</span>
												<span ng-if="x.neType==30">桥接中心</span>
												<span ng-if="x.neType==32">媒体服务器</span>
												</td> -->
												<td>{{x.neId}}</td>
												<td>{{x.severity}}</td>
												<td>{{x.description}}</td>
												<td>{{x.location}}</td>
												<td>{{x.time}}</td>
												
												<td><!-- <a href="#" ng-click="showDetails($index)"><i
														class="fa fa-file-text-o text-success"> </i>&nbsp;详情</a> --></td>
											</tr>
										</tbody>
									</table>
									<div class="page">
										<div class="page-info">
											每页显示 <select id="page-limit" ng-change="refresh()"
												ng-model="count">
												<option value="15">15</option>
												<option value="20">20</option>
												<option value="30">30</option>
												<option value="40">40</option>
												<option value="50">50</option>
											</select> 条, <span ng-model="index">显示{{start}}-</span><span
												ng-model="lastIndex">{{lastIndex}}条,</span> <span
												ng-model="totals">总计{{totals}}条</span>
										</div>
										<div class="page-paging"></div>
									</div>
								</div>
							</div>
						</div>


					</div>
<!-- 
					<div class="row">
						col-md-9 end
						右侧放查询栏以及图表展示 col-md-3
						<div class="col-md-6">
							<div class="hpanel">
								<div class="panel-heading hbuilt">
									<i class="fa fa-bar-chart text-danger"></i>&nbsp;<span>故障等级分析</span>
								</div>
								<div class="panel-body">
									<div id="bsAlarm-level-pie"></div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="hpanel">
								<div class="panel-heading hbuilt">
									<i class="fa fa-bar-chart text-danger"></i>&nbsp;<span>故障类型（程度）分析</span>
								</div>
								<div class="panel-body">
									<div id="bsAlarm-type-pie"></div>
								</div>
							</div>
						</div>
						col-md-3 end
					</div>
 -->

				</div>
			</div>
		</div>
		<!-- row/ -->
	</div>
	<!-- 中间内容体 /-->
	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<!-- 告警详情 -->
	<div ng-include="'bsAlarm-show.html'"></div>

	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="../../lib/metisMenu/dist/metisMenu.min.js"></script>
	<script type="text/javascript" src="../../lib/echarts/echarts.js"></script>
	<script type="text/javascript"
		src="../../Controllers/operations/bsAlarm.js"></script>
	<script type="text/javascript">
		xh.load();
	</script>
</body>
</html>
