
<div class="modal fade" id="bsAlarmDetails" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold">告警详细信息</small>
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group col-md-6">
							<label>网元类型</label>
							<div style="color:green">
								<span ng-if="bsAlarmData.neType==1">基站</span> <span
									ng-if="bsAlarmData.neType==2">交换中心</span> <span
									ng-if="bsAlarmData.neType==3">调度台</span> <span
									ng-if="bsAlarmData.neType==4">网管</span> <span
									ng-if="bsAlarmData.neType==5">分组中心</span> <span
									ng-if="bsAlarmData.neType==6">综合业务网关</span> <span
									ng-if="bsAlarmData.neType==7">INIGW</span> <span
									ng-if="bsAlarmData.neType==8">短信中心</span> <span
									ng-if="bsAlarmData.neType==9">PDT</span> <span
									ng-if="bsAlarmData.neType==10">鉴权中心</span> <span
									ng-if="bsAlarmData.neType==11">录音</span> <span
									ng-if="bsAlarmData.neType==12">模拟网关</span> <span
									ng-if="bsAlarmData.neType==13">MPT基站</span> <span
									ng-if="bsAlarmData.neType==14">NTP服务器</span> <span
									ng-if="bsAlarmData.neType==15">路由器</span> <span
									ng-if="bsAlarmData.neType==16">数字交叉连接设备</span> <span
									ng-if="bsAlarmData.neType==17">同播服务器</span> <span
									ng-if="bsAlarmData.neType==18">DSGW</span> <span
									ng-if="bsAlarmData.neType==19">以太网交换机</span> <span
									ng-if="bsAlarmData.neType==20">WEB调度服务器</span> <span
									ng-if="bsAlarmData.neType==21">短信业务网关</span> <span
									ng-if="bsAlarmData.neType==22">室外基站</span> <span
									ng-if="bsAlarmData.neType==23">PDT室外基站</span> <span
									ng-if="bsAlarmData.neType==24">桥接基站</span> <span
									ng-if="bsAlarmData.neType==29">以太网E1网桥</span> <span
									ng-if="bsAlarmData.neType==30">桥接中心</span> <span
									ng-if="bsAlarmData.neType==32">媒体服务器</span>
									<span ng-if="bsAlarmData.neType==100">动环网</span>
									<span ng-if="bsAlarmData.neType==200">大数据预警告警</span>
							</div>
						</div>
						<div class="form-group col-md-6">
							<label>严重程度</label>
							<div ng-if='bsAlarmData.retoreTime==null'>
								<span ng-if="bsAlarmData.alarmLevel==1" class="label"
									style="background-color:#DC143C !important;color:#fff;">严重告警</span>
								<span ng-if="bsAlarmData.alarmLevel==2" class="label"
									style="background:#FFD700 !important;color:#fff;">主要告警</span> <span
									ng-if="bsAlarmData.alarmLevel==3" class="label"
									style="background:#F0E68C !important;color:#000;">次要告警</span> <span
									ng-if="bsAlarmData.alarmLevel==4" class="label"
									style="background:#87CEFA !important;color:#fff;">一般告警</span>
							</div>
							<div ng-if='bsAlarmData.retoreTime!=null'>
								<span class="label arrowed-in label-success">已恢复</span>
							</div>
						</div>

						<div class="form-group col-md-12">
							<label>故障定位</label><input type="text" value=""
								class="form-control" name="bsId" ng-model="bsAlarmData.location"
								readonly="readonly">
						</div>
						<div class="form-group col-md-12">
							<label>故障信息</label><input type="text" value=""
								class="form-control" name="bsId" ng-model="bsAlarmData.reason"
								readonly="readonly">
						</div>
						<div class="form-group col-md-12" ng-if="bsAlarmData.neType!=200">
							<label>故障原因</label><input type="text" value=""
								class="form-control" name="bsId" ng-model="bsAlarmData.reason2"
								readonly="readonly">
						</div>
						<div class="form-group col-md-12" ng-if="bsAlarmData.neType!=200">
							<label style="color:red">处理建议</label>
							<div style="color:green">{{bsAlarmData.suggestion2}}</div>
	
						</div>
						<div ng-if="bsAlarmData.neType==200 
						&& (bsAlarmData.modType==1 || 
						bsAlarmData.modType==2)">
						<label>原因</label>
						<table id="tb-info">
                  
                         <tbody>
                       
                        <tr ng-repeat="x in sfalarm_detail">
                            

                            <td>{{x.zbdlmc}}</td>
                            <td width="120px">{{x.czzbmc}}</td>
                            <td>{{x.czzbfw}}</td>
                           
                        </tr>
                    </tbody>
                </table>
						</div>
					</div>
				</div>




			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
			</div>
		</div>
	</div>
</div>


<!-- 告警查询 -->
<div class="modal fade" id="search" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold">数据筛选</small>
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<div class="row">

					<div class="col-md-12" ng-show="roleType!=2">
						<div class="form-group col-md-12 search" style="margin-top:10px;">
							<label>告警来源</label> &nbsp;&nbsp;&nbsp;&nbsp;
							<div class="radio radio-info radio-inline">
								<input type="radio" id="sysType1" value="0" name="sysType"
									checked="checked"> <label for="sysType1">全部告警</label>
							</div>
							<div class="radio radio-info  radio-inline">
								<input type="radio" id="sysType2" value="1" name="sysType">
								<label for="sysType2">Tetra系统</label>
							</div>
							<div class="radio radio-info  radio-inline">
								<input type="radio" id="sysType3" value="2" name="sysType">
								<label for="sysType3">动环网</label>
							</div>
							<div class="radio radio-info  radio-inline">
                                <input type="radio" id="sysType4" value="10" name="sysType">
                                <label for="sysType4">大数据告警预警</label>
                            </div>
						</div>
					</div>
					<div class="col-md-12">
                        <div class="form-group col-md-12 search" style="margin-top:10px;">
                            <label>基站建设期</label> &nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="period1" value="0" name="period"
                                    checked="checked"> <label for="period1">全部</label>
                            </div>
                            <div class="radio radio-info  radio-inline">
                                <input type="radio" id="period2" value="3" name="period">
                                <label for="period2">三期</label>
                            </div>
                            <div class="radio radio-info  radio-inline">
                                <input type="radio" id="period3" value="4" name="period">
                                <label for="period3">四期</label>
                            </div>
                        </div>
                    </div>


					<div class="col-md-12" ng-show="roleType!=2">
						<div class="form-group col-md-12 search" style="margin-top:10px;">
							<label>告警级别</label> &nbsp;&nbsp;&nbsp;&nbsp; <input id="level1"
								class="magic-checkbox" type="checkbox" name="level" value="1"
								checked> <label for="level1"><span>严重告警</span></label> <input
								id="level2" class="magic-checkbox" type="checkbox" name="level"
								value="2" checked> <label for="level2"><span>主要告警</span></label>

							<input id="level3" class="magic-checkbox" type="checkbox"
								name="level" value="3" checked> <label for="level3"><span>次要告警</span></label>

							<input id="level4" class="magic-checkbox" type="checkbox"
								name="level" value="4" checked> <label for="level4"><span>一般告警</span></label>
						</div>


					</div>


					<div class="col-md-12">
						<div class="form-group col-md-12 search" style="margin-top:5px;">
							<label>告警状态</label> &nbsp;&nbsp;&nbsp;&nbsp; <input id="status1"
								class="magic-checkbox" type="checkbox" name="alarmTag" value="1">
							<label for="status1"><span>恢复</span></label> <input id="status2"
								class="magic-checkbox" type="checkbox" name="alarmTag" value="0"
								checked> <label for="status2"><span>未恢复</span></label>
						</div>

					</div>
					
					<div class="col-md-12">
						<div class="form-group col-md-12 search" style="margin-top:10px;">
							<label>告警类型</label> &nbsp;&nbsp;&nbsp;&nbsp;
							<div class="radio radio-info radio-inline" ng-show="roleType!=2">
								<input type="radio" id="alarmType1" value="0" name="alarmType"
									ng-checked="roleType!=2"> <label for="alarmType1">全部告警</label>
							</div>
							<div class="radio radio-info  radio-inline">
								<input type="radio" id="alarmType5" value="4" name="alarmType"
								ng-checked="roleType==2">
								<label for="alarmType5">断站</label>
							</div>
							<div class="radio radio-info  radio-inline" ng-show="roleType!=2">
								<input type="radio" id="alarmType2" value="1" name="alarmType">
								<label for="alarmType2">水浸</label>
							</div>
							<div class="radio radio-info  radio-inline" ng-show="roleType!=2">
								<input type="radio" id="alarmType3" value="2" name="alarmType">
								<label for="alarmType3">停电</label>
							</div>
							<div class="radio radio-info  radio-inline" ng-show="roleType!=2">
                                <input type="radio" id="alarmType4" value="3" name="alarmType">
                                <label for="alarmType4">bsr故障</label>
                            </div>
							
							<div class="radio radio-info  radio-inline" ng-show="roleType!=2">
                                <input type="radio" id="alarmType5" value="6" name="alarmType">
                                <label for="alarmType5">调度台连接告警</label>
                            </div>
                            <div class="radio radio-info  radio-inline" ng-show="roleType!=2">
                                <input type="radio" id="alarmType6" value="5" name="alarmType">
                                <label for="alarmType6">交换中心主设备链路告警</label>
                            </div>
                            <div class="radio radio-info  radio-inline" ng-show="roleType!=2">
                                <input type="radio" id="alarmType7" value="7" name="alarmType">
                                <label for="alarmType7">高温</label>
                            </div>
                            <div class="radio radio-info  radio-inline" ng-show="roleType!=2">
                                <input type="radio" id="alarmType8" value="8" name="alarmType">
                                <label for="alarmType8">控制信道</label>
                            </div>
						</div>
					</div>
					
					<!-- col-md -->
					<div class="col-md-3">
						<div class="form-group col-md-12">
							<label>开始时间</label>&nbsp;<input
								type="text" value="" class="form-control" name="startTime"
								required="required"
								onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"
								value="xh.nowDate()">
						</div>
					</div>
					<!-- col-md -->
					<div class="col-md-3">
						<div class="form-group col-md-12">
							<label>结束时间</label>&nbsp;<input
								type="text" value="" class="form-control" name="endTime"
								required="required"
								onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
						</div>
					</div>
					<!-- col-md -->
                    <div class="col-md-3">
                        <div class="form-group col-md-12">
                            <label>基站ID</label>&nbsp;<input
                                type="text" value="" class="form-control" id="bs-Id">
                        </div>
                    </div>
                    <!-- col-md -->
                    <div class="col-md-3">
                        <div class="form-group col-md-12">
                            <label>网元名称</label>&nbsp;<input
                                type="text" value="" class="form-control" id="bsName">
                        </div>
                    </div>
				</div>
				<!-- row -->
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm"
					ng-click="refresh_search()">
					<i class="fa fa-search"></i>&nbsp;查询
				</button>
			</div>
		</div>
	</div>
</div>
<!-- /告警查询 -->