
<div class="modal fade" id="add" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-md ">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				填写核减资料
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
				<form action="#" id="addForm" onSubmit="return false">
					<div class="row" ng-show="false">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<input type="text" name="id" ng-value="faultDataById.id">
								<input type="text" name="bsId" ng-value="faultDataById.bsId">
								<input type="text" name="name" ng-value="faultDataById.name">
								<!--<input type="text" name="breakTime"
									ng-value="faultDataById.time"> <input type="text"
									name="restoreTime" ng-value="faultDataById.faultRecoveryTime">-->
							</div>
						</div>
					</div>
					<div class="row">
						<!--<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>提交核减申请(如不选择上传文件，系统会自动生成表格)</label>&nbsp;<span
									class="text-danger">[*]</span> <input type="file"
									name="filePath" id="filePath1" class="form-control" />
							</div>
							<div class="form-group col-md-4" style="margin-top:30px;">
								<input type="hidden" name="result" class="form-control" /> <input
									type="hidden" name="fileName" /> <input type="hidden"
									name="path" /> <a href="#" onclick="xh.upload(1)"
									class="btn btn-minier btn-danger">上传</a>&nbsp;&nbsp; <span
									id="uploadResult1" style="color:red"></span>
							</div>
						</div>-->
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>基站情况</label>
								<textarea rows="5" cols="10" class="form-control" readonly="readonly">{{sheetData.bsId}}-{{sheetData.name}} ,{{sheetData.hometype}};{{sheetData.transfer}},{{sheetData.transferCompare}},{{sheetData.transferOne}},{{sheetData.transferTwo}}; {{sheetData.powerOne}},续航时间大于{{sheetData.powerTimeOne}},网络柜由{{sheetData.powerTwo}},续航时间大于{{sheetData.powerTimeTwo}},维护上站时间{{sheetData.maintainTime}},{{sheetData.isPower}}.{{sheetData.isPowerTime}}</textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-4">
								<label>故障时间</label>
								<input type="text" class="form-control" id="breakTime" name="breakTime" ng-value="sheetData.breakTime" readonly="readonly" />
							</div>
							<div class="form-group col-md-4">
								<label>恢复时间</label>
								<input type="text" class="form-control" id="restoreTime" name="restoreTime" ng-value="sheetData.restoreTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" ng-blur="startCalc()"/>
							</div>
							<div class="form-group col-md-4">
								<label>故障历时(分钟)</label>
								<input type="text" class="form-control" ng-value="calcData" readonly="readonly" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>故障原因</label>
								<textarea name="desc" rows="3" cols="10" class="form-control">{{faultDataById.reason}}</textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>详细情况</label>
								<textarea name="situation" rows="3" cols="10"
									class="form-control"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>备注</label>
								<textarea name="note7" rows="2" cols="10" class="form-control"></textarea>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" ng-disabled="form.$invalid"
					class="btn btn-success btn-sm" id="add_btn">
					<i class="fa fa-plus"></i>&nbsp;生成核减信息
				</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="gorder" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header ">

				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold">通知相关人员上站发电</small>
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">

				<div class="order">
					<form action="" onsubmit="false" id="gorder-form">
						<table id="order-table"
							style="width:100%;border-collapse: collapse;">
							<!-- <thead>
                    <tr>
                    <th></th>
                    </tr>
                    </thead> -->
							<tbody>
								<tr>
									<td colspan="6" style="text-align: center;">上站发电任务单
										<div contenteditable="true" class="input-div" name="id"
											ng-show="false">{{orderData.id}}</div> <span name="from"
										ng-show="false">{{orderData.from}}</span> <span name="zbdldm"
										ng-show="false">{{orderData.zbdldm}}</span>

									</td>
								</tr>
								<tr>
									<td style="width:100px">基站ID</td>
									<td style="width:200px"><div contenteditable="true" class="input-div"
											name="bsId">{{orderData.bsId}}</div></td>
									<td style="width:100px">基站名称</td>
									<td colspan="3"><div contenteditable="true"
											class="input-div" name="name" ng-show="true">{{orderData.name}}</div></td>
								</tr>

								<tr ng-show="false">
									<td colspan="6" style="text-align: center;background:#ccc;">
										基站ID：{{orderData.bsId}}&nbsp;&nbsp;&nbsp;基站名称：{{orderData.name}}
									</td>
								</tr>

								<tr>
									
									
                                    <td>故障时间</td>
                                    <td><div contenteditable="true" class="input-div"
                                            onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                                            name="time">{{orderData.time}}</div></td>
                                    
                                
									<td style="width:80px;">接单人</td>
									<td>

										<div class="slDiv">
											<span class="btnSelect">点击搜索</span> 
											<span id="userid2" name="userid" ng-show=false></span>
											<span id="recv-user-name"  ng-show=false></span>
											<span id="send-user-name"  ng-show=false></span>
											<div class="ulDiv order_man">
												<ul>
													<li ng-repeat="x in userData" value="{{x.user}}">{{x.userName}}</li>
												</ul>
											</div>
										</div> <!-- <div contenteditable="true" class="input-div">
                                <select class="form-control" name="userid">
                                    <optgroup label="用户">
                                     <option ng-repeat="x in userData" value="{{x.user}}" >{{x.userName}}</option>
                                    </optgroup>
                                   
                                </select>
                                </div> -->
									</td>
								</tr>

								
								<tr>
                                    <td>备注</td>
                                    <td colspan="3"><div contenteditable="true" class="input-div"
                                            name="note"></div></td>
                                    
                                </tr>

							</tbody>
						</table>
					</form>
				</div>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm"
					data-dismiss="modal" id="gorder-btn">
					<i class="fa fa-remove"></i>&nbsp;发起通知
				</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#add_btn").click(function() {
		$('#addForm').submit();
	});
	var faIcon = {
		valid : 'fa fa-check-circle fa-lg text-success',
		invalid : 'fa fa-times-circle fa-lg',
		validating : 'fa fa-refresh'
	};
	$('#addForm').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		$("#add_btn").button('loading');
		xh.add();
	});
</script>
<script>
$('.slDiv .btnSelect').on('click',function(){  
    $(this).siblings('.ulDiv').toggleClass('ulShow');  
});  
$('.slDiv .order_man ul').delegate('li','click',function(){  
          var selTxt=$(this).text();
          var userid=$(this).attr("value");
          
          $('.slDiv .btnSelect').text(selTxt); 
          $('.slDiv #recv-user-name').text(selTxt); 
          $('.slDiv #userid2').text(userid); 
          $('.ulDiv').removeClass('ulShow');  
}); 
$("#gorder-btn").click(function() {
	xh.gorder();
});
</script>