
<div class="modal fade" id="linkconfigWin" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-llg">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold">{{bsData.bsId}}号基站【{{bsData.name}}】传输配置信息</small>
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<div class="btn-group pull-left" style="padding-bottom:5px;">
					<button class="btn btn-success btn-sm" data-toggle="modal"
						data-target="#addLinkconfigWin"
						ng-disabled="up.o_add=='off'?true:false">
						<i class="fa fa-plus-circle"></i>&nbsp;添加传输配置信息
					</button>

				</div>
				<table id="tb-info" class="xh-table table-hover">
					<thead>
						<tr class="tr-img-gray">
							<th>传输类型</th>
							<th>开通情况</th>
							<th>运营商</th>
							<th>设备型号</th>
							<th>基站网元</th>
							<th>基站端口</th>
							<th>交换中心网元</th>
							<th>交换中心网元端口</th>
							<th>电路调单号</th>
							<th>主机IP</th>
							<th>摄像IP</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="linkconfigTotals==0">
							<td colspan="12" class="text-center">没有记录！</td>
						</tr>
						<tr ng-repeat="x in linkconfigData">

							<td>{{x.tag}}</td>
							<td>{{x.is_open}}</td>
							<td>{{x.operator}}</td>
							<td>{{x.equipment_model}}</td>
							<td>{{x.bs_net}}</td>
							<td>{{x.bs_net_port}}</td>
							<td>{{x.msc_net}}</td>
							<td>{{x.msc_net_port}}</td>
							<td>{{x.regulation_number}}</td>
							<td>{{x.masterIp}}</td>
							<td>{{x.cameraIp}}</td>
							<td><a href="#" ng-click="delLinkconfig($index)"
								ng-if="up.o_delete=='on' || roleId==10000"><i
									class="fa fa-trash text-success"></i>&nbsp;删除</a></td>

						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>
<div class="modal fade" id="addLinkconfigWin" tabindex="-1"
	role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold">{{bsData.bsId}}号基站【{{bsData.name}}】传输配置信息</small>
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="addLinkconfigForm" onSubmit="return false">


					<div class="row">
						<div>
							<input type="text" name="bsId" ng-model="bsData.bsId"
								ng-show=false />
						</div>
						<div class="col-md-6">
							<div class="form-group col-md-12">
								<label>传输链路类型</label> <select name="tag" class="form-control">
									<option value="1" selected="selected">传输一</option>
									<option value="2">传输二</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
                            <div class="form-group col-md-12">
                                <label>开通情况</label> <select name="is_open" class="form-control">
                                    <option value="已开通" selected="selected">已开通</option>
                                    <option value="未开通">未开通</option>
                                    <option value="无">无</option>
                                </select>
                            </div>
                        </div>
                            <div class="col-md-6">
                            <div class="form-group col-md-12">
                                <label>传输运营商</label> <select name="operator" class="form-control">
                                    <option value="移动" selected="selected">移动</option>
                                    <option value="电信">电信</option>
                                </select>
                            </div>
                        </div>
						<div class="col-md-6">
							<div class="form-group col-md-12">

								<label>传输设备型号</label><input type="text" value=""
									class="form-control" name="equipment_model">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group col-md-12">
								<label>传输基站网元</label><input type="text" value=""
									class="form-control" name="bs_net">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group col-md-12">
								<label>传输基站端口</label><input type="text" value=""
									class="form-control" name="bs_net_port">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group col-md-12">
								<label>传输交换中心网元</label><input type="text" value=""
									class="form-control" name="msc_net">
							</div>
						</div>
						<div class="col-md-6">
                            <div class="form-group col-md-12">
                                <label>输交换中心网元端口</label><input type="text" value=""
                                    class="form-control" name="msc_net_port">
                            </div>
                        </div>
                       
                        <div class="col-md-6">
                            <div class="form-group col-md-12">
                                <label>主机IP</label><input type="text" value=""
                                    class="form-control" name="masterIp">
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group col-md-12">
                                <label>摄像IP</label><input type="text" value=""
                                    class="form-control" name="cameraIp">
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group col-md-12">
                                <label>传输电路调单号</label><input type="text" value=""
                                    class="form-control" name="regulation_number">
                            </div>
                        </div>
					</div>
					

					<!-- row -->

				</form>

			</div>
			<div class="modal-footer">
				<div class="btn-group">
					<button type="button" class="btn btn-danger btn-sm"
						data-dismiss="modal">
						<i class="fa fa-remove"></i>&nbsp;关闭
					</button>
					<button type="button" ng-disabled="" class="btn btn-success btn-sm"
						id="addLinkconfig_btn">
						<i class="fa fa-plus"></i>&nbsp;确认
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#addLinkconfig_btn").click(function() {
		$('#addLinkconfigForm').submit();
	});
	var faIcon = {
		valid : 'fa fa-check-circle fa-lg text-success',
		invalid : 'fa fa-times-circle fa-lg',
		validating : 'fa fa-refresh'
	};
	$('#addLinkconfigForm').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {

		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.addLinkconfig();
	});
</script>
