<!--修改基站 -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold">修改基站</small>
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="updateForm" onSubmit="return false">


					<div class="row">
						<div class="col-md-12">
							<div class="hpanel">
								<div class="panel-heading hbuilt">基本信息</div>
								<div class="panel-body">
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>基站ID</label>&nbsp;<span class="text-danger">[*]</span>
										<input type="text" value="" class="form-control" name="bsId"
											required="required" readonly="readonly" ng-model="editData.bsId">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>基站名称</label>&nbsp;<span class="text-danger">[*]</span>
										<input type="text" value="" class="form-control" name="name"
											required="required" ng-model="editData.name">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>基站级别</label>&nbsp;<span class="text-danger">[*]</span>
										<select name="level" class="form-control" ng-model="editData.level">
											<option value="1" selected="selected">一级</option>
											<option value="2">二级</option>
											<option value="3">三级</option>
										</select>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>IP</label> <input type="text" value=""
											class="form-control" name="ip" ng-model="editData.ip">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>建设期</label><select name="period" class="form-control" ng-model="editData.period">
											<option value="3">三期建设</option>
											<option value="4" selected="selected">四期建设</option>
										</select>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>基站类型</label>&nbsp;<span class="text-danger">[*]</span><select
											name="type" class="form-control" ng-model="editData.type">
											<option value="0" selected="selected">固定基站</option>
											<option value="1">室分信源</option>
											<option value="2">应急站</option>
										</select>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>设备型号</label><input type="text" value=""
											class="form-control" name="deviceType" ng-model="editData.deviceType">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>设备厂家</label><select name="productor"
											class="form-control" ng-model="editData.productor">
											<option value="东方通信" selected="selected">东方通信</option>
											<option value="摩托罗拉">摩托罗拉</option>
											<option value="国人通信">国人通信</option>
										</select>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>频率数</label>&nbsp;<span class="text-danger">[*]</span> <select
											name="chnumber" class="form-control" ng-model="editData.chnumber">
											<option value="2" selected="selected">2</option>
											<option value="4">4</option>
											<option value="8">8</option>
											<option value="16">16</option>
										</select>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>机房归属</label> <select name="hometype"
											class="form-control" ng-model="editData.hometype">
											<option value="移动机房" selected="selected">移动机房</option>
											<option value="铁塔机房">铁塔机房</option>
											<option value="电信机房">电信机房</option>
											<option value="电信机房">自建机房</option>
										</select>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>额定功率</label> <input type="text" value=""
											class="form-control" name="power" ng-model="editData.power">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12" style="margin-top:10px;">
										<input id="ck10" class="magic-checkbox" type="checkbox"
											name="status" value="1" ng-checked="editData.status==1" > <label for="ck10"><span>使用状态</span></label>
									</div>
								</div>
								
								</div>
							</div>
						</div>
					</div>
					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<div class="hpanel">
								<div class="panel-heading hbuilt">位置信息</div>
								<div class="panel-body">
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>行政区域</label> <input type="text" value=""
											class="form-control" name="zone" ng-model="editData.zone">
									</div>
								</div>
								<div class="col-md-9">
									<div class="form-group col-md-12">
										<label>地址</label> <input type="text" value=""
											class="form-control" name="address" ng-model="editData.address">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>经度</label> <input type="text" value=""
											class="form-control" name="lng" ng-model="editData.lng">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>纬度</label> <input type="text" value=""
											class="form-control" name="lat" ng-model="editData.lat">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>机房海拔</label> <input type="text" value=""
											class="form-control" name="height" ng-model="editData.height">
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<div class="hpanel">
								<div class="panel-heading hbuilt">天线</div>
								<div class="panel-body">
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>天线安装方式</label><select name="lineInstallType"
											class="form-control" ng-model="editData.lineInstallType">
											<option value="0" selected="selected">楼顶铁塔</option>
											<option value="1">楼顶抱杆</option>
											<option value="2">地面铁塔</option>
										</select>
									</div>
								</div>
								<!-- <div class="col-md-3">
									<div class="form-group col-md-12">
										<label>gps天线数量</label> <input type="text" value="2"
											class="form-control" name="gpsLineNum" ng-model="editData.gpsLineNum">
									</div>
								</div> -->
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>天线高度[地面到天线]</label> <input type="text" value=""
											class="form-control" name="lineHeight" ng-model="editData.lineHeight">
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<div class="hpanel">
								<div class="panel-heading hbuilt">动环</div>
								<div class="panel-body">
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>动环建设</label> <select name="envMonitor"
											class="form-control" ng-model="editData.envMonitor">
											<option value="0" selected="selected">自建</option>
											<option value="1">共建</option>
											<option value="2">无</option>
										</select>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>空调数量</label><input type="text" value="1"
											class="form-control" name="conditionerCount" ng-model="editData.conditionerCount">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group col-md-12">
										<label>机房进出受限说明</label> <select name="entryLimitType"
											class="form-control" ng-model="editData.entryLimitType">
											<option value="1" selected="selected">高山站</option>
											<option value="2">时限</option>
											<option value="3">借钥匙</option>
										</select>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12" style="margin-top:20px;">
										<input id="ck20" class="magic-checkbox" type="checkbox"
											name="fireEquipment" value="1" ng-checked="editData.fireEquipment==1"> <label
											for="ck20"><span>消防</span></label>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12" style="margin-top:20px;">
										<input id="ck30" class="magic-checkbox" type="checkbox"
											name="generatorConfig" value="1" ng-checked="editData.generatorConfig==1"> <label
											for="ck30"><span>发电机配置</span></label>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12" style="margin-top:20px;">
										<input id="ck40" class="magic-checkbox" type="checkbox"
											name="isGenerator" value="1" ng-checked="editData.isGenerator==1"> <label
											for="ck40"><span>具备发电条</span></label>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
					<!-- row -->
				
					<div class="row">
						<div class="col-md-12">
							<div class="hpanel">
								<div class="panel-heading hbuilt">环境</div>
								<div class="panel-body">
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>灾害易发点</label> <select name="disasterPoint"
											class="form-control" ng-model="editData.disasterPoint">
											<option value="1">是</option>
											<option value="0" selected="selected">否</option>
										</select>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>被盗易发点</label> <select name="stolenPoint"
											class="form-control" ng-model="editData.stolenPoint">
											<option value="1">是</option>
											<option value="0" selected="selected">否</option>
										</select>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>停电</label> <select name="powerCut"
											class="form-control" ng-model="editData.powerCut">
											<option value="1">是</option>
											<option value="0" selected="selected">否</option>
										</select>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>居民楼</label> <select name="residentialBuilding"
											class="form-control" ng-model="editData.residentialBuilding">
											<option value="1">是</option>
											<option value="0" selected="selected">否</option>
										</select>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>气候</label><input type="text" value=""
											class="form-control" name="weather" ng-model="editData.weather">
									</div>
								</div>
								
								</div>
							</div>
						</div>
					</div>
					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<div class="hpanel">
								<div class="panel-heading hbuilt">传输信息</div>
								<div class="panel-body">
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>传输数量</label> <select name="transCount"
											class="form-control" ng-model="editData.transCount">
											<option value="1" selected="selected">1</option>
											<option value="2">2</option>
										</select>
									</div>
								</div>
								<!-- <div class="col-md-3">
									<div class="form-group col-md-12">
										<label>运行商传输</label> <input type="text" value=""
											class="form-control" name="carrierLink" ng-model="editData.carrierLink">
									</div>
								</div>
								
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>运营商/社会</label> <input type="text" value=""
											class="form-control" name="carrier" ng-model="editData.carrier">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>运营商站名</label> <input type="text" value=""
											class="form-control" name="carrierName" ng-model="editData.carrierName">
									</div>
								</div> -->
								</div>
							</div>
						</div>
					</div>
					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<div class="hpanel">
								<div class="panel-heading hbuilt">管理信息</div>
								<div class="panel-body">
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>联系人</label> <input type="text" value=""
											class="form-control" name="contact" ng-model="editData.contact">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group col-md-12">
										<label>联系电话</label> <input type="text" value=""
											class="form-control" name="tel" ng-model="editData.tel">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group col-md-12">
										<label>备注</label>
										<textarea class="form-control" name="comment" cols="60"
											rows="3" ng-model="editData.comment"></textarea>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
					<!-- row -->						
						
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" class="btn btn-success btn-sm" id="update_btn">
					<i class="fa fa-edit"></i>&nbsp;更新
				</button>
			</div>
		</div>
	</div>
</div>
<!--修改基站---end -->
<script type="text/javascript">
	$("#update_btn").click(function() {
		$('#updateForm').submit();
	});
	var faIcon = {
		valid : 'fa fa-check-circle fa-lg text-success',
		invalid : 'fa fa-times-circle fa-lg',
		validating : 'fa fa-refresh'
	};
	$('#updateForm').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
			bsId : {
				validators : {
					notEmpty : {
						message : '基站ID号不能为空'
					}
				}
			}

		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.update();
	});
</script>