<!DOCTYPE html>
<html>
<head>
<title>基站限制列表</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
<style type="text/css">
.bs-div {
	float: left;
	margin: 5px;
	min-width: 200px;
	line-height: 30px;
	border: 1px solid gray;
	/* border-left:10px solid gray; */
	background: #fff;
	border-radius：50px;
}

.bs-div-check {
	background: black !important;
}

.bsList .bs-litter-box {
	float: left;
	 margin: 5px; 
	 min-width: 270px;
	line-height: 22px;
	border-right:1px solid green;
}
</style>
</head>
<body ng-app="app" ng-controller="user" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<!-- <div class="color-line"></div> -->
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 头部文件 -->
	<!-- <div ng-include="'../top.html'"></div> -->
	<!-- 系统菜单 -->
	<!-- <div ng-include="'../menu/menu.html'"></div> -->
	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>运维管理</span></li>
							<li><span>系统运维</span></li>
							<li><span>资源配置</span></li>
							<li class="active"><span>基站限制列表</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">
			<!-- row -->
			<div class="row">
			
			<div class="col-md-2">
					<div class="hpanel">
						<div class="panel-heading hbuilt">

							<i class="fa fa-reorder"></i> 菜单列表
						</div>
						<div class="panel-body">
							<ul class="mailbox-list" style="height:200px;">
								<li><a
									href="bsInfo.html" target="_self"><i
										class="fa fa-sitemap text-success"></i>基站配置</a></li>
                                <li class="active"><a href="bslimit.html" target="_self"><i
										class="fa fa-sitemap text-success"></i>基站限制列表</a></li>
								<li><a href="roadInfo.html" target="_self"><i
										class="fa fa-sitemap text-success"></i>路测记录</a></li>
								<li><a href="onduty.html" target="_self"><i
										class="fa fa-sitemap text-success"></i>运维值班表</a></li>
								<li><a href="contacts.html" target="_self"><i
									class="fa fa-sitemap text-success"></i>联系人</a></li>
							</ul>
						</div>

					</div>
				</div>
				<div class="col-md-10">
					<div class="hpanel">
						<div class="panel-heading hbuilt">
							<div class="panel-tools">
								<a class="showhide"><i class="fa fa-chevron-up"></i></a> <a
									class="closebox"><i class="fa fa-times"></i></a>
							</div>
							禁止告警基站列表[<span style="color:red">提示：选中表示该基站不在声音告警提示</span>]
						</div>
						<div class="panel-body">
						<div class="row">
				<div class="col-md-12">
					<div class="btn-group" style="padding-bottom:2px;">
						<button class="btn btn-success btn-sm" id="selectAll">全选
						</button>
						<button class="btn btn-info btn-sm" id="selectNo">全不选
						</button>
						<button class="btn btn-danger btn-sm" id="selectOther">反选
						</button>
						<button class="btn btn-warning btn-sm" ng-click="save()"  ng-disabled="up.o_update=='off'?true:false">保存配置</button>
					</div>
				</div></div>
				<div class="row">
						<div class="col-md-12">
							<div class="bsList"> <!-- style="max-height:400px; overflow-y: scroll; overflow-x: hidden;" -->
								<!-- <div ng-if="bs_search_totals==0">没有基站相关数据</div> -->
								
								<div class="form-group col-md-3" ng-repeat="x in bs_search_data">
										<input id="bs-{{x.bsId}}" class="magic-checkbox" type="checkbox"
											name="bsIds" value="{{x.bsId}}" ng-checked="x.bsIds!=null"> 
											<label for="bs-{{x.bsId}}"><span>{{x.bsId}}-{{x.name}}</span></label>
								</div>
								 
							</div>
						</div>
					</div>
							<!-- row -->
							<!-- <div class="row">
								<div class="col-md-12">
									<div class="btn-group" style="padding-top:10px;">
										<button class="btn btn-success btn-sm"
											ng-click="showBsModal()">
											<i class="fa fa-plus-circle"></i>&nbsp;编辑禁止告警基站
										</button>

										<button class="btn btn-danger btn-sm" onclick="xh.delMore()"
											ng-disabled="up.p_delete=='off'?true:false">
											<i class="fa fa-trash"></i>&nbsp;批量删除
										</button>
										<button class="btn btn-warning btn-sm" ng-click="refresh()">
											<i class="fa fa-refresh"></i>&nbsp;刷新
										</button>
									</div>
								</div>
							</div> -->
							<!-- row -->
							<!-- <table id="tb-info" class="xh-table table-hover">
								<thead>
									<tr class="tr-gray">
										<th width="30px"><input type="checkbox"
											id="table-checkbox" class="table-check" /></th>
										<th>基站ID</th>
										<th>名称</th>
										<th width="150px">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-if="totals==0">
										<td colspan="4" class="text-center">没有记录！</td>
									</tr>
									<tr ng-repeat="x in data">
										<td><input ng-if="x.roleId!=10000" type="checkbox"
											name="tb-check" value="{{x.bsIds}}" index="{{$index}}" /></td>
										<td>{{x.bsIds}}</td>
										<td>{{x.name}}</td>
										<td style="width:20px;text-align:center"><a href="#"
											ng-click="del(x.bsIds)"><i
												class="fa fa-trash text-success"></i>&nbsp;删除</a></td>


									</tr>
								</tbody>
							</table>
							<div class="page">
								<div class="page-info">
									每页显示 <select id="page-limit" ng-change="refresh()"
										ng-model="count">
										<option value="15">15</option>
										<option value="20">20</option>
										<option value="30">30</option>
										<option value="40">40</option>
										<option value="50">50</option>
									</select> 条, <span ng-model="index">显示{{start}}-</span><span
										ng-model="lastIndex">{{lastIndex}}条,</span> <span
										ng-model="totals">总计{{totals}}条</span>
								</div>
								<div class="page-paging"></div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- row/ -->
	</div>
	<!-- 中间内容体 /-->
	<!-- 底部内容体 -->





	<div class="modal fade" id="add" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog modal-llg">
			<div class="modal-content">
				<div class="color-line"></div>
				<div class="modal-header ">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<small class="font-bold">基站列表</small>
				</div>
				<div class="modal-body pad-0">
				<!-- <div class="row">
				<div class="col-md-12">
					<div class="btn-group" style="padding-bottom:2px;">
						<button class="btn btn-success btn-sm" id="selectAll">全选
						</button>
						<button class="btn btn-info btn-sm" id="selectNo">全不选
						</button>
						<button class="btn btn-danger btn-sm" id="selectOther">反选
						</button>
						<button class="btn btn-warning btn-sm" ng-click="save()">保存配置</button>
					</div>
				</div>
			</div> -->
					<!-- <div class="row">
						<div class="col-md-12">
							<div class="bsList" style="max-height:400px; overflow-y: scroll; overflow-x: hidden;">
								<div ng-if="bs_search_totals==0">没有基站相关数据</div>
								
								<div class="form-group col-md-3" ng-repeat="x in bs_search_data">
										<input id="bs-{{x.bsId}}" class="magic-checkbox" type="checkbox"
											name="bsIds" value="{{x.bsId}}" ng-checked="x.bsIds!=null"> 
											<label for="bs-{{x.bsId}}"><span>{{x.bsId}}-{{x.name}}</span></label>
									</div>
								 
							</div>
						</div>
					</div> -->



				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger btn-sm"
						data-dismiss="modal">
						<i class="fa fa-remove"></i>&nbsp;关闭
					</button>

				</div>
			</div>
		</div>
	</div>




	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="../../lib/metisMenu/dist/metisMenu.min.js"></script>
	<script type="text/javascript"
		src="../../Controllers/operations/bslimit.js"></script>
	<script type="text/javascript">
		xh.load();
	</script>
</body>
</html>
