<!DOCTYPE html>
<html>
<head>
<title>基站状态</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<link rel="stylesheet" type="text/css"
	href="../../lib/layer-master/src/theme/layer.css">

<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<p class="alert alert-danger" style="z-index:2000;text-align:center;">你的浏览器版本过低，请更新你的版本.建议使用IE10+版本，google，火狐等浏览器 </p>
<![endif]-->
<style type="text/css">
.bs-div {
	float: left;
	margin: 5px;
	min-width: 200px;
	line-height: 30px;
	border: 1px solid gray;
	/* border-left:10px solid gray; */
	background: #fff;
	border-radius：50px;
}

.bs-div-check {
	background: black !important;
}

.bsList .bs-litter-box {
	float: left;
	/*  margin: 5px; */
	min-width: 270px;
	line-height: 18px;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
}
</style>
</head>
<body ng-app="app" ng-controller="userstatus" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>运维管理</span></li>
							<li><span>实时监测</span></li>
							<li class="active"><span>基站状态</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel" data-child="hpanel"
			data-effect="fadeInDown">
			<!-- <div class="alert alert-primary">
				<i class="fa fa-close text-white pull-right" id="alert-close"></i>
				"红色" &nbsp;&nbsp;<span style="color:#fff">[正常]</span>
				&nbsp;&nbsp;"绿色"&nbsp;<span style="color:#fff">[中断]</span>
				&nbsp;&nbsp; "灰色"&nbsp;<span style="color:#fff">[没有启用]</span>
				&nbsp;&nbsp;

			</div> -->
			<div class="row" ng-show=true>
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-body">

							<div class="row">
								<div class="col-md-2">
									<label>基站级别:</label> <select name="type" class="form-control"
										onchange="xh.refresh()">
										<option value="0" selected="selected">全部</option>
										<option value="1">一级基站</option>
										<option value="2">二级基站</option>
										<option value="3">三级基站</option>
									</select>

								</div>
								<div class="col-md-2">
									<label>基站区域:</label> <select name="zone" class="form-control"
										onchange="xh.refresh()" ng-model="zone">
										<option value="全部" selected="selected">全部</option>
										<option ng-repeat="x in zoneData" value="{{x.zone}}">{{x.zone}}</option>

									</select>

								</div>
								<div class="col-md-2">
									<label>连接状态:</label> <select name="link" class="form-control"
										onchange="xh.refresh()">
										<option value="2" selected="selected">全部</option>
										<option value="0">连接</option>
										<option value="1">断开</option>
									</select>

								</div>
								<div class="col-md-2">
									<label>启用状态:</label> <select name="status" class="form-control"
										onchange="xh.refresh()">
										<option value="2" selected="selected">全部</option>
										<option value="1">启用</option>
										<option value="0">未启用</option>
									</select>

								</div>
								<div class="col-md-2">
									<label>注册终端/组</label> <input name="usergroup"
										class="form-control" placeholder="终端、组号码"
										oninput="OnInput (event)"
										onpropertychange="OnPropChanged (event)" />

								</div>
								<div class="col-md-2" style="cursor: pointer;"
									ng-click="showBsModal()">
									<i class="fa fa-hourglass-end text-danger"></i>&nbsp;<span
										class="text-black">基站筛选</span>

								</div>


							</div>
							<div class="row">
								<div class="col-md-3" style="margin-top:10px;">
									<button class="btn btn-danger btn-sm" ng-disabled=""
										onclick="xh.excelToBsstatus()">
										<i class="fa fa-file-excel-o"></i>&nbsp;导出现网基站的运行记录
									</button>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- row---end -->
		<!-- 	<div class="row">
				<div class="col-md-2" ng-repeat="x in data" class="bs-div" bsId-value="{{x.bsId}}"
						status-value="{{x.status}}">
					<div class="hpanel hbggreen">
						<div class="panel-body">
							<div class="text-center">
								<h3>{{x.name}}</h3>
								<small>注册组/终端数量: </small></br>
								<small>设备异常统计数量: </small>
							</div>
						</div>
					</div>
				</div>


			</div> -->
			<!-- row-end -->
			 <div class="row">

				<div class="col-md-12">
					<div ng-if="totals==0">未找到相关数据</div>
					<div ng-repeat="x in data" class="bs-div" bsId-value="{{x.bsId}}"
						status-value="{{x.status}}">


						<div style="cursor: pointer;" ng-if="x.status==1 && x.link!=0"
							class="td-danger bs-info" ng-click="bsView($index)">【{{x.bsId}}】{{x.name}}</div>
						<div style="cursor: pointer;"
							ng-if="x.status==1 &&x.link==0 && x.deviceAlarmSum>0"
							class="td-warning bs-info" ng-click="bsView($index)">【{{x.bsId}}】{{x.name}}</div>
						<div style="cursor: pointer;"
							ng-if="x.status==1 &&x.link==0 && x.deviceAlarmSum==0"
							class="td-success bs-info" ng-click="bsView($index)">【{{x.bsId}}】{{x.name}}</div>
						<div style="cursor: pointer;"
							ng-if="x.status==1 &&x.link==0 && x.deviceAlarmSum==null"
							class="td-success bs-info" ng-click="bsView($index)">【{{x.bsId}}】{{x.name}}</div>
						<div style="cursor: pointer;" class="td-gray bs-info"
							ng-if="x.status==0">【{{x.bsId}}】{{x.name}}</div>
						<div ng-if="x.status==1 &&x.link==0">
							<div style="cursor: pointer;" ng-click="showGroupUser($index)">

								注册组/终端数量:&nbsp; <span ng-if='x.groupSum==null'
									style="color:blue">[0 ]</span> <span ng-if='x.groupSum!=null'
									style="color:blue">[{{x.groupSum}} ]</span>/ <span
									ng-if='x.userSum==null' style="color:blue">[0 ]</span> <span
									ng-if='x.userSum!=null' style="color:blue">[{{x.userSum}}
									]</span>

							</div>
							<div>
								<span ng-if="x.deviceAlarmSum==null">设备异常统计数量:&nbsp;0 </span> <span
									ng-if="x.deviceAlarmSum!=null">设备异常统计数量:&nbsp;{{x.deviceAlarmSum}}
								</span>
							</div>

						</div>
						<div ng-if="x.status==1 &&x.link!=0">

							<div>

								注册组/终端数量:&nbsp;<span style="color:blue">0/0</span>

							</div>
							<div>
								<span ng-if="x.deviceAlarmSum==null">设备异常统计数量:&nbsp;0 </span> <span
									ng-if="x.deviceAlarmSum!=null">设备异常统计数量:&nbsp;0 </span>
							</div>

						</div>




					</div>
				</div>
			</div>
			<!-- row-end -->
		</div>
	</div>

	<aside id="aside-right" class="animated fadeInLeft">
		<div class="bsList">

			<div ng-if="bs_search_totals==0">没有基站相关数据</div>
			<div class="bs-litter-box" ng-repeat="x in bs_search_data"
				ng-click="bssearch()">
				<input id="bs-{{x.bsId}}" class="magic-checkbox" type="checkbox"
					name="bsIds" value="{{x.bsId}}" style="margin-top:30px;"> <label
					for="bs-{{x.bsId}}"><span>{{x.bsId}}-{{x.name}}</span></label>

			</div>
		</div>

	</aside>
	<!-- 底部内容体 -->
	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<!-- <script type="text/javascript"
		src="../../lib/metisMenu/dist/metisMenu.min.js"></script>
	<script type="text/javascript" src="../../lib/echarts/echarts.js"></script> -->
	<script type="text/javascript"
		src="../../Controllers/operations/bsstatus.js"></script>
	<script type="text/javascript"
		src="../../lib/layer-master/src/layer.js"></script>
	<script type="text/javascript">
		xh.load();
	</script>
	<script type="text/javascript">
		// Firefox, Google Chrome, Opera, Safari, Internet Explorer from version 9
		function OnInput(event) {
			//alert ("The new content: " + event.target.value);
			xh.refresh()
		}
		// Internet Explorer
		function OnPropChanged(event) {
			if (event.propertyName.toLowerCase() == "value") {
				// alert ("The new content: " + event.srcElement.value);
				xh.refresh()
			}
		}
		$(function() {
			$("input[name='usergroup']").bind('input propertychange',
					function() {

						var val = $(this).val();
						xh.refresh()
					})
		});
	</script>
</body>
</html>
