<!DOCTYPE html>
<html>
<head>
<title>基站状态</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<link rel="stylesheet" type="text/css"
	href="../../lib/layer-master/src/theme/layer.css">

<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<p class="alert alert-danger" style="z-index:2000;text-align:center;">你的浏览器版本过低，请更新你的版本.建议使用IE10+版本，google，火狐等浏览器 </p>
<![endif]-->
<style type="text/css">
.bs-div {
	float: left;
	margin: 5px;
	min-width: 40px;
	line-height: 30px;
	border: 0px solid gray;
	text-align: center;
	background: #fafafa;
	/* border: 1px solid #ccc; */
	border-radius:10px;
	box-shadow:0 0 5px #4169E1;
}

.width-1 {
	width: 200px;
}

.bs-div .zone-div {
	min-width: 100%;
	background: #4169E1;
	color: #fff;
	font-weight: 700;
	padding: 0;
	/* border:1px solid #fafafa; */
	border-top-right-radius:10px;border-top-left-radius:10px;
}

.bs-info div {
	float: left;
	margin: 2px 4px 0 1px;
	min-width: 40px;
	line-height: 30px;
	border: 0px solid gray;
	text-align: center;
	background: #fff;
	border-radius:3px;
	/* box-shadow: 0px 9px 0px #ccc, 0px 9px 25px rgba(0, 0, 0, .7); */
	/*  box-shadow: 0 0 3px #1b1b1b; rgba(219, 31, 5, 1) */
}

.bs-info {
	float: left;
}

.bs-div-check {
	background: black !important;
}

.bsList .bs-litter-box {
	float: left;
	/*  margin: 5px; */
	min-width: 270px;
	line-height: 18px;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
}

.top-search {
	position: fixed;
	right: 20px;
	top: 32px;
	padding: 0px;
}

.showInfo {
	position: fixed;
	left: 0;
	top: 32px;
	padding-top: 5px;
	padding-left: 15px;
}

.bs-line {
	margin-top: 20px;
	float: left;
}

.loader-container {
	height: 3px;
	width: 50px;
	/* position: absolute; */
	/* top: 50%;
	left: 50%;
	margin-top: -3px;
	margin-left: -300px; */
	background-color: transparent;
	background: green;
	/* background-image: -webkit-linear-gradient(left, #5bd8ff, #ff0000);
	background-image: -moz-linear-gradient(left, #5bd8ff, #ff0000);
	background-image: -o-linear-gradient(left, #5bd8ff, #ff0000);
	background-image: -ms-linear-gradient(left, #5bd8ff, #ff0000);
	background-image: linear-gradient(left, #5bd8ff, #ff0000); */
	box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.4);
	border-radius: 3px 0 0 3px;
	box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.4)
}

.loader-container:after {
	content: "";
	display: block;
	position: relative;
	/* right: 0;
	top: 50%; */
	width: 1em;
	height: 1em;
	border-radius: 50%;
	border: 2px solid yellow;
	margin-top: -0.5em;
	/* margin-right: -0.9em; */
	margin-top: -0.5em;
	/* margin-top: -0.5em;
	margin-right: -1em; */
	/* background-image: -webkit-linear-gradient(top, #000000, #212121);
	background-image: -moz-linear-gradient(top, #000000, #212121);
	background-image: -o-linear-gradient(top, #000000, #212121);
	background-image: -ms-linear-gradient(top, #000000, #212121);
	background-image: linear-gradient(top, #000000, #212121); */
}

.loader-container.done:after {
	background: green;
}
</style>
</head>
<body ng-app="app" ng-controller="userstatus" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>运维管理</span></li>
							<li><span><a href="monitor.html" target="_self">实时监测</a></span></li>
							<li class="active"><span>基站状态</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel" data-child="hpanel"
			data-effect="fadeInDown">
			<div class="top-search btn-group">
				<button class="btn btn-success btn-sm" data-toggle="modal"
					data-target="#search">
					<i class="fa fa-search fa-x"></i>查询
				</button>
				<!-- <button class="btn btn-info btn-sm" ng-click="showBsModal()">
			<i class="fa fa-support fa-x"></i>重要基站
			</button> -->
				<button class="btn btn-danger btn-sm" onclick="xh.excelToBsRun()"
					id="btn-run" type="button">
					<i class="fa fa-file-excel-o"></i>&nbsp;基站运行记录表
				</button>
				<button class="btn btn-danger btn-sm" onclick="xh.excelToBsstatus()"
					id="btn-status" type="button">
					<i class="fa fa-file-excel-o"></i>&nbsp;基站状态检查表
				</button>
				<!-- onclick="xh.excelToBsAlarm()" -->
				<button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#faultRecord">
					<i class="fa fa-file-excel-o"></i>&nbsp;基站故障记录登记表
				</button>
			</div>
			<div class="showInfo">
				当前基站：<span class="bs-name text-danger" style="font-weight: 700"></span>
				<span style="margin-left:30px;">注册组：</span><span
					class="bs-group text-danger" style="font-weight: 700;"></span> <span
					style="margin-left:30px;">注册终端：</span><span
					class="bs-user text-danger" style="font-weight: 700;"></span>
			</div>

			<!-- row-end -->
			<div class="row" style="margin-top:30px;">

				<div class="col-md-12">
					<!-- <div id="tree"></div> -->
					<div ng-if="totals==0">未找到相关数据</div>
					<div ng-repeat="x in data" class="bs-div" bsId-value="{{x.bsId}}"
						status-value="{{x.status}}" ng-if="x.total<=11"
						style="width:250px;height:130px;">
						<div class="bs-info zone-div">{{x.zone}}(<span style="color:#7FFF00">{{x.total}}个基站</span>)</div>
						<div ng-repeat="y in x.item" class="bs-info">

							<div ng-if="y.status==1 && y.link!=0" class="td-danger bs-info"
								style="cursor: pointer;"
								ng-mouseover="bsHover(y.link,y.status,y.bsId,y.name,y.groupSum,y.userSum)"
								title="{{y.name}}" ng-click="bsView(y.bsId,y.name,y.period)">{{y.bsId}}</div>
							<div style="cursor: pointer;"
								ng-if="y.status==1 &&y.link==0 && y.deviceAlarmSum>0"
								class="td-warning bs-info" title="{{y.name}}"
								ng-mouseover="bsHover(y.link,y.status,y.bsId,y.name,y.groupSum,y.userSum)"
								ng-click="bsView(y.bsId,y.name,y.period)">{{y.bsId}}</div>
							<div style="cursor: pointer;"
								ng-if="y.status==1 &&y.link==0 && y.deviceAlarmSum==0"
								class="td-success bs-info" title="{{y.name}}"
								ng-mouseover="bsHover(y.link,y.status,y.bsId,y.name,y.groupSum,y.userSum)"
								ng-click="bsView(y.bsId,y.name,y.period)">{{y.bsId}}</div>
							<div style="cursor: pointer;"
								ng-if="y.status==1 &&y.link==0 && y.deviceAlarmSum==null"
								class="td-success bs-info" title="{{y.name}}"
								ng-mouseover="bsHover(y.link,y.status,y.bsId,y.name,y.groupSum,y.userSum)"
								ng-click="bsView(y.bsId,y.name,y.period)">{{y.bsId}}</div>
							<div style="cursor: pointer;" class="td-gray bs-info"
								ng-if="y.status==0" title="{{y.name}}"
								ng-mouseover="bsHover(y.link,y.status,y.bsId,y.name,y.groupSum,y.userSum)">{{y.bsId}}</div>

						</div>
					</div>
					<div ng-repeat="x in data" class="bs-div" bsId-value="{{x.bsId}}"
						status-value="{{x.status}}" ng-if="x.total>11 && x.total<=20"
						style="width:250px;height:165px;">
						<div class="bs-info zone-div">{{x.zone}}(<span style="color:#7FFF00">{{x.total}}个基站</span>)</div>
						<div ng-repeat="y in x.item" class="bs-info">
							<div ng-if="y.status==1 && y.link!=0" class="td-danger bs-info"
								style="cursor: pointer;" title="{{y.name}}"
								ng-mouseover="bsHover(y.link,y.status,y.bsId,y.name,y.groupSum,y.userSum)"
								ng-click="bsView(y.bsId,y.name,y.period)">{{y.bsId}}</div>
							<div style="cursor: pointer;"
								ng-if="y.status==1 &&y.link==0 && y.deviceAlarmSum>0"
								class="td-warning bs-info" title="{{y.name}}"
								ng-mouseover="bsHover(y.link,y.status,y.bsId,y.name,y.groupSum,y.userSum)"
								ng-click="bsView(y.bsId,y.name,y.period)">{{y.bsId}}</div>
							<div style="cursor: pointer;"
								ng-if="y.status==1 &&y.link==0 && y.deviceAlarmSum==0"
								class="td-success bs-info" title="{{y.name}}"
								ng-mouseover="bsHover(y.link,y.status,y.bsId,y.name,y.groupSum,y.userSum)"
								ng-click="bsView(y.bsId,y.name,y.period)">{{y.bsId}}</div>
							<div style="cursor: pointer;"
								ng-if="y.status==1 &&y.link==0 && y.deviceAlarmSum==null"
								class="td-success bs-info" title="{{y.name}}"
								ng-mouseover="bsHover(y.link,y.status,y.bsId,y.name,y.groupSum,y.userSum)"
								ng-click="bsView(y.bsId,y.name,y.period)">{{y.bsId}}</div>
							<div style="cursor: pointer;" class="td-gray bs-info"
								ng-if="y.status==0" title="{{y.name}}"
								ng-mouseover="bsHover(y.link,y.status,y.bsId,y.name,y.groupSum,y.userSum)">{{y.bsId}}</div>
						</div>
					</div>
					<div ng-repeat="x in data" class="bs-div" bsId-value="{{x.bsId}}"
						status-value="{{x.status}}" ng-if="x.total>20"
						style="width:510px;height:170px;">
						<div class="bs-info zone-div">{{x.zone}}(<span style="color:#7FFF00">{{x.total}}个基站</span>)</div>
						<div ng-repeat="y in x.item" class="bs-info">
							<div ng-if="y.status==1 && y.link!=0" class="td-danger bs-info"
								style="cursor: pointer;" title="{{y.name}}"
								ng-mouseover="bsHover(y.link,y.status,y.bsId,y.name,y.groupSum,y.userSum)"
								ng-click="bsView(y.bsId,y.name,y.period)">{{y.bsId}}</div>
							<div style="cursor: pointer;"
								ng-if="y.status==1 &&y.link==0 && y.deviceAlarmSum>0"
								class="td-warning bs-info" title="{{y.name}}"
								ng-mouseover="bsHover(y.link,y.status,y.bsId,y.name,y.groupSum,y.userSum)"
								ng-click="bsView(y.bsId,y.name,y.period)">{{y.bsId}}</div>
							<div style="cursor: pointer;"
								ng-if="y.status==1 &&y.link==0 && y.deviceAlarmSum==0"
								class="td-success bs-info" title="{{y.name}}"
								ng-mouseover="bsHover(y.link,y.status,y.bsId,y.name,y.groupSum,y.userSum)"
								ng-click="bsView(y.bsId,y.name,y.period)">{{y.bsId}}</div>
							<div style="cursor: pointer;"
								ng-if="y.status==1 &&y.link==0 && y.deviceAlarmSum==null"
								class="td-success bs-info" title="{{y.name}}"
								ng-mouseover="bsHover(y.link,y.status,y.bsId,y.name,y.groupSum,y.userSum)"
								ng-click="bsView(y.bsId,y.name,y.period)">{{y.bsId}}</div>
							<div style="cursor: pointer;" class="td-gray bs-info"
								ng-if="y.status==0" title="{{y.name}}"
								ng-mouseover="bsHover(y.link,y.status,y.bsId,y.name,y.groupSum,y.userSum)">{{y.bsId}}</div>
						</div>
					</div>

				</div>
			</div>
			<!-- row-end -->
		</div>
	</div>
	<aside id="aside-right-bottom" class="animated fadeInLeft">
		1233</aside>

	<aside id="aside-right" class="animated fadeInLeft">
		<div class="bsList">

			<div ng-if="bs_search_totals==0">没有基站相关数据</div>
			<div class="bs-litter-box" ng-repeat="x in bs_search_data"
				ng-click="bssearch()">
				<input id="bs-{{x.bsId}}" class="magic-checkbox" type="checkbox"
					name="bsIds" value="{{x.bsId}}" style="margin-top:30px;"> <label
					for="bs-{{x.bsId}}"><span>{{x.bsId}}-{{x.name}}</span></label>

			</div>
		</div>

	</aside>
	<div class="modal fade" id="search" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header ">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<small class="font-bold">数据筛选</small>
				</div>
				<div class="modal-body pad-0" style="margin:2px;padding:2px;">
					<div class="row" ng-show=true>
						<div class="col-md-12">
							<div class="hpanel">
								<div class="panel-body">

									<div class="row">
										<div class="col-md-12">
											<label>基站级别:</label> <select name="type" class="form-control"
												onchange="xh.refresh()">
												<option value="0" selected="selected">全部</option>
												<option value="1">一级基站</option>
												<option value="2">二级基站</option>
												<option value="3">三级基站</option>
											</select>

										</div>
										<div class="col-md-12">
											<label>基站区域:</label> <select name="zone" class="form-control"
												onchange="xh.refresh()" ng-model="zone">
												<option value="全部" selected="selected">全部</option>
												<option ng-repeat="x in zoneData" value="{{x.zone}}">{{x.zone}}</option>

											</select>

										</div>
										<div class="col-md-12">
											<label>连接状态:</label> <select name="link" class="form-control"
												onchange="xh.refresh()">
												<option value="2" selected="selected">全部</option>
												<option value="0">连接</option>
												<option value="1">断开</option>
											</select>

										</div>
										<div class="col-md-12">
											<label>启用状态:</label> <select name="status"
												class="form-control" onchange="xh.refresh()">
												<option value="2" selected="selected">全部</option>
												<option value="1">启用</option>
												<option value="0">未启用</option>
											</select>

										</div>
										<div class="col-md-12">
											<label>注册终端/组</label> <input name="usergroup"
												class="form-control" placeholder="终端、组号码"
												oninput="OnInput (event)"
												onpropertychange="OnPropChanged (event)" />

										</div>



									</div>


								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="modal-footer">
					
				</div> -->
			</div>
		</div>
	</div>
	<!-- 底部内容体 -->
	<div class="modal fade" id="faultRecord" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header ">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<small class="font-bold">数据筛选：时间范围</small>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="hpanel">
								<div class="panel-body">

									<div class="row">
										<div class="col-md-12">
											<div class="form-group col-md-12">
												<label>开始时间</label>&nbsp;<span class="text-danger">[*]</span>
												<input type="text" value="" class="form-control"
													name="startTime" required="required"
													onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
											</div>
										</div>
                                        <div class="col-md-12">
											<div class="form-group col-md-12">
												<label>结束时间</label>&nbsp;<span class="text-danger">[*]</span>
												<input type="text" value="" class="form-control"
													name="endTime" required="required" ng-model="nowDate"
													onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger btn-sm" type="button" id="btn-write" onclick="xh.excelToBsAlarm()">
					<i class="fa fa-file-excel-o"></i>&nbsp;导出
				</button>
				</div> 
			</div>
		</div>
	</div>


	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<!-- <script type="text/javascript"
		src="../../lib/metisMenu/dist/metisMenu.min.js"></script>
	<script type="text/javascript" src="../../lib/echarts/echarts.js"></script> -->
	<script type="text/javascript" src="../../lib/echarts/echarts.js"></script>
	<script type="text/javascript"
		src="../../Controllers/operations/bsstatus.js"></script>

	<script type="text/javascript"
		src="../../lib/layer-master/src/layer.js"></script>
	<script type="text/javascript">
		xh.load();
		/* $("[data-toggle='tooltip']").tooltip(); */
	</script>
	<script type="text/javascript">
		// Firefox, Google Chrome, Opera, Safari, Internet Explorer from version 9
		function OnInput(event) {
			//alert ("The new content: " + event.target.value);
			xh.refresh()
		}
		// Internet Explorer
		function OnPropChanged(event) {
			if (event.propertyName.toLowerCase() == "value") {
				// alert ("The new content: " + event.srcElement.value);
				xh.refresh()
			}
		}
		$(function() {
			$("input[name='usergroup']").bind('input propertychange',
					function() {

						var val = $(this).val();
						xh.refresh()
					})
		});
	</script>
</body>
</html>
