
<div ng-show="emhData.totals>0">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6">
					<div style="width:200px;"
						ng-class="{'panel-card hbgreen':emhData.door==0,'panel-card hbgred':emhData.door==1}">
						<div class="card-img">
							<i class="fa fa-bell fa-3x"></i>
						</div>
						<div class="card-info">
							<label>门磁传感器</label></br> <i class="fa fa-check-square-o"
								ng-if="emhData.door==0"></i> <i class="fa fa-close"
								ng-if="emhData.door==1"></i> <span ng-if="emhData.door==0">门关闭</span>
							<span ng-if="emhData.door==1">门打开</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div style="width:200px;"
						ng-class="{'panel-card hbgreen':emhData.smoke==0,'panel-card hbgred':emhData.smoke==1}">
						<div class="card-img">
							<i class="fa fa-fire fa-3x"></i>
						</div>
						<div class="card-info">
							<label>烟雾传感器</label></br> <i class="fa fa-check-square-o"
								ng-if="emhData.smoke==0"></i> <i class="fa fa-close"
								ng-if="emhData.smoke==1"></i> <span ng-if="emhData.smoke==0">正常</span>
							<span ng-if="emhData.smoke==1">异常</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div style="width:200px;"
						ng-class="{'panel-card hbgreen':emhData.red==0,'panel-card hbgred':emhData.red==1}">
						<div class="card-img">
							<i class="fa fa-magic fa-3x"></i>
						</div>
						<div class="card-info">
							<label>红外传感器</label></br> <i class="fa fa-check-square-o"
								ng-if="emhData.red==0"></i> <i class="fa fa-close"
								ng-if="emhData.red==1"></i> <span ng-if="emhData.red==0">正常</span>
							<span ng-if="emhData.red==1">异常</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div style="width:200px;"
						ng-class="{'panel-card hbgreen':emhData.water==0,'panel-card hbgred':emhData.water==1}">
						<div class="card-img">
							<i class="fa fa-tint fa-3x"></i>
						</div>
						<div class="card-info">
							<label>水浸传感器</label></br> <i class="fa fa-check-square-o"
								ng-if="emhData.water==0"></i> <i class="fa fa-close"
								ng-if="emhData.water==1"></i> <span ng-if="emhData.water==0">正常</span>
							<span ng-if="emhData.water==1">异常</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div id="temp-div"
						style="height:200px;background:#fff; width:200px;color:#fff;margin:0;padding:0"></div>
				</div>
				<div class="col-md-6">
					<div id="damp-div"
						style="height:200px;background:#fff; width:200px;color:#fff;"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-heading">视频监控</div>
						<div class="panel-body">
						
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- row -->
	<div class="row">
		<div class="col-md-12">
			<div class="hpanel">
				<div class="panel-heading">UPS</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3">
							<div class="panel-card hbgreen">
								<div class="card-img">
									<i class="fa fa-cube fa-3x"></i>
								</div>
								<div class="card-info">
									<label>输入相电压</label></br> <span>{{emhData.ups1}}V</span>

								</div>
							</div>
						</div>
						<!-- col-md-3 -->
						<div class="col-md-3">
							<div class="panel-card hbgreen">
								<div class="card-img">
									<i class="fa fa-cube fa-3x"></i>
								</div>
								<div class="card-info">
									<label>输出相电压</label></br> <span>{{emhData.ups2}}V</span>

								</div>
							</div>
						</div>
						<!-- col-md-3 -->
						<div class="col-md-3">
							<div class="panel-card hbgreen">
								<div class="card-img">
									<i class="fa fa-cube fa-3x"></i>
								</div>
								<div class="card-info">
									<label>输出频率</label></br> <span>{{emhData.ups3}}Hz</span>

								</div>
							</div>
						</div>
						<!-- col-md-3 -->
						<div class="col-md-3">
							<div class="panel-card hbgreen">
								<div class="card-img">
									<i class="fa fa-cube fa-3x"></i>
								</div>
								<div class="card-info">
									<label>电池组电压</label></br> <span>{{emhData.ups4}}V</span>

								</div>
							</div>
						</div>
						<!-- col-md-3 -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- row -->


</div>

<div ng-show="emhData.totals<=0">
	<div class="error-container" style="margin:0 auto;text-align: center;">
		<h1>
			<i class="fa fa-question-circle-o fa-3x text-success"></i>
		</h1>
		<h2>该站点下的环境监控设备未找到！</h2>
	</div>
</div>


<!-- <div class="row">
	<div class="col-md-3">
		<div class="panel-card hbgreen">
			<div class="card-img">
				<i class="fa fa-bell fa-3x"></i>
			</div>
			<div class="card-info">
				<label>门磁传感器</label></br> <i class="fa fa-check-square-o"
					ng-if="emhData.door==0"></i> <i class="fa fa-close"
					ng-if="emhData.door==1"></i> <span ng-if="emhData.door==0">门关闭</span>
				<span ng-if="emhData.door==1">门打开</span>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel-card hbgred">
			<div class="card-img">
				<i class="fa fa-fire fa-3x"></i>
			</div>
			<div class="card-info">
				<label>烟雾传感器</label></br> <i class="fa fa-check-square-o"
					ng-if="emhData.smoke==0"></i> <i class="fa fa-close"
					ng-if="emhData.smoke==1"></i> <span ng-if="emhData.smoke==0">正常</span>
				<span ng-if="emhData.smoke==1">异常</span>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel-card hbgorign">
			<div class="card-img">
				<i class="fa fa-magic fa-3x"></i>
			</div>
			<div class="card-info">
				<label>红外传感器</label></br> <i class="fa fa-check-square-o"
					ng-if="emhData.red==0"></i> <i class="fa fa-close"
					ng-if="emhData.red==1"></i> <span ng-if="emhData.red==0">正常</span>
				<span ng-if="emhData.red==1">异常</span>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel-card hbgblue">
			<div class="card-img">
				<i class="fa fa-tint fa-3x"></i>
			</div>
			<div class="card-info">
				<label>水浸传感器</label></br> <i class="fa fa-check-square-o"
					ng-if="emhData.water==0"></i> <i class="fa fa-close"
					ng-if="emhData.water==1"></i> <span ng-if="emhData.water==0">正常</span>
				<span ng-if="emhData.water==1">异常</span>
			</div>
		</div>
	</div>
</div> -->
<!-- row -->
<!-- <div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-3">
		<div id="damp-div" style="height:250px;background:#ccc; width:250px;"></div>
	</div>
</div> -->
<!-- row -->
<script type="text/javascript">
	var $scope = angular.element(appElement).scope();
	$scope.loadTemp();
	$scope.loadDamp();
	/* 温度*/
	/* xh.loadTemp(); */
	/* 湿度*/
	/* xh.loadDamp(); */
</script>