<div class="row" ng-repeat="x in bsrData"
	ng-if="bscExists<2 &&x.bsrIsEnable==1 && show==1">
	<div class="col-md-12">
		<table id="tb-info" class="xh-table table-hover">
			<thead>
				<tr class="tr-gray">
					<th width="120px">属性</th>
					<th>值</th>
					<th width="120px">属性</th>
					<th>值</th>
					<th width="120px">属性</th>
					<th>值</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>ID</td>
					<td style="color:blue;font-weight: 800">{{x.Id}}</td>
					<td>工作状态</td>
					<td style="color:red;font-weight: 800" colspan="3">
					<span ng-if="x.working==0" class="text-success" >正常</span>
					<span ng-if="x.working==1" >到BSC的ICP通道断开</span>
					<span ng-if="x.working==2" >TR异常</span> 
					<span ng-if="x.working==3" >到BSC的ICP通道断开并且TR异常</span>
					<span ng-if="x.working==4" >PA异常</span> 
					<span ng-if="x.working==5" >到BSC的ICP通道断开，PA异常</span>
					<span ng-if="x.working==6" >TR及PA异常</span> 
					<span ng-if="x.working==7" >到BSC的ICP通道断开，TR及PA异常</span>
					<span ng-if="x.working==8" >DSP状态异常</span> 
					<span ng-if="x.working==64" >BBP状态异常</span> 
					<span ng-if="x.working==65" >到BSC的ICP通道断开，并且BBP状态异常</span>
					<span ng-if="x.working==66" >BBP及TR状态异常</span>
					<span ng-if="x.working==67" >到BSC的ICP通道断开，BBP及TR状态异常</span>
					<span ng-if="x.working==68" >BBP及PA状态异常</span>
					<span ng-if="x.working==69" >到BSC的ICP通道断开，BBP及PA状态异常</span>
					<span ng-if="x.working==70" >BBP，TR及PA状态异常</span>
					<span ng-if="x.working==71" >到BSC的ICP通道断开，BBP、TR及PA状态异常</span>
                    <span ng-if="x.working==72" >DSP、BBP状态异常</span>
					<span ng-if="x.working==73" >BBP状态异常，DSP状态异常，到BSC的ICP通道断开</span>
					<span ng-if="x.working==74" >BBP状态异常,DSP状态异常,TR异常</span>
					<span ng-if="x.working==75" >到BSC的ICP通道断开,BBP、DSP、TR状态异常</span>
					<span ng-if="x.working==128" >功放关闭</span> 
					<span ng-if="x.working==255" >工作状态未知</span>
					</td>
					
				</tr>
				<tr>
					<td>第一载波频点</td>
					<td>{{x.freq |freqFormat}}</td>
					<td>第二载波频点</td>
					<td>{{x.freq2 |freqFormat}}</td>
					<td>第三载波频点</td>
					<td>{{x.freq3 |freqFormat}}</td>
				</tr>
				<tr>
					<td>第四载波频点</td>
					<td>{{x.freq4 |freqFormat}}</td>
					<td>是否包含主载波</td>
					<td><span ng-if="x.master==0">未知</span> <span
						ng-if="x.master==1">否</span> <span ng-if="x.master==2">是</span></td>
					<td>功率</td>
					<td><span ng-if="x.power>47">{{x.power-15}}db</span> <span
						ng-if="x.power<=47">{{x.power}}db</span></td>
				</tr>
				<tr>
				<td>更新时间</td>
				<td colspan="5">{{x.updateTime}}</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>
<!-- row -->
<!-- row -->
<div class="row"  ng-if="bscExists>=2">
<div class="col-md-12">
<p>数据获取中</p>
</div>
</div>


