<div class="row" ng-repeat="x in psmData" ng-if="x.bdTmp1>0 || x.bdTmp2>0 || x.bdTmp3>0">
	<div class="col-md-12">
		<table id="tb-info" class="xh-table table-hover">
			<thead>
				<tr class="tr-gray">
					<th width="120px">属性</th>
					<th>值</th>
					<th width="120px">属性</th>
					<th>值</th>
					<th width="120px">属性</th>
					<th>值</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>工作状态</td>
					<td style="color:red:font-weight:800" colspan="3">
					<span ng-if="x.dc12==1">DC12V异常</span> 
					<span ng-if="x.dc301==1" >DC30V-1异常</span>
					<span ng-if="x.dc302==1" >DC30V-2异常</span> 
					<span ng-if="x.runStatus==1">单板运行状态异常</span> 
					<span ng-if="x.tempStatus==1">单板温度异常</span> 
					<span ng-if="x.linkStatus==1">PSM与BSC通讯异常</span> 
					<span ng-if="x.linkStatus==0 && x.dc12==0 && x.dc301==0 && x.dc302==0 &&x.runStatus==0 && x.tempStatus==0"
					 style="color:green;font-weight: 800">正常</span>
					</td>
				</tr>

				<tr>
					<td>风扇1状态</td>
					<td>
					<span ng-if="x.fan1==2" class="text-success">正常</span> 
					<span ng-if="x.fan1!=2" class="text-danger">异常</span>
					</td>
					<td>风扇2状态</td>
					<td>
					<span ng-if="x.fan2==2" class="text-success">正常</span> 
					<span ng-if="x.fan2!=2" class="text-danger">异常</span>
					</td>
					<td>风扇3状态</td>
					<td>
					<span ng-if="x.fan3==2" class="text-success">正常</span> 
					<span ng-if="x.fan3!=2" class="text-danger">异常</span>
					</td>
				</tr>
				<tr>
					<td>AC/DC通信状态</td>
					<td>
					<span ng-if="x.ad==2" class="text-success">正常</span> 
					<span ng-if="x.ad!=2" class="text-danger">异常</span>
					</td>
					<td>温度1(℃)</td>
					<td>
					<span ng-if="(x.bdTmp1/2)>1">{{x.bdTmp1/2}} ℃</span>
					</td>
					<td>温度2(℃)</td>
					<td>
					<span ng-if="(x.bdTmp2/2)>1">{{x.bdTmp2/2}} ℃</span>
					</td>
				</tr>
				<tr>
					<td>温度3(℃)</td>
					<td>
					<span ng-if="(x.bdTmp3/2)>1">{{x.bdTmp3/2}} ℃</span>
					</td>
					<td>AC/DC电压(V)</td>
					<td>
					<span ng-if="(x.acdcVol/10)>0">{{x.acdcVol/10}} V</span>
					</td>
					<td>AC/DC电流(A)</td>
					<td>
					<span ng-if="(x.acdcCur/10)>0">{{x.acdcCur/10}} A</span>
					</td>

				</tr>
				<tr>
				<!-- <td>更新时间</td>
					<td>{{x.updateTime}}</td> -->
				</tr>

			</tbody>
		</table>
	</div>
</div>
<!-- row -->
<div class="row"  ng-if="psmExists==0">
<div class="col-md-12">
<p>数据获取中</p>
</div>
</div>
