<div class="row">
	<div class="col-md-12">当前基站下注册组总计：{{groupTotals}}</div>
</div>
<div class="row">
	<div class="col-md-12">

		<table id="tb-info" class="xh-table table-hover">
			<thead>
				<tr class="tr-img-gray">
					<th width="50px">序号</th>
					<th>组ID</th>
					<th>名称</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="groupTotals==0">
					<td colspan="3" class="text-center">没有记录！</td>
				</tr>
				<tr ng-repeat="x in groupData">
					<td>{{$index+1}}</td>
					<td>{{x.gourpId}}</td>
					<td>
					<span ng-if="x.talkgroupName==null">[通播组]{{x.multigroupName}}</span>
					<span ng-if="x.talkgroupName!=null">{{x.talkgroupName}}</span>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="page-box" ng-show="groupTotals>0">
			<div class="page-info">
				每页显示 <select id="page-limit-group" ng-change="refresh()"
					ng-model="count">
					<option value="10">10</option>
					<option value="20">20</option>
					<option value="30">30</option>
					<option value="40">40</option>
					<option value="50">50</option>
				</select> 条, <span ng-model="index">显示{{groupStart}}-</span><span
					ng-model="lastIndex">{{groupLastIndex}}条,</span> <span
					ng-model="totals">总计{{groupTotals}}条</span>
			</div>
			<div class="page-paging-group"></div>
		</div>

	</div>
</div>