<!DOCTYPE html>
<html>
<head>
<title>基站状态详细情况</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<p class="alert alert-danger" style="z-index:2000;text-align:center;">你的浏览器版本过低，请更新你的版本.建议使用IE10+版本，google，火狐等浏览器 </p>
<![endif]-->
<style>
#divPlugin{
	z-index:1000!important;
}
.page-box .page-info{
padding:10px;
}
</style>
</head>
<body ng-app="app" ng-controller="userstatus" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>运维管理</span></li>
							<li><span>实时监测</span></li>
							<li><a href="bsstatus.html" target="_self"><span>基站状态</span></a></li>
							<li class="active"><span>【{{bsId}}】号基站状态</span></li>
						</ol>
					</div>
					<div class="pull-right btn-group">
						<a class="btn btn-success btn-sm" href="bsstatus.html"
							target="_self">返回</a>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel" data-effect="fadeInDown">
			<div class="row">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-body">
							<ul id="xh-tabs" class="nav nav-tabs">
								<!-- <li class="active"><a href="#info" data-toggle="tab" ng-click=''>
										告警信息 </a></li> -->
								
								
							

								<li class="active"><a href="#equip" data-toggle="tab" ng-click='equip()'>
										设备状态 </a></li>
								<li><a href="#emh" data-toggle="tab" ng-click='emh()'>
										环控状态</a></li>
								<li><a href="#business" data-toggle="tab"
									ng-click='business()'> 业务信息</a></li>
							</ul>
							<div class="tab-content" style="padding:20px">

								<!-- <div class="tab-pane fade in active" id="info">
									<div ng-include="'bsstatus-view-info.html'"></div>
								</div> -->
								<div class="tab-pane fade" id="emh">
									<div ng-include="'bsstatus-view-emh.html'"></div>
								</div>
								<!-- group -->
								<div class="tab-pane fade" id="business">
									<div ng-include="'bsstatus-view-business.html'"></div>
								</div>
								<div class="tab-pane fade" id="config">

									<div ng-include="'bsstatus-view-config.html'"></div>
								</div>
								<!-- radio -->
								<div class="tab-pane fade in active" id="equip">

									<div ng-include="'bsstatus-view-bsc.html'"></div>
									
									<div ng-include="'bsstatus-view-bsr.html'"></div>
									<div ng-include="'bsstatus-view-dpx.html'"></div>
									<div ng-include="'bsstatus-view-psm.html'"></div>
								</div>
								

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- row---end -->

		</div>
	</div>
	<!-- 中间内容体 /-->
	<!-- 底部内容体 -->
	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<!-- 添加用户 -->
	<!-- <div ng-include="'user-add.html'"></div> -->
	<!-- 编辑基用户-->
	<!-- <div ng-include="'user-edit.html'"></div> -->
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
		<script src="../../demo/codebase/webVideoCtrl.js"></script>
	<script src="../../demo/cn/demo.js"></script>
	<script type="text/javascript" src="../../lib/echarts/echarts.js"></script>
	<script type="text/javascript"
		src="../../Controllers/operations/bsstatus-view.js"></script>
	<script type="text/javascript">
		xh.load();
		/* $(".closePanel").click(function() {
			$("#bs-status-right").fadeToggle("fast");

		});
		$("body").delegate(".bs-box", "click", function() {
			$("#bs-status-right").fadeIn("fast");
			var bsId = $(this).attr("bsId-value");
			xh.bsNature(bsId);

			// TODO
		}); */
	</script>
	
</body>
</html>
