<div class="row" ng-repeat="x in bscData" ng-if="x.bscIsEnable>0">
	<div class="col-md-12">
		<table id="tb-info" class="xh-table table-hover">
			<thead>
			<tr class="tr-gray">
					<th width="120px">属性</th>
					<th>值</th>
					<th width="120px">属性</th>
					<th>值</th>
					<th width="120px">属性</th>
					<th>值</th>
				</tr>
				
			</thead>
			<tbody>
			<tr>
					<td>工作状态</td>
					<td colspan="3" style="color:red;font-weight: 800">
					<span ng-if="x.working==0" class="text-success">正常</span>
					<span ng-if="x.working==1">到交换中心的 ICP通道断开</span> 
					<span ng-if="x.working==2">温度异常</span> 
					<span ng-if="x.working==3">到交换中心的ICP通道断开并且温度异常</span> 
					<span ng-if="x.working==4">CPU太忙</span> 
					<span ng-if="x.working==5">到交换中心的ICP 通道断开同时CPU太忙</span> 
					<span ng-if="x.working==6">温度异常，同时CPU太忙</span>
					<span ng-if="x.working==7">到交换中心的 ICP通道断开，并且温度异常，CPU太忙</span> 
					<span ng-if="x.working==255">工作状态未知</span>
					</td>
					</tr>
					
					<tr>
					<td>工作模式</td>
					<td>
					<span ng-if="x.mode==1" class="text-success">单站</span> 
					<span ng-if="x.mode==2" class="text-success">联网</span>
					<span ng-if="x.mode==0" class="text-info">未知</span></td>
					<td>主备状态</td>
					<td>
					<span ng-if="x.master==0" class="text-info">备用</span>
                    <span ng-if="x.master==2" class="text-success">主用</span>
					</td>
					<td>时钟同步状态</td>
					<td>
					<span ng-if="x.timeSync==1">获取同步中</span> 
					<span ng-if="x.timeSync==2">同步</span> 
					<span ng-if="x.timeSync==3">保持</span>
					<span ng-if="x.timeSync==4">自由状态</span>
					</td>
					</tr><tr>
					<td>GPS时钟信息</td>
					<td>
					<span ng-if="x.gpsTime==1">GPS</span> 
					<span ng-if="x.gpsTime==2">北斗</span> 
					<span ng-if="x.gpsTime==3">NTP</span>
					<span ng-if="x.gpsTime==4">none</span>
					</td>
					<td>运行时长</td>
					<td>{{x.runtime |timeFormate}}</td>
					<!-- <td>更新时间</td>
					<td>{{x.updateTime}}</td> -->
				</tr>
				
			</tbody>
		</table>
	</div>
</div>
<!-- row -->
<div class="row"  ng-if="bscExists==0">
<div class="col-md-12">
<p>数据获取中</p>
</div>
</div>