
<div class="row">
	<div class="col-md-12">
		<div class="hpanel">
			<div class="panel-heading" style="color:#000;border-left:2px solid green">

				 BSC状态
			</div>
			<div class="panel-body">

				<table id="tb-info" class="xh-table table-hover">
					<thead>
						<tr class="tr-img-gray">
							<th>载频ID</th>
							<th>工作状态</th>
							<th>在线状态</th>
							<th>联网状态</th>
							<th>主备状态</th>
							<th>外部时钟状态</th>
							<th>运行时长</th>
							<th>更新时间</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="bscTotals==0">
							<td colspan="8" class="text-center">没有记录！</td>
						</tr>
						<tr ng-repeat="x in bscData">
							<td>{{x.Id}}</td>
							<td>
							<span ng-if="x.working==0" class="label arrowed label-sm label-success">正常</span>
							<span ng-if="x.working==1" class="label arrowed label-sm label-danger">到交换中心的 ICP 通道断开</span>
							<span ng-if="x.working==2" class="label arrowed label-sm label-danger">温度异常</span>
							<span ng-if="x.working==3" class="label arrowed label-sm label-danger">到交换中心的 ICP 通道断开并且温度异常</span>
							<span ng-if="x.working==4" class="label arrowed label-sm label-danger">CPU太忙</span>
							<span ng-if="x.working==5" class="label arrowed label-sm label-danger">到交换中心的 ICP 通道断开同时CPU太忙</span>
							<span ng-if="x.working==6" class="label arrowed label-sm label-danger">温度异常，同时CPU太忙</span>
							<span ng-if="x.working==7" class="label arrowed label-sm label-danger">到交换中心的 ICP 通道断开，并且温度异常，CPU太忙</span>
							<span ng-if="x.working==255" class="label arrowed label-sm label-danger">工作状态未知</span>
							 </td>
							
							<td>{{x.online}}</td>
							<td>{{x.mode}}</td>
							<td>{{x.master}}</td>
							<td>{{x.time}}</td>
							<td>{{x.runtime |timeFormate}}</td>
							<td>{{x.updateTime}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>