
<div class="row">
	<div class="col-md-12">
	 <div class="hpanel">
			<div class="panel-heading hbuilt" style="color:#000;border-left:2px solid green">
				
				DPX状态
			</div>
			<div class="panel-body">
		<table id="tb-info" class="xh-table table-hover">
			<thead>
				<tr class="tr-gray">
					<th>ID</th>
					<th>工作状态</th>
					<th>回波损耗（db）</th>
					<th>正向功率(db)</th>
					<th>更新时间</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="dpxTotals==0">
					<td colspan="5" class="text-center">没有记录！</td>
				</tr>
				<tr ng-repeat="x in dpxData" ng-if="bscExists<2 && x.retLoss>0 && x.fwdPa>0">
					<td>{{x.Id}}</td>
					<td>
					<span ng-if="x.working==0" class="label arrowed label-sm label-success">正常</span>
					<span ng-if="x.working==1" class="label arrowed label-sm label-danger">放大器电流异常</span>
					<span ng-if="x.working==2" class="label arrowed label-sm label-danger">放大器与 BSC通讯状态异常</span>
					<span ng-if="x.working==3" class="label arrowed label-sm label-danger">放大器电流异常,放大器与 BSC通讯状态异常</span>
					<span ng-if="x.working==255" class="label arrowed label-sm label-danger">工作状态未知</span>
					</td>
					<td>{{x.retLoss/10 |retLoss}}</td>
					<td>{{x.fwdPa/10 |fwdPa}}</td>
					<td>{{x.updateTime}}</td>
				</tr>
				<tr ng-if="bscExists>=2">
							
							<td colspan="5">
							    获取设备数据失败！！！！！！
			 </td>
							
			   </tr>
			</tbody>
		</table>
		</div></div>
	</div>
</div>