<!DOCTYPE html>
<html>
<head>
<title>基站状态详细情况</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<p class="alert alert-danger" style="z-index:2000;text-align:center;">你的浏览器版本过低，请更新你的版本.建议使用IE10+版本，google，火狐等浏览器 </p>
<![endif]-->
<style>
#divPlugin {
	z-index: 1000 !important;
}

.page-box .page-info {
	padding: 10px;
}

.e-box {
	/* background: red; */
	
}

.e-box li span {
	line-height: 40px;
	margin-right: 5px;
	padding: 5px 10px 5px 10px;
	min-width: 40px;
	height: 40px;
	background: #ccc;
	border-radius: 5px;
	color: #fff;
	font-weight: 800;
	cursor: pointer;
}

.e-box li {
	border-bottom: 1px solid #ccc;
}

.e-box li span.b-green {
	background: green;
}

.e-box li span.b-yellow {
	background: yellow;
	color: #000;
}

.e-box li span.b-red {
	background: red;
}

.e-box li span.b-blue {
	background: blue;
}

.emh-swt li {
	float: left;
}
</style>
</head>
<body ng-app="app" ng-controller="userstatus" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>运维管理</span></li>
							<li><span>实时监测</span></li>
							<li><a href="bsstatus.html" target="_self"><span>基站状态</span></a></li>
							<li class="active font-blod"><span style="color:red">【{{bsId}}-{{bsName}}】
									基站状态</span></li>
						</ol>
					</div>
					<div class="pull-right btn-group">
						<a class="btn btn-success btn-sm" href="bsstatus.html"
							target="_self">返回</a>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel" data-effect="fadeInDown">
			<div class="row">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<div class="hpanel">
										<div class="panel-heading hbuilt">
											<i class="fa fa-warning text-danger"></i> 基站告警记录
										</div>
										<div class="panel-body">
											<table id="tb-info" class="xh-table table-hover">
												<thead>
													<tr class="tr-gray">
														<th width="30px"><input type="checkbox"
															id="table-checkbox" class="table-check" /></th>
														<th width="80px">网元类型</th>
														<th width="230px">网元名称</th>
														<th width="70px">告警级别</th>

														<th width="180px">故障原因</th>

														<th width="180px">故障发生时间</th>
														<th width="70px">告警状态</th>
														<th width="80px">派单状态</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-if="totals==0">
														<td colspan="9" class="text-center">没有记录！</td>
													</tr>
													<tr ng-repeat="x in data">
														<td><input type="checkbox" name="tb-check"
															value="{{x.id}}" index="{{$index}}" /></td>

														<td><span ng-if="x.neType==1">基站</span> <span
															ng-if="x.neType==2">交换中心</span> <span ng-if="x.neType==3">调度台</span>
															<span ng-if="x.neType==4">网管</span> <span
															ng-if="x.neType==5">分组中心</span> <span ng-if="x.neType==6">综合业务网关</span>
															<span ng-if="x.neType==7">INIGW</span> <span
															ng-if="x.neType==8">短信中心</span> <span ng-if="x.neType==9">PDT</span>
															<span ng-if="x.neType==10">鉴权中心</span> <span
															ng-if="x.neType==11">录音</span> <span ng-if="x.neType==12">模拟网关</span>
															<span ng-if="x.neType==13">MPT基站</span> <span
															ng-if="x.neType==14">NTP服务器</span> <span
															ng-if="x.neType==15">路由器</span> <span
															ng-if="x.neType==16">数字交叉连接设备</span> <span
															ng-if="x.neType==17">同播服务器</span> <span
															ng-if="x.neType==18">DSGW</span> <span
															ng-if="x.neType==19">以太网交换机</span> <span
															ng-if="x.neType==20">WEB调度服务器</span> <span
															ng-if="x.neType==21">短信业务网关</span> <span
															ng-if="x.neType==22">室外基站</span> <span
															ng-if="x.neType==23">PDT室外基站</span> <span
															ng-if="x.neType==24">桥接基站</span> <span
															ng-if="x.neType==29">以太网E1网桥</span> <span
															ng-if="x.neType==30">桥接中心</span> <span
															ng-if="x.neType==32">媒体服务器</span> <span
															ng-if="x.neType==100">基站环控</span></td>


														<td><span ng-if="x.sysType==1 && x.neType==1">{{x.name}}({{x.bsId}})</span>
															<span ng-if="x.sysType==1 && x.neType==2">交换中心（{{x.mscId}})->{{x.name}}（{{x.subModId}}）</span>
															<span ng-if="x.sysType==1 && x.neType==4">{{x.name}}（{{x.subModId}}）</span>
															<span ng-if="x.sysType==1 && x.neType==22">{{x.location}}</span>
															<span ng-if="x.sysType==1 && x.neType==24">{{x.location}}</span>
															<span ng-if="x.sysType==1 && x.neType==30">{{x.location}}</span>
															<span ng-if="x.sysType==2 && x.neType==100">{{x.name}}({{x.bsId}})</span>
														</td>
														<td ng-if="x.alarmLevel==1"
															style="background-color:#DC143C;color:#000;">一级告警</td>
														<td ng-if="x.alarmLevel==2"
															style="background:#FFD700 !important;color:#000;">二级告警</td>
														<td ng-if="x.alarmLevel==3"
															style="background:#F0E68C !important;color:#000;">三级告警</td>
														<td ng-if="x.alarmLevel==4"
															style="background:#87CEFA !important;color:#000;">四级告警</td>


														<td>{{x.reason}}</td>

														<td>{{x.time}}</td>
														<td ng-if="x.alarmTag==0"
															style="background-color:#DC143C;color:#000;">未恢复</td>
														<td ng-if="x.alarmTag==1"
															style="background-color:green;color:#000;">已恢复</td>
														<td><span ng-if="x.status==0">未派单</span> <span
															ng-if="x.status==1">派单中</span></td>


													</tr>
												</tbody>
											</table>
											<div class="page">
												<div class="page-info">
													每页显示 <select id="page-limit" ng-change="refresh()"
														ng-model="count">
														<option value="5">5</option>
														<option value="10">10</option>
														<option value="20">20</option>
														<option value="30">30</option>
													</select> 条, <span ng-model="index">显示{{start}}-</span><span
														ng-model="lastIndex">{{lastIndex}}条,</span> <span
														ng-model="totals">总计{{totals}}条</span>
												</div>
												<div class="page-paging"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- row-end -->
							<div class="row">
								<div class="col-md-12">
									<div class="hpanel">
										<div class="panel-heading hbuilt">
											<i class="fa fa-question text-danger"></i>当前基站遗留问题
										</div>
										<div class="panel-body">
										<div nf-if="comment!=''">
										<p>{{comment}}</p>
										</div>
										<div nf-if="comment==''">
                                        <p>无遗留问题！</p>
                                        </div>
										
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="hpanel">
										<div class="panel-heading hbuilt">
											<i class="fa fa-life-ring text-success"></i> 基站设备信息
										</div>
										<div class="panel-body">
											<div class="col-md-4">
												<div class="hpanel">
													<div class="panel-heading hinner">设备</div>
													<div class="panel-body">

														<ul class="e-box">
															<li>
																<fieldset name="1" contextmenu="22">
																	<span ng-repeat="x in bsrD" ng-click="bsr(x.Id)"
																		ng-if="x.bsrIsEnable==1"
																		ng-class="{'b-green':x.working==0 ,'b-red':x.working!=0}">BSR({{x.Id}})</span>
																</fieldset>

															</li>
															<li><span ng-repeat="x in bscD" ng-click="bsc(x.Id)"
																ng-if="x.bscIsEnable==1"
																ng-class="{'b-green':x.working==0 ,'b-red':x.working!=0}">BSC({{x.Id}})</span></li>
															<li><span ng-repeat="x in dpxD" ng-click="dpx(x.Id)"
																ng-if="x.Id<=2"
																ng-class="{'b-green':x.working==0 ,'b-red':x.working!=0 
														 || (x.retLoss/10)<7 
														 || ((x.retLoss/10)>=7 && (x.retLoss/10)<=14),'b-yellow':x.working==0 && (x.retLoss/10)>14 && (x.retLoss/10)<=20}">DPX({{x.Id}})</span></li>
															<li><span ng-repeat="x in psmD" ng-click="psm(x.Id)"
																ng-if="x.Id<=2"
																ng-class="{'b-green':(x.linkStatus==0 && x.dc12==0 
														 && x.dc301==0 
														 && x.dc302==0 
														 &&x.runStatus==0 
														 && x.tempStatus==0),'b-red':x.dc12==1 
														 || x.dc301==1 
														 || x.dc302==1 
														 || x.runStatus==1 
														 || x.tempStatus==1
														 || x.linkStatus==1}">PSM({{x.Id}})</span></li>
															<li><span class="b-blue" ng-click="emh()">环控设备</span></li>

														</ul>

													</div>
												</div>
											</div>
											<!-- col-md-4 -->
											<div class="col-md-8">
												<div class="hpanel">
													<div class="panel-heading hinner">
														{{title}}({{Id}})状态 <span ng-if="time!=null && time!=''">采集时间：{{time}}</span>
													</div>
													<div class="panel-body">
														<div ng-include="'bsstatus-view-bsr.html'"
															ng-if="title=='BSR'"></div>
														<div ng-include="'bsstatus-view-bsc.html'"
															ng-if="title=='BSC'"></div>
														<div ng-include="'bsstatus-view-dpx.html'"
															ng-if="title=='DPX'"></div>
														<div ng-include="'bsstatus-view-psm.html'"
															ng-if="title=='PSM'"></div>
														<div ng-include="'bsstatus-view-emhd.html'"
															ng-if="title=='环控'"></div>
													</div>
												</div>
											</div>
											<!-- col-md-8 -->
										</div>
										<!-- panel-body -->
									</div>
									<!-- hpanel -->
								</div>
								<!-- col-md-12 -->
							</div>
							<!-- row-end -->


						</div>
					</div>
					<!-- panel -->
				</div>
			</div>
			<!-- row---end -->

		</div>
	</div>
	<!-- 中间内容体 /-->
	<!-- 底部内容体 -->
	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<!-- 添加用户 -->
	<!-- <div ng-include="'user-add.html'"></div> -->
	<!-- 编辑基用户-->
	<!-- <div ng-include="'user-edit.html'"></div> -->
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="../../lib/metisMenu/dist/metisMenu.min.js"></script>
	<script src="../../demo/codebase/webVideoCtrl.js"></script>
	<script type="text/javascript"
		src="../../Resources/js/jtopo-0.4.8-min.js"></script>
	<script type="text/javascript"
		src="../../Controllers/operations/bsstatus-view.js"></script>
	<script type="text/javascript">
		xh.load();
	</script>
</body>
</html>
