
<div class="row" ng-repeat="x in dpxData" ng-if="bscExists<2 && x.retLoss>0 && x.fwdPa>0 && show==3">
	<div class="col-md-12">
		<table id="tb-info" class="xh-table table-hover">
			<thead>
				
				<tr class="tr-gray">
					<th width="120px">属性</th>
					<th>值</th>
					<th width="120px">属性</th>
					<th>值</th>
					<th width="120px">属性</th>
					<th>值</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>ID</td><td style="color:blue;font-weight: 800">{{x.Id}}</td>
					<td>工作状态</td>
					<td colspan="3">
					<span ng-if="x.working==0" class="text-success">正常</span>
					
					<span ng-if="x.working==1" >放大器电流异常</span>
					<span ng-if="x.working==2" >放大器与 BSC通讯状态异常</span>
					<span ng-if="x.working==3" >放大器电流异常,放大器与 BSC通讯状态异常</span>
					<span ng-if="x.working==255" >工作状态未知</span>
					
					</td>
					</tr><tr>
					<td>回波损耗（db）</td>
					<td>
					<span ng-if="x.retLoss>0 && (x.retLoss/10)<7" >{{x.retLoss/10}}db</span>
					
					<span ng-if="x.retLoss>0 && ((x.retLoss/10)>=7 && (x.retLoss/10)<=20) " class="text-warning">{{x.retLoss/10}}db</span>
					<span ng-if="x.retLoss>0 && (x.retLoss/10)>20 " class="text-success">{{x.retLoss/10}}db</span>
					<span style="color:red" ng-if="(x.retLoss/10)<7">提示：无法使用</span>
					<span style="color:red" ng-if="(x.retLoss/10)>=7 && (x.retLoss/10)<=14">提示：影响系统覆盖，需要处理 </span>
					<span style="color:red" ng-if="(x.retLoss/10)>14 && (x.retLoss/10)<=20">对系统覆盖有轻微的影响，需观察 暂不处理 </span>
					</td>
					<td>正向功率(db)</td>
					<td>{{x.fwdPa/10 |fwdPa}}</td>
					<td>更新时间</td>
					<td>{{x.updateTime}}</td>
				</tr>
			</tbody>
		</table>
		</div>
</div>
<!-- row -->
<div class="row"  ng-if="bscExists>=2 &&show==3">
<div class="col-md-12">
<p>数据获取中</p>
</div>
</div>