
	<div class="row">
		<div class="col-md-12">
				<div class="panel-body">
					<ul id="xh-tabs" class="nav nav-tabs">
						<li class="active"><a href="#group" data-toggle="tab" ng-click='bsGroup()'>
								注册组 </a></li>
						<li><a href="#radio" data-toggle="tab" ng-click='radioUser()'>
								注册终端 </a></li>

					</ul>
					<div class="tab-content">

						<div class="tab-pane fade in active" id="group">
							<div ng-include="'bsstatus-view-group.html'"></div>
						</div>
						<!-- group -->
						<div class="tab-pane fade" id="radio">
							<div ng-include="'bsstatus-view-radio.html'"></div>
						</div>
						
					</div>
				</div>
			
		</div>
	</div>
	
