<div class="row">
	<div class="col-md-12">
		<table id="tb-info" class="xh-table table-hover">
			<thead>
				<tr class="tr-gray">
					<th width="50px">序号</th>
					<th>终端ID</th>
					<th>名称</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="radioTotals==0">
					<td colspan="3" class="text-center">没有记录！</td>
				</tr>
				<tr ng-repeat="x in radioData">
					<td>{{$index+1}}</td>
					<td>{{x.userId}}</td>
					<td>{{x.name}}</td>
				</tr>
			</tbody>
		</table>
		<div class="page" ng-show="radioTotals>0">
			<div >
				每页显示 <select id="page-limit-user" ng-change="refresh_user()" ng-model="count">
				    <option value="10">10</option>
					<option value="20">20</option>
					<option value="30">30</option>
					<option value="40">40</option>
					<option value="50">50</option>
				</select> 条, <span>显示{{start}}-</span>
				<span>{{lastIndex}}条,</span> 
				<span>总计{{totals}}条</span>
			</div>
			<div class="page-paging-user">
			</div>
		</div>
	</div>
</div>
