
<div class="row">
	<div class="col-md-12">
		<div class="hpanel">
			<!-- <div class="panel-heading hbuilt" style="color:#000;border-left:2px solid green">

				 基站话务统计
			</div> -->
			<div class="panel-body">

				<table id="tb-info" class="xh-table table-hover">
					<thead>
						<tr class="tr-gray">
							<th>专网名称</th>
							<th>虚拟专网</th>
							<th>活动呼叫总数</th>
							<th>活动呼叫总持续时间</th>
							<th>平均呼叫持续时间</th>
							<th>呼叫总数</th>
							<th>呼损总数</th>
							<th>呼损率</th>
							<th>未成功呼叫总数</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="vpn_totals==0">
							<td colspan="9" class="text-center">没有记录！</td>
						</tr>
						<tr ng-repeat="x in vpn_call_data">
							<td>{{x.vpnid}}</td>
							<td>{{x.name}}</td>
							<td>{{x.totalActiveCalls}}</td>
							<td>{{x.totalActiveCallDuration}}</td>
							<td>{{x.averageCallDuration}}</td>
							<td>{{x.dexTotalCalls}}</td>
							<td>{{x.totalFailedCalls}}</td>
							<td>{{x.failedPercentage}}</td>
							<td>{{x.noEffectCalls}}</td>
						
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>