
<div class="row">
	<div class="col-md-12">
		<div class="hpanel">
		<div class="panel-heading hbuilt" style="color:#000;border-left:8px solid blue">

				调度台运行状态检查
			</div>
			<div class="panel-body">

				<table id="tb-info" class="xh-table table-hover">
					<thead>
						<tr class="tr-gray">
						    <th>调度台ID</th>
						    <th>调度台名称</th>
							<th>DBOX IP</th>
							<th>主机IP</th>
							<th>状态</th>
							<th>DBOX运行时长</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="dispatch_totals==0">
							<td colspan="6" class="text-center">没有记录！</td>
						</tr>
					
						<tr ng-repeat="x in dispatch_data">
						
						<td>{{x.dstId}}</td>
							<td>{{x.dstName}}</td>
							<td></td>
							<td>{{x.ip}}</td>
							<td></td>
							<td></td>
						
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>

