
<div class="row">
	<div class="col-md-12">
		<div class="hpanel">
			<div class="panel-heading hbuilt" style="color:#000;border-left:8px solid blue">

				 系统日常维护表-主服务器当前运行状态
			</div>
			<div class="panel-body">

				<table id="tb-info" class="xh-table table-hover">
					<thead>
						<tr class="tr-gray">
						<th>设备</th>
							<th>IP</th>
							<th>cpu占用</th>
							<th>内存使用率</th>
							<th>硬盘已用</th>
							<th>可用量</th>
							<th>运行时间</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="server_one_totals==0">
							<td colspan="7" class="text-center">没有记录！</td>
						</tr>
					
						<tr ng-repeat="x in server_one_data">
						<td>{{x.name}}</td>
							<td>{{x.ip}}</td>
							<td>{{x.cpuLoad}}%</td>
							<td>{{x.memPercent}}%</td>
							<td>{{x.diskUsed}}</td>
							<td>{{x.diskSize}}</td>
							<td></td>
						
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>


<!-- <div class="row">
	<div class="col-md-12">
		<div class="hpanel">
			<div class="panel-heading hbuilt" style="color:#000;border-left:8px solid blue">

				 系统日常维护表-主服务器当前运行状态
			</div>
			<div class="panel-body">

				<table id="tb-info" class="xh-table table-hover">
					<thead>
						<tr class="tr-gray">
						    <th>区域</th>
							<th>基站数量</th>
							<th>活动呼叫总数</th>
							<th>活动呼叫总持续时间</th>
							<th>平均呼叫持续时间</th>
							<th>总PPT数</th>
							<th>排队数量</th>
							<th>排队持续时间</th>
							<th>最大用户注册数</th>
							<th>最大组注册数</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="area_totals==0">
							<td colspan="10" class="text-center">没有记录！</td>
						</tr>
						<tr ng-if="area_totals>0" style="color:red; font-weight:800"><td colspan="1">统计</td>
						<td>{{x}}</td>
						<td>{{a}}</td>
						<td>{{b |timeFormat}}</td>
						<td>{{c |timeFormat}}</td>
						<td>{{d}}</td>
						<td>{{e}}</td>
						<td>{{f |timeFormat}}</td>
						<td>{{g}}</td>
						<td>{{h}}</td>
						</tr>
						<tr ng-repeat="x in area_call_data">
						<td>{{x.area}}</td>
							<td>{{x.bsTotals}}</td>
							<td>{{x.totalActiveCalls}}</td>
							<td>{{x.totalActiveCallDuration |timeFormat}}</td>
							<td>{{x.averageCallDuration |timeFormat}}</td>
							<td>{{x.PTTCount}}</td>
							<td>{{x.queueCount}}</td>
							<td>{{x.queueDuration |timeFormat}}</td>
							<td>{{x.maxUserRegCount}}</td>
							<td>{{x.maxGroupRegCount}}</td>
						
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div> -->
<div class="row">
	<div class="col-md-12">
		<div class="hpanel">
			<div class="panel-heading hbuilt" style="color:#000;border-left:8px solid blue">

				 系统日常维护表-容灾服务器当前运行状态
			</div>
			<div class="panel-body">

				<table id="tb-info" class="xh-table table-hover">
					<thead>
						<tr class="tr-gray">
						<th>设备</th>
							<th>IP</th>
							<th>cpu占用</th>
							<th>内存使用率</th>
							<th>硬盘已用</th>
							<th>可用量</th>
							<th>运行时间</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="server_two_totals==0">
							<td colspan="7" class="text-center">没有记录！</td>
						</tr>
					
						<tr ng-repeat="x in server_two_data">
						<td>{{x.name}}</td>
							<td>{{x.ip}}</td>
							<td>{{x.cpuLoad}}%</td>
							<td>{{x.memPercent}}%</td>
							<td>{{x.diskUsed}}</td>
							<td>{{x.diskSize}}</td>
							<td></td>
						
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>