
<div class="row">
	<div class="col-md-12">
		<div class="hpanel">
			<div class="panel-heading hbuilt" style="color:#000;border-left:2px solid green">

				 交换中心话务统计
			</div>
			<div class="panel-body">

				<table id="tb-info" class="xh-table table-hover">
					<thead>
						<tr class="tr-gray">
							<th>活动呼叫总数</th>
							<th>活动呼叫总持续时间</th>
							<th>平均呼叫持续时间</th>
							<th>总PPT数</th>
							<th>呼叫总数</th>
							<th>呼损总数</th>
							<th>呼损率</th>
							<th>未成功呼叫总数</th>
							
							<th>最大用户注册数</th>
							<th>排队数量</th>
							<th>排队持续时间</th>
							<th>最大组注册数</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="msc_totals==0">
							<td colspan="15" class="text-center">没有记录！</td>
						</tr>
						<tr ng-if="msc_totals>0">
						
						
							<td>{{msc_data.totalActiveCall}}</td>
							<td>{{msc_data.totalActiveCallDuration |timeFormat}}</td>
							<td>{{msc_data.averageCallDuration |timeFormat}}</td>
							<td>{{msc_data.totalPTTs}}</td>
							<td>{{msc_data.totalCalls}}</td>
							<td>{{msc_data.totalFailedCalls}}</td>
							
							
							
							<td>{{msc_data.failedPercentage}}%</td>
							<td>{{msc_data.noEffectCalls}}</td>
							<td>{{msc_data.totalMaxReg}}</td>
							<td>{{msc_data.totalQueueCount}}</td>
							<td>{{msc_data.totalQueueDuration |timeFormat}}</td>
							<td>{{msc_data.maxRegGroup}}</td>
						</tr>
						
						
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>