
<div class="row">
	<div class="col-md-12">
		<div class="hpanel">
			<div class="panel-heading hbuilt" style="color:#000;border-left:8px solid blue">

				 告警信息统计表
			</div>
			<div class="panel-body">

				<table id="tb-info" class="xh-table table-hover">
					<thead>
						<tr class="tr-gray">
						<th>#</th>
							<th>紧急告警</th>
							<th>主要告警</th>
							<th>次要告警</th>
							<th>一般通知</th>
						</tr>
					</thead>
					<tbody>
					
						<tr>
						<td>当前告警</td>
							<td>{{alarm_now_data.a_1}}</td>
							<td>{{alarm_now_data.a_2}}</td>
							<td>{{alarm_now_data.a_3}}</td>
							<td>{{alarm_now_data.a_4}}</td>
						</tr>
							<tr>
						<td>历时告警</td>
							<td>{{alarm_his_data.a_1}}</td>
							<td>{{alarm_his_data.a_2}}</td>
							<td>{{alarm_his_data.a_3}}</td>
							<td>{{alarm_his_data.a_4}}</td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>

