
<div class="modal fade" id="editWin" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
				<form action="#" onsubmit="return false" id="editForm">
					<div class="row">
                         <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>ID</label> <input type="text" class="form-control"
                                    name="Id" required="required" ng-model="editData.id">
                            </div>
                        </div>
                         <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>名称</label> <input type="text" class="form-control"
                                    name="bsName" required="required" ng-model="editData.bsName">
                            </div>
                        </div>
                        
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>地铁线路</label>
                                <select class="form-control" name="type" ng-select="editData.type">
                                <option value="1" select>车载</option>
                                <option value="2" >便携</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>位置</label> <input type="text" class="form-control"
                                    name="location" ng-model="editData.location">
                            </div>
                        </div>
                         <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>载波数</label> <input type="text" class="form-control"
                                    name="frequency" ng-model="editData.frequency">
                            </div>
                        </div>
                       
                        
                        
                    </div>
				</form>
			</div>
			<div class="modal-footer">
				<div class="btn-group">
					<button type="button" class="btn btn-danger btn-sm"
						data-dismiss="modal">
						<i class="fa fa-remove"></i>&nbsp;关闭
					</button>
					<button type="button" class="btn btn-success btn-sm" id="edit_btn">
						<i class="fa fa-edit"></i>&nbsp;更新
					</button>
				</div>
			</div>

		</div>
	</div>
</div>
<script type="text/javascript">
	$("#edit_btn").click(function() {
		$('#editForm').submit();
	});
	var faIcon = {
		valid : 'fa fa-check-circle fa-lg text-success',
		invalid : 'fa fa-times-circle fa-lg',
		validating : 'fa fa-refresh'
	};
	$('#editForm').bootstrapValidator({
		excluded : [ ':disabled' ],
		feedbackIcons : faIcon,
		fields : {

		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.edit();
	});
</script>
