
<div class="modal fade" id="detail" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold">调度台信息</small>
			</div>
			<div class="modal-body pad-0">
					<div class="row">

						<div class="col-md-6">
							<div class="form-group col-md-12">
								<label>调度台ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" class="form-control" name="dstId"
									required="required" ng-model="detailData.dstId">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group col-md-12">
								<label>调度台名称</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" class="form-control" name="dstName"
									required="required" ng-model="detailData.dstName">
							</div>
						</div>

					</div>
					<div class="row">


						<div class="col-md-6">
							<div class="form-group col-md-12">
								<label>IP地址</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" class="form-control" name="IP" required="required" ng-model="detailData.IP">
							</div>
						</div>
						<div class="col-md-6">
                            <div class="form-group col-md-12">
                                <label>DBOX IP</label><input
                                    type="text" class="form-control" name="dbox_ip" ng-model="detailData.dbox_ip">
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group col-md-12">
                                <label>期数</label> <select
                                    class="form-control" name="period" ng-model="detailData.period">
                                    <option value="3">三期</option>
                                    <option value="4">四期</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group col-md-12">
                                <label>传输类型{{detailData.transfer}}</label> <select
                                   class="form-control" name="transfer" ng-select="detailData.transfer">
                                    <option value="1">单传输</option>
                                    <option value="2">双传输</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group col-md-12">
                                <label>第一传输运营商</label> <input
                                    type="text" class="form-control" name="transferOne" ng-model="detailData.transferOne">
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group col-md-12">
                                <label>第二传输运营商</label> <input
                                    type="text" class="form-control" name="transferTwo" ng-model="detailData.transferTwo">
                            </div>
                        </div>
                       
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>安装位置</label> <input
                                    type="text" class="form-control" name="address" ng-model="detailData.address">
                            </div>
                        </div>

						<div class="col-md-12">
							<div class="form-group col-md-12" style="margin-top:30px;">
								<input id="ck3" class="magic-checkbox" type="checkbox"
									name="setupStatus" value="1" ng-checked="detailData.setupStatus"> <label for="ck3"><span>是否已经安装</span></label>
							</div>
						</div>
					</div>
			</div>
			<div class="modal-footer">
				
			</div>
		</div>
	</div>
</div>
