<!DOCTYPE html>
<html>
<head>
<title>环控告警</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
</head>
<body ng-app="app" ng-controller="gonsuncn"
	class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>运维管理</span></li>
							<li><span>实时监测</span></li>
							<li><span>故障告警</span></li>
							<li class="active"><span>环控告警</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">
			
			<div class="row">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-heading hbuilt">
							
							<i class="fa fa-reorder"></i> 菜单列表
						</div>
						<div class="panel-body">
						
						<div class="content-menu"> 
						<span><a href="bsAlarm.html" target="_self">Tetra系统告警</a></span>
						<span  class="menu_active"><a href="emhAlarm.html" target="_self">环控告警</a></span> 
						
						</div>
							<!-- <ul class="mailbox-list" style="height:200px;">
								<li class="active" style="margin-bottom:10px;"><a
									href="emhAlarm.html" target="_self"><i
										class="fa fa-sitemap text-success"></i>环控告警</a></li>

								<li><a href="bsAlarm.html" target="_self"><i
										class="fa fa-sitemap text-success"></i>Tetra系统告警</a></li>

							</ul> -->
						</div>

					</div>
				</div>
				
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-heading hbuilt">
							<span>环控通断</span> <span style="color:#458B74;margin-left:40%;">{{choosedBsNameTitle}}</span><span
								style="color:#191970;">{{choosedBsName}}</span>
						</div>
						<div class="panel-body" style="padding-left:20px;padding-right:20px;">
							<div class="row">
								<div ng-repeat="x in emhData4">
									<div
										style="cursor:pointer;width:40px;height:40px;margin:2px 2px;text-align:center;line-height:36px;border-radius:40px;"
										ng-if="x.siteId!=x.bsId" class="td-danger pull-left"
										ng-mouseover="showMouseChoosedBsName(x.name)"
										ng-mouseout="hideMouseChoosedBsName()" ng-click="emhView($index)">{{x.bsId}}</div>
									<div
										style="cursor:pointer;width:40px;height:40px;margin:2px 2px;text-align:center;line-height:36px;border-radius:40px;"
										ng-if="x.siteId==x.bsId" class="td-success pull-left"
										ng-mouseover="showMouseChoosedBsName(x.name)"
										ng-mouseout="hideMouseChoosedBsName()" ng-click="emhView($index)">{{x.bsId}}</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
				
				<!-- col-md-3 -->
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4">
									<div class="hpanel">
										<div class="panel-heading hbuilt">
											<span>告警筛选</span>
										</div>
										<div class="panel-body">
											<div id="search-div">
												<form class="form-inline" role="form">
													<div class="form-group" style="width:120px;margin-bottom:7px;">
														<div class="pull-left">
															<select class="form-control" id="alarmFlags"
																ng-change="refresh(x)" ng-model="alarmS.id"
																ng-init="alarmS.id='0'">
																<option value="" selected hidden></option>
																<option ng-repeat="alarmS in alarmStatus" value={{alarmS.id}}>{{alarmS.name}}</option>
															</select>
														</div>
													</div>
													<div class="form-group" style="width:120px;margin-bottom:7px;">
														<div class="pull-left">
															<select class="form-control" id="alarmLv"
																ng-change="refresh(x)" ng-model="prov.id"
																ng-init="prov.id='0'">
																<option value="" selected hidden></option>
																<option ng-repeat="prov in provs" value={{prov.id}}>{{prov.name}}</option>
															</select>
														</div>
													</div>
													<br/>
													<div class="form-group"
														style="width:120px;margin-bottom:7px;">
														<div class="pull-left">
															<select class="form-control" id="bsLevel"
																ng-change="refresh(x)" ng-model="bsL.id"
																ng-init="bsL.id='0'">
																<option value="" selected hidden></option>
																<option ng-repeat="bsL in bsLevel"
																	value={{bsL.id}}>{{bsL.name}}</option>
															</select>
														</div>
													</div>
													<div class="form-group"
														style="width:120px;margin-bottom:7px;">
														<div class="pull-left">
															<select class="form-control" id="bsArea"
																ng-change="refresh(x)" ng-model="bsA.name"
																ng-init="bsA.name='全部区域'">
																<option value="" selected hidden></option>
																<option ng-repeat="bsA in bsArea"
																	value={{bsA.name}}>{{bsA.name}}</option>
															</select>
														</div>
													</div>
													<br/>

													<div class="form-group" style="width:120px;margin-bottom:7px;">
														<div class="list-group-item">
															<div class="pull-right">
																<input id="device1" class="toggle-switch" type="checkbox" value="170100000000001"
																	ng-click="refresh(1)" checked> <label for="device1"></label>
															</div>
															温度
														</div>
													</div>
													<div class="form-group" style="width:120px;margin-bottom:7px;">
														<div class="list-group-item">
															<div class="pull-right">
																<input id="device2" class="toggle-switch" type="checkbox" value="170200000000001"
																	ng-click="refresh(1)" checked> <label for="device2"></label>
															</div>
															湿度
														</div>
													</div>
													<div class="form-group" style="width:120px;margin-bottom:7px;">
														<div class="list-group-item">
															<div class="pull-right">
																<input id="device3" class="toggle-switch" type="checkbox" value="080200000000001"
																	ng-click="refresh(1)" checked> <label for="device3"></label>
															</div>
															UPS
														</div>
													</div>
													<br/>
													<div class="form-group" style="width:120px;margin-bottom:7px;">
														<div class="list-group-item">
															<div class="pull-right">
																<input id="device4" class="toggle-switch" type="checkbox" value="920100000000001"
																	ng-click="refresh(1)" checked> <label for="device4"></label>
															</div>
															电表
														</div>
													</div>
													<div class="form-group" style="width:120px;margin-bottom:7px;">
														<div class="list-group-item">
															<div class="pull-right">
																<input id="device6" class="toggle-switch" type="checkbox" value="170300000000001"
																	ng-click="refresh(1)" checked> <label for="device6"></label>
															</div>
															水浸
														</div>
													</div>
													<div class="form-group" style="width:120px;margin-bottom:7px;">
														<div class="list-group-item">
															<div class="pull-right">
																<input id="device7" class="toggle-switch" type="checkbox" value="170400000000001"
																	ng-click="refresh(1)" checked> <label for="device7"></label>
															</div>
															烟雾
														</div>
													</div>												
													<br/>												
													<div class="form-group" style="width:120px;margin-bottom:7px;">
														<div class="list-group-item">
															<div class="pull-right">
																<input id="device8" class="toggle-switch" type="checkbox" value="170500000000001"
																	ng-click="refresh(1)" checked> <label for="device8"></label>
															</div>
															红外
														</div>
													</div>
													<div class="form-group" style="width:120px;margin-bottom:7px;">
														<div class="list-group-item">
															<div class="pull-right">
																<input id="device9" class="toggle-switch" type="checkbox" value="170700000000001"
																	ng-click="refresh(1)" checked> <label for="device9"></label>
															</div>
															门磁
														</div>
													</div>
													<div class="form-group" style="width:120px;margin-bottom:7px;">
														<div class="list-group-item">
															<div class="pull-right">
																<input id="device5" class="toggle-switch" type="checkbox" value="760300000000001"
																	ng-click="refresh(1)" checked> <label for="device5"></label>
															</div>
															FSU
														</div>
													</div>

												</form>
											</div>
										</div>
									</div>

								</div>
								<div class="col-md-4">
									<div class="hpanel">
										<div class="panel-heading hbuilt">
											<span>传感器统计</span>
										</div>
										<div class="panel-body">
											<div id="alarmPie"></div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="hpanel">
										<div class="panel-heading hbuilt">
											<span>级别统计(移动规范)</span>
										</div>
										<div class="panel-body">
											<div id="alarmLevs"></div>
										</div>
									</div>
								</div>
							</div>

							<!-- row -->
							<div class="row">
								<div class="col-md-12">
									<div class="hpanel">
										<div class="panel-body">
											<!-- row -->

											<!-- row -->
											<table id="tb-info" class="xh-table table-hover">
												<thead>
													<tr class="tr-gray">
														<th width="6%">序号</th>
														<th width="6%">基站ID</th>
														<th width="9%">基站名称</th>
														<th width="6%">基站分级</th>
														<th width="6%">基站区域</th>
														<th width="8%">告警编号</th>
														<th width="15%">告警描述</th>
														<th width="8%">设备名称</th>
														<th width="8%">告警标志</th>
														<th width="8%">告警触发值</th>														
														<th width="10%">告警时间</th>
														<th width="10%">恢复时间</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-if="totals==0">
														<td colspan="12" class="text-center">没有记录！</td>
													</tr>
													<tr ng-repeat="x in data">
														<td>{{$index+1}}</td>
														<td>{{x.siteId}}</td>
														<td>{{x.name}}</td>
														<td>{{x.level}}</td>
														<td>{{x.zone}}</td>
														<td>{{x.alarmId}}</td>
														<td>{{x.alarmDesc}}</td>
														<td>{{x.deviceName}}</td>
														<td ng-if="x.alarmFlag=='BEGIN'"><span
													class="label  label-sm label-danger"><i
														class="fa fa-plus"></i>开始</span></td>
														<td ng-if="x.alarmFlag=='END'"><span
													class="label  label-sm label-success"><i
														class="fa fa-plus"></i>结束</span></td>
														<td>{{x.eventValue}}</td>
														
														<td ng-if="x.alarmFlag=='BEGIN'">{{x.alarmTime}}</td>
														<td ng-if="x.alarmFlag=='END'">{{x.startTime}}</td>
														
														<td ng-if="x.alarmFlag=='BEGIN'"><span style="color:red;">告警中</span></td>
														<td ng-if="x.alarmFlag=='END'">{{x.alarmTime}}</td>
													</tr>
												</tbody>
											</table>
											<div class="page">
												<div class="page-info">
													每页显示 <select id="page-limit" ng-change="refresh()"
														ng-model="count">
														<option value="10">10</option>
														<option value="15">15</option>
														<option value="20">20</option>
														<option value="30">30</option>
													</select> 条, <span ng-model="index">显示{{start}}-</span><span
														ng-model="lastIndex">{{lastIndex}}条,</span> <span
														ng-model="totals">总计{{totals}}条</span>
												</div>
												<div class="page-paging"></div>
											</div>
										</div>
									</div>
								</div>
								<!-- col-md-9 end-->
							</div>
							<!-- row/ -->
						</div>
					</div>
				</div>

				<section id="page-emh">
				<div class="row">
					<div class="col-md-12">
						<div class="hpanel">
							<div class="panel-heading hbuilt">
								<div class="panel-tools">
									<div class="search">
								            <!-- magic-checkbox -->
									        <input id="period1" class="toggle-switch" type="checkbox"
												name="type" value="9" checked hidden> <label for="period1"><span>三期基站</span></label>

                                            <input id="period2" class="toggle-switch" type="checkbox"
												name="type" value="10" hidden> <label for="period2"><span>四期基站</span></label>
											<input id="type1" class="toggle-switch" type="checkbox"
												name="type" value="1" checked> <label for="type1"><span>门磁</span></label>

											<input id="type2" class="toggle-switch" type="checkbox"
												name="type" value="2" checked> <label for="type2"><span>烟感</span></label>

											<input id="type3" class="toggle-switch" type="checkbox"
												name="type" value="3" checked> <label for="type3"><span>红外</span></label>

											<input id="type4" class="toggle-switch" type="checkbox"
												name="type" value="4" checked> <label for="type4"><span>水浸</span></label>

											<input id="type5" class="toggle-switch" type="checkbox"
												name="type" value="5" checked> <label for="type5"><span>温湿度</span></label>


											<input id="type6" class="toggle-switch" type="checkbox"
												name="type" value="6" checked> <label for="type6"><span>UPS</span></label>

											<input id="type7" class="toggle-switch" type="checkbox"
												name="type" value="7" checked> <label for="type7"><span>电表</span></label>
											<input id="type8" class="toggle-switch" type="checkbox"
												name="type" value="8" checked> <label for="type8"><span>FSU</span></label>
										</div>
								</div>
								环控告警列表
							</div>
							<div class="panel-body">
								<div style="min-height:250px;max-height:450px;overflow: scroll;">

									<div class="col-md-12">
										

										<table id="tb-info" class="xh-table table-hover">
											<thead>
												<tr class="tr-gray">
													<th>基站ID</th>
													<th>告警类型</th>
													<th>告警描述</th>
													<th>时间</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-if="emhTotals==0">
													<td colspan="9" class="text-center">没有告警记录！</td>
												</tr>
												<tr ng-repeat="x in emh">

													<td>{{x.bsId}}</td>
													<td>{{x.DevName}}</td>
													<td>{{x.AlarmText}}</td>

													<td>{{x.time}}</td>
													<!-- <td><span ng-if="x.singleId=='017010'">
												温度过高告警</span> <span ng-if="x.singleId=='017011'">温度高告警</span> <span
											ng-if="x.singleId=='017012'">温度过低告警</span> <span
											ng-if="x.singleId=='017013'">湿度过高告警</span> <span
											ng-if="x.singleId=='017014'">湿度过低告警</span> <span
											ng-if="x.singleId=='017001'">水浸告警</span> <span
											ng-if="x.singleId=='017002'">烟雾告警</span> <span
											ng-if="x.singleId=='017004'">红外告警</span> <span
											ng-if="x.singleId=='017020'">门打开</span> <span
											ng-if="x.singleId=='092001'">市电停电</span> <span
											ng-if="x.singleId=='092002'">市电缺相</span> <span
											ng-if="x.singleId=='092004'">交流电压过高告警</span> <span
											ng-if="x.singleId=='092005'">交流电压过低告警</span> <span
											ng-if="x.singleId=='076002'">非智能设备采集器通信状态告警</span> <span
											ng-if="x.singleId=='076501'">开关电源通信状态告警</span> <span
											ng-if="x.singleId=='076507'">UPS设备通信状态告警</span> <span
											ng-if="x.singleId=='076509'">智能电表通信状态告警</span></td>
										<td>{{x.updateTime}}</td> -->
												</tr>
											</tbody>
										</table>
									</div>
									<!-- <div class="page">
								<div class="page-info-emh">
									每页显示 <select id="page-limit-emh" ng-change="refresh()"
										ng-model="count">
										<option value="20">20</option>
										<option value="30">30</option>
										<option value="40">40</option>
										<option value="50">50</option>
									</select> 条, <span ng-model="index">显示{{start}}-</span><span
										ng-model="lastIndex">{{lastIndex}}条,</span> <span
										ng-model="totals">总计{{totals}}条</span>
								</div>
								<div class="page-paging"></div>
							</div> -->
								</div>

							</div>

						</div>
					</div>



					<!--  col-md-12 -->
				</div>
				<!-- row -->
			</section>
				
			</div>
		</div>
		<!--   row--end -->

	</div>
	<!-- 中间内容体 /-->
	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<!-- 添加用户 -->
	<!-- <div ng-include="'user-add.html'"></div> -->
	<!-- 编辑基用户-->
	<!-- <div ng-include="'user-edit.html'"></div> -->
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="../../lib/metisMenu/dist/metisMenu.min.js"></script>
	<script type="text/javascript" src="../../lib/echarts/echarts.js"></script>
	<script type="text/javascript"
		src="../../Controllers/operations/emhAlarm.js"></script>
	<script type="text/javascript">
		xh.load();
	</script>
</body>
</html>
