<!DOCTYPE html>
<html>
<head>
<title>基站控制台</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<p class="alert alert-danger" style="z-index:2000;text-align:center;">你的浏览器版本过低，请更新你的版本.建议使用IE10+版本，google，火狐等浏览器 </p>
<![endif]-->
<style type="text/css">
.img {
	width: 120px;
	height: 120px;
	border: 5px solid green;
	border-left-color: green;
	border-right-color: green;
	border-top-color: green;
	border-radius: 50%;
	float: left;
	margin: 10px 50px 10px 30px;
	-webkit-animation: circle 1s infinite linear; /*匀速 循环*/
}

.img-font {
	margin: 30% 1% 5px 11%;
}

.img-number {
	margin: 0px 0px 0px 37px;
	font-size: 15pt;
	font-weight: 900;
	color: blue;
}

@
-webkit-keyframes circle { 0%{
	transform: rotate(0deg);
}
100%{
transform






















:rotate(-360deg)






















;
}
}
</style>
<style type="text/css">
.search input {
	float: left;
	
}
.search label {
	margin-right:10px;
}

.modal-backdrop {
	opacity: 0 !important;
	filter: alpha(opacity = 0) !important;
}
</style>
</head>
<body ng-app="app" ng-controller="monitor" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>运维管理</span></li>
							<li class="active"><span>实时监测</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel" data-child="hpanel"
			data-effect="fadeInDown">
			<div class="row" ng-model="countData">
				<div class="col-md-12">

					<div class="hpanel">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-3">

									<div style="width:200px; margin-top:10px;"
										ng-class="{true:'panel-card hbgreen',false:'panel-card hbgred'}[countData.bsOffline==0]">
										<div class="card-img">
											<i class="fa fa-wifi fa-3x"></i>
										</div>
										<div class="card-info">
											<label>基站断站[数量]</label></br> <a class="page-scroll text-white"
												href="#page-bs" style="cursor: pointer;"> <span>{{countData.bsOffline}}</span></a>
										</div>
									</div>

								</div>
								<div class="col-md-3">
									<div style="width:200px; margin-top:10px;"
										ng-class="{true:'panel-card hbgreen',false:'panel-card hbblue'}[countData.mscOffline==0]">
										<div class="card-img">
											<i class="fa fa-tasks fa-3x"></i>
										</div>
										<div class="card-info">
											<label>交换中心异常[数量]</label></br> <a class="page-scroll text-white"
												href="#page-bs" style="cursor: pointer;"><span>{{countData.mscOffline}}</span></a>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div style="width:200px;margin-top:10px;"
										ng-class="{true:'panel-card hbgreen',false:'panel-card hbmagenta'}[1>2]">
										<div class="card-img">
											<i class="fa fa-futbol-o fa-3x"></i>
										</div>
										<div class="card-info">
											<label>Tera系统告警[数量]</label></br> <a class="page-scroll text-white"
												href="#" style="cursor: pointer;"><span>1456</span></a>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div style="width:200px;margin-top:10px;"
										ng-class="{true:'panel-card hbgreen',false:'panel-card hbchocolate'}[countData.emhAlarm==0]">
										<div class="card-img">
											<i class="fa fa-fire fa-3x"></i>
										</div>
										<div class="card-info">
											<label>环控告警[数量]</label></br> <a class="page-scroll text-white"
												href="#page-emh" style="cursor: pointer;"><span>{{countData.emhAlarm}}</span></a>
										</div>
									</div>
								</div>
							</div>
                            <!-- row -->
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-heading hbuilt">
							<div class="panel-tools">
								<!-- <div class="search">
								            magic-checkbox
									        <input id="p-bs-1" class="toggle-switch" type="checkbox"
												name="bs-p" value="3" checked> <label for="p-bs-1"><span>三期基站</span></label>

                                            <input id="p-bs-2" class="toggle-switch" type="checkbox"
												name="bs-p" value="4" checked> <label for="p-bs-2"><span>四期基站</span></label>
								</div> -->
							</div>
							各区域基站异常统计
						</div>
						<div class="panel-body">
							<div id="bs-bar" style="max-height:250px;"></div>
						</div>

					</div>
				</div>
			</div>
			<!-- row -->
			<!-- row -->
			<section id="page-bs">
				<div class="row">
					<div class="col-md-6">
						<div class="hpanel">
							<div class="panel-heading hbuilt">
								<div class="panel-tools">
									<a class="showhide"><i class="fa fa-chevron-up"></i></a>
								</div>
								基站断站告警列表
							</div>
							<!-- style="min-height:214px;max-height:214px;overflow: scroll;" -->
							<div class="panel-body">
								<div style="max-height:300px;overflow-y: scroll;">

									<table id="tb-info" class="xh-table table-hover">
										<thead>
											<tr class="tr-gray">
												<th>断站基站</th>
												<th>时间</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-if="bsTotals==0">
												<td colspan="2" class="text-center">没有告警记录！</td>
											</tr>
											<tr ng-repeat="x in bs">
												<td>{{x.bsId}}-{{x.name}}</td>
												<td>{{x.time}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>
					<div class="col-md-6">
						<div class="hpanel">
							<div class="panel-heading hbuilt">
								<div class="panel-tools">
									<a class="showhide"><i class="fa fa-chevron-up"></i></a>
								</div>
								交换中心告警列表
							</div>
							<div class="panel-body">
								<div> <!-- style="min-height:214px;max-height:214px;overflow: scroll;"> -->
									<table id="tb-info" class="xh-table table-hover">
										<thead>
											<tr class="tr-gray">
												<th>服务器名称</th>
												<th>告警描述</th>
												<th>时间</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-if="mscTotals==0">
												<td colspan="3" class="text-center">没有告警记录！</td>
											</tr>
											<tr ng-repeat="x in msc">

												<td ng-if="typeId==1" class="td-danger">{{x.name}}</td>
												<td ng-if="typeId!=1">{{x.name}}</td>

												<td>{{x.info}}</td>
												<td>{{x.time}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

						</div>

					</div>


				</div>
				<!-- row -->

			</section>

			<section id="page-emh">
				<div class="row">
					<div class="col-md-12">
						<div class="hpanel">
							<div class="panel-heading hbuilt">
								<div class="panel-tools">
									<div class="search">
								            <!-- magic-checkbox -->
									        <input id="period1" class="toggle-switch" type="checkbox"
												name="type" value="9" checked> <label for="period1"><span>三期基站</span></label>

                                            <input id="period2" class="toggle-switch" type="checkbox"
												name="type" value="10" checked> <label for="period2"><span>四期基站</span></label>
											<input id="type1" class="toggle-switch" type="checkbox"
												name="type" value="1" checked> <label for="type1"><span>门磁</span></label>

											<input id="type2" class="toggle-switch" type="checkbox"
												name="type" value="2" checked> <label for="type2"><span>烟感</span></label>

											<input id="type3" class="toggle-switch" type="checkbox"
												name="type" value="3" checked> <label for="type3"><span>红外</span></label>

											<input id="type4" class="toggle-switch" type="checkbox"
												name="type" value="4" checked> <label for="type4"><span>水浸</span></label>

											<input id="type5" class="toggle-switch" type="checkbox"
												name="type" value="5" checked> <label for="type5"><span>温湿度</span></label>


											<input id="type6" class="toggle-switch" type="checkbox"
												name="type" value="6" checked> <label for="type6"><span>UPS</span></label>

											<input id="type7" class="toggle-switch" type="checkbox"
												name="type" value="7" checked> <label for="type7"><span>电表</span></label>
											<input id="type8" class="toggle-switch" type="checkbox"
												name="type" value="8" checked> <label for="type8"><span>FSU</span></label>
										</div>
								</div>
								环控告警列表
							</div>
							<div class="panel-body">
								<div style="max-height:450px;overflow-y: scroll;">

									<div class="col-md-12">
										

										<table id="tb-info" class="xh-table table-hover">
											<thead>
												<tr class="tr-gray">
													<th>基站ID</th>
													<th>告警类型</th>
													<th>告警描述</th>
													<th>时间</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-if="emhTotals==0">
													<td colspan="9" class="text-center">没有告警记录！</td>
												</tr>
												<tr ng-repeat="x in emh">

													<td>{{x.bsId}}</td>
													<td>{{x.DevName}}</td>
													<td>{{x.AlarmText}}</td>

													<td>{{x.time}}</td>
													<!-- <td><span ng-if="x.singleId=='017010'">
												温度过高告警</span> <span ng-if="x.singleId=='017011'">温度高告警</span> <span
											ng-if="x.singleId=='017012'">温度过低告警</span> <span
											ng-if="x.singleId=='017013'">湿度过高告警</span> <span
											ng-if="x.singleId=='017014'">湿度过低告警</span> <span
											ng-if="x.singleId=='017001'">水浸告警</span> <span
											ng-if="x.singleId=='017002'">烟雾告警</span> <span
											ng-if="x.singleId=='017004'">红外告警</span> <span
											ng-if="x.singleId=='017020'">门打开</span> <span
											ng-if="x.singleId=='092001'">市电停电</span> <span
											ng-if="x.singleId=='092002'">市电缺相</span> <span
											ng-if="x.singleId=='092004'">交流电压过高告警</span> <span
											ng-if="x.singleId=='092005'">交流电压过低告警</span> <span
											ng-if="x.singleId=='076002'">非智能设备采集器通信状态告警</span> <span
											ng-if="x.singleId=='076501'">开关电源通信状态告警</span> <span
											ng-if="x.singleId=='076507'">UPS设备通信状态告警</span> <span
											ng-if="x.singleId=='076509'">智能电表通信状态告警</span></td>
										<td>{{x.updateTime}}</td> -->
												</tr>
											</tbody>
										</table>
									</div>
									<!-- <div class="page">
								<div class="page-info-emh">
									每页显示 <select id="page-limit-emh" ng-change="refresh()"
										ng-model="count">
										<option value="20">20</option>
										<option value="30">30</option>
										<option value="40">40</option>
										<option value="50">50</option>
									</select> 条, <span ng-model="index">显示{{start}}-</span><span
										ng-model="lastIndex">{{lastIndex}}条,</span> <span
										ng-model="totals">总计{{totals}}条</span>
								</div>
								<div class="page-paging"></div>
							</div> -->
								</div>

							</div>

						</div>
					</div>



					<!--  col-md-12 -->
				</div>
				<!-- row -->
			</section>
		</div>
	</div>
	<!-- /告警查询 -->

	<!-- 底部内容体 -->
	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<!-- 添加用户 -->
	<!-- <div ng-include="'user-add.html'"></div> -->
	<!-- 编辑基用户-->
	<!-- <div ng-include="'user-edit.html'"></div> -->
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="../../lib/metisMenu/dist/metisMenu.min.js"></script>
	<script type="text/javascript" src="../../lib/echarts/echarts.js"></script>
	<script type="text/javascript"
		src="../../Controllers/operations/monitor.js"></script>
	<script type="text/javascript">
		xh.load();
		/* $("body").delegate(".bs-box", "click", function() {
			$("#bs-status-right").fadeIn("fast");
			var bsId = $(this).attr("bsId-value");
			window.location.href = "bsstatus-view.html?bsId=" + bsId;

			// TODO
		}); */
	</script>
</body>
</html>
