
<div class="modal fade" id="addWin" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold">应急演练记录</small>
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
				<form action="#" onsubmit="return false" id="addForm">
					<div class="row">
						<div class="form-group col-md-12">
						<label>演练名称</label>
							<input type="text" class="form-control" name="name"
								required="required">
						</div>
						<div class="form-group col-md-6">
						<label>演练时间</label>
							<input type="text" class="form-control" name="create_time"
								onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',onpicked:xh.validatorTime('addForm','create_time')})"
								required="required">
						</div>
						
                        <div class="form-group col-md-6">
                        <label>演练类型</label>
                                <select name="type"  class="form-control">
                                <option value="应急通信演练" selected="selected">应急通信演练</option>
                                <option value="突发事件处理">突发事件处理</option>
                                </select>
                        </div>
                        <div class="form-group col-md-12">
                        <label>地点</label>
                            <input type="text" class="form-control" name="address"
                                required="required">
                        </div>
                        <div class="form-group col-md-12">
                        <label>参与人员</label>
                            <input type="text" class="form-control" name="personnel"
                                required="required">
                        </div>
                        <div class="form-group col-md-12">
                        <label>演练内容</label>
                            <textarea rows="3" class="form-control" name="content"
                                required="required"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                        <label>演练过程</label>
                            <textarea rows="4" class="form-control" name="process"
                                required="required"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                        <label>演练总结</label>
                            <textarea rows="4" class="form-control" name="summary"
                                required="required"></textarea>
                        </div>
					</div>
					
				</form>
			</div>
			<div class="modal-footer">
				<div class="btn-group">
					<button type="button" class="btn btn-danger btn-sm"
						data-dismiss="modal">
						<i class="fa fa-remove"></i>&nbsp;关闭
					</button>
					<button type="button" class="btn btn-success btn-sm" id="add_btn">
						<i class="fa fa-plus"></i>&nbsp;新增
					</button>
				</div>
			</div>

		</div>
	</div>
</div>
<script type="text/javascript">
	$("#add_btn").click(function() {
		$('#addForm').submit();
	});
	var faIcon = {
		valid : 'fa fa-check-circle fa-lg text-success',
		invalid : 'fa fa-times-circle fa-lg',
		validating : 'fa fa-refresh'
	};
	$('#addForm').bootstrapValidator({
		excluded : [ ':disabled' ],
		feedbackIcons : faIcon,
		fields : {

		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.add();
	});
</script>
