
<div class="modal fade" id="detailWin" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold">通信保障记录</small>
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
				<div class="order">
					<style type="text/css" id="style1">
.table-view {
	border-collapse: collapse;
}

.table-view td {
	border: 1px solid #ccc;
	border-collapse: collapse;
}
</style>
					<table id="order-table"
						style="width:100%;border-collapse: collapse;" class="table-view">
						<tbody>

							<tr>
								<td style="text-align: center;">保障名称</td>
								<td colspan="2">{{editData.name}}</td>
							</tr>
							<tr>
								<td style="text-align: center;">保障时间</td>
								<td colspan="2">{{editData.start_time}} 至
									{{editData.end_time}}</td>
							</tr>
							<tr>
								<td style="text-align: center;">保障区域</td>
								<td colspan="2">{{editData.zone}}</td>
							</tr>
							<tr>
								<td style="text-align: center;">保障级别</td>
								<td colspan="2">{{editData.level}}</td>
							</tr>
							<tr>
								<td style="text-align: center;">投入人力</td>
								<td colspan="2">{{editData.person_num}}</td>
							</tr>
							<tr>
								<td style="text-align: center;">移动卫星车使用时长</td>
								<td colspan="2">{{editData.satellite_time}}小时</td>
							</tr>
							<tr>
								<td style="text-align: center;">移动通讯车使用台次</td>
								<td colspan="2">{{editData.bus_num}}</td>
							</tr>

							<tr>
								<td colspan="3">
									<p ng-repeat="x in editData.files">
										<a href="#" ng-click="download2(x.filePath)">{{x.fileName}}</a>
										&nbsp;&nbsp; <a href="#" ng-click="download2(x.filePath)">|
											下载</a> &nbsp;&nbsp;<a href="#" ng-click="previewDoc(x.filePath)">
											| 预览</a>
									</p>
									<p ng-if="editData.file_name!=null">
										<a href="#" ng-click="download2(editData.file_path)">{{editData.file_name}}</a>
										&nbsp;&nbsp; <a href="#" ng-click="download2(editData.file_path)">|
											下载</a> &nbsp;&nbsp;<a href="#" ng-click="previewDoc(editData.file_path)">
											| 预览</a>
									</p>
								</td>
							</tr>



						</tbody>
					</table>
				</div>


			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>