
<div class="modal fade" id="detailWin" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold">通信保障记录</small>
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
				<div class="order">
					<style type="text/css">
.table-view {
    border-collapse: collapse;
}

.table-view td {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

table {
    border-top: 2px solid red;
}
</style>
                            <table style="width:100%;margin-top:10px;"
                                class="table-view">
                                <tbody>
                                    <tr>
                                        <td colspan="2" style="text-align: center">{{editData.name}}</td>
                                    </tr>
                                    <tr>
                                        <td width="200px">时间：{{editData.create_time}}</td>
                                        <td>类型：{{editData.type}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">地点：{{editData.address}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">参与人员:{{editData.personnel}}</td>
                                    </tr>
                                    <tr>
                                        <td>演练内容</td>
                                        <td>{{editData.content}}</td>
                                    </tr>
                                    <tr>
                                        <td>演练过程</td>
                                        <td>{{editData.process}}</td>
                                    </tr>
                                    <tr>
                                        <td>演练总结</td>
                                        <td>{{editData.summary}}</td>
                                    </tr>



                                </tbody>
                            </table>
				</div>


			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>