<!DOCTYPE html>
<html>
<head>
<title>中心状态</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
<style type="text/css">
.server-table{
  border:0px;
  width:100%;
}
.server-table td{
  border:0px;
  border-bottom:1px dotted green;
}
/* table tbody {
display:block;
width:100%;
height:195px;
overflow-y:scroll;
}
table thead, tbody tr {
display:table;
width:100%;
table-layout:fixed;
}

table thead {
width: calc( 100% - 1em )
} */
</style>
</head>
<body ng-app="app" ng-controller="xhcontroller" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>运维管理</span></li>
							<li><span>实时监测</span></li>
							<li class="active"><span>中心状态</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">
			<div class="row">
				<div class="col-md-12"></div>
			</div>
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-heading hbuilt">
							<div class="panel-tools">
								<a class="showhide"><i class="fa fa-chevron-up"></i></a> <a
									class="closebox"><i class="fa fa-times"></i></a>
							</div>
							服务器运行状态
						</div>
						<div class="panel-body">

							<!--  <div class="row"  ng-repeat="x in data">
						 <div class="col-md-12">
						  <div id="pie-{{x.typeId}}" style="height:200px;width:200px;">123</div>
						 </div>
						 </div> -->

							<table class="server-table" border="0">
							
									<tr ng-if="totals==0">
										<td colspan="7" class="text-center">没有记录！</td>
									</tr>
									<tr ng-repeat="x in data">
										<td style="min-width:150px;text-align: center;"><i
											ng-class="{true: 'fa fa-server fa-4x text-danger', false: 'fa fa-server fa-4x text-success'}[x.status==1 ||x.memper>50 || x.diskper>50 ]"></i>
											<br> {{x.name}}</td>
										<!-- <td>

											<div id="pie-{{x.typeId}}" style="height:100px;width:100px;"></div>
										</td> -->
										
										
										
										<td style="min-width:200px;" ng-if="x.status==0">
											<div>内存使用</div>
											<div class="progress progress-striped active">

												<div ng-class="{true:'progress-bar progress-bar-success',false:'progress-bar progress-bar-danger'}[x.memper<50]"
												    class="progress-bar progress-bar-success" 
												    role="progressbar"
													aria-valuenow="{{x.memUsed |number:2}}" 
													aria-valuemin="0" 
													aria-valuemax="{{x.memSize |number:0}}"
													style="width: {{x.memper}}%">
													<!-- <span class="sr-only">40% 完成</span> -->
												</div>

											</div>
											<div>已使用内存{{x.memUsed |number:2}}GB &nbsp;&nbsp;&nbsp;&nbsp; 共{{x.memSize |number:0}}GB</div>
										</td>
										
										<!-- <td>{{x.diskUsed |number:2}}</td> -->
										<td style="min-width:300px;" ng-if="x.status==0">
											<div>磁盘空间</div>
											<div class="progress progress-striped active">

												<div ng-class="{true:'progress-bar progress-bar-success',false:'progress-bar progress-bar-danger'}[x.diskper<50]"
												    class="progress-bar progress-bar-success" 
												    role="progressbar"
													aria-valuenow="{{x.diskUsed |number:2}}" 
													aria-valuemin="0" 
													aria-valuemax="{{x.diskSize |number:0}}"
													style="width: {{x.diskper}}%" id="disk-{{x.typeId}}">
													<!-- <span class="sr-only">40% 完成</span> -->
												</div>

											</div>
											<div>已使用空间{{x.diskUsed |number:2}}GB &nbsp;&nbsp;&nbsp;&nbsp; 共{{x.diskSize |number:0}}GB</div>
										</td>
										<td ng-if="x.status==0">
											<div id="cpu-{{x.typeId}}" style="height:150px;width:150px;"></div>
										</td>
										<td>
											<span>更新时间：{{x.time}}</span>
										</td>
									

									</tr>
								
							</table>


							<!-- row -->

							<!-- row -->
							<!-- <table id="tb-info" class="xh-table table-hover">
								<thead>
									<tr class="tr-gray">
										<th width="50px">#</th>
										<th>服务器名称</th>
										<th>磁盘大小（单位：G）</th>
										<th>磁盘已用空间（单位：G）</th>
										<th>内存大小（单位：G）</th>
										<th>内存已用空间（单位：G）</th>
										<th>运行状态</th>
										<th>更新时间</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-if="totals==0">
										<td colspan="7" class="text-center">没有记录！</td>
									</tr>
									<tr ng-repeat="x in data">
										<td>{{$index+1}}</td>
										<td>
										<i ng-class="{true: 'fa fa-server fa-4x text-danger', false: 'fa fa-server fa-4x text-success'}[x.status==1]" ></i>
										<br>
										{{x.name}}</td>
										<td>{{x.diskSize |number:2}}</td>
										<td>{{x.diskUsed |number:2}}</td>
										<td>{{x.memSize |number:2}}</td>
										<td>{{x.memUsed |number:2}}</td>
										<td ng-if="x.type==0 && x.status==1"><span
											class="label arrowed-in label-sm label-success">正常</span></td>
										<td ng-if="x.type==0 && x.status==0"><span
											class="label arrowed-in label-sm label-success">无法连接</span></td>
										<td ng-if="x.type==1 && x.status==0"><span
											class="label arrowed-in label-sm label-success">正常</span></td>
										<td ng-if="x.type==1 && x.status==1"><span
											class="label arrowed label-sm label-danger">无法连接</span></td>
										
										<td>{{x.time}}</td>
								
									</tr>
								</tbody>
							</table> -->

						</div>
					</div>
				</div>
				<!-- col-md-9 end-->

			</div>
			<!-- row/ -->
		</div>
	</div>
	<!-- 中间内容体 /-->
	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<!-- 添加用户 -->
	<!-- <div ng-include="'user-add.html'"></div> -->
	<!-- 编辑基用户-->
	<!-- <div ng-include="'user-edit.html'"></div> -->
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="../../lib/metisMenu/dist/metisMenu.min.js"></script>
	<script type="text/javascript" src="../../lib/echarts/echarts.js"></script>
	<script type="text/javascript"
		src="../../Controllers/operations/serverstatus.js"></script>
	<script type="text/javascript">
		xh.load();
		
	</script>
</body>
</html>
