
<div class="modal fade" id="edit" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body pad-0">
				<form action="#" id="editForm" onSubmit="return false">
					<div class="row">
						<div class="col-md-12">
							<h3 class="text-center">工作联系单</h3>
							<p>项目名称：成都市应急指挥调度无线通信网</p>
						</div>
					</div>
					<div class="row">
					<div class="col-md-12" ng-show="false">
					<input name="taskId" ng-model="editData.taskId">
                    <input name="check_person"  ng-model="editData.check_person">
					</div>

						<div class="col-md-12">
							<table class="form-table">
								<tr>
									<td width="130px">事由  &nbsp;<span style="color:red">(必填)</span></td>
									<td colspan="3"><input type="text" class="form-input"
										name="reason" required="required" ng-model="editData.reason"></td>
								</tr>
								<tr>
									<td width="130px">类型 &nbsp;<span style="color:red">(必填)</span></td>
									<td colspan="3">
									<select name="type" class="form-select" ng-model="editData.type">
									<option value="通信保障">通信保障</option>
									<option value="应急处置演练">应急处置演练</option>
									<option value="服务抽检">服务抽检</option>
									<option value="网络优化与整改">网络优化与整改</option>
									<option value="故障处理">故障处理</option>
									<option value="频率干扰排查">频率干扰排查</option>
									<option value="信号覆盖测试">信号覆盖测试</option>
									<option value="支持与配合工作">支持与配合工作</option>
									<option value="其他事项" selected="selected">其他事项</option>
									</select>
									</td>
								</tr>
								<tr>
									<td width="130px">发文单位 &nbsp;<span style="color:red">(必填)</span></td>
									<td colspan="3">
									<input type="text" class="form-input"
                                        name="sendUnit" required="required" ng-model="editData.sendUnit" readonly="readonly">
										
										
									</td>
								</tr>
								<tr>
									<td width="130px">收文单位  &nbsp;<span style="color:red">(必填)</span></td>
									<td colspan="3">
									   <select name="recvUnit" class="form-select" ng-model="editData.recvUnit">
                                                <option value="成都市软件产业发展中心">成都市软件产业发展中心</option>
                                                <option value="成都亚光电子股份有限公司" selected="selected">成都亚光电子股份有限公司</option>
                                            </select>
									</td>
									
								</tr>
								<tr>
									<td width="130px">抄送</td>
									<td colspan="3"><input type="text" class="form-input"
										name="copyUnit" ng-model="editData.copyUnit"></td>
								</tr>
								<tr>
									<td width="130px">时间 &nbsp;<span style="color:red">(必填)</span></td>
									<td><input type="text" class="form-input" name="time"
									onfocus="WdatePicker({dateFmt:'yyyy-MM-dd DD',firstDayOfWeek:1,isShowWeek:true})"
														placeholder="时间" required="required" value="" ng-model="editData.time">
									</td>
									<td width="130px">编号</td>
									<td><input type="text" class="form-input" name="code" required="required" ng-model="editData.code">
									</td>
								</tr>
<!-- 联系人：张振华  联系电话：15108275800 负责人：谭  巍  联系电话：1309060858 -->
								<tr style="height:140px; text-align: left;">
									<td colspan="4">
									<textarea class="form-input" name="content" rows="10" id="content"></textarea>
									</td>
								</tr>
								<tr>
                                    <td width="130px"><a href="#" ng-click="showFileWin()">附件</a> </td>
                                     
                                   <td colspan="3">
                                    <p ng-repeat="x in editData.files">
                                    <a href="#" ng-click="download(x.filePath)">{{x.fileName}}</a>
                                    &nbsp;&nbsp;
                                    <a href="#" ng-click="download(x.filePath)">| 下载</a> 
                                    &nbsp;&nbsp;<a href="#" ng-click="previewDoc(x.filePath)"> | 预览</a>
                                    </p>
                                    </td>
                                  
                                    </tr>
                                    
                                    <tr>
                                    <td>拟制</td><td>{{detailData.userName}}</td>
                                    <td>审核</td><td>{{detailData.checkUserName}}</td>
                                </tr>
                               <!--  <tr>
                                <input type="hidden" name="fileName" value="" /> 
                        <input type="hidden" name="filePath" value="" /> 
                        <input type="hidden" name="result" value="" />
                                </tr> -->

							</table>

						</div>
					</div>



				</form>

			</div>
			<div class="modal-footer">
				<button type="button" ng-disabled="form.$invalid"
					class="btn btn-success btn-sm" id="update_btn">
					<i class="fa fa-plus"></i>&nbsp;修改
				</button>
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$("#update_btn").click(function() {
		$('#editForm').submit();

	});
	$(document).on("click",".del-file",function(){
		$(this).parent().remove();
	})
	var faIcon = {
		valid : 'fa fa-check-circle fa-lg text-success',
		invalid : 'fa fa-times-circle fa-lg',
		validating : 'fa fa-refresh'
	};
	$('#editForm').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {

		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		$("#edit_btn").button('loading');
		xh.edit();
	});
	
</script>