
<div class="modal fade" id="add" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body pad-0">
				<form action="#" id="addForm" onSubmit="return false">
					<div class="row">
						<div class="col-md-12">
							<h3 class="text-center">工作联系单</h3>
							<p>项目名称：成都市应急指挥调度无线通信网</p>
						</div>
					</div>
					<div class="row">

						<div class="col-md-12">
							<table class="form-table">
								<tr>
									<td width="130px">事由  &nbsp;<span style="color:red">(必填)</span></td>
									<td colspan="3"><input type="text" class="form-input"
										name="reason" required="required"></td>
								</tr>
								<tr>
									<td width="130px">类型 &nbsp;<span style="color:red">(必填)</span></td>
									<td colspan="3">
									<select name="type" class="form-select">
									<option value="通信保障">通信保障</option>
									<option value="应急处置演练">应急处置演练</option>
									<option value="服务抽检">服务抽检</option>
									<option value="网络优化与整改">网络优化与整改</option>
									<option value="故障处理">故障处理</option>
									<option value="频率干扰排查">频率干扰排查</option>
									<option value="信号覆盖测试">信号覆盖测试</option>
									<option value="支持与配合工作">支持与配合工作</option>
									<option value="其他事项" selected="selected">其他事项</option>
									</select>
									</td>
								</tr>
								<tr>
									<td width="130px">发文单位 &nbsp;<span style="color:red">(必填)</span></td>
									<td colspan="3">
									<input type="text" class="form-input"
                                        name="sendUnit" required="required" ng-model="sendUnit" readonly="readonly">
										<!-- <select name="sendUnit" class="form-select"  ng-readonly="true" ng-model="sendUnit">
                                                <option value="成都市软件产业发展中心" >成都市软件产业发展中心</option>
                                                <option value="成都亚光电子股份有限公司">成都亚光电子股份有限公司</option>
                                            </select> -->
										
									</td>
								</tr>
								<tr>
									<td width="130px">收文单位  &nbsp;<span style="color:red">(必填)</span></td>
									<td colspan="3">
									   <select name="recvUnit" class="form-select">
                                                <option value="成都信息化技术应用发展中心">成都信息化技术应用发展中心</option>
                                                <option value="成都亚光电子股份有限公司" selected="selected">成都亚光电子股份有限公司</option>
                                            </select>
									</td>
									
								</tr>
								<tr>
									<td width="130px">抄送</td>
									<td colspan="3"><input type="text" class="form-input"
										name="copyUnit" value=""></td>
								</tr>
								<tr>
									<td width="130px">时间 &nbsp;<span style="color:red">(必填)</span></td>
									<td><input type="text" class="form-input" name="time"
									onfocus="WdatePicker({dateFmt:'yyyy-MM-dd DD',firstDayOfWeek:1,isShowWeek:true})"
														placeholder="时间" required="required" value="" ng-model="nowDate">
									</td>
									<td width="130px">编号</td>
									<td><input type="text" class="form-input" name="code" required="required" ng-model="NO">
									</td>
								</tr>
								<tr style="height:140px; text-align: left;">
									<td colspan="4">
									<textarea class="form-input" name="content" rows="10"></textarea>
									</td>
								</tr>
								<tr>
                                    <td width="130px"><a href="#" ng-click="showFileWin()">添加附件</a> </td>
                                     
                                   <td colspan="3" class="file">
                                    
                                    <input  class="form-control" type="file" id="pathName" name="pathName" onchange="upFile()" style="display: none;"/>
                                    <div id="fileArea">
                                     <ul>
                                     
                                     </ul>
                                    </div>
                                    </td>
                                   <!--  <td>
                                    <button type="button" 
                                    class="btn btn-info btn-sm" style="margin-top:3px;"
                                    id="uploadfile">
                                    <i class="fa fa-plus-circle"></i>点击上传
                                </button>
                                    </td> -->
                                </tr>
                               <!--  <tr>
                                <input type="hidden" name="fileName" value="" /> 
                        <input type="hidden" name="filePath" value="" /> 
                        <input type="hidden" name="result" value="" />
                                </tr> -->

							</table>

						</div>
					</div>



				</form>

			</div>
			<div class="modal-footer">
				<button type="button" ng-disabled="form.$invalid"
					class="btn btn-success btn-sm" id="add_btn">
					<i class="fa fa-plus"></i>&nbsp;发送任务
				</button>
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
    var fileNum=1;
	$("#add_btn").click(function() {
		$('#addForm').submit();

	});
	$(document).on("click",".del-file",function(){
		$(this).parent().remove();
	})
	var faIcon = {
		valid : 'fa fa-check-circle fa-lg text-success',
		invalid : 'fa fa-times-circle fa-lg',
		validating : 'fa fa-refresh'
	};
	$('#addForm').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {

		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		$("#add_btn").button('loading');
		xh.add();
	});

	
	
	$("#uploadfile").click(function() {
        if ($('#pathName').val() == "") {
            alert("请选择需要上传的文件！");
            return false;
        }
        $("input[name='result']").val(2);
        $("#uploadfile").attr("disabled", true);
        xh.maskShow("正在上传文件，请耐心等待");
        $.ajaxFileUpload({
            url : '../../uploadFile/upload', //用于文件上传的服务器端请求地址
            secureuri : false, //是否需要安全协议，一般设置为false
            fileElementId : 'pathName', //文件上传域的ID
            dataType : 'json', // 返回值类型 一般设置为json
            type : 'POST',
            success : function(data, status) //服务器成功响应处理函数
            {
                $("#uploadfile").attr("disabled", false);
                xh.maskHide();
                if (data.success) {
                    $("input[name='result']").val(1);
                    $("input[name='fileName']").val(data.fileName);
                    $("input[name='filePath']").val(data.filePath);
                    $("#uploadResult").html("文件上传成功");
                    toastr.success("文件上传成功", '提示');
                } else {
                    $("input[name='result']").val(0);
                    toastr.error("文件上传失败", '提示');
                    $("#uploadResult").html("文件上传失败");
                }

            },
            error : function(data, status, e)//服务器响应失败处理函数
            {
                alert(e);
                xh.maskHide();
            }
        });
    });
	function upFile(){
		
		var name=$("input[name=pathName]").val();
		var mm=$("input[name=pathName]").get(0).files;
		var size=0;
        if (mm[0].size > 1024 * 1024) {
            size = (Math.round(mm[0].size / (1024 * 1024))).toString()
                    + 'MB';
        } else {
            size = (Math.round(mm[0].size / 1024)).toString() + 'KB';
        }
        
		var str="";
		str+="<li>";
		str+="<span>"+mm[0].name+"</span>";
		str+="<span class='path' style='display:none;' id='filepath"+fileNum+"'></span>";
		str+="<span>("+size+")</span>"
		str+="<span style='color:red;margin-left:20px' id='upresult"+fileNum+"'></span>"
		str+="<span style='color:blue;margin-left:20px;cursor:pointer' class='del-file' >删除</span>"
		str+="</li>"
	    $("#fileArea ul").append(str);
		upload("upresult"+fileNum,"filepath"+fileNum);
		fileNum++;
	}
	function upload(r,p){
		if ($('#pathName').val() == "") {
            alert("请选择需要上传的文件！");
            return false;
        }
        $("input[name='result']").val(2);
        xh.maskShow("正在上传文件，请耐心等待");
        $.ajaxFileUpload({
            url : '../../uploadFile/upload', //用于文件上传的服务器端请求地址
            secureuri : false, //是否需要安全协议，一般设置为false
            fileElementId : 'pathName', //文件上传域的ID
            dataType : 'json', // 返回值类型 一般设置为json
            type : 'POST',
            success : function(data, status) //服务器成功响应处理函数
            {
                xh.maskHide();
                if (data.success) {
                    $("#"+r).html("文件上传成功");
                    $("#"+p).html(data.filePath);
                    
                    toastr.success("文件上传成功", '提示');
                } else {
                    toastr.error("文件上传失败", '提示');
                    $("#"+r).html("文件上传失败");
                }

            },
            error : function(data, status, e)//服务器响应失败处理函数
            {
                alert(e);
                xh.maskHide();
            }
        });
	}
	function delfile(){
		alert(1)
	}
</script>