
<div class="modal fade" style="z-index:10000" id="detail" tabindex="-1"
	role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- <div class="color-line"></div> -->
			<!-- <div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
			</div> -->
			<div class="modal-body pad-0">
				<div class="row">
					<div class="col-md-12">
						<h3 class=" w-title">工作联系单</h3>
					</div>
				</div>
				<div class="row">

					<div class="col-md-12">
						<table class="form-table w-table">
							<tr>
								<td width="130px" class="w-tag">项目名称</td>
								<td colspan="3">成都市应急指挥调度无线通信网</td>
							</tr>
							<tr>
								<td width="100px" class="w-tag">事&nbsp;&nbsp;&nbsp;&nbsp;由</td>
								<td colspan="3">{{detailData.reason}}</td>
							</tr>
							<tr>
								<td width="100px" class="w-tag">类&nbsp;&nbsp;&nbsp;&nbsp;型</td>
								<td colspan="1">{{detailData.type}}</td>
								<td width="100px" class="w-tag">级&nbsp;&nbsp;&nbsp;&nbsp;别</span></td>
								<td colspan="1">{{detailData.level}}</td>
							</tr>
							<tr ng-if="detailData.type=='通信保障'">
								<td width="100px" class="w-tag">保障时间</td>
								<td colspan="3">[{{detailData.ensure_starttime}}]至[{{detailData.ensure_endtime}}]</td>
							</tr>
							<tr ng-if="detailData.type=='通信保障'">
								<td width="100px" class="w-tag">保障范围</td>
								<td colspan="3">{{detailData.ensure_zone}}</td>
							</tr>
							<tr>
								<td width="100px" class="w-tag">发文单位</td>
								<td colspan="3">{{detailData.sendUnit}}</td>
							</tr>

							<tr>
								<td width="100px" class="w-tag">收文单位</td>
								<td colspan="3">{{detailData.recvUnit}}</td>
							</tr>
							<tr>
								<td width="100px" class="w-tag">抄&nbsp;&nbsp;&nbsp;&nbsp;送</td>
								<td colspan="3">{{detailData.copyUnit}}</td>
							</tr>
							<tr>
								<td width="100px" class="w-tag">时&nbsp;&nbsp;&nbsp;&nbsp;间</td>
								<td>{{detailData.time |weekly}}</td>
								<td width="100px" class="w-tag">编&nbsp;&nbsp;&nbsp;&nbsp;号</td>
								<td>{{detailData.code}}</td>
							</tr>

							<tr class="w-content">
								<td colspan="4"
									style="word-wrap:break-word;word-break:break-all;" id="df"></td>
							</tr>
							<tr>
								<td width="130px">附件</td>
								<td colspan="3">
									<p ng-repeat="x in detailData.files">
										<a href="#" ng-click="download(x.filePath)">{{x.fileName}}</a>
										&nbsp;&nbsp; <a href="#" ng-click="download(x.filePath)">|
											下载</a> &nbsp;&nbsp;<a href="#" ng-click="previewDoc(x.filePath)">
											| 预览</a>
									</p> <!-- <a href="#" ng-click="download(detailData.filePath)">{{detailData.fileName}}</a> -->
								</td>
							</tr>

							<tr>
								<td>拟制</td>
								<td>{{detailData.userName}}</td>
								<td>审核</td>
								<td>{{detailData.checkUserName}}</td>
							</tr>

							<tr ng-if="detailData.status>=2">
								<td>签收</td>
								<td colspan="3" style="min-height:40px;">
									<p style="font-style: oblique;color:green;font-weight: 800">
										<img src="../../Resources/images/img/user.png"
											style="height:20px;width:20px;"> <span>

											{{detailData.signUserName}}</span> <span>时间：
											{{detailData.checkTime}}</span>
									</p>
									<p>
										<span>{{detailData.reply}}</span>
									</p>


								</td>
							</tr>
							<tr ng-if="detailData.status>=3">
								<td>处理结果</td>
								<td colspan="3"
									style="min-height:40px;word-wrap:break-word;word-break:break-all;">

									<p style="font-style: oblique;color:green;font-weight: 800">
										<img src="../../Resources/images/img/user.png"
											style="height:20px;width:20px;"> <span>
											{{detailData.handleUserName}}</span> <span>时间：
											{{detailData.handle_time}}</span>
									</p>
									<p ng-if="detailData.type=='通信保障'">
										投入情况：{{detailData.person_num}}人次，卫星{{detailData.ensure_satellite_time}}小时，车辆{{detailData.ensure_bus_num}}台次
									</p>
									<p>
										<span>{{detailData.handle_note}}</span>
									</p>

								</td>
							</tr>
							<tr ng-if="detailData.status>=4">
								<td>完成总结</td>
								<td colspan="3"
									style="min-height:40px;word-wrap:break-word;word-break:break-all;">
									<p style="font-style: oblique;color:green;font-weight: 800">
										<img src="../../Resources/images/img/user.png"
											style="height:20px;width:20px;"> <span>
											{{detailData.summaryUserName}}</span> <span>时间：
											{{detailData.summary_time}}</span>
									</p>
									<p>
										<span ng-if="detailData.summary_filePath!==null">
											{{detailData.summary_fileName}} <a href="#"
											ng-click="download(detailData.summary_filePath)">| 下载</a>
											&nbsp;&nbsp; <a href="#"
											ng-click="previewDoc(detailData.summary_filePath)"> | 预览</a>
										</span>


									</p>
									<p>{{detailData.summary_note}}</p>

								</td>
							</tr>


						</table>

					</div>
				</div>

			</div>

		</div>
	</div>
</div>
