<!DOCTYPE html>
<html>
<head>
<title>工作联系单</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<script type="text/javascript" src="../../jquery.min.js"></script>
<script type="text/javascript" src="../../pageoffice.js" id="po_js_main"></script>
<style type="text/css">
.form-table {
	margin-top: 10px;
	width: 100%;
	color: #000;
	/* table-layout:fixed; */
	border-collapse: collapse;
	/* text-align: center; */

	/* transform:rotate(2deg);  */
}

.form-table tr td {
	/* word-wrap:break-word;
	white-space: nowrap; */
	border: 1px solid #ccc;
	overflow: hidden;
	text-overflow: ellipsis;
}

.form-input {
	outline: none;
	border: none;
	width: 100%;
}

.form-select {
	outline: none;
	border: none;
	width: 100%;
}

.w-title {
	font-family: "仿宋";
	text-align: center;
	font-size: 18pt;
	font-weight: bold;
}

.w-table {
	font-family: "仿宋";
	font-size: 12pt;
	width: 100%;
}

.w-table tr td {
	border: 1px solid #000;
}

.w-tag {
	font-family: "仿宋";
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
}

.w-content {
	text-indent: 20px;
	line-height: 30px;
}
</style>
<!-- <script type="text/javascript" src="../../Resources/js/jquery-1.7.2.js"></script> -->
<!--[if lte IE 9]>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
</head>
<body ng-app="app" ng-controller="xhcontroller" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 中间内容体 -->
	<div id="wrapper">
		{{loginUser.roleType}}
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>运维管理</span></li>
							<li><a href="../menu/menu_operations.html" target="_self"><span>服务监管</span></a></li>
							<li class="active"><span>工作联系单</span></li>
						</ol>
					</div>
					<div class="btn-group pull-right">
						<button class="btn btn-primary btn-sm"
							onclick="javascript:history.back(-1);">
							<i class="fa fa-mail-reply-all"></i>&nbsp;&nbsp;返回上一级
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">
			<div class="row">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-heading hbuilt">
							<div class="panel-tools">
								<a class="showhide"><i class="fa fa-chevron-up"></i></a>
							</div>
							<i class="fa fa-search"></i> 查询数据
						</div>
						<div class="panel-body">
							<div id="search-div">
								<form class="form-inline" role="form">
									<div class="form-group">
										<label for="filename">关键字</label>
										<div>
											<input type="text" class="form-control" id="key"
												placeholder="关键字搜索">
										</div>
									</div>


									<div class="form-group">
										<label for="type">类型 </label>
										<div>
											<select id="type" class="form-control">
												<option value="">==全部==</option>
												<option ng-repeat="x in select_data" value="{{x.name}}">{{x.name}}</option>

											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="status">状态 </label>
										<div>
											<select id="status" class="form-control" style="width:159px;">
												<option value="" selected="selected">==全部==</option>
												<option value="-2">已撤销</option>
												<option value="-1">已拒绝</option>
												<option value="0">审核中</option>
												<option value="1">等待签收</option>
												<option value="2">已签收，处理中</option>
												<option value="3">等待填写总结</option>
												<option value="4">已完成</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label>发文人</label>
										<div>
											<input type="text" class="form-control" id="send_user">
										</div>
									</div>
									<div class="form-group">
										<label>审核人</label>
										<div>
											<input type="text" class="form-control" id="check_user">
										</div>
									</div>
									<div class="form-group">
										<label>签收人</label>
										<div>
											<input type="text" class="form-control" id="sign_user">
										</div>
									</div>
									<div class="form-group">
										<label>开始时间</label>
										<div>
											<input type="text" class="form-control" id="start_time"
												onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})">
										</div>
									</div>
									<div class="form-group">
										<label>结束时间</label>
										<div>
											<input type="text" class="form-control" id="end_time"
												onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})">
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-2" style="padding-top:22px">
											<button type="submit" class="btn btn-sm btn-success"
												ng-click="search(1)">
												<i class="fa fa-search"></i>&nbsp;查询
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-heading hbuilt">工作联系单列表</div>
						<div class="panel-body">
							<div class="btn-group pull-left" style="padding-bottom:5px;">

								<button class="btn btn-danger btn-sm" data-toggle="modal"
									data-target="#add" ng-disabled="">
									<i class="fa fa-plus-circle"></i>&nbsp;填写工作联系单
								</button>
							</div>
							<div class="form-group"></div>
							<!-- row -->

							<!-- row -->
							<table id="tb-info" class="xh-table table-hover">
								<thead>
									<tr class="tr-gray">
										<th>时间</th>

										<th>类型</th>
										<!-- <th>发文单位</th> -->
										<th>发文人</th>
										<th>事由</th>
										<th>审核人</th>
										<th>签收人</th>
										<th>签收时间</th>

										<th>状态</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-if="totals==0">
										<td colspan="9" class="text-center">没有记录！</td>
									</tr>
									<tr ng-repeat="x in data">
										<td>{{x.time}}</td>

										<td>{{x.type}}</td>
										<!-- <td>{{x.sendUnit}}</td> -->
										<td>{{x.userName}}</td>
										<td><a href="#" ng-click="detail($index)">{{x.reason}}</a></td>
										<td>{{x.checkUserName}}</td>
										<td>{{x.signUserName}}</td>
										<td>{{x.checkTime}}</td>
										<td><span ng-if="x.status==0">等待审核</span> <span
											ng-if="x.status==-2" style="color:red">已撤销</span> <span
											ng-if="x.status==-1" style="color:red">工联单被拒绝({{x.note}})</span>
											<span ng-if="x.status==1" style="color:gray">等待签收</span> <span
											ng-if="x.status==2" style="color:gray">已签收，处理中</span> <span
											ng-if="x.status==3" style="color:gray">处理完成，等待填写完成总结</span> <span
											ng-if="x.status==4" style="color:green">已完成</span></td>
										<td><a href="#" ng-click="detail($index)"><img
												src="../../Resources/images/icon/eye.png">查看工作联系单</a> <a
											href="#" ng-click="showAdd($index)"
											ng-if="up.o_update=='on' || up.o_task=='on'
										">|&nbsp;<img
												src="../../Resources/images/icon/edit.png">复制
										</a><a href="#" ng-click="showEdit($index)"
											ng-if="x.status<1 && loginUser.roleType==x.user_type && ((loginUser.user==x.addUser && up.o_update=='on') || up.o_task=='on')
                                        ">|&nbsp;<img
												src="../../Resources/images/icon/edit.png">修改
										</a> <a href="#" ng-click="cancelTask($index)"
											ng-if="loginUser.user==x.addUser 
                                        && x.status==0">|&nbsp;<img
												src="../../Resources/images/icon/chexiao.png">撤销
										</a> <a href="#" ng-click="showCheck($index)"
											ng-if="up.o_task=='on' && x.status==0">|&nbsp;<img
												src="../../Resources/images/icon/sign.png">审核
										</a> <a href="#" ng-click="showReplyWin($index)"
											ng-if="loginUser.roleType!=x.user_type 
										&&  x.status==1">|&nbsp;<img
												src="../../Resources/images/icon/record.png">签收
										</a> <a href="#" ng-click="showHandleWin($index)"
											ng-if="(loginUser.roleType==0 || loginUser.roleType==3)
                                        &&  x.status==2">|&nbsp;<img
												src="../../Resources/images/icon/record.png">处理跟踪
										</a> <a href="#" ng-click="showSummaryWin($index)"
											ng-if="(loginUser.roleType==0 || loginUser.roleType==3)
                                        &&  x.status==3">|&nbsp;<img
												src="../../Resources/images/icon/record.png">完成总结
										</a> <a href="#" ng-click="del($index)"
											ng-if="up.o_delete=='on' || loginUser.roleType==0 ">|&nbsp;<img
												src="../../Resources/images/icon/del.png">删除
										</a></td>

									</tr>
								</tbody>
							</table>
							<div class="page">
								<div class="page-info">
									<span>每页显示</span><select id="page-limit" ng-change="refresh()"
										ng-model="count">
										<option value="20">20</option>
										<option value="30">30</option>
										<option value="40">40</option>
										<option value="50">50</option>
									</select> <span>条,</span> <span ng-model="index">显示{{start}}-</span><span
										ng-model="lastIndex">{{lastIndex}}条,</span> <span
										ng-model="totals">总计{{totals}}条</span> <i
										class="fa fa-refresh page-refresh" title="刷新数据"
										ng-click="refresh()"></i>
								</div>
								<div class="page-paging"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- row/ -->
	</div>
	<!-- 中间内容体 /-->
	<div class="modal fade" id="checkWin" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="color-line"></div>
				<div class="modal-header ">
					审核窗口
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body pad-0">
					<div class="row">


						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>备注信息</label>&nbsp;<span class="text-danger">[*]</span>
								<textarea rows="6" class="form-control" cols="" name="note"></textarea>
							</div>
						</div>

					</div>

				</div>
				<div class="modal-footer">
					<button type="button" ng-disabled="form.$invalid"
						class="btn btn-success btn-sm" ng-click="check(1)">通过</button>
					<button type="button" ng-disabled="form.$invalid"
						class="btn btn-danger btn-sm" ng-click="check(-1)">
						&nbsp;拒绝</button>
					<button type="button" class="btn btn-danger btn-sm"
						data-dismiss="modal">
						<i class="fa fa-remove"></i>&nbsp;关闭
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 签收 -->
	<div class="modal fade" id="replyWin" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="color-line"></div>
				<div class="modal-header ">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<span>接单响应</span>
				</div>
				<div class="modal-body pad-0">
					<div class="row">

						<div class="col-md-12">
							<textarea class="form-input" name="reply" rows="4">收到！</textarea>

						</div>
					</div>


				</div>
				<div class="modal-footer">
					<button type="button" ng-disabled="form.$invalid"
						class="btn btn-success btn-sm" ng-click="sign()">
						<i class="fa fa-plus"></i>&nbsp;确定
					</button>
					<button type="button" class="btn btn-danger btn-sm"
						data-dismiss="modal">
						<i class="fa fa-remove"></i>&nbsp;关闭
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 填写完成结果 -->
	<div class="modal fade" id="handleWin" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="color-line"></div>
				<div class="modal-header ">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<span>处理跟踪</span>
				</div>
				<div class="modal-body pad-0">
					<div class="row">

						<div class="col-md-12">
							<textarea class="form-control" name="handle" rows="8"></textarea>

						</div>
						<div class="col-md-12">
							<a href="#" style="font-weight:800" ng-click="showHandle_file_upload_Win()">添加附件</a>
						</div>
						<div class="col-md-12">
							<input class="form-control" type="file" id="handle_file_upload"
							name="handle_file_upload"	 onchange="upload_handle_file()" style="display: none;" />
							<div id="handle_file_area">
								<ul>

								</ul>
							</div>
						</div>

					</div>


				</div>
				<div class="modal-footer">
					<button type="button" ng-disabled="form.$invalid"
						class="btn btn-success btn-sm" ng-click="handle()">
						<i class="fa fa-plus"></i>&nbsp;确定
					</button>
					<button type="button" class="btn btn-danger btn-sm"
						data-dismiss="modal">
						<i class="fa fa-remove"></i>&nbsp;关闭
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" style="z-index:100001" id="showPicWin"
		tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="color-line"></div>
				<div class="modal-header ">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body pad-0" style="margin:2px;padding:2px;">

					<div class="row">
						<div class="col-md-12">
							<img alt="" style="max-width:950px;max-height:600px;"
								ng-src="{{img_src}}">
						</div>

					</div>



				</div>
			</div>
		</div>
	</div>

	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<div ng-include="'task-detail.html'"></div>
	<div ng-include="'task-edit.html'"></div>
	<div ng-include="'task-add.html'"></div>
	<div ng-include="'task-summary.html'"></div>
	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="../../Controllers/operations/task.js"></script>
	<script type="text/javascript"
		src="../../Resources/js/ajaxfileupload.js"></script>
	<script type="text/javascript">
		xh.load();
	</script>
	<script type="text/javascript">
    function upload_handle_file(){
        
        var name=$("input[id=handle_file_upload]").val();
        var mm=$("input[id=handle_file_upload]").get(0).files;
        var size=0;
        if (mm[0].size > 1024 * 1024) {
            size = (Math.round(mm[0].size / (1024 * 1024))).toString()
                    + 'MB';
        } else {
            size = (Math.round(mm[0].size / 1024)).toString() + 'KB';
        }
        
        var str="";
        str+="<li>";
        str+="<span>"+mm[0].name+"</span>";
        str+="<span class='path' style='display:none;' id='handle_filepath"+fileNum+"'></span>";
        str+="<span>("+size+")</span>"
        str+="<span style='color:red;margin-left:20px' id='handle_upresult"+fileNum+"'></span>"
        str+="<span style='color:blue;margin-left:20px;cursor:pointer' class='del-file' >删除</span>"
        str+="</li>"
        $("#handle_file_area ul").append(str);
        upload_handle("handle_upresult"+fileNum,"handle_filepath"+fileNum);
        fileNum++;
    }
    function upload_handle(r,p){
        if ($('#handle_file_upload').val() == "") {
            alert("请选择需要上传的文件！");
            return false;
        }
        $("input[name='result']").val(2);
        xh.maskShow("正在上传文件，请耐心等待");
        $.ajaxFileUpload({
            url : '../../WorkContact/handleFile', //用于文件上传的服务器端请求地址
            secureuri : false, //是否需要安全协议，一般设置为false
            fileElementId : 'handle_file_upload', //文件上传域的ID
            dataType : 'json', // 返回值类型 一般设置为json
            type : 'POST',
            success : function(data, status) //服务器成功响应处理函数
            {
                xh.maskHide();
                if (data.success) {
                    $("#"+r).html("文件上传成功");
                    $("#"+p).html(data.filePath);
                    
                    toastr.success("文件上传成功", '提示');
                } else {
                    toastr.error("文件上传失败", '提示');
                    $("#"+r).html("文件上传失败");
                }

            },
            error : function(data, status, e)//服务器响应失败处理函数
            {
                alert(e);
                xh.maskHide();
            }
        });
    }
	</script>
</body>
</html>
