<!-- 左侧导航菜单 -->
<aside id="menu">
	<ul class="nav" id="side-menu">
		<li><a href="map.html" target="mainframe"><span class="nav-label">
					<i class="fa fa-life-bouy"></i> <!-- <img alt="" src="Resources/images/menu/status.png"> -->&nbsp;
					系统状态
			</span></a>
			</li>

		<li><a href="#"> <span class="nav-label"> <i
					class="fa fa-adjust"></i> <!-- <img alt="" src="Resources/images/menu/web.png"> -->&nbsp;
					运维管理
			</span><span class="fa arrow"></span>
		</a>
			<ul class="nav">

				<li><a href="#"> <span class="nav-label"> <i
							class="fa fa-sitemap"></i>&nbsp;实时监测
					</span> <span class="fa arrow"></span>
				</a>
					<ul class="nav nav-three-level">
						<li class="active"><a
							href="Views/operations/serverstatus.html" target="mainframe"><i
								class="fa fa-sitemap"></i>&nbsp;交换中心状态 </a></li>
						<li><a href="Views/operations/bsstatus.html"
							target="mainframe"> <i class="fa fa-sitemap"></i>&nbsp;基站状态
						</a></li>
						<li><a href="Views/operations/dispatchstatus.html"
							target="mainframe"> <i class="fa fa-sitemap"></i>&nbsp;调度台状态
						</a></li>
						<li><a href="Views/operations/emhAlarm.html"
							target="mainframe"> <i class="fa fa-sitemap"></i>&nbsp;故障告警
						</a></li>
					</ul></li>
				<li><a href="#"> <span class="nav-label"> <i
							class="fa fa-sitemap"></i>&nbsp;日常监管
					</span> <span class="fa arrow"></span>
				</a>
					<ul class="nav nav-three-level">
						<li><a href="" target="mainframe"> <i
								class="fa fa-sitemap"></i>&nbsp;报告审核
						</a></li>
						<li><a href="" target="mainframe"> <i
								class="fa fa-sitemap"></i>&nbsp;服务抽检
						</a></li>
						<li><a href="Views/business/optimizenet.html" target="mainframe"> <i
								class="fa fa-sitemap"></i>&nbsp;网络优化
						</a></li>
						<li><a href="" target="mainframe"> <i
								class="fa fa-sitemap"></i>&nbsp;应急处置演练
						</a></li>
						<!-- <li><a href="" target="mainframe"> <i
								class="fa fa-sitemap"></i>&nbsp;典型故障分析
						</a></li> -->
						<li><a href="" target="mainframe"> <i
								class="fa fa-sitemap"></i>&nbsp;全网路测
						</a></li>
						<li><a href="Views/operations/work.html" target="mainframe"> <i
								class="fa fa-sitemap"></i>&nbsp;工作记录
						</a></li>
					</ul></li>
				<li><a href="#"> <span class="nav-label"> <i
							class="fa fa-sitemap"></i>&nbsp;资产管理
					</span> <span class="fa arrow"></span>
				</a>
					<ul class="nav nav-three-level">
						<li><a href="Views/business/asset-count.html"
							target="mainframe"> <i class="fa fa-sitemap"></i>&nbsp;资产概况
						</a></li>
						<li><a href="Views/business/asset-info.html"
							target="mainframe"> <i class="fa fa-sitemap"></i>&nbsp;资产明细
						</a></li>
						<li><a href="#"
							target="mainframe"> <i class="fa fa-sitemap"></i>&nbsp;变更管理
						</a></li>
					</ul></li>
				<li><a href="#"> <span class="nav-label"> <i
							class="fa fa-sitemap"></i>&nbsp;系统运维
					</span> <span class="fa arrow"></span>
				</a>
					<ul class="nav nav-three-level">
						<li><a href="Views/monitor/ordermanage.html" target="mainframe"> <i class="fa fa-sitemap"></i>&nbsp;故障处理
						</a></li>
						<li><a href="" target="mainframe"> <i class="fa fa-sitemap"></i>;&nbsp;运维值班
						</a></li>
						<li><a href="" target="mainframe"> <i class="fa fa-sitemap"></i>&nbsp;运维巡检
						</a></li>
						<li><a href="" target="mainframe"> <i class="fa fa-sitemap"></i>&nbsp;事件上报
						</a></li>
						<li><a href="Views/operations/bsInfo.html" target="mainframe">
								<i class="fa fa-sitemap"></i>&nbsp;资源配置
						</a></li>
					</ul></li>
			</ul></li>

		<li><a href="#"> <span class="nav-label"> <i
					class="fa fa-suitcase"></i>&nbsp; 业务管理
			</span><span class="fa arrow"></span>
		</a>
			<ul class="nav ">

				<li><a href="#"> <span class="nav-label"> <i
							class="fa fa-sitemap"></i>&nbsp;用户服务
					</span> <span class="fa arrow"></span>
				</a>
					<ul class="nav nav-three-level">
						<li><a href="Views/business/joinnet.html" target="mainframe">
								<i class="fa fa-sitemap"></i>&nbsp;入网
						</a></li>
						<li><a href="Views/business/quitnet.html" target="mainframe">
								<i class="fa fa-sitemap"></i>&nbsp;退网
						</a></li>
						<li><a href="Views/business/kill.html" target="mainframe"> <i
								class="fa fa-sitemap"></i>&nbsp;业务变更
						</a></li>
						<li><a href="Views/business/fault.html" target="mainframe">
								<i class="fa fa-sitemap"></i>&nbsp;故障申报
						</a></li>
						<li><a href="Views/business/communicationsupport.html"
							target="mainframe"> <i class="fa fa-sitemap"></i>&nbsp;通信保障
						</a></li>
						<li><a href="Views/business/lend.html" target="mainframe">
								<i class="fa fa-sitemap"></i>&nbsp;租借设备
						</a></li>
					</ul></li>
				<li><a href="#"> <span class="nav-label"> <i
							class="fa fa-sitemap"></i>&nbsp;数据管理
					</span><span class="fa arrow"></span>
				</a>
					<ul class="nav nav-three-level">
						<li><a href="Views/business/radiouser.html"
							target="mainframe"> <i class="fa fa-sitemap"></i>&nbsp;基础数据
						</a></li>
						<!-- <li><a href="Views/business/talkgroup.html" target="mainframe">用户组 </a></li> -->
						<!-- <li><a href="Views/business/vpn.html" target="mainframe">组织结构 </a></li> -->
						<li><a href="Views/operations/audio.html" target="mainframe">
								<i class="fa fa-sitemap"></i>&nbsp;业务数据

						</a></li>
						<li><a href="Views/business/radiouserbusiness.html"
							target="mainframe"> <i class="fa fa-sitemap"></i>&nbsp;权限模板
						</a></li>
						<!-- <li><a href="Views/business/dgna.html" target="mainframe">其他 </a></li> -->
					</ul></li>
			</ul></li>
		<li><a href="#"> <span class="nav-label"> <i
					class="fa fa-desktop"></i>&nbsp; 平台管理
			</span><span class="fa arrow"></span>
		</a>
			<ul class="nav ">
				<li><a href="Views/web/role.html" target="mainframe"><span
						class="nav-label"> <i class="fa fa-sitemap"></i>&nbsp;角色管理
					</span> </a></li>
				<li><a href="Views/web/user.html" target="mainframe"><span
						class="nav-label"> <i class="fa fa-sitemap"></i>&nbsp;用户管理
					</span> </a></li>
				<li><a href="Views/web/log.html" target="mainframe"> <span
						class="nav-label" target="mainframe"> <i
							class="fa fa-sitemap"></i>&nbsp;日志管理
					</span>
				</a></li>
				<li><a href="Views/web/event.html" target="mainframe"><span
						class="nav-label" target="mainframe"> <i
							class="fa fa-sitemap"></i>&nbsp;计划任务
					</span> </a></li>
				<li><a href="Views/business/access-user.html"
					target="mainframe"><span class="nav-label"> <i
							class="fa fa-sitemap"></i>&nbsp;接入用户
					</span> </a></li>
			</ul></li>
		<li><a href="#"> <span class="nav-label"> <i
					class="fa fa-pie-chart"></i>&nbsp; 统计分析
			</span><span class="fa arrow"></span>
		</a>
			<ul class="nav ">
				<li><a href="Views/web/role.html" target="mainframe"><span
						class="nav-label">话务分析</span> </a></li>

			</ul></li>
	</ul>
</aside>
<script type="text/javascript">
	$('#side-menu').metisMenu();
</script>