<!-- 系统头部 -->
<div id="header" role="navigation" class="header-style">
<div class="color-line"></div>
	<div id="logo">
		<ul class="small-logo">
			<li><img alt="" src="../../Resources/images/img/log.png"
				height="40px" width="40px"></li>
			<li class="title"><span>综合应用与管理平台</span></li>
			<!-- <li style="margin-top:10px;color:#fff;cursor: pointer;" class="menu-hide"><i class="fa fa-bars fa-2x"></i></li> -->
		</ul>
	</div>
	<nav role="navigation">
		<div class="font-white">
			<ul class="navbar-right">
				<li class="dropdown" style="padding: 10px 8px 1px 15px;">
				<a href="../../Views/operations/email.html" target="_self"><i
						class="fa fa-envelope-o fa-x font-white"></i> <span
						class="badge badge-header badge-danger" id="emailcount"></span>
				</a>
					
				</li>
				<li class="dropdown" style="padding: 10px 8px 1px 15px;"><a
					class="dropdown-toggle" href="#" data-toggle="dropdown"> <i
						class="fa fa-bell-o fa-x font-white"></i> <span
						class="badge badge-header badge-warning"> 10</span>
				</a> <!-- animated flipInX -->
					<ul class="dropdown-menu hdropdown notification">
                        <li>
                            <span class="label label-danger" style="color:#fff;">NEW</span><span>1号基站链路中断</span>
                        </li>
                        <li>
                            <span class="label label-danger" style="color:#fff;">NEW</span><span>1号基站链路中断</span>
                        </li>
                        <li>
                           <span class="label label-danger" style="color:#fff;">NEW</span><span>1号基站链路中断</span>
                        </li>
                        <li class="summary"><a href="#" class="btn btn-danger btn-sm">解除声音告警提示</a></li>
                    </ul>

				<li class="member-center">
					<div class="dropdown">
						<a class="dropdown-toggle" href="#" data-toggle="dropdown"> <img
							src="../../Resources/images/img/profile.jpg"
							class="img-circle phote-img" alt="logo"> <!-- <i class=" fa fa-user fa-x"></i><small class="text-white">个人中心 <b class="caret"></b></small> -->
						</a>
						<ul class="dropdown-menu animated flipInX m-t-xs border-top-white">
							<li><a href="../../Views/operations/email.html"><i
									class="fa fa-envelope-o fa-x"></i>&nbsp;&nbsp;邮件</a></li>
							<li><a href="../../Views/web/updateMember.html"><i
									class="fa fa-edit fa-x"></i>&nbsp;&nbsp;修改个人资料</a></li>
							<li class="divider"></li>
							<li><a href="../../web/loginOut"><i
									class="fa fa-hand-pointer-o fa-x"></i>&nbsp;&nbsp;退出登录</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</div>
<div id="nav-top">
	<nav role="navigation">
		<ul class="navbar-left">
			<!-- <li><a href="../../index.html"><i class="fa fa-map-marker"></i>&nbsp;|站点分布图</a></li>
			<li ng-class="{true: 'header-active', false: 'inactive'}[chartMenu]">
				<a href="../other/charts.html"><i class="fa fa-line-chart"></i>&nbsp;|图形化监控</a>
			</li> -->
			<li
				ng-class="{true: 'dropdown header-active', false: 'dropdown inactive'}[systemMenu]"><a
				class="dropdown-toggle" href="#" data-toggle="dropdown"><i
					class="fa fa-sitemap"></i>&nbsp;|系统状态</a>
				<div class="dropdown-menu animated flipInX" style="padding-left:20px;">
					<p>
						<a href="../../index.html" target="_self">GIS地图</a>
					</p>
					<p>
						<a href="" target="_self">数据图形统计</a>
					</p>
				</div></li>
			<li
				ng-class="{true: 'header-active', false: 'inactive'}[operationMenu]"><a
				href="../operations/bsInfo.html" target="_self"><i
					class="fa fa-wrench"></i>&nbsp;|运维管理</a></li>
			<li
				ng-class="{true: 'header-active', false: 'inactive'}[businessMenu]"><a
				href="../business/asset-info.html" target="_self"><i
					class="fa fa-suitcase"></i>&nbsp;|业务管理</a></li>
			<li
				ng-class="{true: 'header-active', false: 'inactive'}[securityMenu]"><a
				href="../web/user.html" target="_self"><i class="fa fa-lock"></i>&nbsp;|平台管理</a></li>
		</ul>
		<ul class="navbar-bottom-right">
			<li style="color:#d15b47"><span>欢迎你!</span>&nbsp;&nbsp;<span
				id="login-user" name="AS"></span></li>
			<!-- <li><a href="#" data-toggle="modal" data-target="#update_member"
				onclick="xh.user()"><i class="fa fa-edit"></i>&nbsp;|修改个人资料</a></li>
			<li><a href="../../web/loginOut"><i
					class="fa fa-hand-o-left"></i>&nbsp;|退出系统</a></li> -->
		</ul>
	</nav>
</div>
<script type="text/javascript">
	var user = "";
	var roleId = 0;
	/* 登录用户信息 */
	$.ajax({
		url : '../../web/loginUserInfo',
		type : 'post',
		dataType : "json",
		data : {},
		async : false,
		success : function(data) {
			if (data.success) {
				user = data.user;
				roleId = data.roleId;
				var html = data.user + "&nbsp;&nbsp;角色[" + data.role + "]";
				$("#login-user").html(
						"<span style='color:blue'>" + html + "</span>");
			} else {
				var html = data.user + "&nbsp;&nbsp;角色[" + data.user + "]";
				$("#login-user").html(
						"<span style='color:blue'>" + html + "</span>");
			}
			;
		},
		error : function() {
		}
	});
    /* 	邮件 */
	$.ajax({
		url : '../../center/email/noReadEmailCount',
		type : 'GET',
		dataType : "json",
		data : {},
		async : false,
		success : function(data) {
			if (data.success) {
				$("#emailcount").html(data.totals);
			}
		},
		error : function() {
		}
	});
	 /*基站告警信息*/
	$.ajax({
		url : '../../bs/alarmList',
		type : 'GET',
		dataType : "json",
		data : {},
		async : false,
		success : function(data) {
			if (data.success) {
				//$("#emailcount").html(data.totals);
			}
		},
		error : function() {
		}
	});
</script>
