<!-- 系统头部 -->
<div class="header-top5">

	<marquee class="marq-top5" direction="right" behavior="scroll" loop="-1"
		 scrolldelay=2 align="absmiddle" bgcolor=#ffffff height=40
		width=70% scrollamount="2" hspace=20 vspace=10 onmouseover=this.stop()
		onmouseout=this.start()>
		<span>活动呼叫TOP5</span> <span>排队数TOP5</span>
	</marquee>


</div>
<div id="header" role="navigation">
	<div id="logo">
		<ul class="small-logo">
			<!-- <li><img alt="" src="Resources/images/img/log.png"
				height="40px" width="40px"></li> -->
			<li class="title"><span>综合应用与管理平台</span></li>
			<li style="margin-top:10px;color:#fff;cursor: pointer;"
				class="menu-hide"><a href="#" ng-click="hideMenu()"
				data-toggle='tooltip' title="隐藏左侧菜单" data-placement="top"> <i
					class="fa fa-bars fa-2x text-white"></i></a></li>
		</ul>
	</div>
	<nav role="navigation">
		<div class="font-white">
			<ul class="navbar-right">
				<li class="dropdown" style="padding: 10px 8px 1px 15px;"><a
					href="Views/operations/monitor.html" target="mainframe" title="控制台"><i
						class="fa fa-desktop fa-x font-white" style="font-size:10pt"></i>
				</a></li>
				<li class="dropdown" style="padding: 10px 8px 1px 15px;"><a
					href="Views/operations/email.html" target="mainframe"><i
						class="fa fa-envelope-o fa-x font-white" style="font-size:10pt"></i>
						<span class="badge badge-header badge-danger" id="emailcount">0</span>
				</a></li>
				<li class="dropdown" style="padding: 10px 8px 1px 15px;"><a
					class="dropdown-toggle" href="#" data-toggle="dropdown"> <i
						class="fa fa-bell-o fa-x font-white" style="font-size:10pt"></i> <span
						class="badge badge-header badge-warning" id="alarmcount">{{totals}}</span>
				</a> <!-- animated flipInX -->

					<div class="dropdown-menu hdropdown">
						<div class="row" style="max-height:400px;overflow: auto;">

							<div class="col-md-12">

								<table id="tb-info" class="xh-table table-hover"
									style="margin-top:0px;color:#000;">
									<thead>
										<tr class="tr-img-gray">
											<th>告警位置</th>
											<th>告警描述</th>
											<th>时间</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-if="totals==0">
											<td colspan="3" class="text-center" style="color:#000;">无告警记录！</td>
										</tr>
										<tr ng-repeat="x in alarm" ng-if="x.bsId!=null">
											<td>{{x.bsId}}-{{x.name}}</td>
											<td ng-if="x.link==1" class="td-danger"><span>【断开连接】</span>
											</td>
											<td ng-if="x.link==null" class="td-warning"><span>{{x.name}}</span>
											</td>

											<td>{{x.time}}</td>
										</tr>
										<tr ng-repeat="x in alarm" ng-if="x.bsId==null">
											<td>[{{x.name}}]</td>
											<td class="td-danger"><span>{{x.info}}</span></td>

											<td>{{x.time}}</td>
										</tr>
									</tbody>
								</table>

							</div>


						</div>
						<div class="row" ng-show="totals>0"
							style="margin-top:5px;margin-bottom:5px;">
							<div class="col-md-9">
								<div style="padding-top:10px;">
									<span style="color:#000;">提示[<span class="text-danger">勾选即声音提示告警记录</span>]&nbsp;&nbsp;
									</span> <input id="alarmbs" class="magic-checkbox" type="checkbox"
										name="alarmbs" value="2" ng-checked="true" onclick="xh.aa()">
									<label for="alarmbs"><span style="color:#000;">断站及交换中心</span></label>
									<input id="alarmji" class="magic-checkbox" type="checkbox"
										name="alarmji" value="1" ng-checked="true" onclick="xh.aa()">
									<label for="alarmji"><span style="color:#000;">交流电</span></label>
								</div>


							</div>
							<div class="col-md-3 ">
								<a href="#" onclick="xh.stopMap3()"
									class="btn btn-success btn-sm"><i
									class="fa fa-bell-slash-o"></i>解除声音</a>
							</div>


						</div>



					</div></li>
				<li class="member-center">
					<div class="dropdown">
						<a class="dropdown-toggle" href="#" data-toggle="dropdown"> <img
							src="Resources/images/img/profile.jpg"
							class="img-circle phote-img" alt="logo"> <!-- <i class=" fa fa-user fa-x"></i><small class="text-white">个人中心 <b class="caret"></b></small> -->
						</a>
						<ul class="dropdown-menu animated flipInX m-t-xs border-top-white">
							<li style="color:red;margin-bottom:20px;"><span>欢迎你!</span>&nbsp;&nbsp;<span
								id="login-user" name="AS"></span></li>
							<li><a href="Views/operations/email.html" target="mainframe"><i
									class="fa fa-envelope-o fa-x"></i>&nbsp;&nbsp;邮件</a></li>
							<li><a href="Views/web/updateMember.html" target="mainframe"><i
									class="fa fa-edit fa-x"></i>&nbsp;&nbsp;修改个人资料</a></li>
							<li class="divider"></li>
							<li><a href="web/loginOut"><i
									class="fa fa-hand-pointer-o fa-x"></i>&nbsp;&nbsp;退出登录</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</div>

<audio id="bgMusic" loop="loop">
	<source src="Resources/sound/alarm.mp3" type="audio/mp3">
	<source src="Resources/sound/alarm.ogg" type="audio/ogg">
</audio>
<script type="text/javascript">
	var user = "";
	var roleId = 0;
	/* 登录用户信息 */
	$.ajax({
		url : 'web/loginUserInfo',
		type : 'post',
		dataType : "json",
		data : {},
		async : false,
		success : function(data) {
			var html = data.user + "&nbsp;&nbsp;角色[" + data.role + "]";
			$("#login-user").html(
					"<span style='color:blue'>" + html + "</span>");
		},
		error : function() {
		}
	});
	/* 	邮件 */
	$.ajax({
		url : 'center/email/noReadEmailCount',
		type : 'GET',
		dataType : "json",
		data : {},
		async : false,
		success : function(data) {
			if (data.success) {
				$("#emailcount").html(data.totals);
			}
		},
		error : function() {
		}
	});
</script>
