<!DOCTYPE html>
<html>
<head>
<title>资产管理</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
</head>
<body ng-app="app" ng-controller="xhcontroller"
	class="fixed-navbar fixed-sidebar fixed-footer fixed-small-header ">
	<!-- splash screen-->
	<div class="splash">
		<div class="color-line"></div>
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 头部文件 -->
	<div ng-include="'../top.html'"></div>
	<!-- 系统菜单 -->
	<div ng-include="'../menu/business-menu.html'"></div>
	<!-- 中间内容体 -->
	<div id="wrapper">
	<OBJECT classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2" height="0" id="WindowPrint" 
name="WindowPrint" width="0"></OBJECT>
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>业务管理</span></li>
							<li><span>资产管理</span></li>
							<li class="active"><span>资产概况</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">
			<div class="row">
				<div class="col-md-4">
					<div class="hpanel">
						<div class="panel-body">
						<div id="pie"></div>
							<!-- <div class="page-title">
								<h3 class="title">资产状态统计</h3>
							</div> -->
							<!-- row -->
							<!-- 1:外借;2:报废;3:维修;4:在库;5:在用;6:待报废;7:遗失 -->
							<!-- <div class="row">
							
								<div class="col-lg-6 col-sm-6 " ng-repeat="x in data">
									<div class="widget-panel widget-style-1 bg-red">
										<i class="fa fa-pie-chart"></i>
										<h2>{{x.number}}</h2>
										<div ng-if="x.status==1">外借</div>
										<div ng-if="x.status==2">报废</div>
										<div ng-if="x.status==3">维修</div>
										<div ng-if="x.status==4">在库</div>
										<div ng-if="x.status==5">在用</div>
										<div ng-if="x.status==6">待报废</div>
										<div ng-if="x.status==7">遗失</div>
									</div>
								</div>

							</div> -->
						</div>
					</div>
				</div>
				<!-- col-md-4 -->
				<div class="col-md-8">
					<div class="hpanel">
						<div class="panel-body">
							<div class="page-title">
								<h3>资产类型统计</h3>
							</div>
							<table id="tb-info" class="xh-table table-hover">
								<thead>
									<tr class="tr-gray">
										<th>资产类型</th>
										<th>总数量</th>
										<th>外借</th>
										<th>报废</th>
										<th>维修</th>
										<th>在库</th>
										<th>在用</th>
										<th>待报废</th>
										<th>遗失</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-if="totals==0">
										<td colspan="9" class="text-center">没有记录！</td>
									</tr>
									<!-- 1:交换控制中心（MSO）设备;2:远端调度台设备;3:基站设备;
									4:用户台设备;5:备件;6附件；7：其他 -->
									<tr ng-repeat="x in typeData">
									
										<td ng-if="x.type==1">交换控制中心（MSO）设备</td>
										<td ng-if="x.type==2">远端调度台设备</td>
										<td ng-if="x.type==3">基站设备</td>
										<td ng-if="x.type==4">用户台设备</td>
										<td ng-if="x.type==5">备件</td>
										<td ng-if="x.type==6">附件</td>
										<td ng-if="x.type==7">其他</td>
										<td>{{x.total}}</td>
									    <td ng-class="{true: 'bg-red', false: ''}[x.status1>0]">{{x.status1}}</td>
										<td ng-class="{true: 'bg-red', false: ''}[x.status2>0]">{{x.status2}}</td>
										<td ng-class="{true: 'bg-red', false: ''}[x.status3>0]">{{x.status3}}</td>
										<td ng-class="{true: 'bg-red', false: ''}[x.status4>0]">{{x.status4}}</td>
										<td ng-class="{true: 'bg-red', false: ''}[x.status5>0]">{{x.status5}}</td>
										<td ng-class="{true: 'bg-red', false: ''}[x.status6>0]">{{x.status6}}</td>
										<td ng-class="{true: 'bg-red', false: ''}[x.status7>0]">{{x.status7}}</td>


									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- col-md-12 -->
			</div>
			<!-- row/ -->
			<div class="row">
				
			</div>
			<!-- row--end -->
			<div class="row">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-body">
							<div class="page-title">
								<h3>资产种类统计</h3>
							</div>
							<button class="btn btn-sm btn-danger" onclick="xh.excelName()">
							<i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;导出到excel文档</button>
							<table id="tb-info" class="xh-table table-hover">
								<thead>
									<tr class="tr-gray">
										<th>类型</th>
										<th>名称</th>
										<th>总数量</th>
										<th>外借</th>
										<th>报废</th>
										<th>维修</th>
										<th>在库</th>
										<th>在用</th>
										<th>待报废</th>
										<th>遗失</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-if="totals==0">
										<td colspan="9" class="text-center">没有记录！</td>
									</tr>
									<!-- 1:交换控制中心（MSO）设备;2:远端调度台设备;3:基站设备;
									4:用户台设备;5:备件;6附件；7：其他 -->
									<tr ng-repeat="x in nameData">
									
										<td ng-if="x.type==1">交换控制中心（MSO）设备</td>
										<td ng-if="x.type==2">远端调度台设备</td>
										<td ng-if="x.type==3">基站设备</td>
										<td ng-if="x.type==4">用户台设备</td>
										<td ng-if="x.type==5">备件</td>
										<td ng-if="x.type==6">附件</td>
										<td ng-if="x.type==7">其他</td>
										<td>{{x.name}}</td>
										<td>{{x.total}}</td>
										<td ng-class="{true: 'bg-red', false: ''}[x.status1>0]">{{x.status1}}</td>
										<td ng-class="{true: 'bg-red', false: ''}[x.status2>0]">{{x.status2}}</td>
										<td ng-class="{true: 'bg-red', false: ''}[x.status3>0]">{{x.status3}}</td>
										<td ng-class="{true: 'bg-red', false: ''}[x.status4>0]">{{x.status4}}</td>
										<td ng-class="{true: 'bg-red', false: ''}[x.status5>0]">{{x.status5}}</td>
										<td ng-class="{true: 'bg-red', false: ''}[x.status6>0]">{{x.status6}}</td>
										<td ng-class="{true: 'bg-red', false: ''}[x.status7>0]">{{x.status7}}</td>


									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- row--end -->
		</div>

	</div>
	<!-- 中间内容体 /-->
	<!-- 底部内容体 -->
	<div ng-include="'../footer.html'"></div>
	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<!-- 添加 -->
	<div ng-include="'asset-add.html'"></div>
	<!-- 编辑-->
	<div ng-include="'asset-edit.html'"></div>
	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="../../lib/metisMenu/dist/metisMenu.min.js"></script>
	<script type="text/javascript" src="../../lib/echarts/echarts.js"></script>		
	<script type="text/javascript"
		src="../../Controllers/business/asset-count.js"></script>
	<script type="text/javascript">
		xh.load();
	</script>
</body>
</html>
