<!DOCTYPE html>
<html>
<head>
<title>报废资产申请审核</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<link rel="stylesheet" type="text/css"
	href="../../lib/layer-master/src/theme/layer.css">
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
</head>
<body ng-app="app" ng-controller="xhcontroller" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>

	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>资产管理</span></li>
							<li><a href="../menu/menu_asset.html" target="_self"><span>变更管理</span></a></li>
							<li class="active"><span>资产状态变更申请</span></li>
							<li class="active"><span>申请</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">

			<!-- row -->

			<!-- row -->
			<div class="row">

				<div class="col-md-12">
					<div class="hpanel">
						<!-- <div class="panel-heading hbuilt">资产列表</div> -->
						<div class="panel-body">

							<table id="tb-info" class="xh-table-primary table-hover">
								<thead>
									<tr class="tr-gray">
										<!-- <th width="30px"><input type="checkbox"
											id="table-checkbox" class="table-check" /></th> -->
										<th>资产编号</th>
										<th>资产类别</th>
										<th>名称</th>
										<th>型号</th>

										<th>来源</th>
										<th>当前状态</th>
										
										<th style="color:red">更改后的状态</th>
										<th>是否已录入</th>
										<th width="180px">备注</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-if="totals==0">
										<td colspan="10" class="text-center">没有记录！</td>
									</tr>
									<tr ng-repeat="x in data">
										<!-- <td><input type="checkbox" name="tb-check"
											value="{{x.id}}" index="{{$index}}" /></td> -->
										<td>{{x.serialNumber}}</td>
										<td><span ng-if="x.type==1">交换控制中心0（MSO）设备</span> <span
											ng-if="x.type==2">远端调度台设备</span> <span ng-if="x.type==3">基站设备</span>
											<span ng-if="x.type==4">用户台设备</span> <span ng-if="x.type==5">备件</span>
											<span ng-if="x.type==6">附件</span> <span ng-if="x.type==7">其他</span>
										</td>
										<td>{{x.name}}</td>
										<td>{{x.model}}</td>

										<td><span ng-if="x.from==1">采购</span> <span
											ng-if="x.from==2">赠送</span></td>
										<td><span ng-if="x.status==0">未知</span> <span
											ng-if="x.status==1">外借</span> <span ng-if="x.status==2">报废</span>
											<span ng-if="x.status==3">维修</span> <span ng-if="x.status==4">在库</span>
											<span ng-if="x.status==5">在用</span> <span ng-if="x.status==6">待报废</span>
											<span ng-if="x.status==7">遗失</span></td>
										<td  style="color:red;font-weight:800;">
										    <span ng-if="x.afterStatus==0">未知</span> 
										    <span ng-if="x.afterStatus==1">外借</span> 
											<span ng-if="x.afterStatus==2">报废</span>
											<span ng-if="x.afterStatus==3">维修</span> 
											<span ng-if="x.afterStatus==4">在库</span>
											<span ng-if="x.afterStatus==5">在用</span> 
											<span ng-if="x.afterStatus==6">待报废</span>
											<span ng-if="x.afterStatus==7">遗失</span></td>
										<td>
										
										<span ng-if="x.isLock==1" style="color:red">未录入</span> 
										<span ng-if="x.isLock==0" style="color:green">已经录入</span>
										</td>
										<td>{{x.note}}</td>
									</tr>
								</tbody>
							</table>
					

							<!-- row -->
							<div class="row">
								<form action="#" id="" onSubmit="return false"
									enctype="multipart/form-data" method="POST">
									<div class="row">
										<div class="col-md-8">
											<div class="form-group col-md-10" style="padding-right:0px;">

												<label>附件</label>
												<p><a href="#" ng-click="download(page_fileName)">{{page_fileName}}</a></p>

											</div>
											
										</div>
										

									</div>
								</form>
							</div>
							<!-- 	row -->
							<div class="row" ng-show="false">
								<div class="col-md-12">
									<div class="form-group col-md-12">
										    <input
											type="hidden" name="fileName" value="" /> <input
											type="hidden" name="path" value="" /> <input type="hidden"
											name="result" value="" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-12">
									<label>资产管理员备注</label>
									<p>{{page_comment}}</p>

								</div>

							</div>
							<div class="row">
								<div class="form-group col-md-12">
									<label>备注</label>
									<textarea class="form-control" rows="5" cols="" name="comment" placeholder="请填写相关备注说明信息"></textarea>

								</div>

							</div>
							<!-- row -->
							<div class="row">
								<div class="btn-group col-md-4">
									<button type="button" class="btn btn-success btn-block"
										ng-click="checkInfo(1)">同意</button>

								</div>
								<div class="btn-group col-md-4">
									<button type="button" class="btn btn-danger btn-block"
										ng-click="checkInfo(0)">拒绝</button>

								</div>
								<div class="btn-group col-md-4">
									<button type="button" class="btn  btn-block"
										ng-click="goBack()">返回</button>

								</div>
							</div>

						</div>
						<!-- panel-body--end -->
						<!-- hpanel --end-->
					</div>
					<!-- col-md-12--end -->
				</div>
				<!-- row/ -->
			</div>
		</div>
	</div>
	<!-- 中间内容体 /-->

	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="../../Controllers/business/asset_update_status_check.js"></script>
	<script type="text/javascript">
		xh.load();
	</script>
</body>
</html>
