<div class="modal fade" id="sheet" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;
                </button>
                <small class="font-bold">故障核减申请书</small>
            </div>
            <div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
                <div ng-if="checkCutType == 1" class="order">
                    <form action="" onsubmit="false" id="checkCut-form">
                        <table class="table-view"
                               style="border-collapse: collapse;">
                            <tbody>
                            <tr>
                                <td colspan="6" style="text-align: center;font-size: 18px;">
                                    故障核减申请书
                                    <!--div contenteditable="true" class="input-div" name="id" ng-show="false">{{sheetData.id}}</div>-->
                                    <input type="hidden" name="sheetId" ng-value="sheetData.id"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="height:150px;width:100%;border-bottom: none;" colspan="6">
                                    <br/>
                                    <div class="form-inline">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: bold;">基础信息：</span>
                                        <br/>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="hidden" ng-value="sheetData.bsId" name="bsIdTemp"/>
                                        <input type="hidden" ng-value="sheetData.name" name="name"/>
                                        {{sheetData.bsId}}-{{sheetData.name}}，
                                        <input style="border: 0px;outline:none;width: 130px" type="hidden" ng-value="sheetData.hometype" name="hometype"/>{{sheetData.hometype}}；
                                        <input style="border: 0px;outline:none;width: 40px" type="hidden" ng-value="sheetData.transfer" name="transfer"/>{{sheetData.transfer}}，
                                        <input style="border: 0px;outline:none;width: 120px" type="hidden" ng-value="sheetData.transferOne" name="transferOne"/>{{sheetData.transferOne}}，
                                        <input style="border: 0px;outline:none;width: 120px" type="hidden" ng-value="sheetData.transferTwo" name="transferTwo"/>{{sheetData.transferTwo}}；
                                        <input style="border: 0px;outline:none;width: 120px" type="hidden" ng-value="sheetData.powerOne" name="powerOne"/>{{sheetData.powerOne}}，后备电池续航时间
                                        <input style="border: 0px;outline:none;width: 40px" type="hidden" ng-value="sheetData.powerTimeOne" name="powerTimeOne"/>{{sheetData.powerTimeOne}}，
                                        <input style="border: 0px;outline:none;width: 80px" type="hidden" ng-value="sheetData.powerTwo" name="powerTwo"/>{{sheetData.powerTwo}}，后备电池续航时间
                                        <input style="border: 0px;outline:none;width: 40px" type="hidden" ng-value="sheetData.powerTimeTwo" name="powerTimeTwo"/>{{sheetData.powerTimeTwo}}，
                                        <input style="border: 0px;outline:none;width: 95px" type="hidden" ng-value="sheetData.isPower" name="isPower"/>
                                        <input style="border: 0px;outline:none;width: 95px" type="hidden" ng-value="sheetData.isPowerTime" name="isPowerTime"/>
                                        <input style="border: 0px;outline:none;width: 50px" type="hidden" ng-value="sheetData.maintainTime" name="maintainTime"/>

                                        <span ng-if="sheetData.isPower == '基站不具备发电条件'">{{sheetData.isPower}}。</span>
                                        <span ng-if="sheetData.isPower != '基站不具备发电条件'">{{sheetData.isPower}}，{{sheetData.isPowerTime}}，维护上站时间{{sheetData.maintainTime}}。</span>

                                        <br/>
                                        <br/>
                                        <br/>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: bold;">故障原因、历时、核减依据：</span>
                                        <br/>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        该基站于<input ng-if="roleId==301" style="border: 0px;outline:none;width: 143px" type="text" ng-model="sheetData.breakTime" name="breakTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" ng-blur="calAgain()"/>
                                        <input ng-if="roleId!=301" type="hidden" ng-model="sheetData.breakTime" name="breakTime"/><span ng-if="roleId!=301">{{dt1}}</span> —
                                        <input ng-if="roleId==301" style="border: 0px;outline:none;width: 143px" type="text" ng-model="sheetData.restoreTime" name="restoreTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" ng-blur="calAgain()"/>
                                        <input ng-if="roleId!=301" type="hidden" ng-model="sheetData.restoreTime" name="restoreTime"/><span ng-if="roleId!=301">{{dt2}}</span>
                                        业务中断<input style="border: 0px;outline:none;width: 25px" type="hidden" ng-value="calcData" name="calcData"/>{{calcData}}分钟，故障原因为：
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <div ng-if="roleId==301" contenteditable="true" style="height: 50px;width:870px;padding-left: 24px;" class="textarea-div" name="desc"></div>
                                        <div ng-if="roleId!=301" contenteditable="false" style="height: 50px;width:870px;padding-left: 24px;" class="textarea-div" name="desc"></div>
                                        <br/>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;该故障断站为不可抗力因素导致，根据运维服务质量验收标准{{sheetData.rules}}，故向市软件中心申请故障核减
                                        <input ng-if="roleId==301" style="border: 0px;outline:none;width: 40px" type="text" ng-model="sheetData.checkCutTime" name="checkCutTime"/>
                                        <input ng-if="roleId!=301" style="border: 0px;outline:none;width: 40px" type="text" ng-model="sheetData.checkCutTime" name="checkCutTime" readonly="readonly"/>分钟。
                                        <br/>
                                        <br/>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <select ng-if="roleId==301" name="rules" style="border: none;appearance:none;-moz-appearance:none;-webkit-appearance:none;">
                                            <option ng-selected="sheetData.rules == '3.2.1 自然灾害'" >3.2.1 自然灾害</option>
                                            <option ng-selected="sheetData.rules == '3.2.2 市政施工'" >3.2.2 市政施工</option>
                                            <option ng-selected="sheetData.rules == '3.2.3 突发事件'" >3.2.3 突发事件</option>
                                            <option ng-selected="sheetData.rules == '3.2.4 已预先告知维护/整改作业'" >3.2.4 已预先告知维护/整改作业</option>
                                            <option ng-selected="sheetData.rules == '3.2.5 业主原因'" >3.2.5 业主原因</option>
                                            <option ng-selected="sheetData.rules == '3.2.6 夜间停电或天气原因'" >3.2.6 夜间停电或天气原因</option>
                                        </select>
                                        <input ng-if="roleId!=301" type="hidden" name="rules" ng-value="sheetData.rules">
                                    </div>
                                    <div style="height: 150px;width:870px;" readonly="readonly"></div>
                                </td>
                            </tr>
                            <tr>
                                <td style="height:30px;width:100%;border-top: none;border-bottom: none;padding-right: 20px;"
                                    colspan="6">
                                    <div ng-if="roleId==301" contenteditable="true" style="height: 30px;width:300px;float: right;"
                                         name="period">{{sheetData.period | changePeriod}}</div>
                                    <div ng-if="roleId!=301" contenteditable="false" style="height: 30px;width:300px;float: right;"
                                         name="period">{{sheetData.period | changePeriod}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td style="height:30px;width:100%;border-top: none;padding-right: 20px;" colspan="6">
                                    <div ng-if="roleId==301" contenteditable="true" style="height: 30px;width:230px;float: right;"
                                         name="applyTime">{{sheetData.applyTime}}</div>
                                    <div ng-if="roleId!=301" contenteditable="false" style="height: 30px;width:230px;float: right;"
                                         name="applyTime">{{sheetData.applyTime}}</div>
                                </td>
                            </tr>

                            <tr>
                                <td style="height:50px;width:100px;">拟制：</td>
                                <td style="height:50px;width:343px;">
                                    <!--<input  ng-if="roleId==301" type="text" style="height: 30px;width:230px;border: none;" name="persion1" ng-model="sheetData.persion1"/>
                                    <input  ng-if="roleId!=301" type="text" style="height: 30px;width:230px;border: none;" name="persion1" ng-model="sheetData.persion1" readonly="readonly"/>-->
                                    <input  type="hidden" name="persion1" ng-value="sheetData.persion1"/>
                                    <img ng-if="sheetData.persion1 != null && sheetData.persion1 != ''" ng-src="{{sheetData.persion1}}" width="243" height="50"/>
                                </td>
                                <td style="height:50px;width:100px;border-right:none;">审核：</td>
                                <td style="height:50px;width:343px;">
                                    <!-- <input  ng-if="roleId==10003" type="text" style="height: 30px;width:230px;border: none;" name="persion2" ng-model="sheetData.persion2"/>
                                     <input  ng-if="roleId!=10003" type="text" style="height: 30px;width:230px;border: none;" name="persion2" ng-model="sheetData.persion2" readonly="readonly"/>-->
                                    <input  type="hidden" name="persion2" ng-value="sheetData.persion2"/>
                                    <img ng-if="sheetData.persion2 != null && sheetData.persion2 != ''" ng-src="{{sheetData.persion2}}" width="243" height="50"/>
                                </td>
                            </tr>

                            <tr>
                                <td style="height:80px;width:100%;border-top: none;border-bottom: none;" colspan="6">
                                    <p>成都市软件产业发展中心（成都信息化技术应用发展中心）意见</p>
                                    <div ng-if="roleId==10002" contenteditable="true" style="height: 80px;width:870px;"
                                         class="textarea-div " name="suggest">{{sheetData.suggest}}</div>
                                    <div ng-if="roleId!=10002" contenteditable="false" style="height: 80px;width:870px;"
                                         class="textarea-div " name="suggest">{{sheetData.suggest}}</div>
                                </td>
                            </tr>

                            <tr>
                                <td style="height:30px;width:200px;border-top: none;padding-right: 30px;" colspan="6">
                                    <div style="float: right;">
                                        <span>签字：</span>
                                        <!--<input  ng-if="roleId==10002" type="text" style="height: 30px;width:100px;float: right;border: none;" name="persion3" ng-model="sheetData.persion3"/>
                                        <input  ng-if="roleId!=10002" type="text" style="height: 30px;width:100px;float: right;border: none;" name="persion3" ng-model="sheetData.persion3" readonly="readonly"/>-->
                                        <input  type="hidden" name="persion3" ng-value="sheetData.persion3"/>
                                        <img ng-if="sheetData.persion3 != null && sheetData.persion3 != ''" ng-src="{{sheetData.persion3}}" width="243" height="50"/>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div ng-if="checkCutType == 2" class="order">
                    <form action="" onsubmit="false" id="checkCut-form">
                        <table class="table-view"
                               style="border-collapse: collapse;">
                            <tbody>
                            <tr>
                                <td colspan="6" style="text-align: center;font-size: 18px;">
                                    故障核减申请书
                                    <!--div contenteditable="true" class="input-div" name="id" ng-show="false">{{sheetData.id}}</div>-->
                                    <input type="hidden" name="sheetId" ng-value="sheetData.id"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="height:150px;width:100%;border-bottom: none;" colspan="6">
                                    <br/>
                                    <div class="form-inline">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: bold;">基础信息：</span>
                                        <br/>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="hidden" ng-value="sheetData.bsId" name="bsIdTemp"/>
                                        <input type="hidden" ng-value="sheetData.name" name="name"/>
                                        {{sheetData.name}}；
                                        <input style="border: 0px;outline:none;width: 40px" type="hidden" ng-value="sheetData.transfer" name="transfer"/>{{sheetData.transfer}}，
                                        <input style="border: 0px;outline:none;width: 120px" type="hidden" ng-value="sheetData.transferOne" name="transferOne"/>{{sheetData.transferOne}}，
                                        <input style="border: 0px;outline:none;width: 120px" type="hidden" ng-value="sheetData.transferTwo" name="transferTwo"/>{{sheetData.transferTwo}}。
                                        <br/>
                                        <br/>
                                        <br/>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: bold;">故障原因、历时、核减依据：</span>
                                        <br/>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        该调度台于<input ng-if="roleId==301" style="border: 0px;outline:none;width: 130px" type="text" ng-model="sheetData.breakTime" name="breakTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
                                        <input ng-if="roleId!=301" style="border: 0px;outline:none;width: 130px" type="text" ng-model="sheetData.breakTime" name="breakTime" readonly="readonly"/>断站，至
                                        <input ng-if="roleId==301" style="border: 0px;outline:none;width: 130px" type="text" ng-model="sheetData.restoreTime" name="restoreTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" ng-blur="calAgain()"/>
                                        <input ng-if="roleId!=301" style="border: 0px;outline:none;width: 130px" type="text" ng-model="sheetData.restoreTime" name="restoreTime" readonly="readonly"/>恢复，
                                        历时<input style="border: 0px;outline:none;width: 25px" type="hidden" ng-model="calcData" name="calcData"/>{{calcData}}分钟，故障原因为：
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <div ng-if="roleId==301" contenteditable="true" style="height: 50px;width:870px;padding-left: 24px;" class="textarea-div" name="desc">{{sheetData.desc}}</div>
                                        <div ng-if="roleId!=301" contenteditable="false" style="height: 50px;width:870px;padding-left: 24px;" class="textarea-div" name="desc">{{sheetData.desc}}</div>
                                        <br/>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;该故障断站为不可抗力因素导致，根据运维服务质量验收标准{{sheetData.rules}}，故向市软件中心申请故障核减
                                        <input ng-if="roleId==301" style="border: 0px;outline:none;width: 30px" type="text" ng-model="sheetData.checkCutTime" name="checkCutTime"/>
                                        <input ng-if="roleId!=301" style="border: 0px;outline:none;width: 30px" type="text" ng-model="sheetData.checkCutTime" name="checkCutTime" readonly="readonly"/>分钟。
                                        <br/>
                                        <br/>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <select ng-if="roleId==301" name="rules" style="border: none;appearance:none;-moz-appearance:none;-webkit-appearance:none;">
                                            <option ng-selected="sheetData.rules == '3.2.1 自然灾害'" >3.2.1 自然灾害</option>
                                            <option ng-selected="sheetData.rules == '3.2.2 市政施工'" >3.2.2 市政施工</option>
                                            <option ng-selected="sheetData.rules == '3.2.3 突发事件'" >3.2.3 突发事件</option>
                                            <option ng-selected="sheetData.rules == '3.2.4 已预先告知维护/整改作业'" >3.2.4 已预先告知维护/整改作业</option>
                                            <option ng-selected="sheetData.rules == '3.2.5 业主原因'" >3.2.5 业主原因</option>
                                            <option ng-selected="sheetData.rules == '3.2.6 夜间停电或天气原因'" >3.2.6 夜间停电或天气原因</option>
                                        </select>
                                        <input ng-if="roleId!=301" type="hidden" name="rules" ng-value="sheetData.rules">
                                    </div>
                                    <div style="height: 150px;width:870px;" readonly="readonly"></div>
                                </td>
                            </tr>
                            <tr>
                                <td style="height:30px;width:100%;border-top: none;border-bottom: none;padding-right: 20px;"
                                    colspan="6">
                                    <div ng-if="roleId==301" contenteditable="true" style="height: 30px;width:300px;float: right;"
                                         name="period">{{sheetData.period | changePeriod}}</div>
                                    <div ng-if="roleId!=301" contenteditable="false" style="height: 30px;width:300px;float: right;"
                                         name="period">{{sheetData.period | changePeriod}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td style="height:30px;width:100%;border-top: none;padding-right: 20px;" colspan="6">
                                    <div ng-if="roleId==301" contenteditable="true" style="height: 30px;width:230px;float: right;"
                                         name="applyTime">{{sheetData.applyTime}}</div>
                                    <div ng-if="roleId!=301" contenteditable="false" style="height: 30px;width:230px;float: right;"
                                         name="applyTime">{{sheetData.applyTime}}</div>
                                </td>
                            </tr>

                            <tr>
                                <td style="height:50px;width:100px;">拟制：</td>
                                <td style="height:50px;width:343px;">
                                    <!--<input  ng-if="roleId==301" type="text" style="height: 30px;width:230px;border: none;" name="persion1" ng-model="sheetData.persion1"/>
                                    <input  ng-if="roleId!=301" type="text" style="height: 30px;width:230px;border: none;" name="persion1" ng-model="sheetData.persion1" readonly="readonly"/>-->
                                    <input  type="hidden" name="persion1" ng-value="sheetData.persion1"/>
                                    <img ng-if="sheetData.persion1 != null && sheetData.persion1 != ''" ng-src="{{sheetData.persion1}}" width="243" height="50"/>
                                </td>
                                <td style="height:50px;width:100px;border-right:none;">审核：</td>
                                <td style="height:50px;width:343px;">
                                    <!-- <input  ng-if="roleId==10003" type="text" style="height: 30px;width:230px;border: none;" name="persion2" ng-model="sheetData.persion2"/>
                                     <input  ng-if="roleId!=10003" type="text" style="height: 30px;width:230px;border: none;" name="persion2" ng-model="sheetData.persion2" readonly="readonly"/>-->
                                    <input  type="hidden" name="persion2" ng-value="sheetData.persion2"/>
                                    <img ng-if="sheetData.persion2 != null && sheetData.persion2 != ''" ng-src="{{sheetData.persion2}}" width="243" height="50"/>
                                </td>
                            </tr>

                            <tr>
                                <td style="height:80px;width:100%;border-top: none;border-bottom: none;" colspan="6">
                                    <p>成都市软件产业发展中心（成都信息化技术应用发展中心）意见</p>
                                    <div ng-if="roleId==10002" contenteditable="true" style="height: 80px;width:870px;"
                                         class="textarea-div " name="suggest">{{sheetData.suggest}}</div>
                                    <div ng-if="roleId!=10002" contenteditable="false" style="height: 80px;width:870px;"
                                         class="textarea-div " name="suggest">{{sheetData.suggest}}</div>
                                </td>
                            </tr>

                            <tr>
                                <td style="height:30px;width:200px;border-top: none;padding-right: 30px;" colspan="6">
                                    <div style="float: right;">
                                        <span>签字：</span>
                                        <!--<input  ng-if="roleId==10002" type="text" style="height: 30px;width:100px;float: right;border: none;" name="persion3" ng-model="sheetData.persion3"/>
                                        <input  ng-if="roleId!=10002" type="text" style="height: 30px;width:100px;float: right;border: none;" name="persion3" ng-model="sheetData.persion3" readonly="readonly"/>-->
                                        <input  type="hidden" name="persion3" ng-value="sheetData.persion3"/>
                                        <img ng-if="sheetData.persion3 != null && sheetData.persion3 != ''" ng-src="{{sheetData.persion3}}" width="243" height="50"/>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-show="roleId==301" type="button" class="btn btn-success btn-sm" ng-click="synInfo()">
                    <i class="fa fa-check-square"></i>&nbsp;同步基本信息
                </button>
                <button ng-show="elecBtnShow" type="button" class="btn btn-success btn-sm" ng-click="showElecShow()">
                    <i class="fa fa-check-square"></i>&nbsp;发电说明
                </button>
                <button type="button" class="btn btn-success btn-sm" ng-click="showContent(nowIndex)">
                    <i class="fa fa-check-square"></i>&nbsp;依据
                </button>
                <button ng-if="sheetIsUpdate" type="button" class="btn btn-success btn-sm" ng-click="signNow()">
                    <i class="fa fa-check-square"></i>&nbsp;签名
                </button>
                <button ng-if="roleId==10003 && nowChecked==0" type="button" class="btn btn-success btn-sm" ng-click="checkWin(nowIndex)">
                    <i class="fa fa-check-square"></i>&nbsp;复核
                </button>
                <button ng-if="roleId==10002 && nowChecked==1" type="button" class="btn btn-success btn-sm" ng-click="checkWin(nowIndex)">
                    <i class="fa fa-check-square"></i>&nbsp;审核
                </button>
                <!--<button type="button" class="btn btn-success btn-sm" ng-click="print_order(sheetData.persion1,sheetData.persion2,sheetData.persion3)">
                    <i class="fa fa-print"></i>&nbsp;打印
                </button>-->
                <button ng-show="sheetIsUpdate && nowChecked==7" type="button" class="btn btn-success btn-sm" id="checkCut-btn">
                    <i class="fa fa-remove"></i>&nbsp;保存
                </button>
                <button ng-show="sheetIsUpdate && nowChecked<2" type="button" class="btn btn-success btn-sm" id="checkCut-btn2">
                    <i class="fa fa-remove"></i>&nbsp;保存
                </button>
                <button ng-show="sheetIsUpdate && nowChecked>1 && checkedMan==loginUser" type="button" class="btn btn-success btn-sm" id="checkCut-btn1">
                    <i class="fa fa-remove"></i>&nbsp;保存
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#checkCut-btn").click(function () {
        //$('#checkCut-form').submit();
        xh.sheetChange();
    });
    $("#checkCut-btn1").click(function () {
        //$('#checkCut-form').submit();
        xh.sheetChange();
    });
    $("#checkCut-btn2").click(function () {
        //$('#checkCut-form').submit();
        xh.sheetChange();
    });
    var faIcon = {
        valid: 'fa fa-check-circle fa-lg text-success',
        invalid: 'fa fa-times-circle fa-lg',
        validating: 'fa fa-refresh'
    };
    /*$('#checkCut-form').bootstrapValidator({
        excluded: [':disabled'],
        /!* feedbackIcons: faIcon, *!/
        fields: {
            user: {
                validators: {
                    notEmpty: {
                        message: '用户名不能为空'
                    }
                }
            },
            roleId: {
                validators: {
                    notEmpty: {
                        message: '角色不能为空'
                    }
                }
            },
            userPass: {
                validators: {
                    notEmpty: {
                        message: '密码不能为空'
                    }
                }
            }

        }
    }).on('success.form.bv', function (e, data) {
        e.preventDefault();
        /!* xh.add(); *!/
        xh.sheetChange();
    });*/
</script>