<!DOCTYPE html>
<html>
<head>
<title>核减流程</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
	<script language="javascript" src="../../Resources/js/LodopFuncs.js"></script>
	<object id="LODOP_OB"
			classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>
		<embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>
	</object>
</head>
<body ng-app="app" ng-controller="xhcontroller" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="color-line"></div>
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>

	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>运维管理</span></li>
							<li><a href="../menu/menu_operations.html" target="_self"><span>服务监管</span></a></li>
							<li class="active"><span>核减流程</span></li>
						</ol>
					</div>
					<div class="btn-group pull-right">
						<button class="btn btn-primary btn-sm"
							onclick="javascript:history.back(-1);">
							<i class="fa fa-mail-reply-all"></i>&nbsp;&nbsp;返回上一级
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">
			<div class="row" id="search-panel">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-heading hbuilt">
							<i class="fa fa-search"></i> 查询
						</div>
						<div class="panel-body">
							<div id="search-div">
								<form class="form-inline" role="form" id="searchForm">
									<div class="form-group">
										<label>基站ID</label>
										<div>
											<input type="text" class="form-control" id="bsId" name="bsId"
												   placeholder="基站ID" width="20px">
										</div>
									</div>
									<div class="form-group">
										<label>基站名称</label>
										<div>
											<input type="text" class="form-control" id="bsName" name="bsName"
												   placeholder="基站名称(支持模糊查询)">
										</div>
									</div>
									<div class="form-group">
										<label>核减状态</label>
										<div>
											<select class="form-control" id="status" name="status" style="width:158px;">
												<option value="100">全部</option>
												<option value="-2">不通过</option>
												<option value="0">已发起</option>
												<option value="1">复核通过</option>
												<option value="2">审核通过</option>
												<option value="3">已提交报告</option>
												<option value="4">已完成</option>
												<option value="7">未发起</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="starttime">起始时间</label>
										<div>
											<input type="text" class="form-control" id="startTime" name="startTime"
												   onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"
												   placeholder="起始时间">
										</div>
									</div>
									<div class="form-group">
										<label for="starttime">结束时间</label>
										<div>
											<input type="text" class="form-control" id="endTime" name="endTime"
												   onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"
												   placeholder="结束时间">
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-2" style="padding-top:22px">
											<button type="submit" class="btn btn-sm btn-success"
													ng-click="refresh(1)">
												<i class="fa fa-search"></i>&nbsp;&nbsp;查询
											</button>
										</div>
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="hpanel">
					<div class="panel-heading hbuilt">
						<div class="panel-tools">
							<a class="search-hide"> <i
									class="fa fa-hourglass-end text-danger"></i>&nbsp;<span
									class="text-black">筛选查询</span>
							</a>
						</div>
							<i class="fa fa-indent text-danger"></i>&nbsp;核减列表
						</div>
						<div class="panel-body">
						<div class="btn-group" ng-model="loginUserRoleId">
							
									<!--<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#add"  ng-if="up.o_check_cut=='on'">
										<i class="fa fa-plus-circle"></i>&nbsp;核减
									</button>-->
									
								</div>
							<table id="tb-info" class="xh-table table-hover"
								ng-model="loginUser">
								<thead>
									<tr class="tr-gray">
										<th>发起人</th>
										<th>请求内容</th>
										<th>基站id</th>
										<th>基站名称</th>
										<th>建设周期</th>
										<th>核减依据</th>
										<th>故障时间</th>
										<th>申请时间</th>
										<th>状态</th>
										<th>操作详情</th>
									</tr>
								</thead>
								<tbody ng-model="loginUserRoleId">
									<tr ng-if="totals==0">
										<td colspan="10" class="text-center">没有记录！</td>
									</tr>
									<tr ng-repeat="x in data">
                                        <td ng-if="x.userUnit == '' "></td>
                                        <td ng-if="x.userUnit != '' ">{{x.userUnit}}</td>
										<td>基站核减</td>
										<td>{{x.bsId}}</td>
										<td>{{x.name}}</td>
										<td>{{x.bsPeriod}}期</td>
										<td>{{x.rules}}</td>
										<td>{{x.breakTime}}</td>
                                        <td ng-if="x.requestTime == '' "></td>
                                        <td ng-if="x.requestTime != '' ">{{x.requestTime}}</td>
										<td ng-if="x.checked==-2" class="td-danger">不通过</td>
										<td ng-if="x.checked==0" class="td-warning">已发起</td>
										<td ng-if="x.checked==1" class="td-warning">复核通过</td>
										<td ng-if="x.checked==2" class="td-warning">审核通过</td>
										<td ng-if="x.checked==3" class="td-warning">已提交报告</td>
										<td ng-if="x.checked==4" class="td-success">已完成</td>
                                        <td ng-if="x.checked==7" class="td-danger">未发起</td>
										<td style="text-align:center">

											<a href="#"
											   ng-click="toProgress($index)"><i
													class="fa fa-file-text-o text-success"> </i>申请进度
											</a>

											<a ng-if="roleId==301 && x.checked==7"
											   href="#" ng-click="checkWin($index)">|<i
													class="fa fa-hand-o-down text-danger"></i> 发起核减申请</a>

											<a ng-if="roleId==301 && x.checked==-2"
											   href="#" ng-click="checkWin($index)">|<i
													class="fa fa-hand-o-down text-danger"></i> 重新发起核减申请</a>

											<a ng-if="roleId==10003 && x.checked==0"
											   href="#" ng-click="checkWin($index)">|<i
													class="fa fa-hand-o-down text-danger"></i> 运维负责人审核核减申请</a>

											<a ng-if="roleId==10002 && x.checked==1"
											   href="#" ng-click="checkWin($index)">|<i
													class="fa fa-hand-o-down text-danger"></i> 管理方审核核减申请</a>

											<a ng-if="roleId==301 && x.checked==2"
											   href="#" ng-click="checkWin($index)">|<i
													class="fa fa-hand-o-down text-danger"></i> 补充核减资料</a>

											<a ng-if="roleId==10003 && x.checked==3"
											   href="#" ng-click="checkWin($index)">|<i
													class="fa fa-hand-o-down text-danger"></i> 结束核减</a>

											<a href="#" ng-click="sheetShow($index)">|<i
													class="fa fa-hand-o-down text-danger"></i> 查看表格</a>

											<a ng-if="roleId==10003" href="#" ng-click="delBs(x.id)">|<i
													class="fa fa-times-circle text-danger"></i> 删除</a>

										</td>
									</tr>
								</tbody>
							</table>
							<div class="page">
								<div class="page-info">
									<span>每页显示</span><select id="page-limit" ng-change="refresh(1)"
										ng-model="count">
										<option value="15">15</option>
										<option value="20">20</option>
										<option value="30">30</option>
										<option value="40">40</option>
										<option value="50">50</option>
									</select> <span>条,</span><span ng-model="index">显示{{start}}-</span><span
										ng-model="lastIndex">{{lastIndex}}条,</span> <span
										ng-model="totals">总计{{totals}}条</span>
										<i class="fa fa-refresh page-refresh" title="刷新数据" ng-click="refresh(1)"></i>
								</div>
								<div class="page-paging"></div>
							</div>
							<!-- row -->
							<div class="row">
								<div class="col-md-12"></div>
							</div>
							<!-- row -->
						</div>
						<!-- panel-body--end -->
						
						<!-- hpanel --end-->
					</div>
					<!-- col-md-12--end -->
				</div>
				<!-- row/ -->
			</div>
		</div>
	</div>
	<!-- 中间内容体 /-->

	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<!-- 添加 -->
	<div ng-include="'checkCut-add.html'"></div>
	<!-- 进度-->
	<div ng-include="'checkCut-progress.html'"></div>
	<!-- 审核-->
	<div ng-include="'checkCut-check.html'"></div>
	<!-- 表格-->
	<div ng-include="'checkCut-sheet.html'"></div>
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="../../lib/metisMenu/dist/metisMenu.min.js"></script>
	<script type="text/javascript"
		src="../../Resources/js/ajaxfileupload.js"></script>
	<script type="text/javascript" src="../../Controllers/business/checkCut.js"></script>
	<script type="text/javascript"
		src="../../lib/layer-master/src/layer.js"></script>
	<script type="text/javascript">
		xh.load();
	</script>
</body>
</html>
