
<div class="modal fade" id="download" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			
			<div class="modal-body pad-0">
			<div class="btn-group" style="margin-bottom:5px;">
			<button type="button" class="btn btn-sm btn-success"
					aria-hidden="true" onClick="PreviewMytable()">
					<i class="fa fa-print"></i> 打印
				</button>
			</div>
				<div id="print">
					<style type="text/css">
#print_table tr td {
	border: 1px solid #000;
	/* width: 100%; */
	border-collapse: collapse;
	table-layout: fixed;
}
</style>


					<table id="print_table">
						<tbody>
							<tr style="height:40px">
								<td width="120px"><strong><span
										style="font-family: 宋体;font-size: 12px">用户单位</span></strong></td>
								<td width="200px">{{editData.unit1}}</td>


								<td width="100px"><strong><span
										style="font-family: 宋体;font-size: 12px">申请时间</span></strong></td>
								<td width="180px">{{editData.supportTime}}</td>
								<td width="100px"><strong><span
										style="font-family: 宋体;font-size: 12px">受理人</span></strong></td>
								<td width="100px">{{editData.user1}}</td>

								<td width="100px"><strong><span
										style="font-family: 宋体;font-size: 12px">&nbsp;单位联系人</span></strong></td>
								<td width="100px">{{editData.person}}</td>
							</tr>
							<!-- tr -->
							<tr style="height:70px">
								<td width="120px">
									<strong><span style="font-family: 宋体;font-size: 12px">保障时间范围</span></strong>
								</td>
								<td colspan="7" rowspan="1">保障开始时间：{{editData.supportTime}}； 保障结束时间：{{editData.endTime}}</td>

							</tr>
							<!-- tr -->
							<tr style="height:70px">
								<td width="120px">
									<strong><span style="font-family: 宋体;font-size: 12px">保障需求</span></strong>
								</td>
								<td  colspan="7" rowspan="1">{{editData.need}}</td>
							</tr>
							<!-- tr -->
							<tr style="height:70px">
								<td width="120px">
									<strong><span style="font-family: 宋体;font-size: 12px">保障事由</span></strong>
								</td>
								<td  colspan="7" rowspan="1">{{editData.reason}}</td>
							</tr>
							<!-- tr -->
							<tr style="height:70px">
								<td width="120px">
									<strong><span style="font-family: 宋体;font-size: 12px">用户评价</span></strong>
								</td>
								<td  colspan="7" rowspan="1">{{editData.note17}}</td>
							</tr>
							<!-- tr -->
							
						
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>