<!-- row -->
<div class="row">

	<div class="col-md-12">
		<div class="hpanel">
			<div class="panel-heading hbuilt text-center">
				<h3 class="text-center">
					成都市应急指挥调度无线通信网<span style="color:red">三期</span>工程服务项目
				</h3>
				<h5 class="text-center">{{time}}服务扣分表</h5>
			</div>
			<div class="panel-body">

				<form action="#" id="score3Form" onsubmit="return false">
					<table id="tb-info" class="xh-table-primary table-hover">
						<thead>
							<tr class="tr-gray">
								<th width="200px">考核项</th>
								<th width="200px">分项</th>
								<th width="100px">考核得分</th>
								<th>备注</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>机房及配套设施要求（20分）</td>
								<td></td>
								<td><input class="form-control" name="s_a1"
									ng-model="score_data3.s_a1" ng-change="change3Input()" type="number" min="0" /></td>
								<td><input class="form-control" name="n_a1"
									ng-model="score_data3.n_a1" /></td>
							</tr>
							<tr>
								<td rowspan="4">运维团队及设施配置（15分）</td>
								<td>运维团队（3）</td>
								<td><input class="form-control" name="s_b1"
									ng-model="score_data3.s_b1" ng-change="change3Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_b1"
									ng-model="score_data3.n_b1" /></td>
							</tr>
							<tr>
								<td>管理制度保障（1）</td>
								<td><input class="form-control" name="s_b2"
									ng-model="score_data3.s_b2" ng-change="change3Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_b2"
									ng-model="score_data3.n_b2" /></td>
							</tr>
							<tr>
								<td>运维响应机制（9）</td>
								<td><input class="form-control" name="s_b3"
									ng-model="score_data3.s_b3" ng-change="change3Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_b3"
									ng-model="score_data3.n_b3" /></td>
							</tr>
							<tr>
								<td>办公场所及运维设施（2）</td>
								<td><input class="form-control" name="s_b4"
									ng-model="score_data3.s_b4" ng-change="change3Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_b4"
									ng-model="score_data3.n_b4" /></td>
							</tr>

							<tr>
								<td rowspan="2">日常维护管理（包括运维资料、用户响应）（20分）</td>
								<td>运维资料（10）</td>
								<td><input class="form-control" name="s_c1"
									ng-model="score_data3.s_c1" ng-change="change3Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_c1"
									ng-model="score_data3.n_c1" /></td>
							</tr>

							<tr>
								<td>用户响应（10）</td>
								<td><input class="form-control" name="s_c2"
									ng-model="score_data3.s_c2" ng-change="change3Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_c2"
									ng-model="score_data3.n_c2" /></td>
							</tr>


							<tr>
								<td rowspan="2">故障管理（30分）</td>
								<td>故障控制及故障处理历时（25）</td>
								<td><input class="form-control" name="s_d1"
									ng-model="score_data3.s_d1" ng-change="change3Input()" type="number" min="0"/></td>
								<td><textarea class="form-control" name="n_d1"
										ng-model="score_data3.n_d1" rows="3"></textarea></td>
							</tr>

							<tr>
								<td>备品备件（5）</td>
								<td><input class="form-control" name="s_d2"
									ng-model="score_data3.s_d2" ng-change="change3Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_d2"
									ng-model="score_data3.n_d2" /></td>
							</tr>

							<tr>
								<td>网络优化（5分）</td>
								<td></td>
								<td><input class="form-control" name="s_e1"
									ng-model="score_data3.s_e1" ng-change="change3Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_e1"
									ng-model="score_data3.n_e1" /></td>
							</tr>


							<tr>
								<td rowspan="2">应急通信保障和演练（5分）</td>
								<td>应急通信保障（3）</td>
								<td><input class="form-control" name="s_f1"
									ng-model="score_data3.s_f1" ng-change="change3Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_f1"
									ng-model="score_data3.n_f1" /></td>
							</tr>

							<tr>
								<td>应急演练（2）</td>
								<td><input class="form-control" name="s_f2"
									ng-model="score_data3.s_f2" ng-change="change3Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_f2"
									ng-model="score_data3.n_f2" /></td>
							</tr>

							<tr>
								<td>培训及技术支持服务（5分）</td>
								<td></td>
								<td><input class="form-control" name="s_g1"
									ng-model="score_data3.s_g1" ng-change="change3Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_g1"
									ng-model="score_data3.n_g1" /></td>
							</tr>
							<tr>
								<td>加分材料确认</td>
								<td></td>
								<td><input class="form-control" name="s_h1"
									ng-model="score_data3.s_h1" ng-change="change3Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_h1"
									ng-model="score_data3.n_h1" /></td>
							</tr>

							<tr>
								<td colspan="2">考核得分合计</td>
								<td colspan="2"><span id="score3-sum">{{score_sum3}}</span></td>
							</tr>
							<tr>
                                <td colspan="4">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="4" style="text-align: left;">
                                <span>成都市软件产业发展中心：</span> 
                                <span style="margin-left:50%;">成都亚光电子股份有限公司：</span></td>
                            </tr>


						</tbody>
					</table>

				</form>


				<!-- row -->



			</div>
			<!-- panel-body--end -->
			<!-- hpanel --end-->
		</div>
		<!-- col-md-12--end -->
	</div>
	<!-- row/ -->
	<div class="col-md-12">
		<div class="hpanel">
			<div class="panel-heading hbuilt text-center">
				<h3 class="text-center">
					成都市应急指挥调度无线通信网<span style="color:red">四期</span>工程服务项目
				</h3>
				<h5 class="text-center">{{time}}服务扣分表</h5>
			</div>
			<div class="panel-body">


				<form action="#" id="score4Form" onsubmit="return false">
					<table id="tb-info" class="xh-table-primary table-hover">
						<thead>
							<tr class="tr-gray">
								<th width="200px">考核项</th>
								<th width="200px">分项</th>
								<th width="100px">考核得分</th>
								<th>备注</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>机房及配套设施要求（20分）</td>
								<td></td>
								<td><input class="form-control" name="s_a1"
									ng-model="score_data4.s_a1" ng-change="change4Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_a1"
									ng-model="score_data4.n_a1" /></td>
							</tr>
							<tr>
								<td rowspan="4">运维团队及设施配置（15分）</td>
								<td>运维团队（3）</td>
								<td><input class="form-control" name="s_b1"
									ng-model="score_data4.s_b1" ng-change="change4Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_b1"
									ng-model="score_data4.n_b1" /></td>
							</tr>
							<tr>
								<td>管理制度保障（1）</td>
								<td><input class="form-control" name="s_b2"
									ng-model="score_data4.s_b2" ng-change="change4Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_b2"
									ng-model="score_data4.n_b2" /></td>
							</tr>
							<tr>
								<td>运维响应机制（9）</td>
								<td><input class="form-control" name="s_b3"
									ng-model="score_data4.s_b3" ng-change="change4Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_b3"
									ng-model="score_data4.n_b3" /></td>
							</tr>
							<tr>
								<td>办公场所及运维设施（2）</td>
								<td><input class="form-control" name="s_b4"
									ng-model="score_data4.s_b4" ng-change="change4Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_b4"
									ng-model="score_data4.n_b4" /></td>
							</tr>

							<tr>
								<td rowspan="2">日常维护管理（包括运维资料、用户响应）（20分）</td>
								<td>运维资料（10）</td>
								<td><input class="form-control" name="s_c1"
									ng-model="score_data4.s_c1" ng-change="change4Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_c1"
									ng-model="score_data4.n_c1" /></td>
							</tr>

							<tr>
								<td>用户响应（10）</td>
								<td><input class="form-control" name="s_c2"
									ng-model="score_data4.s_c2" ng-change="change4Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_c2"
									ng-model="score_data4.n_c2" /></td>
							</tr>


							<tr>
								<td rowspan="2">故障管理（30分）</td>
								<td>故障控制及故障处理历时（25）</td>
								<td><input class="form-control" name="s_d1"
									ng-model="score_data4.s_d1" ng-change="change4Input()" type="number" min="0"/></td>
								<td><textarea class="form-control" name="n_d1"
										ng-model="score_data4.n_d1" rows="3"></textarea></td>
							</tr>

							<tr>
								<td>备品备件（5）</td>
								<td><input class="form-control" name="s_d2"
									ng-model="score_data4.s_d2" ng-change="change4Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_d2"
									ng-model="score_data4.n_d2" /></td>
							</tr>

							<tr>
								<td>网络优化（5分）</td>
								<td></td>
								<td><input class="form-control" name="s_e1"
									ng-model="score_data4.s_e1" ng-change="change4Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_e1"
									ng-model="score_data4.n_e1" /></td>
							</tr>


							<tr>
								<td rowspan="2">应急通信保障和演练（5分）</td>
								<td>应急通信保障（3）</td>
								<td><input class="form-control" name="s_f1"
									ng-model="score_data4.s_f1" ng-change="change4Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_f1"
									ng-model="score_data4.n_f1" /></td>
							</tr>

							<tr>
								<td>应急演练（2）</td>
								<td><input class="form-control" name="s_f2"
									ng-model="score_data4.s_f2" ng-change="change4Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_f2"
									ng-model="score_data4.n_f2" /></td>
							</tr>

							<tr>
								<td>培训及技术支持服务（5分）</td>
								<td></td>
								<td><input class="form-control" name="s_g1"
									ng-model="score_data4.s_g1" ng-change="change4Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_g1"
									ng-model="score_data4.n_g1" /></td>
							</tr>
							<tr>
								<td>加分材料确认</td>
								<td></td>
								<td><input class="form-control" name="s_h1"
									ng-model="score_data4.s_h1" ng-change="change4Input()" type="number" min="0"/></td>
								<td><input class="form-control" name="n_h1"
									ng-model="score_data4.n_h1" /></td>
							</tr>

							<tr>
								<td colspan="2">考核得分合计</td>
								<td colspan="2">{{score_sum4}}</td>
							</tr>
							<tr>
                                <td colspan="4">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="4" style="text-align: left;">
                                <span>成都市软件产业发展中心：</span> 
                                <span style="margin-left:50%;">成都亚光电子股份有限公司：</span></td>
                            </tr>


						</tbody>
					</table>

				</form>


				<!-- row -->



			</div>
			<!-- panel-body--end -->
			<!-- hpanel --end-->
		</div>
		<!-- col-md-12--end -->
	</div>
	<!-- row/ -->
</div>

<script>
</script>
