
<div class="modal fade" id="progress" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold"></small>
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
				<ul id="xh-tabs" class="nav nav-tabs">
					<li class="active"><a href="#info" data-toggle="tab">申请人信息</a></li>
					<li><a href="#p-timeline" data-toggle="tab">申请进度</a></li>
				</ul>
				<div class="tab-content" style="padding: 20px">
					<div class="tab-pane fade in active text-danger" id="info">
						<div class="row">
							<div class="col-md-4">
								<div class="form-group col-md-12">
									<label>联系单位</label><input type="text" ng-model="editData.unit1"
										class="form-control" name="userNature" required="required">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group col-md-12">
									<label>联系人</label> <input type="text"
										ng-model="editData.userUnit" class="form-control" name="userUnit"
										required="required">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group col-md-12">
									<label>联系人</label> <input type="text"
										ng-model="editData.tel" class="form-control" name="tel"
										required="required">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>申请时间</label> <input type="text"
										ng-model="editData.time" class="form-control" name="time"
										required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>业务变更需求</label> <input type="text"
										ng-model="editData.request" class="form-control"
										name="request" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>变更说明</label> <input type="text"
										ng-model="editData.description" class="form-control"
										name="description" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>变更原因</label> <input type="text"
										ng-model="editData.reason" class="form-control"
										name="request" required="required">
								</div>
							</div>
							
						</div>
					</div>
					<!-- tab-pane--end -->
					<div class="tab-pane fade text-danger" id="p-timeline"
						style="background: #e9f0f5; margin: 0;" ng-model="progressData">
						<div id="cd-timeline" class="cd-container">
							<div class="cd-timeline-block">
								<div class="cd-timeline-img-first cd-green">开始</div>
								<div class="cd-timeline-content">
									<h2>用户提交变更请求信息</h2>
									<p>
										<span>备注：</span><span>{{progressData.request}}</span>
									</p>
									<span class="cd-date text-success font-bold text-x">
										提交时间：{{progressData.time}}</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<!-- <div class="cd-timeline-block" ng-if="progressData.checked==-1">
								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-gray"></div>
									<div class="cd-timeline-content">
										<h2>主管部门审核</h2>
										<p>
											<span>备注：</span><span>{{progressData.note1}}</span>
										</p>
										<span class="cd-date text-warning">申请被拒绝！</span>
									</div>
								</div>
							</div> -->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked==0"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>0"></div>
								<div class="cd-timeline-content">
									<h2>管理方领导审核</h2>
									<!-- <p>
										<span>备注：</span><span>{{progressData.note1}}</span>
									</p> -->
									<span ng-if="progressData.checked==0"
										class="cd-date text-danger">等待审核！</span> <span
										ng-if="progressData.checked>0"
										class="cd-date text-success font-bold text-x">已经审核;
										审核时间：{{progressData.time1}}</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<1"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=1"></div>
								<div class="cd-timeline-content">
									<h2>管理方处理请求中</h2>
									<p>
										<span>备注：</span><span>{{progressData.note2}}</span>
									</p>
									<span ng-if="progressData.checked==1"
										class="cd-date text-danger">请管理方重新处理！</span>
									<span ng-if="progressData.checked==2"
										class="cd-date text-danger">等待管理方处理请求！</span> <span
										ng-if="progressData.checked>2"
										class="cd-date text-success font-bold"> 管理方处理请求中
										时间：{{progressData.time2}}</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<2"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=2"></div>
								<div class="cd-timeline-content">
									<h2>管理方处理请求成功，等待用户确认</h2>
									<p>
										<span>备注：</span><span>{{progressData.note3}}</span>
									</p>
									<span ng-if="progressData.checked==2"
										class="cd-date text-danger">等待用户确认！</span> <span
										ng-if="progressData.checked>2"
										class="cd-date text-success font-bold">用户确认，流程结束：{{progressData.time3}}</span>
								</div>
							</div>
						
						<!-- cd-timeline-block end-->
						<div class="cd-timeline-block">
							<div class="cd-timeline-img-first cd-gray"
								ng-if="progressData.checked<3">结束</div>
							<div class="cd-timeline-img-first cd-green"
								ng-if="progressData.checked>=3">结束</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- <div class="modal-footer">
			<button type="button" class="btn btn-danger btn-sm"
				data-dismiss="modal">
				<i class="fa fa-remove"></i>&nbsp;关闭
			</button>
		</div> -->
		<div class="modal-footer">
			<button type="button" class="btn btn-danger btn-sm"
				data-dismiss="modal">
				<i class="fa fa-remove"></i>&nbsp;关闭
			</button>
			<!-- <button type="button" class="btn btn-success btn-sm" id="saveHT_btn"
				data-dismiss="modal" ng-if="loginUserRoleId == 10002">
				<i class="fa fa-plus"></i>&nbsp;保存
			</button>
			<button type="button" class="btn btn-success btn-sm"
				data-dismiss="modal" disabled="disabled"
				ng-if="loginUserRoleId != 10002">
				<i class="fa fa-plus"></i>&nbsp;保存
			</button> -->
		</div>
	</div>
</div>