
<div class="modal fade" id="add" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-md ">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<!-- <button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold"></small> -->
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
				<form action="#" id="addForm" onSubmit="return false">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>联系人</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" ng-value="addUserTemp" class="form-control" name="userUnit"
									required="required">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>联系方式</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" ng-value="addTelTemp" class="form-control" name="tel"
									required="required">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>提交管理方工作演练方案</label>&nbsp;<span class="text-danger">[*]</span>
								<input type="file" name="filePath" id="filePath1" class="form-control"/> 
							</div>	
							<div class="form-group col-md-4"style="margin-top:30px;" >
							    <input type="hidden" name="result" class="form-control"/> 
							    <input type="hidden" name="fileName"/> 
							    <input type="hidden" name="path"/> 
								<a href="#" onclick="xh.upload(1)" class="btn btn-minier btn-danger">上传</a>&nbsp;&nbsp;
								<span id="uploadResult1" style="color:red"></span>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>备注</label>
								<textarea name="note1" rows="4" cols="10" class="form-control"></textarea>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" ng-disabled="form.$invalid"
					class="btn btn-success btn-sm" id="add_btn">
					<i class="fa fa-plus"></i>&nbsp;发送申请
				</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#add_btn").click(function() {
		if ($("input[name='result']").val() != 1) {
			alert("请先上传管理方工作演练方案！");
			return false;
		}
		$('#addForm').submit();
	});
	var faIcon = {
		valid : 'fa fa-check-circle fa-lg text-success',
		invalid : 'fa fa-times-circle fa-lg',
		validating : 'fa fa-refresh'
	};
	$('#addForm').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		$("#add_btn").button('loading');
		xh.add();
	});
</script>
<script>
	$(function() {
		$("[data-toggle='tooltip']").tooltip();
	});
</script>