
<div class="modal fade" id="progress" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold"></small>
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
				<ul id="xh-tabs" class="nav nav-tabs">
					<li class="active"><a href="#info" data-toggle="tab">申请人信息</a></li>
					<li><a href="#p-timeline" data-toggle="tab">申请进度</a></li>
				</ul>
				<div class="tab-content" style="padding: 20px">
					<div class="tab-pane fade in active text-danger" id="info">
						<div class="row">
							<div class="col-md-4">
								<div class="form-group col-md-12">
									<label>用户单位</label><input type="text" ng-model="editData.unit"
										class="form-control" name="unit" required="required">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group col-md-12">
									<label>单位联系人</label> <input type="text"
										ng-model="editData.person" class="form-control" name="person"
										required="required">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group col-md-12">
									<label>联系人电话</label> <input type="text" ng-model="editData.tel"
										class="form-control" name="tel" required="required">
								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group col-md-12">
									<label>申请故障时间</label> <input type="text"
										ng-model="editData.time" class="form-control" name="time"
										required="required">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group col-md-12">
									<label>故障现象</label> <input type="text"
										ng-model="editData.information" class="form-control"
										name="information" required="required">
								</div>
							</div>
						</div>
					</div>
					<!-- tab-pane--end -->
					<div class="tab-pane fade text-danger" id="p-timeline"
						style="background: #e9f0f5; margin: 0;" ng-model="progressData">
						<div id="cd-timeline" class="cd-container">
							<div class="cd-timeline-block">
								<div class="cd-timeline-img-first cd-green">开始</div>
								<div class="cd-timeline-content">
									<h2>用户提交审核信息</h2>
									<p>
										<span>备注：</span><span>{{progressData.note}}</span>
									</p>
									<span class="cd-date text-success font-bold text-x">
										提交时间：{{progressData.time1}}</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<!-- <div class="cd-timeline-block" ng-if="progressData.checked==-1">
								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-gray"></div>
									<div class="cd-timeline-content">
										<h2>主管部门审核</h2>
										<p>
											<span>备注：</span><span>{{progressData.note1}}</span>
										</p>
										<span class="cd-date text-warning">申请被拒绝！</span>
									</div>
								</div>
							</div> -->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked==0"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>0"></div>
								<div class="cd-timeline-content">
									<h2>管理方审核</h2>
									<p>
										<span>备注：</span><span>{{progressData.note1}}</span>
									</p>
									<span ng-if="progressData.checked==0"
										class="cd-date text-danger">等待审核！</span> <span
										ng-if="progressData.checked>0"
										class="cd-date text-success font-bold text-x">已经审核;
										审核时间：{{progressData.time1}}</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<=1"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>1"></div>
								<div class="cd-timeline-content">
									<h2>管理方上传故障请求信息</h2>
									<p>
										<span>备注：</span><span>{{progressData.note2}}</span>
									</p>
									<span ng-if="progressData.checked<=1"
										class="cd-date text-danger">等待管理方上传故障请求信息！</span> <span
										ng-if="progressData.checked>1"
										class="cd-date text-success font-bold"> 已通知服务提供方进行审核
										时间：{{progressData.time2}}</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<=2"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>2"></div>
								<div class="cd-timeline-content">
									<h2>管理方上传故障请求信息成功，等待服务提供方审核</h2>
									<!-- <p>
										<span>备注：</span><span>备注内容</span>
									</p> -->
									<span ng-if="progressData.checked<2"
										class="cd-date text-danger">服务提供方拒绝通过！</span>
									<span ng-if="progressData.checked=2"
										class="cd-date text-danger">等待服务提供方审核！</span> <span
										ng-if="progressData.checked>2"
										class="cd-date text-success font-bold">服务提供方正在处理故障中;
										时间：{{progressData.time2}}</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<=3"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>3"></div>
								<div class="cd-timeline-content">
									<h2>服务提供方上传故障完成信息</h2>
									<!-- <a ng-if="progressData.checked>=4" href="#" title="点击下载文件"
											onclick="xh.download()" style="color: red">{{progressData.fileName}}</a> -->
									<!-- <p>
										<span>备注：</span><span>备注内容</span>
									</p> -->
									<span ng-if="progressData.checked<=3"
										class="cd-date text-danger">等待服务提供方上传故障完成信息</span> <span
										ng-if="progressData.checked>3"
										class="cd-date text-success font-bold">已通知管理方进行审核;
										时间：{{progressData.time3}}</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<=4"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>4"></div>
								<div class="cd-timeline-content">
									<h2>服务提供方上传故障完成信息成功，等待管理方审核</h2>
									<p>
										<span>备注：</span><span>{{progressData.note3}}</span>
									</p>
									<span ng-if="progressData.checked<4"
										class="cd-date text-danger">管理方拒绝通过！</span>
									<span ng-if="progressData.checked=4"
										class="cd-date text-danger">等待管理方审核！</span> <span
										ng-if="progressData.checked>4"
										class="cd-date text-success font-bold">管理方正在备案故障信息;
										时间：{{progressData.time3}}</span>
								</div>
							</div>
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<=5"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>5"></div>
								<div class="cd-timeline-content">
									<h2>等待管理方备案故障信息</h2>
									<p>
										<span>备注：</span><span>{{progressData.note4}}</span>
									</p>
									<span ng-if="progressData.checked<=5"
										class="cd-date text-danger">等待管理方备案故障信息！</span> <span
										ng-if="progressData.checked>5"
										class="cd-date text-success font-bold">用户回访;
										时间：{{progressData.time4}}</span>
								</div>
							</div>
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<=6"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>6"></div>
								<div class="cd-timeline-content">
									<h2>用户回访</h2>
									<p>
										<span>备注：</span><span>{{progressData.note}}</span>
									</p>
									<span ng-if="progressData.checked<=6"
										class="cd-date text-danger">等待用户回访</span> <span
										ng-if="progressData.checked>6"
										class="cd-date text-success font-bold">故障保障完成;
										时间：{{progressData.time}}</span>
								</div>
							</div>
						</div>
						<!-- cd-timeline-block end-->
						<div class="cd-timeline-block">
							<div class="cd-timeline-img-first cd-gray"
								ng-if="progressData.checked<=7">结束</div>
							<div class="cd-timeline-img-first cd-green"
								ng-if="progressData.checked>7">结束</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="modal-footer">
			<button type="button" class="btn btn-danger btn-sm"
				data-dismiss="modal">
				<i class="fa fa-remove"></i>&nbsp;关闭
			</button>
		</div> -->
</div>
</div>