<!DOCTYPE html>
<html>
<head>
<title>gps参数设置</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
</head>
<body ng-app="app" ng-controller="xhcontroller" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>业务管理</span></li>
							<li><a href="../menu/menu_radio.html" target="_self"><span>终端管理</span></a></li>
							<li class="active"><span>gps参数设置</span></li>
						</ol>
					</div>
					<div class="btn-group pull-right">
						<button class="btn btn-primary btn-sm"
							onclick="javascript:history.back(-1);">
							<i class="fa fa-mail-reply-all"></i>&nbsp;&nbsp;返回上一级
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">
			<div class="row">
				
				<div class="col-md-4">
					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<div class="hpanel">
								<div class="panel-heading hbuilt">GPS使能开关</div>
								<div class="panel-body">
								<!-- <div class="row">
										<div class="form-group col-md-12">
											<label>调度台号</label> <input type="text" value="100267"
												class="form-control" name="dstId">
										</div>
									</div> -->
									<!-- row -->
									 <div class="row">
										<div class="col-md-12">
											<!-- <div class="radio radio-info radio-inline">
												<input type="radio" id="operation1" value="1"
													name="operation" checked="checked" ng-click="showTrigger()">
												<label for="operation1">即时定位信息请求</label>
											</div>
											<div class="radio radio-info  radio-inline">
												<input type="radio" id="operation2" value="2"
													name="operation" ng-click="showTrigger()" disabled="disabled"> <label
													for="operation2">定时触发</label>
											</div> -->
											<div class="radio radio-info  radio-inline" ng-show=false>
												<input type="radio" id="operation3" value="3"
													name="operation" ng-click="showTrigger()" checked="checked"> <label
													for="operation3">GPS使能请求</label>
											</div>
										</div>
									</div>
									<!-- row -->
									<div class="row" ng-show="trigger==2" style="margin-top:20px">
										<div class="form-group col-md-12">
											<label>定时触发时间设置，单位(秒)</label> <input type="number" value="30"
												class="form-control" name="triggerParaTime">
										</div>
									</div>
										<!-- row -->
									<div class="row" ng-show="trigger==2" style="margin-top:20px">
										<div class="form-group col-md-12">
											<label>被请求的终端上传位置信息的目标ID号</label> <input type="number" value="0"
												class="form-control" name="locationDstId">
										</div>
									</div>
									<!-- row -->
									<div class="row" style="margin-top:20px">
										<div class="col-md-5">
											<div class="radio radio-info radio-inline">
												<input type="radio" id="gpsen1" value="1"
													name="gpsen" checked="checked">
												<label for="gpsen1" ng-click="showTx()">开启</label>
											</div>
											<div class="radio radio-info  radio-inline">
												<input type="radio" id="gpsen2" value="0"
													name="gpsen" ng-click="showTx()"> <label
													for="gpsen2">关闭</label>
											</div>
										</div>
										<div class="col-md-7">
                                            <button class="btn btn-danger btn-sm" ng-disabled=""
                                                ng-click="addMore4()" style="margin-top:0px;">
                                                <i class="fa fa-plus-circle"></i>&nbsp;获取已经关闭GPS的终端至列表
                                            </button>
                                        </div>
									</div>
								    <!-- row -->
								    
								</div>

							</div>
						</div>
					</div>
					<!-- row -->

					<div class="row">
					<div class="col-md-12">
                            <div class="hpanel">
                                <div class="panel-heading hbuilt">添加用户-方式一</div>
                                <div class="panel-body">

                                    <!-- row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="bsId">注册基站ID</label> <input type="number"
                                                    id="bsId" class="form-control" placeholder="注册基站ID">

                                            </div>
                                        </div>
                                
                                        <div class="col-md-12">
                                            <button class="btn btn-primary btn-block" ng-disabled=""
                                                ng-click="addMore3()" style="margin-top:25px;">
                                                <i class="fa fa-plus-circle"></i>&nbsp;获取终端至列表
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
						<div class="col-md-12">
							<div class="hpanel">
								<div class="panel-heading hbuilt">添加用户-方式二</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="userId">终端ID</label>
												<div>
													<textarea type="text" class="form-control" id="userId"
														placeholder="终端ID,批量添加，ID之间用英文逗号分割开" rows="5"></textarea>
												</div>
											</div>
										</div>
										<div class="col-md-12" style="padding-top:2px;">
											<button class="btn btn-warning btn-block" ng-disabled=""
												ng-click="addMore2()">
												<i class="fa fa-plus-circle"></i>&nbsp;添加至列表
											</button>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- col-md-12 -->
						
						<div class="col-md-12">
                            <div class="hpanel">
                                <div class="panel-heading hbuilt">添加用户-方式三</div>
                                <div class="panel-body">

                                    <!-- row -->
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="user1">终端ID</label> <input type="number"
                                                    id="user1" class="form-control" placeholder="终端ID">

                                            </div>
                                        </div>
                                        <div class="col-md-2" style="margin-top:30px;">
                                            <span>——</span>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="user2">终端ID</label> <input type="number"
                                                    id="user2" class="form-control" placeholder="终端ID">

                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-success btn-block" ng-disabled=""
                                                ng-click="addMore()" style="margin-top:25px;">
                                                <i class="fa fa-plus-circle"></i>&nbsp;批量添加至列表
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					<!-- - -->
					</div>


				</div>
				<div class="col-md-8">
					<div class="row">

						<div class="col-md-12">
							<div class="hpanel">
								<div class="panel-heading hbuilt">终端列表</div>
								<div class="panel-body">

									<!-- row -->
									<div class="row">
										<div class="col-md-12">
											<div class="btn-group" style="padding-top:10px;">

												<button class="btn btn-info btn-sm" ng-disabled=""
													ng-click="clear()">
													<i class="fa fa-trash"></i>&nbsp;清空
												</button>
												<button class="btn btn-danger btn-sm" ng-click="run()"
													 id="start" ng-disabled="up.o_gpsset=='off'|| totals<1">
													<i class="fa fa-edit"></i>&nbsp;执行
												</button>
												
												<!-- <button disabled="disabled" class="btn btn-danger btn-sm" ng-click="getHandleResult()"
                                                     id="get-btn">
                                                    <i class="fa fa-edit"></i>&nbsp;获取执行结果
                                                </button> -->
											</div>
										</div>
									</div>
									<div class="col-md-12">
									<p style="margin-top:20px; font-weight: 800;">列表中手台数量：<span>{{totals}}</span></p>
									</div>
									<!-- row -->
									<table id="tb-info" class="xh-table table-hover">
										<thead>
											<tr class="tr-gray">
											<th width="30px"><input type="checkbox"
                                            id="table-checkbox" class="table-check" /></th>
												<th>手台</th>
												<th>状态</th>
												<th>执行结果</th>
												<th width="130px">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-if="totals==0">
												<td colspan="5" class="text-center">等待添加数据!</td>
											</tr>
											<tr ng-repeat="x in data">
												 <td><input type="checkbox" name="tb-check"
											value="{{x.userId}}" index="{{$index}}" /></td>


												<td>{{x.userId}}</td>
												<td>{{x.status}}</td>
												<td>{{x.result}}</td>
												<td style="width:20px;text-align:center"><a href="#"
													ng-click="delBs($index)"><i
														class="fa fa-trash text-success"></i>&nbsp;删除</a></td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>
						</div>
					</div>
					<!-- row -->
				</div>
			</div>
		</div>


		<!-- row -->
	</div>
	<!-- 中间内容体 /-->
	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="../../lib/metisMenu/dist/metisMenu.min.js"></script>
	<script type="text/javascript"
		src="../../Controllers/business/gpsset.js"></script>
	<script type="text/javascript">
		xh.load();
	</script>
</body>
</html>
