<!-- 经信委 -->
<div class="modal fade" id="checkWin1" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header">
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="checkForm1" onSubmit="return false">
					<div class="row" ng-show="false">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="id"
									required="required" ng-model="checkData.id">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>审核意见</label>&nbsp;<span class="text-danger">[*]</span> <select
									 class="form-control" name="checked" id="selectZG">
									<option value="1" selected="selected">审核通过</option>
									<option value="-1">拒绝</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>经办人领导</label>&nbsp;<span class="text-danger">[*]</span> 
								<select class="form-control" name="user" ng-model="user">
								    <option ng-repeat="x in userData" value="{{x.user}}" >{{x.userName}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>备注</label>
								<textarea name="note1" rows="4" cols="10" class="form-control"></textarea>
							</div>
						</div>
					</div>
					<!-- row-------end -->
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button"
					class="btn btn-success btn-sm" id="check_btn1">
					<i class="fa fa-plus"></i>&nbsp;提交意见
				</button>
			</div>
		</div>
	</div>
</div>



<!-- 软中领导 -->
<div class="modal fade" id="checkWin2" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="checkForm2" onSubmit="return false">
					<div class="row" ng-show="false">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="id"
									required="required" ng-model="checkData.id">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>经办人</label>&nbsp;<span class="text-danger">[*]</span> 
								<select class="form-control" name="user" ng-model="user">
								    <option ng-repeat="x in userData" value="{{x.user}}" >{{x.userName}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>备注</label>
								<textarea name="note2" rows="4" cols="10" class="form-control"></textarea>
							</div>
						</div>
					</div>
					<!-- row-------end -->
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" ng-disabled="form.$invalid"
					class="btn btn-success btn-sm" id="check_btn2">
					<i class="fa fa-plus"></i>&nbsp;通知处理
				</button>
			</div>
		</div>
	</div>
</div>



<!-- 软中经办人 -->
<div class="modal fade" id="checkWin3" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="checkForm3" onSubmit="return false" enctype="multipart/form-data" method="POST">
					<div class="row" ng-show="false">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="id"
									required="required" ng-model="checkData.id">
								<label>type</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="0" name="type">
							</div>
						</div>
					</div>
					<div class="row" ng-if="checkData.checked==-2">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>用户意见</label>&nbsp;<input
									type="text" value="" class="form-control" name="id"
									required="required" ng-model="checkData.note5" disabled="disabled">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>编组方案</label>&nbsp;<span class="text-danger">[*]</span> 
								<input type="file" name="filePath" id="filePathBZ" class="form-control"/> 
							</div>
							<div class="form-group col-md-4"style="margin-top:30px;" >
							    <input type="hidden" name="result" class="form-control"/> 
							    <input type="hidden" name="fileName"/> 
							    <input type="hidden" name="path"/> 
								<a href="#" onclick="xh.upload(1)" class="btn btn-minier btn-danger">上传</a>&nbsp;&nbsp;
								<span id="uploadResultBZ" style="color:red"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>审核人</label>&nbsp;<span class="text-danger">[*]</span> 
								<select class="form-control" name="user" ng-model="user">
								    <option ng-repeat="x in userData" value="{{x.user}}" >{{x.userName}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>备注</label>
								<textarea name="note3" rows="4" cols="10" class="form-control"></textarea>
							</div>
						</div>
					</div>
					<!-- row-------end -->
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" ng-disabled="form.$invalid"
					class="btn btn-success btn-sm" id="check_btn3">
					<i class="fa fa-plus"></i>&nbsp;提交
				</button>
			</div>
		</div>
	</div>
</div>

<!-- 审核编组方案 -->
<div class="modal fade" id="checkWin4" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="checkForm4" onSubmit="return false" enctype="multipart/form-data" method="POST">
					<div class="row" ng-show="false">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="id"
									required="required" ng-model="checkData.id">
								<label>type</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="0" name="type">
								<label>ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="backUser"
									required="required" ng-model="checkData.user2">
								<label>ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="sendUser"
									required="required" ng-model="checkData.userName">
								<label>User</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="managerUser"
									required="required" ng-model="checkData.user1">
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>编组方案下载链接</label>&nbsp;</span> 
								<a href="#" title="点击下载文件" onclick="xh.download(-1,0)" style="color:red">{{checkData.fileName}}</a>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>审核意见</label>&nbsp;<span class="text-danger">[*]</span> <select
									 class="form-control" name="checked">
									<option value="1" selected="selected">审核通过</option>
									<option value="0">拒绝</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>备注</label>
								<textarea name="note4" rows="4" cols="10" class="form-control"></textarea>
							</div>
						</div>
					</div>
					<!-- row-------end -->
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" ng-disabled="form.$invalid"
					class="btn btn-success btn-sm" id="check_btn4">
					<i class="fa fa-plus"></i>&nbsp;提交
				</button>
			</div>
		</div>
	</div>
</div>

<!-- 用户审核编组方案 -->
<div class="modal fade" id="checkWin5" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="checkForm5" onSubmit="return false" enctype="multipart/form-data" method="POST">
					<div class="row" ng-show="false">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="id"
									required="required" ng-model="checkData.id">
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>编组方案下载链接</label>&nbsp;</span> 
								<a href="#" title="点击下载文件" onclick="xh.download(-1,0)" style="color:red">{{checkData.fileName}}</a>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>用户意见</label>&nbsp;<span class="text-danger">[*]</span> <select
									 class="form-control" name="userBZ_checked">
									<option value="1" selected="selected">通过</option>
									<option value="0">拒绝</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>备注</label>
								<textarea name="note5" rows="4" cols="10" class="form-control"></textarea>
							</div>
						</div>
					</div>
					<!-- row-------end -->
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" ng-disabled="form.$invalid"
					class="btn btn-success btn-sm" id="check_btn5">
					<i class="fa fa-plus"></i>&nbsp;提交
				</button>
			</div>
		</div>
	</div>
</div>
<!-- 上传通知函 -->
<!-- <div class="modal fade" id="checkWin6" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="checkForm6" onSubmit="return false" enctype="multipart/form-data" method="POST">
					<div class="row" ng-show="false">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="id"
									required="required" ng-model="checkData.id">
								<label>ManagerID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="managerId"
									required="required" ng-model="checkData.user1">
								<label>type</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="0" name="type">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>上传公函</label>
								<input type="file" name="filePath" id="filePathNote" class="form-control"/> 
							</div>
							<div class="form-group col-md-4"style="margin-top:30px;" >
							    <input type="hidden" name="result" class="form-control"/> 
							    <input type="hidden" name="fileName"/> 
							    <input type="hidden" name="path"/> 
								<a href="#" onclick="xh.upload(2)" class="btn btn-minier btn-danger">上传</a>&nbsp;&nbsp;
								<span id="uploadResultNote" class="span_result_GH" style="color:red"></span>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" ng-disabled="form.$invalid"
					class="btn btn-success btn-sm" id="check_btn6">
					<i class="fa fa-plus"></i>&nbsp;提交
				</button> 
			</div>
		</div>
	</div>
</div> -->
<!-- 上传通知函 -->
<div class="modal fade" id="checkWin7" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="checkForm7" onSubmit="return false" enctype="multipart/form-data" method="POST">
					<div class="row" ng-show="false">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="id"
									required="required" ng-model="checkData.id">
								<label>ManagerID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="managerId"
									required="required" ng-model="checkData.user1">
								<label>type</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="0" name="type">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>上传通知函</label>
								<input type="file" name="filePath" id="filePathNote" class="form-control"/> 
							</div>
							<div class="form-group col-md-4"style="margin-top:30px;" >
							    <input type="hidden" name="result" class="form-control"/> 
							    <input type="hidden" name="fileName"/> 
							    <input type="hidden" name="path"/> 
								<a href="#" onclick="xh.upload(3)" class="btn btn-minier btn-danger">上传</a>&nbsp;&nbsp;
								<span id="uploadResultNote" class="span_result_GH" style="color:red"></span>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" ng-disabled="form.$invalid"
					class="btn btn-success btn-sm" id="check_btn7">
					<i class="fa fa-plus"></i>&nbsp;提交
				</button> 
			</div>
		</div>
	</div>
</div>

<!-- 上传合同附件 -->
<div class="modal fade" id="checkWin8" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
		
		 		<form action="#" id="checkForm8" onSubmit="return false" enctype="multipart/form-data" method="POST">
					<div class="row" ng-show="false">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="id"
									required="required" ng-model="checkData.id">
								<label>type</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="0" name="type">
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>上传合同附件</label>
								<input type="file" name="filePath" id="filePathHT" class="form-control"/> 
							</div>
							<div class="form-group col-md-4"style="margin-top:30px;" >
							    <input type="hidden" name="result" class="form-control"/> 
							    <input type="hidden" name="fileName"/> 
							    <input type="hidden" name="path"/> 
								<a href="#" onclick="xh.upload(4)" class="btn btn-minier btn-danger">上传</a>&nbsp;&nbsp;
								<span id="uploadResultHT" style="color:red"></span>
							</div>
						</div>
					</div>
					<!-- row-------end -->
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" ng-disabled="form.$invalid"
					class="btn btn-success btn-sm" id="check_btn8">
					<i class="fa fa-plus"></i>&nbsp;确认
				</button>
			</div>
		</div>
	</div>
</div>

<!-- 审核样机入网送检申请（合同附件） -->
<div class="modal fade" id="checkWin9" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="checkForm9" onSubmit="return false" enctype="multipart/form-data" method="POST">
					<div class="row" ng-show="false">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="id"
									required="required" ng-model="checkData.id">
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>样机入网送检申请（合同附件）下载链接</label>&nbsp;</span> 
								<a href="#" title="点击下载文件" onclick="xh.download(-1,-1)" style="color:red">{{checkData.fileName_HT}}</a>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>管理部门意见</label>&nbsp;<span class="text-danger">[*]</span> <select
									 class="form-control" name="userHT_checked">
									<option value="1" selected="selected">通过</option>
									<option value="0">拒绝</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>备注</label>
								<textarea name="note6" rows="4" cols="10" class="form-control"></textarea>
							</div>
						</div>
					</div>
					<!-- row-------end -->
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" ng-disabled="form.$invalid"
					class="btn btn-success btn-sm" id="check_btn9">
					<i class="fa fa-plus"></i>&nbsp;提交
				</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="checkWin10" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="checkForm10" onSubmit="return false" enctype="multipart/form-data" method="POST">
					<div class="row" ng-show="false">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="id"
									required="required" ng-model="checkData.id">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>上传采购设备信息</label>
								<input type="file" name="filePath" id="filePathCG" class="form-control"/> 
							</div>
							<div class="form-group col-md-4"style="margin-top:30px;" >
							    <input type="hidden" name="result" class="form-control"/> 
							    <input type="hidden" name="fileName"/> 
							    <input type="hidden" name="path"/> 
								<a href="#" onclick="xh.upload(5)" class="btn btn-minier btn-danger">上传</a>&nbsp;&nbsp;
								<span id="uploadResultCG" class="span_result_CG" style="color:red"></span>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" ng-disabled="form.$invalid"
					class="btn btn-success btn-sm" id="check_btn10">
					<i class="fa fa-plus"></i>&nbsp;提交
				</button> 
			</div>
		</div>
	</div>
</div>
<!-- 上传文件窗口 -->
<div class="modal fade" id="checkWin11" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="checkForm11" onSubmit="return false" enctype="multipart/form-data" method="POST">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="id"
									required="required" ng-model="checkData.id">
								<!-- <label>type</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="1" name="type"> -->
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>{{divTitle}}</label>
								<input type="file" name="filePath" id="filePathJS" class="form-control"/> 
							</div>
							<div class="form-group col-md-4"style="margin-top:30px;" >
							    <input type="hidden" name="result" class="form-control"/> 
							    <input type="hidden" name="fileName"/> 
							    <input type="hidden" name="path"/> 
								<a href="#" onclick="xh.upload(6)" class="btn btn-minier btn-danger">上传</a>&nbsp;&nbsp;
								<span id="uploadResultJS" class="span_result_GH" style="color:red"></span>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" ng-disabled="form.$invalid"
					class="btn btn-success btn-sm" id="check_btn11">
					<i class="fa fa-plus"></i>&nbsp;提交
				</button> 
			</div>
		</div>
	</div>
</div>
<!-- 主管部门指定经办人 -->
<div class="modal fade" id="checkWin12" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header">
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="checkForm12" onSubmit="return false">
					<div class="row" ng-show="false">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="id"
									required="required" ng-model="checkData.id">
							</div>
						</div>
					</div>
					<div class="row" ng-show="false">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>审核意见</label>&nbsp;<span class="text-danger">[*]</span> <select
									 class="form-control" name="checked" id="selectZG">
									<option value="1" selected="selected">审核通过</option>
									<option value="-1">拒绝</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>查看技术方案</label>&nbsp;</span> 
								<a href="#" title="点击下载文件" onclick="xh.download(-1,-2)" style="color:red">{{checkData.fileName_GH}}</a>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>经办人领导</label>&nbsp;<span class="text-danger">[*]</span> 
								<select class="form-control" name="user" ng-model="user">
								    <option ng-repeat="x in userData" value="{{x.user}}" >{{x.userName}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>备注</label>
								<textarea name="note1" rows="4" cols="10" class="form-control"></textarea>
							</div>
						</div>
					</div>
					<!-- row-------end -->
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button"
					class="btn btn-success btn-sm" id="check_btn12">
					<i class="fa fa-plus"></i>&nbsp;提交意见
				</button>
			</div>
		</div>
	</div>
</div>
<!-- 评估技术方案 -->
<div class="modal fade" id="checkWin13" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header">
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="checkForm13" onSubmit="return false">
					<div class="row" ng-show="false">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="id"
									required="required" ng-model="checkData.id">
								<label>type</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="1" name="type">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>查看技术方案</label>&nbsp;</span> 
								<a href="#" title="点击下载文件" onclick="xh.download(-1,-2)" style="color:red">{{checkData.fileName_GH}}</a>
							</div>
							
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>上传附件评估技术方案</label>
								<input type="file" name="filePath" id="filePathFJ" class="form-control"/> 
							</div>
							<div class="form-group col-md-4"style="margin-top:30px;" >
							    <input type="hidden" name="result" class="form-control"/> 
							    <input type="hidden" name="fileName"/> 
							    <input type="hidden" name="path"/> 
								<a href="#" onclick="xh.upload(7)" class="btn btn-minier btn-danger">上传</a>&nbsp;&nbsp;
								<span id="uploadResultFJ" class="span_result_GH" style="color:red"></span>
							</div>
						</div>
					</div>
					<!-- row-------end -->
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button"
					class="btn btn-success btn-sm" id="check_btn13">
					<i class="fa fa-plus"></i>&nbsp;提交意见
				</button>
			</div>
		</div>
	</div>
</div>
<!-- 主管部门根据评估技术方案，审核申请 -->
<div class="modal fade" id="checkWin14" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header">
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="checkForm14" onSubmit="return false">
					<div class="row" ng-show="false">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="id"
									required="required" ng-model="checkData.id">
								<label>proposer</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="proposer"
									required="required" ng-model="checkData.userName">
								<label>operator</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="operator"
									required="required" ng-model="checkData.user2">
								<label>type</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="1" name="type">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>查看技术方案:</label>&nbsp;</span> 
								<a href="#" title="点击下载文件" onclick="xh.download(-1,-2)" style="color:red">{{checkData.fileName_GH}}</a>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>查看评估方案:</label>&nbsp;</span> 
								<a href="#" title="点击下载文件" onclick="xh.download(-1,-3)" style="color:red">{{checkData.fileName_Note}}</a>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>审核意见</label>&nbsp;<span class="text-danger">[*]</span> <select
									 class="form-control" name="checked" id="selectZG">
									<option value="3" selected="selected">审核通过</option>
									<option value="-2">拒绝</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>备注</label>
								<textarea name="note2" rows="4" cols="10" class="form-control"></textarea>
							</div>
						</div>
					</div>
					<!-- row-------end -->
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button"
					class="btn btn-success btn-sm" id="check_btn14">
					<i class="fa fa-plus"></i>&nbsp;提交意见
				</button>
			</div>
		</div>
	</div>
</div>
<!-- 上传编制资源配置技术方案 -->
<div class="modal fade" id="checkWin15" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header">
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="checkForm15" onSubmit="return false">
					<div class="row" ng-show="false">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="id"
									required="required" ng-model="checkData.id">
								<label>type</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="1" name="type">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>查看技术方案</label>&nbsp;</span> 
								<a href="#" title="点击下载文件" onclick="xh.download(-1,-2)" style="color:red">{{checkData.fileName_GH}}</a>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>查看评估方案:</label>&nbsp;</span> 
								<a href="#" title="点击下载文件" onclick="xh.download(-1,-3)" style="color:red">{{checkData.fileName_Note}}</a>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>上传编制资源配置技术方案 </label>
								<input type="file" name="filePath" id="filePathBZ1" class="form-control"/> 
							</div>
							<div class="form-group col-md-4"style="margin-top:30px;" >
							    <input type="hidden" name="result" class="form-control"/> 
							    <input type="hidden" name="fileName"/> 
							    <input type="hidden" name="path"/> 
								<a href="#" onclick="xh.upload(8)" class="btn btn-minier btn-danger">上传</a>&nbsp;&nbsp;
								<span id="uploadResultBZ1" class="span_result_GH" style="color:red"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>审核人</label>&nbsp;<span class="text-danger">[*]</span> 
								<select class="form-control" name="user" ng-model="user">
								    <option ng-repeat="x in userData" value="{{x.user}}" >{{x.userName}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>备注</label>
								<textarea name="note3" rows="4" cols="10" class="form-control"></textarea>
							</div>
						</div>
					</div>
					<!-- row-------end -->
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button"
					class="btn btn-success btn-sm" id="check_btn15">
					<i class="fa fa-plus"></i>&nbsp;提交意见
				</button>
			</div>
		</div>
	</div>
</div>
<!-- 内审资源配置技术方案 -->
<div class="modal fade" id="checkWin16" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header">
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="checkForm16" onSubmit="return false">
					<div class="row" ng-show="false">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="id"
									required="required" ng-model="checkData.id">
								<label>type</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="1" name="type">
								<label>User</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="backUser"
									required="required" ng-model="checkData.user2">
								<label>User</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="sendUser"
									required="required" ng-model="checkData.userName">
								<label>User</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="managerUser"
									required="required" ng-model="checkData.user1">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>查看技术方案</label>&nbsp;</span> 
								<a href="#" title="点击下载文件" onclick="xh.download(-1,-2)" style="color:red">{{checkData.fileName_GH}}</a>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>查看评估方案:</label>&nbsp;</span> 
								<a href="#" title="点击下载文件" onclick="xh.download(-1,-3)" style="color:red">{{checkData.fileName_Note}}</a>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>查看资源配置方案:</label>&nbsp;</span> 
								<a href="#" title="点击下载文件" onclick="xh.download(-1,0)" style="color:red">{{checkData.fileName}}</a>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>审核意见</label>&nbsp;<span class="text-danger">[*]</span> <select
									 class="form-control" name="checked" id="selectZG">
									<option value="1" selected="selected">审核通过</option>
									<option value="0">拒绝</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>备注</label>
								<textarea name="note4" rows="4" cols="10" class="form-control"></textarea>
							</div>
						</div>
					</div>
					<!-- row-------end -->
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button"
					class="btn btn-success btn-sm" id="check_btn16">
					<i class="fa fa-plus"></i>&nbsp;提交意见
				</button>
			</div>
		</div>
	</div>
</div>
<!-- 上传编制资源配置技术方案 -->
<div class="modal fade" id="checkWin17" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header">
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="checkForm17" onSubmit="return false">
					<div class="row" ng-show="false">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="id"
									required="required" ng-model="checkData.id">
								<label>type</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="1" name="type">
								<label>User</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="sendUser"
									required="required" ng-model="checkData.user2">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>查看技术方案</label>&nbsp;</span> 
								<a href="#" title="点击下载文件" onclick="xh.download(-1,-2)" style="color:red">{{checkData.fileName_GH}}</a>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>查看评估方案:</label>&nbsp;</span> 
								<a href="#" title="点击下载文件" onclick="xh.download(-1,-3)" style="color:red">{{checkData.fileName_Note}}</a>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>查看资源配置方案:</label>&nbsp;</span> 
								<a href="#" title="点击下载文件" onclick="xh.download(-1,0)" style="color:red">{{checkData.fileName}}</a>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>上传协议文件 </label>
								<input type="file" name="filePath" id="filePathXY" class="form-control"/> 
							</div>
							<div class="form-group col-md-4"style="margin-top:30px;" >
							    <input type="hidden" name="result" class="form-control"/> 
							    <input type="hidden" name="fileName"/> 
							    <input type="hidden" name="path"/> 
								<a href="#" onclick="xh.upload(9)" class="btn btn-minier btn-danger">上传</a>&nbsp;&nbsp;
								<span id="uploadResultXY" class="span_result_GH" style="color:red"></span>
							</div>
						</div>
					</div>
					<!-- row-------end -->
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button"
					class="btn btn-success btn-sm" id="check_btn17">
					<i class="fa fa-plus"></i>&nbsp;提交意见
				</button>
			</div>
		</div>
	</div>
</div>
<!-- 内审资源配置技术方案 -->
<div class="modal fade" id="checkWin18" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header">
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="checkForm18" onSubmit="return false">
					<div class="row" ng-show="false">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>ID</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="id"
									required="required" ng-model="checkData.id">
								<label>type</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="1" name="type">
								<label>User</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="sendUser"
									required="required" ng-model="checkData.user2">
								<label>UserRoleId</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="loginUserRoleId"
									required="required" ng-model="loginUserRoleId">
								<label>checkId</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="checkId"
									required="required" ng-model="checkData.checked">
								<label>managerUser</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="managerUser"
									required="required" ng-model="checkData.user1">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>查看技术方案</label>&nbsp;</span> 
								<a href="#" title="点击下载文件" onclick="xh.download(-1,-2)" style="color:red">{{checkData.fileName_GH}}</a>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>查看评估方案:</label>&nbsp;</span> 
								<a href="#" title="点击下载文件" onclick="xh.download(-1,-3)" style="color:red">{{checkData.fileName_Note}}</a>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>查看资源配置方案:</label>&nbsp;</span> 
								<a href="#" title="点击下载文件" onclick="xh.download(-1,0)" style="color:red">{{checkData.fileName}}</a>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>查看协议文件:</label>&nbsp;</span> 
								<a href="#" title="点击下载文件" onclick="xh.download(-1,-4)" style="color:red">{{checkData.fileName}}</a>
							</div>
							
						</div>
					</div>
					<div class="row"  ng-if="checkData.checked == 7">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>管理方备注</label>
								<textarea name="note6" rows="4" cols="10" class="form-control"></textarea>
							</div>
						</div>
					</div>
					<div class="row"  ng-if="checkData.checked >= 8">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>管理方备注</label>
								<textarea name="note6A" rows="4" cols="10" class="form-control" disabled="disabled" ng-model="checkData.note6"></textarea>
							</div>
						</div>
					</div>
					<div class="row"  ng-if="checkData.checked == 8">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>服务方备注</label>
								<textarea name="result" rows="4" cols="10" class="form-control"></textarea>
							</div>
						</div>
					</div>
					<div class="row"  ng-if="checkData.checked == 9">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>服务方备注</label>
								<textarea name="resultA" rows="4" cols="10" class="form-control" disabled="disabled" ng-model="checkData.result"></textarea>
							</div>
						</div>
					</div>
					<div class="row" ng-if="checkData.checked == 9">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>审核意见</label>&nbsp;<span class="text-danger">[*]</span> <select
									 class="form-control" name="checked" id="selectZG">
									<option value="1" selected="selected">审核通过</option>
									<option value="0">拒绝</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row"  ng-if="checkData.checked == 9">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>接入完成管理方备注</label>
								<textarea name="note6B" rows="4" cols="10" class="form-control"></textarea>
							</div>
						</div>
					</div>
					<!-- row-------end -->
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button"
					class="btn btn-success btn-sm" id="check_btn18">
					<i class="fa fa-plus"></i>&nbsp;通知
				</button>
			</div>
		</div>
	</div>
</div>
</script> -->
<script type="text/javascript">
	$("#check_btn1").click(function() {
		$('#checkForm1').submit();
	});
	$("#check_btn2").click(function() {
		$('#checkForm2').submit();
	});
	$("#check_btn3").click(function() {
		$('#checkForm3').submit();
	});
	$("#check_btn4").click(function() {
		$('#checkForm4').submit();
	});
	$("#check_btn5").click(function() {
		$('#checkForm5').submit();
	});
	$("#check_btn6").click(function() {
		$('#checkForm6').submit();
	});
	$("#check_btn7").click(function() {
		$('#checkForm7').submit();
	});
	$("#check_btn8").click(function() {
		$('#checkForm8').submit();
	});
	$("#check_btn9").click(function() {
		$('#checkForm9').submit();
	});
	$("#check_btn10").click(function() {
		$('#checkForm10').submit();
	});
	$("#check_btn11").click(function() {
		$('#checkForm11').submit();
	});
	$("#check_btn12").click(function() {
		$('#checkForm12').submit();
	});
	$("#check_btn13").click(function() {
		$('#checkForm13').submit();
	});
	$("#check_btn14").click(function() {
		$('#checkForm14').submit();
	});
	$("#check_btn15").click(function() {
		$('#checkForm15').submit();
	});
	$("#check_btn16").click(function() {
		$('#checkForm16').submit();
	});
	$("#check_btn17").click(function() {
		$('#checkForm17').submit();
	});
	$("#check_btn18").click(function() {
		$('#checkForm18').submit();
	});
	var faIcon = {
		valid : 'fa fa-check-circle fa-lg text-success',
		invalid : 'fa fa-times-circle fa-lg',
		validating : 'fa fa-refresh'
	};
	//管理部门审核提交
	$('#checkForm1').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.check1();
	});
	//主管部门审核提交
	$('#checkForm2').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.check2();
	});
	//上传编组方案
	$('#checkForm3').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.check3();
	});
	//审核编组方案
	$('#checkForm4').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.check4();
	});
	//审核编组方案
	$('#checkForm5').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.check5();
	});
	//上传公函
	$('#checkForm6').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.check6();
	});
	//上传通知函
	$('#checkForm7').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.check7();
	});
	//上传合同
	$('#checkForm8').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.check8();
	});
	//审核样机入网送检申请（合同附件）
	$('#checkForm9').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.check9();
	});
	//上传采购设备信息
	$('#checkForm10').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.check10();
	});
	//上传采购设备信息
	$('#checkForm11').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.check11();
	});
	//主管部门审核
	$('#checkForm12').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.check12();
	});
	//评估技术方案
	$('#checkForm13').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.check13();
	});
	//
	$('#checkForm14').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.check14();
	});
	//上传编制资源配置技术方案
	$('#checkForm15').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.check15();
	});
	//审核资源配置技术方案
	$('#checkForm16').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.check16();
	});
	//用户上传协议文件
	$('#checkForm17').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.check17();
	});
	//用户上传协议文件
	$('#checkForm18').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.check18();
	});
</script>
<script>
	$(function() {
		$("[data-toggle='tooltip']").tooltip();
	});
</script>