<!DOCTYPE html>
<html>
<head>
<title>入网申请</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<!-- <link rel="stylesheet" type="text/css"
	href="../../lib/layer-master/src/theme/layer.css"> -->
<!--[if lte IE 9]>
<![endif]-->
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
</head>
<body ng-app="app" ng-controller="xhcontroller" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="color-line"></div>
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	
	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span><a href="joinnet.html">业务管理</a></span></li>
							<li class="active"><span>入网申请</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-body" style="padding-top:5px">
							<!-- row -->
							<div class="row">
								<div class="col-md-12">
									<button class="btn btn-success btn-sm" data-toggle="modal"
										data-target="#addJoinNet" ng-if="loginUserRoleId >= 1000 && loginUserRoleId < 10000">
										<i class="fa fa-plus-circle"></i>&nbsp;申请入网
									</button>
									<button class="btn btn-success btn-sm" data-toggle="modal" ng-if="loginUserRoleId >= 10000"
										disabled="disabled" >
										<i class="fa fa-plus-circle"></i>&nbsp;申请入网
									</button>
									<!-- <button class="btn btn-info btn-sm" ng-disabled=""
										ng-click="showEditModel()">
										<i class="fa fa-edit"></i>&nbsp;修改设备记录
									</button>
									<button class="btn btn-danger btn-sm" onclick="xh.delMore()"
										ng-disabled="">
										<i class="fa fa-trash"></i>&nbsp;批量删除记录
									</button> -->
									<button class="btn btn-warning btn-sm" ng-click="refresh()">
										<i class="fa fa-refresh"></i>&nbsp;刷新
									</button>
								</div>
							</div>
							<!-- row -->
						</div>
						<!-- panel-body--end -->
					</div>
					<!-- hpanel --end-->
				</div>
				<!-- col-md-12--end -->
			</div>
			<!-- row/ -->
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-body">
							<table id="tb-info" class="xh-table table-hover"
								ng-model="loginUser">
								<thead>
									<tr class="tr-gray">
										<th>用户单位</th>
										<!-- <th width="170px">单位性质</th> -->
										<th width="170px">服务类型</th>
										<!-- <th>入网依据</th> -->
										<th>入网时间</th>
										<th>审核状态</th>
										<th>操作详情</th>
									</tr>
								</thead>
								<tbody ng-model="loginUserRoleId">
									<tr ng-if="totals==0">
										<td colspan="5" class="text-center">没有记录！</td>
									</tr>
									<tr ng-repeat="x in data">
										<td>{{x.unit1}}</td>
										<!-- <td>{{x.unitNature}}</td> -->
										<td>{{x.serviceType}}</td>
										<!-- <td>{{x.netBasis}}</td> -->
										<td>{{x.nettime}}</td>
										<td ng-if="x.checked==99" class="td-gray">已退网</td>
										<!-- 无线接入流程 -->
										<td ng-if="x.checked==-3 && x.serviceType=='无线接入'" class="td-danger">用户样机入网送检申请（合同附件）方案未通过，请用户重新提交</td>
										<td ng-if="x.checked==-2 && x.serviceType=='无线接入'" class="td-danger">用户确认编组方案未通过，请经办人重新提交</td>
										<td ng-if="x.checked==-1 && x.serviceType=='无线接入'" class="td-danger">主管部门审核未通过，请重新申请</td>
										<td ng-if="x.checked==0 && x.serviceType=='无线接入'" class="td-danger">等待主管部门审核</td>
										<td ng-if="x.checked==1 && x.serviceType=='无线接入'" class="td-danger">主管部门审核通过，经办人领导审核</td>
										<td ng-if="x.checked==2 && x.serviceType=='无线接入'" class="td-danger">等待经办人提交编组方案</td>
										<td ng-if="x.checked==3 && x.serviceType=='无线接入'" class="td-danger">正在审核编组方案</td>
										<td ng-if="x.checked==4 && x.serviceType=='无线接入'" class="td-danger">请用户确认编组方案</td>
										<!-- <td ng-if="x.checked==5 && x.serviceType=='无线接入'" class="td-danger">请用户发送合同附件</td> -->
										<td ng-if="x.checked==6 && x.serviceType=='无线接入'" class="td-danger">请经办人处理（请用户先将入网样机送至软件中心测试）</td>
										<td ng-if="x.checked==7 && x.serviceType=='无线接入'" class="td-danger">等待用户上传采购设备信息</td>
										<td ng-if="x.checked==8 && x.serviceType=='无线接入'" class="td-danger">用户已上传采购设备信息，等待管理方添加用户</td>
										<td ng-if="x.checked==9 && x.serviceType=='无线接入'" class="td-danger">用户已上传采购设备信息，等待交付终端</td>
										<td ng-if="x.checked==10 && x.serviceType=='无线接入'" class="td-danger">管理方已交付终端，等待用户确认</td>
										<td ng-if="x.checked==11 && x.serviceType=='无线接入'" class="td-danger">终端已交付，等待培训</td>
										<td ng-if="x.checked==12 && x.serviceType=='无线接入'" class="td-danger">培训已完成，等待用户确认</td>
										<td ng-if="x.checked==13 && x.serviceType=='无线接入'" class="td-success">无线接入完成</td>
										
										<!-- 有线接入流程 -->
										<td ng-if="x.checked==-2 && x.serviceType=='有线接入'" class="td-danger">主管部门拒绝技术方案，请重新上传</td>
										<td ng-if="x.checked==-1 && x.serviceType=='有线接入'" class="td-danger">有线接入申请已提交，请上传技术方案</td>
										<td ng-if="x.checked==0 && x.serviceType=='有线接入'" class="td-danger">等待主管部门审核</td>
										<td ng-if="x.checked==1 && x.serviceType=='有线接入'" class="td-danger">主管部门审核通过，等待管理方审核</td>
										<td ng-if="x.checked==2 && x.serviceType=='有线接入'" class="td-danger">管理方已上报评估意见，等待主管部门审核</td>
										<td ng-if="x.checked==3 && x.serviceType=='有线接入'" class="td-danger">主管部门审核通过，请管理方上传资源配置方案</td>
										<td ng-if="x.checked==4 && x.serviceType=='有线接入'" class="td-danger">等待管理方内审资源配置方案</td>
										<td ng-if="x.checked==5 && x.serviceType=='有线接入'" class="td-danger">等待用户确认资源配置方案</td>
										<td ng-if="x.checked==6 && x.serviceType=='有线接入'" class="td-danger">等待用户上传（签署协议）</td>
										<td ng-if="x.checked==7 && x.serviceType=='有线接入'" class="td-danger">等待管理方通知</td>
										<td ng-if="x.checked==8 && x.serviceType=='有线接入'" class="td-danger">应用接入中，请等待</td>
										<td ng-if="x.checked==9 && x.serviceType=='有线接入'" class="td-danger">应用接入完成，请等待管理方审核</td>
										<td ng-if="x.checked==10 && x.serviceType=='有线接入'" class="td-success">有线接入完成，请管理方上传协议文件记录</td>
										<td ng-if="x.checked==11 && x.serviceType=='有线接入'" class="td-success">有线接入完成，完成记录</td>
										<td style="text-align:center">										
										
										<!-- 无线接入操作控制 -->
										<a href="#"
											ng-click="toProgress($index)"><i
												class="fa fa-file-text-o text-success"> </i>&nbsp;详情</a>
										<!-- 上传公函 -->		
										<!-- <a ng-if="loginUser==x.userName && x.checked==0 && (x.fileName_GH == '' || x.fileName_GH == null) && x.serviceType=='无线接入'"
											href="#" ng-click="checkWin($index)">| <i
												class="fa fa-upload text-danger"></i>&nbsp;上传公函（可选）</a> -->
										<!-- 查看公函 -->
										<a ng-if="(loginUser==x.userName||loginUserRoleId==10001) && x.checked<=2 && (x.fileName_GH != '' && x.fileName_GH != null)&& x.serviceType=='无线接入'"
											href="#" ng-click="download($index,1)">| <i
												class="fa fa-download text-danger"></i>&nbsp;查看公函</a>
										<!-- 上传通知函 -->
										<a ng-if="loginUser==x.user1 && x.checked==1 && (x.fileName_Note == '' || x.fileName_Note == null)&& x.serviceType=='无线接入'"
											href="#" ng-click="checkWin($index)">| <i
												class="fa fa-upload text-danger"></i>&nbsp;上传通知函（可选）</a>
										<!-- 查看通知函 -->
										<a ng-if="(loginUserRoleId==10001 || loginUserRoleId==10002) && x.checked<4 && (x.fileName_Note != '' && x.fileName_Note != null)&& x.serviceType=='无线接入'"
											href="#" ng-click="download($index,2)">| <i
												class="fa fa-download text-danger"></i>&nbsp;查看通知函</a>
												
										<a ng-if="loginUserRoleId==10001 && x.checked==0 && x.serviceType=='无线接入' 
										|| loginUserRoleId==10002 && x.checked==1 && x.serviceType=='无线接入'
										|| loginUserRoleId==10002 && loginUser==x.user3 && (x.checked==2||x.checked==-2) && x.serviceType=='无线接入'
										|| loginUserRoleId==10002 && loginUser==x.user2 && x.checked==3 && x.serviceType=='无线接入'"
											href="#" ng-click="checkWin($index)">| <i
												class="fa fa-hand-o-down text-danger"></i>&nbsp;审核</a>
										<!-- 确认编组方案 -->
										<a class="text-danger"
											ng-if="loginUser==x.userName && x.checked==4 && x.serviceType=='无线接入'"
											href="#" ng-click="checkWin($index)">|<i
												class="fa fa-hand-o-down text-danger"></i>&nbsp;确认编组方案</a>
										<!-- 上传样机入网送检申请（合同附件） -->
										<!-- <a ng-if="loginUser==x.userName && (x.checked==5 || x.checked==-3) && x.serviceType=='无线接入'"
										href="#" ng-click="checkWin($index)">| <i
												class="fa fa-upload text-danger"></i>&nbsp;上传样机入网送检申请（合同附件）</a> -->	
										<!-- 查看样机入网送检申请（合同附件） -->
										<!-- <a ng-if="loginUser==x.userName && x.checked==6 && (x.fileName_HT != '' || x.fileName_HT != null) && x.serviceType=='无线接入'"
										href="#" ng-click="download($index,4)">| <i
												class="fa fa-download text-danger"></i>&nbsp;查看样机入网送检申请（合同附件）</a> -->
										<!-- 审核样机入网送检申请（合同附件） -->
										<a ng-if="loginUser==x.user3 && x.checked==6 && (x.fileName_HT != '' || x.fileName_HT != null) && x.serviceType=='无线接入'"
										href="#" ng-click="checkWin($index)">| <i
												class="fa fa-download text-danger"></i>&nbsp;办理样机入网送检申请（合同附件）</a>		

										<!-- 上传采购设备信息 -->
										<a ng-if="loginUser==x.userName && x.checked==7 && x.serviceType=='无线接入'"
										href="#" ng-click="checkWin($index)">| <i
												class="fa fa-upload text-danger"></i>&nbsp;上传采购设备信息</a>
										<!-- 查看采购设备信息 -->
										<a ng-if="(loginUser==x.userName || loginUser==x.user3) && x.checked==8 && x.serviceType=='无线接入'"
										href="#" ng-click="download($index,5)">| <i
												class="fa fa-download text-danger"></i>&nbsp;查看采购设备信息</a>
										<!-- 交付终端-->
										<a ng-if="loginUser==x.user3 && x.checked==9 && x.serviceType=='无线接入'"
										href="#" ng-click="checkWin($index)">| <i
												class="fa fa-hand-o-right text-danger"></i>&nbsp;交付终端</a>
										<!-- 确认交付终端-->
										<a ng-if="loginUser==x.userName && x.checked==10 && x.serviceType=='无线接入'"
										href="#" ng-click="checkWin($index)">| <i
												class="fa fa-hand-o-right text-danger"></i>&nbsp;终端接收确认</a>
										<!-- 用户使用培训完成请求-->
										<a ng-if="loginUser==x.user3 && x.checked==11 && x.serviceType=='无线接入'"
										href="#" ng-click="checkWin($index)">| <i
												class="fa fa-hand-o-right text-danger"></i>&nbsp;用户使用培训完成</a>
										<!-- 培训完成确认-->
										<a ng-if="loginUser==x.userName && x.checked==12 && x.serviceType=='无线接入'"
										href="#" ng-click="checkWin($index)">| <i
												class="fa fa-hand-o-right text-danger"></i>&nbsp;培训完成确认</a>
										<!-- 上传“编程底板”文件-->
										<a ng-if="loginUser==x.user3 && x.checked==13 && x.serviceType=='无线接入'"
										href="#" ng-click="checkWin($index)">| <i
												class="fa fa-hand-o-right text-danger"></i>&nbsp;上传编程底板</a>
												
										<!-- 签署协议 -->
										<!-- <a ng-if="loginUserRoleId==10002 && x.checked==12 && x.serviceType=='无线接入'"
										href="#" ng-click="checkSign($index)">| <i
												class="fa fa-pencil-square-o text-warning"></i>&nbsp;签署</a> -->			
										<!-- 下载签署协议 -->
										<!-- <a ng-if="loginUser==x.userName && x.checked==13 && x.serviceType=='无线接入'"
										href="#" ng-click="download($index,3)">| <i
												class="fa fa-download text-warning"></i>&nbsp;下载签署协议</a> -->
										
										<!-- 添加用户 -->
										<a ng-if="loginUser==x.user3 && x.checked>=8 && x.serviceType =='无线接入'"
											href="#" ng-click="addUser($index)">|<i
										 		class="fa fa-user text-success"></i>&nbsp;添加无线用户</a>
										 <!-- 添加无线用户组 -->
										 <a ng-if="loginUser==x.user3 && x.checked>=8 && x.serviceType  =='无线接入'""
										 	href="#" ng-click="addGroup($index)">|<i
										 		class="fa fa-group text-success"></i>&nbsp;添加无线用户组</a>
										 <!-- 无线接入操作控制 -->
										 
										<!-- 有线接入操作控制 -->
										<!-- 上传技术方案 -->		
										<a ng-if="x.serviceType=='有线接入' && loginUser == x.userName && (x.checked==-1 ||x.checked==-2)"
											href="#" ng-click="checkWinYX($index,1)">| <i
												class="fa fa-upload text-danger"></i>&nbsp;上传技术方案</a>
										<!-- 主管部门指定经办人 -->
										<a ng-if="loginUserRoleId==10001 && x.checked==0 && x.serviceType=='有线接入'"
											href="#" ng-click="checkWinYX($index,2)">| <i
												class="fa fa-hand-o-down text-danger"></i>&nbsp;受理</a>
										<!-- 经办人审核 -->
										<a ng-if="loginUserRoleId==10002 && x.checked==1 && x.serviceType=='有线接入'"
											href="#" ng-click="checkWinYX($index,3)">| <i
												class="fa fa-hand-o-down text-danger"></i>&nbsp;评估技术方案</a>
										<!-- 主管部门审核 -->
										<a ng-if="loginUser==x.user1 && x.checked==2 && x.serviceType=='有线接入'"
											href="#" ng-click="checkWinYX($index,4)">| <i
												class="fa fa-hand-o-down text-danger"></i>&nbsp;审核</a>
										<!-- 上传编制资源配置技术方案 -->
										<a ng-if="loginUser==x.user2 && x.checked==3 && x.serviceType=='有线接入'"
											href="#" ng-click="checkWinYX($index,5)">| <i
												class="fa fa-hand-o-down text-danger"></i>&nbsp;上传编制资源配置技术方案</a>
										<!-- 内审资源配置技术方案 -->
										<a ng-if="loginUser==x.user4 && x.checked==4 && x.serviceType=='有线接入'"
											href="#" ng-click="checkWinYX($index,6)">| <i
												class="fa fa-hand-o-down text-danger"></i>&nbsp;审核资源配置技术方案</a>
										<!-- 用户审核资源配置技术方案 -->
										<a ng-if="loginUser==x.userName && x.checked==5 && x.serviceType=='有线接入'"
											href="#" ng-click="checkWinYX($index,6)">| <i
												class="fa fa-hand-o-down text-danger"></i>&nbsp;用户确认资源配置技术方案</a>
										<!-- 用户审核资源配置技术方案 -->
										<!-- <a ng-if="loginUser==x.userName && x.checked==6 && x.serviceType=='有线接入'"
											href="#" ng-click="checkWinYX($index,7)">| <i
												class="fa fa-hand-o-down text-danger"></i>&nbsp;上传协议文件</a> -->
										<!-- 通知服务方安排应用接入-->
										<a ng-if="loginUser==x.user2 && x.checked==7 && x.serviceType=='有线接入'"
											href="#" ng-click="checkWinYX($index,8)">| <i
												class="fa fa-hand-o-down text-danger"></i>&nbsp;通知服务方安排应用接入</a>
										<!-- 通知服务方安排应用接入-->
										<a ng-if="loginUserRoleId==10003 && x.checked==8 && x.serviceType=='有线接入'"
											href="#" ng-click="checkWinYX($index,8)">| <i
												class="fa fa-hand-o-down text-danger"></i>&nbsp;通知管理方接入完成</a>
										<!-- 审核应用接入-->
										<a ng-if="loginUser==x.user2 && x.checked==9 && x.serviceType=='有线接入'"
											href="#" ng-click="checkWinYX($index,8)">| <i
												class="fa fa-hand-o-down text-danger"></i>&nbsp;审核</a>
										<!-- 管理方上传协议文件-->
										<a ng-if="loginUser==x.user2 && x.checked==10 && x.serviceType=='有线接入'"
											href="#" ng-click="checkWinYX($index,7)">| <i
												class="fa fa-hand-o-down text-danger"></i>&nbsp;上传协议文件</a>
										<!-- 有线接入操作控制 -->
									</tr>
								</tbody>
							</table>
							<div class="page">
								<div class="page-info">
									每页显示 <select id="page-limit" ng-change="refresh()"
										ng-model="count">
										<option value="15">15</option>
										<option value="20">20</option>
										<option value="30">30</option>
										<option value="40">40</option>
										<option value="50">50</option>
									</select> 条, <span ng-model="index">显示{{start}}-</span><span
										ng-model="lastIndex">{{lastIndex}}条,</span> <span
										ng-model="totals">总计{{totals}}条</span>
								</div>
								<div class="page-paging"></div>
							</div>
							<!-- row -->
							<div class="row">
								<div class="col-md-12"></div>
							</div>
							<!-- row -->
						</div>
						<!-- panel-body--end -->
						<!-- hpanel --end-->
					</div>
					<!-- col-md-12--end -->
				</div>
				<!-- row/ -->
			</div>
		</div>
	</div>
	<!-- 中间内容体 /-->
	
	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<!-- 添加 -->
	<div ng-include="'joinnet-add.html'"></div>
	<!-- 添加无线用户组 -->
	<div ng-include="'talkgroup-add.html'"></div>
	<!-- 添加无线用户 -->
	<div ng-include="'radiouser-add.html'"></div>
	<!-- 录入 -->
	<div ng-include="'joinnet-register.html'"></div>
	<!-- 进度-->
	<div ng-include="'joinnet-progress.html'"></div>
	<!-- 审核-->
	<div ng-include="'joinnet-check.html'"></div>

	<script type="text/javascript"
		src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
	<script 
		src="http://apps.bdimg.com/libs/angular-file-upload/1.3.1/angular-file-upload.min.js"></script>
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="../../lib/metisMenu/dist/metisMenu.min.js"></script>
	<script type="text/javascript"
		src="../../Resources/js/ajaxfileupload.js"></script>
	<script type="text/javascript"
		src="../../Controllers/business/joinnet.js"></script>
	<script type="text/javascript"
		src="../../lib/layer-master/src/layer.js"></script>
	<script type="text/javascript">
		xh.load();
	</script>
</body>
</html>
