
<div class="modal fade" id="progress" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold"></small>
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
				<ul id="xh-tabs" class="nav nav-tabs">
					<li class="active"><a href="#info" data-toggle="tab">申请人信息</a></li>
					<li><a href="#p-timeline" data-toggle="tab">申请进度</a></li>
				</ul>
				<div class="tab-content" style="padding: 20px">
					<div class="tab-pane fade in active text-danger" id="info">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>用户单位</label><input type="text" ng-model="checkData.unit1"
										class="form-control" name="unitName" required="required"
										disabled="disabled">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>单位性质</label> <input type="text"
										ng-model="checkData.unitType1" class="form-control"
										name="unitNature" required="required" disabled="disabled">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>用户类型</label> <input type="text"
										ng-model="checkData.userType1" class="form-control"
										name="unitType" required="required" disabled="disabled">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>入网依据</label> <input type="text"
										ng-model="checkData.netBasis" class="form-control"
										name="netBasis" required="required" disabled="disabled">
								</div>
							</div>
						</div>
						<!-- row-------end -->
						<div class="row">
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>入网时间</label> <input type="text"
										ng-model="checkData.nettime" class="form-control"
										name="netTime" required="required" disabled="disabled">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>合同名称</label> <input type="text"
										ng-model="checkData.pactName" class="form-control"
										name="pactName" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>合同签署日期</label> <input type="text"
										ng-model="checkData.signtime" class="form-control"
										name="signtime" required="required" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>服务期限</label><input type="text"
										ng-model="checkData.servicetime" class="form-control"
										name="servicetime" required="required" disabled="disabled">
								</div>
							</div>
						</div>
						<!-- row-------end -->
						<div class="row">
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>单位负责人</label><input type="text"
										ng-model="checkData.unitPerson" class="form-control"
										name="unitPerson" required="required" disabled="disabled">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>联系电话</label> <input type="text" ng-model="checkData.tel"
										class="form-control" name="tel" required="required"
										disabled="disabled">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>联系部门</label><input type="text"
										ng-model="checkData.department" class="form-control"
										name="department" required="required" disabled="disabled">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>虚拟专网名称</label> <input type="text"
										ng-model="checkData.virtualnetName" class="form-control"
										name="virtualnetName" required="required" disabled="disabled">
								</div>
							</div>
						</div>
						<!-- row-------end -->
						<div class="row">
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>服务类型</label> <input type="text"
										ng-model="checkData.serviceType" class="form-control"
										name="serviceType" required="required" disabled="disabled">
								</div>
							</div>
						</div>
					</div>
					<!-- tab-pane--end -->
					<div class="tab-pane fade text-danger" id="p-timeline"
						style="background: #e9f0f5; margin: 0;" ng-model="progressData" ng-if="progressData.serviceType=='有线接入'">
						<div id="cd-timeline" class="cd-container">
							<div class="cd-timeline-block">
								<div class="cd-timeline-img-first cd-green">开始</div>
								<div class="cd-timeline-content">
									<h2>用户提交审核信息</h2>
									<p ng-if="progressData.checked>=0">
											<span>技术方案：</span>
											<a href="#" title="点击下载文件" onclick="xh.download(0,-2)" style="color: red">{{progressData.fileName_GH}}</a>
									</p>
									<p>
										<span>提交时间：{{progressData.netTime}}</span>
									</p>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<0"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=0"></div>
									<div class="cd-timeline-content">
										<h2>主管部门审核</h2>
										<p>
											<span>备注：</span><span>{{progressData.note1}}</span>
										</p>
										<span ng-if="progressData.checked==0"
											class="cd-date text-danger">等待审核！</span> <span
											ng-if="progressData.checked>0"
											class="cd-date text-success font-bold text-x">已经审核;
											审核时间：{{progressData.time1}}</span>
									</div>
								</div>
							</div>
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<2"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=2"></div>
								<div class="cd-timeline-content">
									<h2>经办人评估技术方案</h2>
									<p ng-if="progressData.checked>=2">
											<span>查看评估方案：</span>
											<a href="#" title="点击下载文件" onclick="xh.download(-1,-3)" style="color: red">{{progressData.fileName_Note}}</a>
									</p>
									<p>
										<span>备注：</span><span>{{progressData.note2_suggest}}</span>
									</p>
									<span ng-if="progressData.checked<2"
										class="cd-date text-danger">等待处理！</span> <span
										ng-if="progressData.checked>=2"
										class="cd-date text-success font-bold">已上传评估附件;
										时间：{{progressData.time6}}</span>
								</div>
							</div>
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<4"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=4"></div>
								<div class="cd-timeline-content">
									<h2>主管部门审核评估技术方案</h2>
									<p>
										<span>备注：</span><span>{{progressData.note2}}</span>
									</p>
									<span ng-if="progressData.checked<4"
										class="cd-date text-danger">等待处理！</span> <span
										ng-if="progressData.checked>=4"
										class="cd-date text-success font-bold">通过审核评估附件;
										</span>
								</div>
							</div>
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<5"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=5"></div>
								<div class="cd-timeline-content">
									<h2>管理方上传资源配置方案</h2>
									<p ng-if="progressData.checked>=5">
											<span>查看资源配置方案：</span>
											<a href="#" title="点击下载文件" onclick="xh.download(-1,0)" style="color: red">{{progressData.fileName}}</a>
									</p>
									<p>
										<span>备注：</span><span>{{progressData.note2}}</span>
									</p>
									<span ng-if="progressData.checked<5"
										class="cd-date text-danger">等待处理！</span> <span
										ng-if="progressData.checked>=5"
										class="cd-date text-success font-bold">已上传资源配置方案;
										</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<6"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=6"></div>
								<div class="cd-timeline-content">
									<h2>用户确认资源配置方案</h2>
									<span ng-if="progressData.checked<6"
										class="cd-date text-danger">等待处理！</span> <span
										ng-if="progressData.checked>=6"
										class="cd-date text-success font-bold">用户确认资源配置方案完成;
										</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<10"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=10"></div>
								<div class="cd-timeline-content">
									<h2>等待服务方安排应用接入</h2>
									<span ng-if="progressData.checked<10"
										class="cd-date text-danger">等待处理！</span> <span
										ng-if="progressData.checked>=10"
										class="cd-date text-success font-bold">应用接入完成;
										</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img-first cd-gray"
									ng-if="progressData.checked<12">结束</div>
								<div class="cd-timeline-img-first cd-green"
									ng-if="progressData.checked>=12">结束</div>
							</div>
						</div>
					</div>
					
					<div class="tab-pane fade text-danger" id="p-timeline"
						style="background: #e9f0f5; margin: 0;" ng-model="progressData" ng-if="progressData.serviceType=='无线接入'">
						<div id="cd-timeline" class="cd-container">
							<div class="cd-timeline-block">
								<div class="cd-timeline-img-first cd-green">开始</div>
								<div class="cd-timeline-content">
									<h2>用户提交审核信息</h2>
									<p>
										<span>提交时间：{{progressData.netTime}}</span>
									</p>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<1"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=1"></div>
									<div class="cd-timeline-content">
										<h2>主管部门审核</h2>
										
										<p ng-if="(loginUserRoleId==10001 || loginUserRoleId==10002) && progressData.checked<4 && (progressData.fileName_Note != '' && progressData.fileName_Note != null)&& progressData.serviceType=='无线接入'">
											<span>通知函：</span>
											<a href="#" title="点击下载文件" onclick="xh.download(0,2)" style="color: red">{{progressData.fileName_Note}}</a>
										</p>
										<p>
											<span>备注：</span><span>{{progressData.note1}}</span>
										</p>
										<span ng-if="progressData.checked==0"
											class="cd-date text-danger">等待审核！</span> <span
											ng-if="progressData.checked>0"
											class="cd-date text-success font-bold text-x">已经审核;
											审核时间：{{progressData.time1}}</span>
									</div>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<2"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=2"></div>
								<div class="cd-timeline-content">
									<h2>软件产业发展中心领导审核</h2>
									
									<p>
										<span>备注：</span><span>{{progressData.note2}}</span>
									</p>
									<span ng-if="progressData.checked<2"
										class="cd-date text-danger">等待处理！</span> <span
										ng-if="progressData.checked>=2"
										class="cd-date text-success font-bold">已经安排专人进行编组方案拟定;
										时间：{{progressData.time2}}</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<3"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=3"></div>
								<div class="cd-timeline-content">
									<h2>经办人处理，制定编组方案提交领导审核</h2>
									<p>
										<span>备注：</span><span>{{progressData.note3}}</span>
									</p>
									<span ng-if="progressData.checked<3"
										class="cd-date text-danger">等待处理！</span> <span
										ng-if="progressData.checked>=3"
										class="cd-date text-success font-bold">编组方案提交至领导处审核;
										时间：{{progressData.time3}}</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<4"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=4"></div>
								<div class="cd-timeline-content">
									<h2>管理方领导审核编组方案</h2>
									<p>
										<span>备注：</span><span>{{progressData.note4}}</span>
									</p>
									<span ng-if="progressData.checked<4"
										class="cd-date text-danger">等待管理方领导审核编组方案！</span> <span
										ng-if="progressData.checked>=4"
										class="cd-date text-success font-bold">编组方案已审核完成，等待用户确认;
										时间：{{progressData.time4}}</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<5"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=5"></div>
								<div class="cd-timeline-content">
									<h2>用户确认编组方案</h2>
									<a ng-if="progressData.checked>=4" href="#" title="点击下载文件"
										onclick="xh.download(-1,0)" style="color: red">{{progressData.fileName}}</a>
									<p>
										<span>备注：</span><span>{{progressData.note5}}</span>
									</p>
									<span ng-if="progressData.checked<5"
										class="cd-date text-danger">等待确认编组方案</span> <span
										ng-if="progressData.checked>=5"
										class="cd-date text-success font-bold">编组方案已经确认;
										时间：{{progressData.time5}}</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<7"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=7"></div>
								<div class="cd-timeline-content">
									<h2>经办人办理样机入网送检申请（合同附件）</h2>
									<p>
										<span>备注：</span><span>{{progressData.note6}}</span>
									</p>
									<span ng-if="progressData.checked<7"
										class="cd-date text-danger">等待办理</span> <span
										ng-if="progressData.checked>=7"
										class="cd-date text-success font-bold">经办人已办理;
										时间：{{progressData.time6}}</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<8"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=8"></div>
								<div class="cd-timeline-content">
									<h2>用户上传采购设备信息</h2>
									<a ng-if="progressData.checked>=8" href="#" title="点击下载文件"
										onclick="xh.download(-1,5)" style="color: red">{{progressData.fileName_CG}}</a>
									<span ng-if="progressData.checked<8"
										class="cd-date text-danger">等待办理</span> <span
										ng-if="progressData.checked>=8"
										class="cd-date text-success font-bold">用户已上传;
										时间：{{progressData.time7}}</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<10"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=10"></div>
								<div class="cd-timeline-content">
									<h2>用户已上传采购设备信息，等待管理方交付终端</h2>
									<span ng-if="progressData.checked<10"
										class="cd-date text-danger">等待办理</span> <span
										ng-if="progressData.checked>=10"
										class="cd-date text-success font-bold">终端已交付;
										时间：{{progressData.time8}}</span>
								</div>
							</div>
								<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<11"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=11"></div>
								<div class="cd-timeline-content">
									<h2>用户确认接收终端</h2>
									<span ng-if="progressData.checked<11"
										class="cd-date text-danger">等待用户确认</span> <span
										ng-if="progressData.checked>=11"
										class="cd-date text-success font-bold">用户已经确认收到终端，
										时间：{{progressData.time9}}</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<12"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=12"></div>
								<div class="cd-timeline-content">
									<h2>终端已交付，等待培训</h2>
									<span ng-if="progressData.checked<12"
										class="cd-date text-danger">等待办理</span> <span
										ng-if="progressData.checked>=12"
										class="cd-date text-success font-bold">培训完成 ;
										时间：{{progressData.time10}}</br>
										培训地点：{{progressData.pxAddress}}</br>
										培训时间：{{progressData.pxTime}}</br>
										培训人数：{{progressData.pxNumOfPeople}}
										</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<13"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=13"></div>
								<div class="cd-timeline-content">
									<h2>等待用户确认培训培训</h2>
									<span ng-if="progressData.checked<13"
										class="cd-date text-danger">等待办理</span> <span
										ng-if="progressData.checked>=13"
										class="cd-date text-success font-bold">用户已经确认 ;</br>
										时间：{{progressData.time10}}</br>
										</span>
								</div>
							</div>
						<!-- cd-timeline-block end-->
						<div class="cd-timeline-block">
							<div class="cd-timeline-img-first cd-gray"
								ng-if="progressData.checked<13">结束</div>
							<div class="cd-timeline-img-first cd-green"
								ng-if="progressData.checked>=13">结束</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger btn-sm"
				data-dismiss="modal">
				<i class="fa fa-remove"></i>&nbsp;关闭
			</button>
			<button type="button" class="btn btn-success btn-sm" id="saveHT_btn"
				data-dismiss="modal" ng-if="loginUserRoleId == 10002">
				<i class="fa fa-plus"></i>&nbsp;保存
			</button>
			<button type="button" class="btn btn-success btn-sm"
				data-dismiss="modal" disabled="disabled"
				ng-if="loginUserRoleId != 10002">
				<i class="fa fa-plus"></i>&nbsp;保存
			</button>
		</div>
	</div>
</div>
</div>

