
<div class="modal fade" id="progress" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold"></small>
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
				<ul id="xh-tabs" class="nav nav-tabs">
					<li class="active"><a href="#info" data-toggle="tab">申请人信息</a></li>
					<li><a href="#p-timeline" data-toggle="tab">申请进度</a></li>
				</ul>
				<div class="tab-content" style="padding: 20px">
					<div class="tab-pane fade in active text-danger" id="info">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>用户单位</label><input type="text"
										ng-model="editData.unitName" class="form-control"
										name="unitName" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>单位性质</label> <input type="text"
										ng-model="editData.unitNature" class="form-control"
										name="unitNature" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>单位类型</label> <input type="text"
										ng-model="editData.unitType" class="form-control"
										name="unitType" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>入网依据</label> <input type="text"
										ng-model="editData.netBasis" class="form-control"
										name="netBasis" required="required">
								</div>
							</div>
						</div>
						<!-- row-------end -->
						<div class="row">
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>入网时间</label> <input type="text"
										ng-model="editData.nettime" class="form-control"
										name="netTime" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>合同名称</label> <input type="text"
										ng-model="editData.pactName" class="form-control"
										name="pactName" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>合同签署日期</label> <input type="text"
										ng-model="editData.signtime" class="form-control"
										name="signtime" required="required" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>服务期限</label><input type="text"
										ng-model="editData.servicetime" class="form-control"
										name="servicetime" required="required">
								</div>
							</div>
						</div>
						<!-- row-------end -->
						<div class="row">
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>单位负责人</label><input type="text"
										ng-model="editData.unitPerson" class="form-control"
										name="unitPerson" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>联系电话</label> <input type="text" ng-model="editData.tel"
										class="form-control" name="tel" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>联系部门</label><input type="text"
										ng-model="editData.department" class="form-control"
										name="department" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>虚拟专网名称</label> <input type="text"
										ng-model="editData.virtualnetName" class="form-control"
										name="virtualnetName" required="required">
								</div>
							</div>
						</div>
						<!-- row-------end -->
						<div class="row">
							<div class="col-md-3">
								<div class="form-group col-md-12">
									<label>服务类型</label> <input type="text"
										ng-model="editData.serviceType" class="form-control"
										name="serviceType" required="required">
								</div>
							</div>
						</div>
					</div>
					<!-- tab-pane--end -->
					<div class="tab-pane fade text-danger" id="p-timeline"
						style="background: #e9f0f5; margin: 0;" ng-model="progressData">
						<div id="cd-timeline" class="cd-container">
							<div class="cd-timeline-block">
								<div class="cd-timeline-img-first cd-green">开始</div>
								<div class="cd-timeline-content">
									<h2>用户提交审核信息</h2>
									<p>
										<span>备注：</span><span>{{progressData.note}}</span>
									</p>
									<span class="cd-date text-success font-bold text-x">
										提交时间：{{progressData.time}}</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block" ng-if="progressData.checked==-1">
								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-gray"></div>
									<div class="cd-timeline-content">
										<h2>主管部门审核</h2>
										<p>
											<span>备注：</span><span>{{progressData.note1}}</span>
										</p>
										<span 
											class="cd-date text-warning">申请被拒绝！</span>
									</div>
								</div>
							</div>
							<div class="cd-timeline-block" ng-if="progressData.checked!=-1">
								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-gray"
										ng-if="progressData.checked==0"></div>
									<div class="cd-timeline-img cd-green"
										ng-if="progressData.checked>0"></div>
									<div class="cd-timeline-content">
										<h2>主管部门审核</h2>
										<p>
											<span>备注：</span><span>{{progressData.note1}}</span>
										</p>
										<span ng-if="progressData.checked==0"
											class="cd-date text-danger">等待审核！</span> <span
											ng-if="progressData.checked>0"
											class="cd-date text-success font-bold text-x">已经审核;
											审核时间：{{progressData.time1}}</span>
									</div>
								</div>
								<!-- cd-timeline-block end-->
								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-gray"
										ng-if="progressData.checked<1"></div>
									<div class="cd-timeline-img cd-green"
										ng-if="progressData.checked>=1"></div>
									<div class="cd-timeline-content">
										<h2>软件产业发展中心领导审核</h2>
										<p>
											<span>备注：</span><span>{{progressData.note2}}</span>
										</p>
										<span ng-if="progressData.checked<1"
											class="cd-date text-danger">等待处理！</span> <span
											ng-if="progressData.checked>=1"
											class="cd-date text-success font-bold">已经安排专人进行编组方案拟定;
											时间：{{progressData.time2}}</span>
									</div>
								</div>
								<!-- cd-timeline-block end-->
								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-gray"
										ng-if="progressData.checked<2"></div>
									<div class="cd-timeline-img cd-green"
										ng-if="progressData.checked>=2"></div>
									<div class="cd-timeline-content">
										<h2>经办人处理，制定编组方案提交领导审核</h2>
										<p>
											<span>备注：</span><span>备注内容</span>
										</p>
										<span ng-if="progressData.checked<2"
											class="cd-date text-danger">等待处理！</span> <span
											ng-if="progressData.checked>=2"
											class="cd-date text-success font-bold">编组方案提交至领导处审核;
											时间：{{progressData.time2}}</span>
									</div>
								</div>
								<!-- cd-timeline-block end-->
								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-gray"
										ng-if="progressData.checked<3"></div>
									<div class="cd-timeline-img cd-green"
										ng-if="progressData.checked>=3"></div>
									<div class="cd-timeline-content">
										<h2>管理方领导审核编组方案</h2>
										<p>
											<span>备注：</span><span>备注内容</span>
										</p>
										<span ng-if="progressData.checked<3"
											class="cd-date text-danger">等待管理方领导审核编组方案！</span> <span
											ng-if="progressData.checked>=3"
											class="cd-date text-success font-bold">编组方案已审核完成，等待用户确认;
											时间：{{progressData.time2}}</span>
									</div>
								</div>
								<!-- cd-timeline-block end-->
								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-gray"
										ng-if="progressData.checked<4"></div>
									<div class="cd-timeline-img cd-green"
										ng-if="progressData.checked>=4"></div>
									<div class="cd-timeline-content">
										<h2>用户确认编组方案是否可行</h2>
										<a ng-if="progressData.checked>=4" href="#" title="点击下载文件"
											onclick="xh.download()" style="color: red">{{progressData.fileName}}</a>
										<p>
											<span>备注：</span><span>备注内容</span>
										</p>
										<span ng-if="progressData.checked<4"
											class="cd-date text-danger">等待确认编组方案</span> <span
											ng-if="progressData.checked>=4"
											class="cd-date text-success font-bold">编组方案已经确认;
											时间：{{progressData.time2}}</span>
									</div>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img-first cd-gray"
									ng-if="progressData.checked<5">结束</div>
								<div class="cd-timeline-img-first cd-green"
									ng-if="progressData.checked>=5">结束</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="modal-footer">
			<button type="button" class="btn btn-danger btn-sm"
				data-dismiss="modal">
				<i class="fa fa-remove"></i>&nbsp;关闭
			</button>
		</div> -->
	</div>
</div>