
<div class="modal fade" id="progress" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold"></small>
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
				<ul id="xh-tabs" class="nav nav-tabs">
					<li class="active"><a href="#info" data-toggle="tab">申请人信息</a></li>
					<li><a href="#p-timeline" data-toggle="tab">申请进度</a></li>
				</ul>
				<div class="tab-content" style="padding: 20px">
					<div class="tab-pane fade in active text-danger" id="info">
						<div class="row">
							<div class="col-md-4">
								<div class="form-group col-md-12">
									<label>联系人</label>&nbsp;<span class="text-danger">[*]</span> <input
										type="text" value="" class="form-control"
										ng-model="progressData.name" required="required" disabled="disabled">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group col-md-12">
									<label>联系方式</label>&nbsp;<span class="text-danger">[*]</span> <input
										type="text" value="" class="form-control"
										ng-model="progressData.tel" required="required" disabled="disabled">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group col-md-12">
									<label>预计归还时间</label>&nbsp;<span class="text-danger">[*]</span> <input
										type="text" value="" class="form-control"
										ng-model="progressData.backTime" required="required"
										onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" disabled="disabled">
								</div>
							</div>
						</div>
						<!-- row-------end -->
						<div class="row">
							<div class="col-md-6">
								<div class="form-group col-md-12">
									<label>使用区域</label>
										<textarea rows="3" cols="6" class="form-control" name="zone" ng-model="progressData.zone" disabled="disabled"></textarea>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group col-md-12">
									<label>需求描述</label>
									<textarea rows="3" cols="6" class="form-control" name="requirementDes" ng-model="progressData.requirementDes" disabled="disabled"></textarea>
								</div>
							</div>
						</div>
						<!-- row-------end -->
						<div class="row">
							<div class="col-md-6">
								<div class="form-group col-md-12">
									<label>租借原因</label>
									<textarea rows="3" cols="6" class="form-control"
										ng-model="progressData.reason" disabled="disabled"></textarea>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group col-md-12">
									<label>备注</label>
									<textarea rows="3" cols="6" class="form-control"
										ng-model="progressData.note" disabled="disabled"></textarea>
								</div>
							</div>
						</div>
						<!-- row-------end -->
					</div>
					<!-- tab-pane--end -->
					<div class="tab-pane fade text-danger" id="p-timeline"
						style="background: #e9f0f5; margin: 0;">
						<div id="cd-timeline" class="cd-container">
							<div class="cd-timeline-block">
								<div class="cd-timeline-img-first cd-green">开始</div>
								<div class="cd-timeline-content">
									<h2>用户提交租借申请信息</h2>
									<p>
										<span>备注：</span><span>{{progressData.note}}</span>
									</p>
									<span class="cd-date text-success font-bold text-x">
										提交时间：{{progressData.time}}</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<1"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=1"></div>
								<div class="cd-timeline-content">
									<h2>领导审核，并指定经办人</h2>
									<p>
										<span>备注：</span><span>{{progressData.note1}}</span>
									</p>
									<span ng-if="progressData.checked<1"
										class="cd-date text-danger">等待审核！</span> <span
										ng-if="progressData.checked>=1"
										class="cd-date text-success font-bold text-x">已经审核;
										</br>时间：{{progressData.time1}}</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<2"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=2"></div>
								<div class="cd-timeline-content">
									<h2>经办人整理设备清单</h2>

									<span ng-if="progressData.checked<2"
										class="cd-date text-danger">等待处理！</span> <span
										ng-if="progressData.checked>=2"
										class="cd-date text-success font-bold">租借清单已经整理，等待领导审核;</br>
										时间：{{progressData.time2}}</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<3"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=3"></div>
								<div class="cd-timeline-content">
									<h2>领导审核租借清单</h2>
									<p>
										<span>备注：</span><span>{{progressData.note2}}</span>
									</p>
									<span ng-if="progressData.checked<3"
										class="cd-date text-danger">等待处理！</span> <span
										ng-if="progressData.checked>=3"
										class="cd-date text-success font-bold">清单审核用过等待用户确认租借清单;</br>
										时间：{{progressData.time3}}</span>
								</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.checked<4"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.checked>=4"></div>
								<div class="cd-timeline-content">
									<h2>用户确认租借清单</h2>

									<span ng-if="progressData.checked<4"
										class="cd-date text-danger">等待确认</span> <span
										ng-if="progressData.checked>=4"
										class="cd-date text-success font-bold">已经确认;</br>
										时间：{{progressData.time4}}
										</span>
								</div>
							</div>

							<div class="cd-timeline-block">
								<div class="cd-timeline-img-first cd-gray"
									ng-if="progressData.checked<5">结束</div>
								<div class="cd-timeline-img-first cd-green"
									ng-if="progressData.checked>=4">结束</div>
							</div>
						</div>
					</div>
					<!-- <div class="tab-pane fade text-danger" id="order"
						style="background: #e9f0f5; margin: 0;">
							<button type="button" class="btn btn-danger btn-sm"
									data-dismiss="modal">
									<i class="fa fa-remove"></i>&nbsp;关闭
							</button>
							<button type="button"
									class="btn btn-warning btn-sm" id="check_btn3" onclick="clk_check_btn3();" ng-if="loginUser==checkData.user">
									<i class="fa fa-remove"></i>&nbsp;批量归还设备
							</button>
							<button type="button"
									class="btn btn-warning btn-sm" id="check_btn4" onclick="clk_check_btn4();" ng-if="loginUser==checkData.user1">
									<i class="fa fa-remove"></i>&nbsp;批量确认归还设备
							</button>
						<form action="#" id="checkForm3" onSubmit="return false">
							<table id="tb-info" class="xh-table table-hover">
								<thead>
									<tr class="tr-gray">
										<th width="30px"><input type="checkbox"
											id="table-checkbox" class="table-check" ng-model="selectAll" ng-click="all(selectAll)"/></th>
										<th>设备类别</th>
										<th>名称</th>
										<th>型号</th>
										<th>序列号</th>
										<th>状态</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-if="lendTotals==0">
										<td colspan="7" class="text-center">租借清单为空，请前往添加</td>
									</tr>
									<tr ng-repeat="x in dataLend">
										<td><input type="checkbox" name="tb-check"
												value="{{x.serialNumber}}" index="{{$index}}" ng-if="x.status==1 || (x.status==3 && loginUser==checkData.user1)"
												ng-checked="selectAll" ng-model="dataItem.state"/></td>
										<td>{{x.type}}</td>
										<td>{{x.name}}</td>
										<td>{{x.model}}</td>
										<td>{{x.serialNumber}}</td>
										<td ng-if="x.status==0">已归还</td>
										<td ng-if="x.status==1">在借</td>
										<td ng-if="x.status==2">等待验收</td>
										<td ng-if="x.status==3">归还审核中</td>
										<td><a ng-if="x.status==2 && loginUser==checkData.user" href="#"
												ng-click="checkSuccess($index,1)"><i
												class="fa fa-check text-success"></i>验收 </a>
											<a ng-if="x.status==1 && loginUser==checkData.user" href="#"
												ng-click="checkSuccess($index,3)"><i
												class="fa fa-check text-success"></i>归还设备</a>
											<a ng-if="x.status==3 && loginUser==checkData.user1" href="#"
												ng-click="checkSuccess($index,0)"><i
												class="fa fa-check text-success"></i>确认归还设备</a>
											<a ng-if="x.status==0" href="#">#</a>
										</td>
									</tr>
								</tbody>
							</table>
						</form>

					</div> -->
					<!-- tab-pane--end -->
				</div>
			</div>
		</div>
		<!-- <div class="modal-footer">
			<button type="button" class="btn btn-danger btn-sm"
				data-dismiss="modal">
				<i class="fa fa-remove"></i>&nbsp;关闭
			</button>
		</div> -->
	</div>
</div>