<!DOCTYPE html>
<html>
<head>
<title>月度年度考核</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<script type="text/javascript" src="../../jquery.min.js"></script>
<script type="text/javascript" src="../../pageoffice.js" id="po_js_main"></script>
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
</head>
<body ng-app="app" ng-controller="xhcontroller" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>

	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>运维管理</span></li>
							<li><a href="../menu/menu_operations.html" target="_self"><span>服务监管</span></a></li>
							<li><a href="operations_check.html" target="_self"><span>月度考核</span></a></li>
							<li class="active"><span>提交文件</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">


			<!-- row -->
			<div class="row">

				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-heading hbuilt">提交文件</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-12">
									<label>考核期数</label> <select name="type" class="form-control">
										<option value="3" selected="selected">三期</option>
										<option value="4">四期</option>
									</select>

								</div>
								<!-- <div class="form-group col-md-12">
                                    <label>考核月份</label> <input type="text" class="form-control"
                                        ng-model="time" name="month"
                                        onfocus="WdatePicker({dateFmt:'yyyy-MM'})" placeholder="请选择时间"
                                        onblur="xh.searchScore(this.value)" ng-change="checkcut()">

                                </div> -->
								<div class="form-group col-md-12">
									<label>考核月份</label> <input type="text" class="form-control"
										ng-model="time" name="month"
										onfocus="WdatePicker({dateFmt:'yyyy-MM'})" placeholder="请选择时间"
										ng-blur="checkcut()">

								</div>
							</div>
							<!--  row -->
							<!-- row -->
							<div class="row">
								<form action="#" id="fileForm" onSubmit="return false"
									enctype="multipart/form-data" method="POST">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group col-md-9" style="padding-right:0px;">

												<label style="color:red">考核文件（注:选择月份后会显示相应月份的文件，考核文件数量不足时上传新的考核文件，支持批量上传）
												<a class="btn btn-sm btn-danger"href="#" ng-click="showFileWin()">添加文件</a></label>
											
												<p style="color:blue">
												提示：
												考核申请需要提交以下文件：
												<span style="color:green">【运维服务团队通讯录】,【运维资源配置表】,
												【本月计划维护作业完成情况】,【下月计划维护作业】,【系统运行维护服务月报】,
												【基站信息表】,【运维故障统计】,【备品备件表】,【定期维护报告-交换中心月维护】,
												【定期维护报告-基站月维护】,
												【系统日常维护表,巡检记录汇总表】，【故障核减申请书】，【通信保障报告】</span></br>
												
												以上考核文件中有3个文件不能由平台生成，
												需要相关人员手动上传这3个文件：【系统运行维护服务月报】，【运维故障统计】，【系统日常维护表】；
												其他相关文件请到相关页面点击生成文件。
												
												</p>


												<!-- <input type="file"
													name="filePath" id="filePath" class="form-control" /> -->
												<input class="form-control" type="file" multiple="multiple"
													id="pathName" name="pathName" onchange="upFile()"
													style="display: none;" />

											</div>
											<div class="col-md-4">
												<div class="hpanel">
													<div class="panel-heading head-blue">
														当前系统中存在核减文件数{{bscheck_fileTotal}}</div>
													<div class="panel-body">

														<ul>
															<li ng-repeat="x in bscheck_files"
																style="margin-top:10px;"><span
																style="margin-right:10px;"
																ng-click="previewDoc(x.filePath)"><a href="#"
																	style="color:red">预览</a></span> <img
																src="../../Resources/images/icon/16/doc.png"> <span>{{x.fileName}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<!-- <span>在线预览</span> -->
															</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="hpanel">
													<div class="panel-heading head-blue">
														当前系统中存在通信保障报告文件数{{ensure_fileTotal}}</div>
													<div class="panel-body">
														<ul>
															<li ng-repeat="x in ensure_files"
																style="margin-top:10px;"><span
																style="margin-right:10px;"
																ng-click="previewDoc(x.filePath)"><a href="#"
																	style="color:red">预览</a></span> <img
																src="../../Resources/images/icon/16/doc.png"> <span>{{x.fileName}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<!-- <span>在线预览</span> -->
															</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="hpanel">
													<div class="panel-heading head-blue">
														其他考核文件数{{fileTotal}}</div>
													<div class="panel-body">
														<div class="col-md-12">
															<div ng-if="com_size>0" class="alert alert-danger alert-dismissable">
																<button type="button" class="close" data-dismiss="alert"
																	aria-hidden="true">&times;</button>
																系统中缺少{{com_size}}个考核文件：{{com}},请点击添加文件并上传
															</div>
															<ul>
																<li ng-repeat="x in files" style="margin-top:10px;">
																	<span style="margin-right:10px;"
																	ng-click="editDoc(x.filePath)"><a href="#"
																		style="color:red">预览</a></span> <img
																	ng-if="x.doc=='doc' || x.doc=='docx'"
																	src="../../Resources/images/icon/16/doc.png"> <img
																	ng-if="x.doc=='xls' || x.doc=='xlsx'"
																	src="../../Resources/images/icon/16/xls.png"> <img
																	ng-if="x.doc=='pdf'"
																	src="../../Resources/images/icon/16/pdf.png"> <img
																	ng-if="x.doc=='jpeg'"
																	src="../../Resources/images/icon/16/jpeg.png"> <span>{{x.fileName}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<!-- <span>在线预览</span> -->
																</li>
															</ul>
														</div>

													</div>
												</div>
											</div>

										</div>

										<div class="col-md-12" ng-show="false">
											<div id="fileArea">
												<ul>
													<li ng-repeat="x in files"
														style='border-bottom:1px solid #000; width:50%;margin-top:10px;'>
														<span>{{x.fileName}}</span> <span class='path'
														style='display:none;' id='filepath55{$index}'>{{x.filePath |replaceFilePath}}</span>
														<span style='color:blue;margin-left:20px;cursor:pointer'
														class='down-file'>下载</span> <span
														style='color:blue;margin-left:10px;cursor:pointer'
														class='look-file'>预览</span>
													</li>


												</ul>
											</div>
										</div>


									</div>
									<div class="row">
										<div class="col-md-12" style="padding-left:30px;">
											<span style="color:red;" id="uploadResult"></span>
										</div>
									</div>
								</form>
							</div>
							<!-- row -->

							<!-- <div class="row" ng-show="false">
								<div class="col-md-12">
									<div class="form-group col-md-12">
										<input type="hidden" name="fileName" value="" /> <input
											type="hidden" name="path" value="" /> <input type="hidden"
											name="result" value="" />
									</div>
								</div>
							</div> -->
							<!--     row -->


						</div>
						<!-- panel-body--end -->
						<div class="panel-footer">
							<!-- row -->
							<div class="row" style="margin-top:20px;">
								<div class="btn-group col-md-12">
									<button type="button" class="btn btn-success btn-block"
										onclick="xh.add()" id="add-apply-btn">
										<i class="fa fa-plus"></i>&nbsp;提交考核文件
									</button>

								</div>
								<!-- <div class="btn-group col-md-6">
									<button type="button" class="btn btn-danger btn-block"
										ng-click="toback()">返回</button>

								</div> -->
							</div>
						</div>
						<!-- hpanel --end-->
					</div>
					<!-- col-md-12--end -->
				</div>
				<!-- row/ -->
			</div>
		</div>
	</div>
	<!-- 中间内容体 /-->

	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>





	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="../../Resources/js/ajaxfileupload.js"></script>
	<script type="text/javascript"
		src="../../Controllers/business/operations_check_add.js"></script>
	<script type="text/javascript">
		$(document).on("click", ".del-file", function() {
			$(this).parent().remove();
		})
		xh.load();
	</script>
	<script>
		var fileNum = 0;
		function upFile() {
			var type = $("select[name='type']").val();
			var month = $("input[name='month']").val();
			var name = $("input[name=pathName]").val();
			var mm = $("input[name=pathName]").get(0).files;
			var allFile = $("input[name=pathName]").get(0).files;
			upload(type, month);

		}
		function upload(type, month) {
			if ($('#pathName').val() == "") {
				alert("请选择需要上传的文件！");
				return false;
			}
			if ($("input[name='month']").val() == "") {
				alert("请先选择考核月份");
				return false;
			}
			var files = [];
			var filestr="";
			$("#fileArea ul li").each(function(index) {
				var name = $(this).children().first().text();
				var path = $(this).children(".path").text();
				if (name != "" && path != "") {
					
					files.push(name);
				}

			});
			$("input[name='result']").val(2);
			xh.maskShow("正在上传文件，请耐心等待");
			$.ajaxFileUpload({
						url : '../../check/upload/batch/file', //用于文件上传的服务器端请求地址
						secureuri : false, //是否需要安全协议，一般设置为false
						fileElementId : 'pathName', //文件上传域的ID
						dataType : 'json', // 返回值类型 一般设置为json
						type : 'POST',
						data : {
							type : type,
							month : month,
							files : files.join(",")

						},
						success : function(data, status) //服务器成功响应处理函数
						{
							xh.maskHide();
							if (data.success) {
								var allFile = data.rs;
								for (var i = 0; i < allFile.length; i++) {
									var size = 0;
									if (allFile[i].size > 1024 * 1024) {
										size = (Math.round(allFile[i].size
												/ (1024 * 1024))).toString()
												+ 'MB';
									} else {
										size = (Math
												.round(allFile[i].size / 1024))
												.toString()
												+ 'KB';
									}

									var str = "";
									str += "<li style='border-bottom:1px solid #000; width:50%;margin-top:10px;'>";
									str += "<span>" + allFile[i].fileName
											+ "</span>";
									str += "<span class='path' style='display:none;' id='filepath"+allFile[i].index+"'>"
											+ allFile[i].filePath + "</span>";
									str += "<span>(" + size + ")</span>"
									str += "<span style='color:red;margin-left:20px' id='upresult"+allFile[i].index+"'>文件上传成功</span>"
									str += "<span style='color:blue;margin-left:20px;cursor:pointer' class='del-file' >删除</span>"
									str += "</li>";
									// console.log(allFile[i].fileName+":="+xh.isAdded(allFile[i].fileName))
									if (xh.isAdded(allFile[i].fileName) == 0) {
										$("#fileArea ul").append(str);
									} else {
										//$("#fileArea ul").append(str);
									}

								}

								toastr.success("文件上传结束", '提示');
								xh.refreshFile();
							} else {
								toastr.error("文件上传失败", '提示');
								$("#" + r).html("文件上传失败");
							}

						},
						error : function(data, status, e)//服务器响应失败处理函数
						{
							alert(e);
							xh.maskHide();
						}
					});
		}
	</script>
</body>
</html>
