<!DOCTYPE html>
<html>
<head>
<title>月度考核</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
	<link rel="stylesheet" href="../../lib/layer-master/src/theme/layer.css"> 
	<script type="text/javascript" src="../../jquery.min.js"></script>  
<script type="text/javascript" src="../../pageoffice.js" id="po_js_main"></script>
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
</head>
<body ng-app="app" ng-controller="xhcontroller" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>

	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>运维管理</span></li>
							<li><a href="../menu/menu_operations.html" target="_self"><span>服务监管</span></a></li>
							<li><a href="operations_check.html" target="_self"><span>月度考核</span></a></li>
							<li class="active"><span>填写扣款</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">


			<!-- row -->
			<div class="row">

				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-body">
						<div class="row">
                                <div class="col-md-12">
                                    <p>
                                        <a href="#" ng-click="searchFile('运维故障统计')">参考资料</a>
                                    </p>
                                </div>
                            </div>
							
							<!--  row -->
							<div class="row">
								<div class="col-md-12">
									<div ng-include="'operations_check_add_money.html'"></div>
									

								</div>
							</div>
							<!--  row -->
						</div>
						<!-- panel-body--end -->
						<div class="panel-footer">
							<!-- row -->
							<div class="row" style="margin-top:20px;">
								<div class="btn-group col-md-12">
									<button type="button" class="btn btn-success btn-block"
										onclick="xh.add()" id="add-apply-btn">提交</button>

								</div>
								<!-- <div class="btn-group col-md-6">
									<button type="button" class="btn btn-danger btn-block"
										ng-click="toback()">返回</button>

								</div> -->
							</div>
						</div>
						<!-- hpanel --end-->
					</div>
					<!-- col-md-12--end -->
				</div>
				<!-- row/ -->
			</div>
		</div>
	</div>
	<!-- 中间内容体 /-->

	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>

	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
		 <script type="text/javascript" src="../../lib/layer-master/dist/layer.js"></script>
	<script type="text/javascript"
		src="../../Controllers/business/operations_check_write4_money.js"></script>
		
    <script type="text/javascript">
    xh.load();
    </script>

	
</body>
</html>
