
<!-- row -->
<div class="row">

	<div class="col-md-12">
		<div class="hpanel">
			<div class="panel-heading hbuilt">申请列表</div>
			<div class="panel-body">

				<table id="tb-info" class="xh-table table-hover"
					ng-model="loginUser">
					<thead>
						<tr class="tr-gray">
							<th>申请人</th>
							<th>联系方式</th>

							<th width="90px">考核月份</th>
							<th width="90px">考核期数</th>
							<th width="170px">申请时间</th>
							<th>备注</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="totals==0">
							<td colspan="8" class="text-center">没有记录！</td>
						</tr>
						<tr ng-repeat="x in data">
							<td>{{x.userName}}</td>
							<td>{{x.tel}}</td>


							<td>{{x.checkMonth}}</td>
							<td>{{x.type}}</td>
							<td>{{x.createTime}}</td>
							<td>{{x.comment}}</td>
							<td
								ng-class="{ 'td-danger': x.status==-1, 'td-success': x.status==5,'td-primary': x.status!=-1 && x.status!=5 }">
								<span ng-if="x.status==-1">考核文件被拒绝了</span> <span
								ng-if="x.status==0">文档准备中</span> <span ng-if="x.status==1">文件审核通过，等待文件签章</span>
								<span ng-if="x.status==2">文件已签章，等待管理方确认并通知会议时间</span> <span
								ng-if="x.status==3">已通知服务提供方会议安排</span> <span
								ng-if="x.status==4">服务提供方确认已经收到会议通知</span> <span
								ng-if="x.status==5">本次运维考核工作圆满完成</span>
							</td>
							<td style="text-align:center">
								<!-- o_check_operations_check --> <!-- <a href="#"
                                            ng-click="toProgress($index)"><i
                                                class="fa fa-file-text-o text-success"> </i>&nbsp;进度&nbsp;</a> -->
								<a href="#" ng-click="showFileWin($index)">&nbsp;<img
									src="../../Resources/images/icon/eye.png">查看考核文件
							</a> <a href="#" ng-click="editDoc($index,1)"
								ng-if="(x.type==3 && x.score3_fileName!=null) || (x.type==4 && x.score4_fileName!=null)">|&nbsp;<img
									src="../../Resources/images/icon/file.png">考核表
							</a> <a href="#" ng-click="editDoc($index,2)"
								ng-if="(x.type==3 && x.money3_fileName!=null) || (x.type==4 && x.money4_fileName!=null)">|&nbsp;<img
									src="../../Resources/images/icon/file.png">扣款表
							</a> <a href="#" ng-click="showFile($index,3)">|&nbsp;<img
									src="../../Resources/images/icon/file.png">查看会议纪要
							</a> <a href="#" ng-click="addFile($index)"
								ng-if="userL.roleType==0 ||(up.o_add=='on' && userL.roleType==3 && x.status<5)">|&nbsp;<img
									src="../../Resources/images/icon/add.png"><span
									style="">增加考核文件</span></a> <a href="#"
								ng-click="sealComplete($index)"
								ng-if="userL.roleType==0 ||(up.o_check_operations_check=='on' && userL.roleType==3 && x.status==0)">|&nbsp;<img
									src="../../Resources/images/icon/tell.png"><span
									style="">通知管理方</span></a> <a href="#"
								ng-click="showSureFileWin($index)"
								ng-if="userL.roleType==0 ||(up.o_check_operations_check=='on' && userL.roleType==2 && x.status==2)">|&nbsp;<img
									src="../../Resources/images/icon/sure.png"><span
									style="">通知例会时间</span></a> <a href="#"
								ng-click="sureMeet($index)"
								ng-if="userL.roleType==0 ||(userL.roleType==3 && x.status==3)">|&nbsp;<img
									src="../../Resources/images/icon/sure.png"><span
									style="">确认例会通知</span></a> <a href="#"
								ng-click="recordScore($index)"
								ng-if="userL.roleType==0 ||(x.status<5 && up.o_check_operations_check=='on')">|&nbsp;<img
									src="../../Resources/images/icon/record.png"><span
									style="">记录扣分</span></a> <a href="#"
								ng-click="recordMoney($index)"
								ng-if="userL.roleType==0 ||(x.status<5 && up.o_check_operations_check=='on')">|&nbsp;<img
									src="../../Resources/images/icon/record.png"><span
									style="">记录扣款</span></a> <a href="#"
								ng-click="write_meet($index,1)"
								ng-if="userL.roleType==0 ||
                                        (up.o_check_operations_check=='on' && x.status<5 && x.isMeetDocSign==0)">
									|&nbsp;<img src="../../Resources/images/icon/edit.png"><span
									style="">填写会议纪要</span>
							</a> <!-- <a href="#" ng-click="showCheckWin($index)" ng-if="userL.roleType==0 ||(up.o_check_operations_check=='on' && userL.roleType==3 && x.status==0)">|&nbsp;<img src="../../Resources/images/icon/check.png"><span style="">审核文件</span></a> -->
								<a href="#" ng-click="showSignWin($index)"
								ng-if="userL.roleType==0 ||(up.o_check_operations_check=='on' && userL.roleType==3 && x.status<5)">|&nbsp;<img
									src="../../Resources/images/icon/seal.png"><span
									style="">考核文件签章</span></a> <!-- <a href="#" ng-click="upScoreAndMoney($index)" ng-if="userL.roleType==0 ||(x.status==4)">|&nbsp;<img src="../../Resources/images/icon/tijiao.png"><span style="">提交扣分扣款</span></a>
										<a href="#" ng-click="sureScoreAndMoney($index)" ng-if="userL.roleType==0 ||(up.o_check_operations_check=='on' && userL.roleType==2 && x.status==5)">|&nbsp;<img src="../../Resources/images/icon/sure.png"><span style="">确认扣分扣款信息</span></a> -->
								<a href="#" ng-click="showScoreMoneySignWin($index)"
								ng-if="userL.roleType==0 ||
										(up.o_check_operations_check=='on' && x.status<5)">
									|&nbsp;<img src="../../Resources/images/icon/seal.png"><span
									style="">扣分扣款文件签章</span>
							</a> <a href="#" ng-click="write_meet($index,2)"
								ng-if="userL.roleType==0 ||
                                        (up.o_check_operations_check=='on' && x.status<5)">
									|&nbsp;<img src="../../Resources/images/icon/seal.png"><span
									style="">会议纪要签章</span>

							</a> <a href="#" ng-click="upScoreAndMoney($index)"
								ng-if="up.o_check_operations_check=='on' && x.status<5">|&nbsp;<img
									src="../../Resources/images/icon/tijiao.png"><span
									style="">考核结束</span></a>
							</td>
						</tr>
					</tbody>
				</table>
				
				<!-- row -->
			</div>
			<!-- panel-body--end -->
			<!-- hpanel --end-->
		</div>
		<!-- col-md-12--end -->
	</div>
	<!-- row/ -->
</div>
