<!DOCTYPE html>
<html>
<head>
<title>月度年度考核申请</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<link rel="stylesheet" type="text/css"
	href="../../lib/layer-master/src/theme/layer.css">
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
<style type="text/css">
.form-control {
	border: 0px;
}
</style>
</head>
<body ng-app="app" ng-controller="xhcontroller" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>

	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>资产管理</span></li>
							<li><a href="../menu/menu_operations.html" target="_self"><span>服务监管</span></a></li>
							<li><a href="operations_check.html" target="_self"><span>月度年度考核</span></a></li>
							<li class="active"><span>申请</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">

			<!-- row -->

			<!-- row -->
			<div class="row">

				<div class="col-md-12">
					<div class="hpanel">
						<!-- <div class="panel-heading hbuilt">资产列表</div> -->
						<div class="panel-body">
							<h3 class="text-center">成都市应急指挥调度无线通信网四期工程服务项目</h3>
							<h5 class="text-center">{{time}}服务扣款表</h5>
						<form action="#" id="addForm" onsubmit="return false">
							<table id="tb-info" class="xh-table-primary table-hover">
								<thead>
									<tr class="tr-gray">
										<th>考核项</th>
										<th>分项</th>
										<th>标准</th>
										<th width="100px">服务费扣款</th>
										<th width="200px">备注</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td rowspan="4">服务可用率</td>
										<td>交换中心可用率</td>

										<td>可用率全年99.999%，全年不超过5分钟，超过每分钟扣除50000元</td>
										<td><input class="form-control" name="service_msc"
											ng-model="data.service_msc" /></td>
										<td><input class="form-control" name="service_msc_note"
											ng-model="data.service_msc_note" /></td>
									</tr>
									<tr>
										<td rowspan="3">单基站可用率（桥接站或地铁互联设备按一级基站考核）</td>
										<td>一级基站可用率全年99.99%，全年不超过1小时，超过每小时扣除1000元</td>
										<td><input class="form-control" name="service_singlebs1"
											ng-model="data.service_singlebs1" /></td>
										<td><input class="form-control" name="service_singlebs1_note"
											ng-model="data.service_singlebs1_note" /></td>
									</tr>
									<tr>
										<td>二级基站可用率全年99.95%，全年不超过5小时，超过每小时扣除1000元</td>
										<td><input class="form-control" name="service_singlebs2"
											ng-model="data.service_singlebs2" /></td>
										<td><input class="form-control" name="service_singlebs2_note"
											ng-model="data.service_singlebs2_note" /></td>
									</tr>
									<tr>
										<td>三级基站可用率全年99.95%，全年不超过9小时，超过每小时扣除1000元</td>
										<td><input class="form-control" name="service_singlebs3"
											ng-model="data.service_singlebs3" /></td>
										<td><input class="form-control" name="service_singlebs3_note"
											ng-model="data.service_singlebs3_note" /></td>
									</tr>
									<tr>
										<td rowspan="2">故障控制</td>
										<td>重大故障</td>
										<td>每发生1次扣除10000元</td>
										<td><input class="form-control" name="fault_ctl1"
											ng-model="data.fault_ctl1" /></td>
										<td><input class="form-control" name="fault_ctl1_note"
											ng-model="data.fault_ctl1_note" /></td>
									</tr>
									<tr>
										<td>特别重大故障</td>
										<td>每发生1次扣除20000元</td>
										<td><input class="form-control" name="fault_ctl2"
											ng-model="data.fault_ctl2" /></td>
										<td><input class="form-control" name="fault_ctl2_note"
											ng-model="data.fault_ctl2_note" /></td>
									</tr>
									<tr>
										<td rowspan="3">故障通报时间</td>
										<td>特别重大故障</td>
										<td>每超出5分钟扣除500元</td>
										<td><input class="form-control" name="fault_port_time1"
											ng-model="data.fault_port_time1" /></td>
										<td><input class="form-control" name="fault_port_time1_note"
											ng-model="data.fault_port_time1_note" /></td>
									</tr>
									<tr>
										<td>重大故障</td>
										<td>每超出5分钟扣除200元</td>
										<td><input class="form-control" name="fault_port_time2"
											ng-model="data.fault_port_time2" /></td>
										<td><input class="form-control" name="fault_port_time2_note"
											ng-model="data.fault_port_time2_note" /></td>
									</tr>
									<tr>
										<td>一般故障</td>
										<td>每超出5分钟扣除100元</td>
										<td><input class="form-control" name="fault_port_time3"
											ng-model="data.fault_port_time3" /></td>
										<td><input class="form-control" name="fault_port_time3_note"
											ng-model="data.fault_port_time3_note" /></td>
									</tr>
									<tr>
										<td>用户服务响应</td>
										<td></td>
										<td>超出要求时间扣除1000元</td>
										<td><input class="form-control" name="user_service"
											ng-model="data.user_service" /></td>
										<td><input class="form-control" name="user_service_note"
											ng-model="data.user_service_note" /></td>
									</tr>
									<tr>
										<td>用户培训服务</td>
										<td></td>
										<td>全年培训少于2次，每次扣50000元</td>
										<td><input class="form-control" name="user_train"
											ng-model="data.user_train" /></td>
										<td><input class="form-control" name="user_train_note"
											ng-model="data.user_train_note" /></td>
									</tr>
									<tr>
										<td>应急通信保障</td>
										<td></td>
										<td>开通时间每超1小时扣5000元，每发生1次事故扣10000元</td>
										<td><input class="form-control" name="emergency1"
											ng-model="data.emergency1" /></td>
										<td><input class="form-control" name="emergency1_note"
											ng-model="data.emergency1_note" /></td>
									</tr>
									<tr>
										<td>应急通信保障演练</td>
										<td></td>
										<td>每季度完成1次，每缺1次扣10000元</td>
										<td><input class="form-control" name="emergency2"
											ng-model="data.emergency2" /></td>
										<td><input class="form-control" name="emergency2_note"
											ng-model="data.emergency2_note" /></td>
									</tr>
									<tr>
										<td>系统应急处置演练</td>
										<td></td>
										<td>每季度完成1次，每缺1次扣10000元</td>
										<td><input class="form-control" name="emergency3"
											ng-model="data.emergency3" /></td>
										<td><input class="form-control" name="emergency3_note"
											ng-model="data.emergency3_note" /></td>
									</tr>
									<tr>
										<td>运维资料</td>
										<td></td>
										<td>每缺1项扣500元</td>
										<td><input class="form-control" name="information"
											ng-model="data.information" /></td>
										<td><input class="form-control" name="information_note"
											ng-model="data.information_note" /></td>
									</tr>
									<tr>
										<td>安全保密</td>
										<td></td>
										<td>每发生1次泄密事件扣50000元</td>
										<td><input class="form-control" name="security"
											ng-model="data.security" /></td>
										<td><input class="form-control" name="security_note"
											ng-model="data.security_note" /></td>
									</tr>
									<tr>
										<td>其他要求</td>
										<td></td>
										<td>基站搬迁及卫星链路开通</td>
										<td><input class="form-control" name="other"
											ng-model="data.other" /></td>
										<td><input class="form-control" name="other_note"
											ng-model="data.other_note" /></td>
									</tr>
									<tr>
										<td>合计扣款</td>
										<td colspan="4">{{sum}}</td>
									</tr>



								</tbody>
							</table>
							
							</form>


							<!-- row -->

							<!-- row -->
							<div class="row" style="margin-top:20px;">
								<div class="btn-group col-md-6">
									<button type="button" class="btn btn-success btn-block"
										onclick="xh.add()" id="add-apply-btn">提交考核结果</button>

								</div>
								<div class="btn-group col-md-6">
									<button type="button" class="btn btn-danger btn-block"
										ng-click="toback()">返回</button>

								</div>
							</div>

						</div>
						<!-- panel-body--end -->
						<!-- hpanel --end-->
					</div>
					<!-- col-md-12--end -->
				</div>
				<!-- row/ -->
			</div>
		</div>
	</div>
	<!-- 中间内容体 /-->





	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="../../Resources/js/ajaxfileupload.js"></script>
	<script type="text/javascript"
		src="../../Controllers/business/operations_check_create.js"></script>
	<script type="text/javascript"
		src="../../lib/layer-master/src/layer.js"></script>
	<script type="text/javascript">
		xh.load();
		
		function OnInput(event) {
			//alert ("The new content: " + event.target.value);
			xh.searchDetail()
		}
		// Internet Explorer
		function OnPropChanged(event) {
			if (event.propertyName.toLowerCase() == "value") {
				// alert ("The new content: " + event.srcElement.value);
				xh.xh.searchDetail()
			}
		}
	</script>

</body>
</html>
