
<div class="modal fade" id="signWin" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold">文件列表</small>
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">

				<div class="row">
					<div class="col-md-12">
						<!-- <table>
							<tr ng-repeat="x in detailData.files">
								<td>{{x.fileName}}</td>
								<td><span ng-if="x.isSeal==1" class="text-danger">已签</span>
									<span ng-if="x.isSeal==0">未签</span></td>
								<td><a href="#" ng-click="sealDoc(x.id,x.filePath)">签章</a>
								</td>
							</tr>
						</table> -->
						
						
						<table>
                                <thead>
                                <tr><th>序号</th><th>文件名称</th><th>是否存在</th><th>状态</th><th>签章</th></tr>
                                </thead>
                                    <tr ng-repeat="x in detailData.files">
                                    <td>{{$index+1}}</td>
                                        <td>{{x.fileName}}</td>
                                        <td>
                                        <span style="color:red" ng-if="x.ishas==true">是</span>
                                        </td>
                                        <td>
                                        <span ng-if="x.isSeal==1" class="text-danger">已签</span>
                                    <span ng-if="x.isSeal==0">未签</span>
                                        </td>
                                        <td>
                                        
                                        <a ng-if="x.ishas==true" href="#" ng-click="sealDoc(x.id,x.filePath)">签章</a> 
                                        </td>
                                    </tr>
                                </table>
						
					</div>

				</div>



			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>


<div class="modal fade" id="ScoreMoneySignWin" tabindex="-1"
	role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold">文件列表</small>
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">

				<div class="row">
					<div class="col-md-12">
						<table>
							<tr>
								<td>{{fileName_score}}</td>
								<td><a href="#" ng-click="sealScoreMoneyDoc(1)">签章</a></td>
							</tr>
							<tr>
								<td>{{fileName_money}}</td>
								<td><a href="#" ng-click="sealScoreMoneyDoc(2)">签章</a></td>
							</tr>
						</table>
					</div>

				</div>



			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-danger btn-sm"
                    ng-click="sealScoreMoneyComplete()" ng-if="userL.roleType==0 ||
                                        (up.o_check_operations_check=='on' && userL.roleType==3 && checkData.status==6)">
                    完成签章
                </button>
			<button type="button" class="btn btn-success btn-sm"
                     ng-click="sealScoreMoneyComplete()" ng-if="userL.roleType==0 ||
                                        (up.o_check_operations_check=='on' && userL.roleType==2 && checkData.status==7)">
                    完成签章
                </button>
                
				
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="showPicWin" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body pad-0" style="margin:2px;padding:2px;">

                <div class="row">
                    <div class="col-md-12">
                        <img alt="" style="max-width:950px;max-height:600px;" ng-src="{{img_src}}">
                    </div>

                </div>



            </div>
        </div>
    </div>
</div>