
<div class="modal fade" id="progress" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold"></small>
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
				
				<div class="tab-content" style="padding: 20px">
					
					<!-- tab-pane--end -->
					<div class="tab-pane fade in active" id="p-timeline"
						style="background: #e9f0f5; margin: 0;">

						<div id="cd-timeline" class="cd-container" class="col-md-12">
							<div class="cd-timeline-block">
								<div class="cd-timeline-img-first cd-green">开始</div>
								<div class="cd-timeline-content">
									<h2>提交考核申请</h2>									
									<p>
										<span>联系人:</span><span>{{progressData.userName}}</span>
									</p>
									<p>
                                        <span>联系方式:</span><span>{{progressData.tel}}</span>
                                    </p>
                                    <p>
                                        <span>考核月份:</span><span>{{progressData.checkMonth}}</span>
                                    </p>
									<span class="cd-date text-success font-bold text-x"> </br>时间：{{progressData.createTime}}
									</span>
								</div>
							</div>


							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div ng-class="{true:'cd-timeline-img cd-gray',false:'cd-timeline-img cd-green'}
								[progressData.status<=0]"></div>
								<div class="cd-timeline-content">
									<h2>服务提供方领导审核</h2>
									<p>
                                        <span>时间：</span><span>{{progressData.checkTime}}</span>
                                    </p>
									<p>
										<span>备注：</span><span>{{progressData.note1}}</span>
									</p>
									
								</div>
							</div>
							<!-- cd-timeline-block end-->
                            <div class="cd-timeline-block">
                                <div ng-class="{true:'cd-timeline-img cd-gray',false:'cd-timeline-img cd-green'}
                                [progressData.status<=1]"></div>
                                <div class="cd-timeline-content">
                                    <h2>服务提供方领导签章</h2>
                                    <p>
                                        <span>时间：</span><span>{{progressData.checkTime2}}</span>
                                    </p>
                                    
                                    
                                </div>
                            </div>
                            <!-- cd-timeline-block end-->
                            <div class="cd-timeline-block">
                                <div ng-class="{true:'cd-timeline-img cd-gray',false:'cd-timeline-img cd-green'}
                                [progressData.status<=2]"></div>
                                <div class="cd-timeline-content">
                                    <h2>管理方通知会议时间</h2>
                                    <p>
                                       <span>时间：</span><span>{{progressData.checkTime3}}</span>
                                    </p>
                                    <p>
                                       <span>{{progressData.comment}}</span>
                                    </p>
                                    
                                    
                                </div>
                            </div>
                            <!-- cd-timeline-block end-->
                            <div class="cd-timeline-block">
                                <div ng-class="{true:'cd-timeline-img cd-gray',false:'cd-timeline-img cd-green'}
                                [progressData.status<=3]"></div>
                                <div class="cd-timeline-content">
                                    <h2>服务提供方确认会议通知</h2>
                                    <p>
                                       <span>时间：</span><span>{{progressData.checkTime4}}</span>
                                    </p>
                                    
                                    
                                </div>
                            </div>
                             <!-- cd-timeline-block end-->
                            <div class="cd-timeline-block">
                                <div ng-class="{true:'cd-timeline-img cd-gray',false:'cd-timeline-img cd-green'}
                                [progressData.status<=4]"></div>
                                <div class="cd-timeline-content">
                                    <h2>服务提供方提交扣分扣款</h2>
                                    <h2>双方提交会议纪要</h2>
                                    <p>
                                       <span>时间：</span><span>{{progressData.checkTime5}}</span>
                                    </p>                           
                                </div>
                            </div>
                            <!-- cd-timeline-block end-->
                            <div class="cd-timeline-block">
                                <div ng-class="{true:'cd-timeline-img cd-gray',false:'cd-timeline-img cd-green'}
                                [progressData.status<=5]"></div>
                                <div class="cd-timeline-content">
                                    <h2>管理方确认扣分扣款</h2>
                                    <p>
                                       <span>时间：</span><span>{{progressData.checkTime6}}</span>
                                    </p>                           
                                </div>
                            </div>
                            <!-- cd-timeline-block end-->
                            <div class="cd-timeline-block">
                                <div ng-class="{true:'cd-timeline-img cd-gray',false:'cd-timeline-img cd-green'}
                                [progressData.status<=6]"></div>
                                <div class="cd-timeline-content">
                                    <h2>服务提供方对扣分扣款文件签章</h2>
                                    <h2>双方对会议纪要文件签章</h2> 
                                    <p>
                                       <span>时间：</span><span>{{progressData.checkTime7}}</span>
                                    </p>                           
                                </div>
                            </div>
                            <!-- cd-timeline-block end-->
                            <div class="cd-timeline-block">
                                <div ng-class="{true:'cd-timeline-img cd-gray',false:'cd-timeline-img cd-green'}
                                [progressData.status<=7]"></div>
                                <div class="cd-timeline-content">
                                    <h2>管理方对扣分扣款文件签章</h2>
                                    <h2>双方对会议纪要文件签章</h2> 
                                    <p>
                                       <span>时间：</span><span>{{progressData.checkTime8}}</span>
                                    </p>                           
                                </div>
                            </div>
                             <!-- cd-timeline-block end-->
                           <!--  <div class="cd-timeline-block">
                                <div ng-class="{true:'cd-timeline-img cd-gray',false:'cd-timeline-img cd-green'}
                                [progressData.status<=8]"></div>
                                <div class="cd-timeline-content">
                                    <h2>管理方填写会议纪要</h2>                          
                                </div>
                            </div> -->
                               <!-- cd-timeline-block end-->
                            <!-- <div class="cd-timeline-block">
                                <div ng-class="{true:'cd-timeline-img cd-gray',false:'cd-timeline-img cd-green'}
                                [progressData.status<=9]"></div>
                                <div class="cd-timeline-content">
                                    <h2>服务提供方对会议纪要文件签章</h2>                          
                                </div>
                            </div> -->
                                <!-- cd-timeline-block end-->
                            <div class="cd-timeline-block">
                                <div ng-class="{true:'cd-timeline-img-first cd-gray',false:'cd-timeline-img-first cd-green'}
                                [progressData.status<8]">结束</div>
                                <div class="cd-timeline-content">
                                    <h2>运维考核工作结束</h2>                          
                                </div>
                            </div>
					
						</div>
					</div>

					<!-- tab-pane--end -->
					<div class="tab-pane fade" id="asset">
						<!-- row -->
						<div class="row">

							<div class="col-md-12">
								<div class="hpanel">
									<!-- <div class="panel-heading hbuilt">资产列表</div> -->
									<div class="panel-body">
										<h3 class="text-center">成都市应急指挥调度无线通信网四期工程服务项目</h3>
										<h5 class="text-center">{{progressData.checkMonth}}服务扣款表</h5>
										<table id="tb-info" class="xh-table-primary table-hover">
											<thead>
												<tr class="tr-gray">
													<th>考核项</th>
													<th>分项</th>
													<th>标准</th>
													<th width="100px">服务费扣款</th>
													<th width="200px">备注</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td rowspan="4">服务可用率</td>
													<td>交换中心可用率</td>

													<td>可用率全年99.999%，全年不超过5分钟，超过每分钟扣除50000元</td>
													<td>{{detailData.service_msc}}</td>
													<td>{{detailData.service_msc_note}}</td>
												</tr>
												<tr>
													<td rowspan="3">单基站可用率（桥接站或地铁互联设备按一级基站考核）</td>
													<td>一级基站可用率全年99.99%，全年不超过1小时，超过每小时扣除(三期：300元),(四期：1000元)</td>
													<td>{{service_singlebs1}}</td>
													<td>{{detailData.service_singlebs1_note}}</td>
												</tr>
												<tr>
													<td>二级基站可用率全年99.95%，全年不超过5小时，超过每小时扣除(三期：300元),(四期：1000元)</td>
													<td>{{detailData.service_singlebs2}}</td>
													<td>{{detailData.service_singlebs2_note}}</td>
												</tr>
												<tr>
													<td>三级基站可用率全年99.95%，全年不超过9小时，超过每小时扣除(三期：300元),(四期：1000元)</td>
													<td>{{detailData.service_singlebs3}}</td>
													<td>{{detailData.service_singlebs3_note}}</td>
												</tr>
												<tr>
													<td rowspan="2">故障控制</td>
													<td>重大故障</td>
													<td>每发生1次扣除10000元</td>
													<td>{{detailData.fault_ctl1}}</td>
													<td>{{detailData.fault_ctl1_note}}</td>
												</tr>
												<tr>
													<td>特别重大故障</td>
													<td>每发生1次扣除20000元</td>
													<td>{{detailData.fault_ctl2}}</td>
													<td>{{detailData.fault_ctl2_note}}</td>
												</tr>
												<tr>
													<td rowspan="3">故障通报时间</td>
													<td>特别重大故障</td>
													<td>每超出5分钟扣除500元</td>
													<td>{{detailData.fault_port_time1}}</td>
													<td>{{detailData.fault_port_time1_note}}</td>
												</tr>
												<tr>
													<td>重大故障</td>
													<td>每超出5分钟扣除200元</td>
													<td>{{detailData.fault_port_time2}}</td>
													<td>{{detailData.fault_port_time2_note}}</td>
												</tr>
												<tr>
													<td>一般故障</td>
													<td>每超出5分钟扣除100元</td>
													<td>{{detailData.fault_port_time3}}</td>
													<td>{{detailData.fault_port_time3_note}}</td>
												</tr>
												<tr>
													<td>用户服务响应</td>
													<td></td>
													<td>超出要求时间扣除1000元</td>
													<td>{{detailData.user_service}}</td>
													<td>{{detailData.user_service_note}}</td>
												</tr>
												<tr>
													<td>用户培训服务</td>
													<td></td>
													<td>全年培训少于2次，每次扣50000元</td>
													<td>{{detailData.user_train}}</td>
													<td>{{detailData.user_train_note}}</td>
												</tr>
												<tr>
													<td>应急通信保障</td>
													<td></td>
													<td>开通时间每超1小时扣5000元，每发生1次事故扣10000元</td>
													<td>{{detailData.emergency1}}</td>
													<td>{{detailData.emergency1_note}}</td>
												</tr>
												<tr>
													<td>应急通信保障演练</td>
													<td></td>
													<td>每季度完成1次，每缺1次扣10000元</td>
													<td>{{detailData.emergency2}}</td>
													<td>{{detailData.emergency2_note}}</td>
												</tr>
												<tr>
													<td>系统应急处置演练</td>
													<td></td>
													<td>每季度完成1次，每缺1次扣10000元</td>
													<td>{{detailData.emergency3}}</td>
													<td>{{detailData.emergency3_note}}</td>
												</tr>
												<tr>
													<td>运维资料</td>
													<td></td>
													<td>每缺1项扣500元</td>
													<td>{{detailData.information}}</td>
													<td>{{detailData.information_note}}</td>
												</tr>
												<tr>
													<td>安全保密</td>
													<td></td>
													<td>每发生1次泄密事件扣50000元</td>
													<td>{{detailData.security}}</td>
													<td>{{detailData.security_note}}</td>
												</tr>
												<tr>
													<td>其他要求</td>
													<td></td>
													<td>基站搬迁及卫星链路开通</td>
													<td>{{detailData.other}}</td>
													<td>{{detailData.other_note}}</td>
												</tr>
												<tr>
													<td>合计扣款</td>
													<td colspan="4">{{sum}}元</td>
												</tr>



											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

						<!-- row -->
					</div>
					<!-- tab-pane--end -->
					<div class="tab-pane" id="score">
						<div ng-include="'operations_check_score.html'"></div>
					</div>
					<!-- tab-pane--end -->
					<div class="tab-pane" id="money">
						<div ng-include="'operations_check_money.html'"></div>
					</div>
					<!-- tab-pane--end -->
				</div>
			</div>
		</div>
		<!-- <div class="modal-footer">
			<button type="button" class="btn btn-danger btn-sm"
				data-dismiss="modal">
				<i class="fa fa-remove"></i>&nbsp;关闭
			</button>
		</div> -->
	</div>
</div>