<!-- 审核 -->
<div class="modal fade" id="checkWin2" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-llg">
		<div class="modal-content">
			<!-- <div class="color-line"></div> -->
			<div class="modal-header"></div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="checkForm2" onSubmit="return false">
					<div class="row" ng-show="false">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>ID</label><input type="text" value=""
									class="form-control" name="id" required="required"
									ng-model="check_id">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>考核资料</label>
								<p>
									<a href="#" ng-click="download(checkData.fileName)">{{checkData.fileName}}</a>
								</p>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label>备注</label>
								<textarea name="workNote" rows="4" cols="10"
									class="form-control"></textarea>
							</div>
						</div>
					</div>
					<!-- row-------end -->
				</form>
				<div class="row">
					<div class="col-md-12">
						<ul id="xh-tabs" class="nav nav-tabs">
							<li class="active"><a href="#score2" data-toggle="tab">本月扣分明细</a></li>
							<li><a href="#money2" data-toggle="tab"> 本月扣款明细</a></li>
						</ul>

						<div class="tab-content" style="padding:20px">

							<div class="tab-pane fade in active" id="score2">
								<div ng-include="'operations_check_add_score.html'"></div>
							</div>
							<div class="tab-pane" id="money2">
								<div ng-include="'operations_check_add_money.html'"></div>
							</div>
						</div>


					</div>
				</div>
				<!--  row -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">关闭</button>
				<button type="button" ng-click="check2(1)"
					class="btn btn-success btn-sm" id="check2BtnY">同意</button>
				<button type="button" ng-click="check2(-1)"
					class="btn btn-danger btn-sm" id="check2BtnN">拒绝</button>
			</div>
		</div>
	</div>
</div>
<!--、、、 审核 -->
