<!DOCTYPE html>
<html>
<head>
<title>月度考核</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
	<script type="text/javascript" src="../../jquery.min.js"></script> 
<link rel="stylesheet" href="../../lib/layer-master/src/theme/layer.css"> 
<script type="text/javascript" src="../../pageoffice.js" id="po_js_main"></script>
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
</head>
<body ng-app="app" ng-controller="xhcontroller" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>

	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>运维管理</span></li>
							<li><a href="../menu/menu_operations.html" target="_self"><span>服务监管</span></a></li>
							<li><a href="operations_check.html" target="_self"><span>月度考核</span></a></li>
							<li class="active"><span>填写扣款</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">


			<!-- row -->
			<div class="row">

				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-body">
							<div class="row">
                                <div class="col-md-12">
                                    <label>表名称（<span style="color:red;">描述:多行名称，请换行填写，生成的文件中的头部名称默认居中显示。</span>）</label>
                                    <textarea name="doc_name" class="form-control" rows="4" ng-model="doc_name"></textarea>
                                </div>
                            </div>

							<!--  row -->
							<div class="row">
								<div class="col-md-12">
									<form action="#" id="money3Form" onsubmit="return false">
                    <table id="tb-info" class="xh-table-primary table-hover">
                        <thead>
                            <tr class="tr-gray">
                                 <th width="200px">考核项</th>
                                <th width="200px">分项</th>
                                <th width="300px">标准</th>
                                <th width="100px">服务费扣款</th>
                                <th >备注</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="5">服务可用率 <a href="#" ng-click="searchFile('运维故障统计')">资料</a></td>
                                <td>交换中心可用率</td>

                                <td>可用率全年99.999%，全年不超过5分钟，超过每分钟扣除10000元</td>
                                <td><input class="form-control" name="m_a1"
                                    ng-model="money_data3.m_a1" ng-change="sum_money3()" type="number" min="0"  max="10000000"/></td>
                                <td><input class="form-control" name="n_a1"
                                    ng-model="money_data3.n_a1" /></td>
                            </tr>
                             <tr>
                                <td>桥接站或地铁互联设备可用率</td>

                                <td>可用率全年99.99%，全年不超过1小时，超过每小时扣除300元</td>
                                <td><input class="form-control" name="m_l1"
                                    ng-model="money_data3.m_l1" ng-change="sum_money3()" type="number" min="0"  max="10000000"/></td>
                                <td><input class="form-control" name="n_l1"
                                    ng-model="money_data3.n_l1" /></td>
                            </tr>
                            <tr>
                                <td rowspan="3">单基站可用率（桥接站或地铁互联设备按一级基站考核）</td>
                                <td>一级基站可用率全年99.99%，全年不超过1小时，超过每小时扣除(300元)</td>
                                <td><input class="form-control" name="m_a2"
                                    ng-model="money_data3.m_a2" ng-change="sum_money3()" type="number" min="0"  max="10000000"/></td>
                                <td><input class="form-control" name="n_a2"
                                    ng-model="money_data3.n_a2" /></td>
                            </tr>
                            <tr>
                                <td>二级基站可用率全年99.95%，全年不超过5小时，超过每小时扣除(300元)</td>
                                <td><input class="form-control" name="m_a3"
                                    ng-model="money_data3.m_a3" ng-change="sum_money3()" type="number" min="0"  max="10000000"/></td>
                                <td><input class="form-control" name="n_a3"
                                    ng-model="money_data3.n_a3" /></td>
                            </tr>
                            <tr>
                                <td>三级基站可用率全年99.95%，全年不超过9小时，超过每小时扣除(300元)</td>
                                <td><input class="form-control" name="m_a4"
                                    ng-model="money_data3.m_a4" ng-change="sum_money3()" type="number" min="0"  max="10000000"/></td>
                                <td><input class="form-control" name="n_a4"
                                    ng-model="money_data3.n_a4" /></td>
                            </tr>
                            <tr>
                                <td rowspan="2">故障控制 <a href="#" ng-click="searchFile('运维故障统计')">资料</a></td>
                                <td>重大故障</td>
                                <td>每发生1次扣除10000元</td>
                                <td><input class="form-control" name="m_b1"
                                    ng-model="money_data3.m_b1" ng-change="sum_money3()" type="number" min="0"  max="10000000"/></td>
                                <td><input class="form-control" name="n_b1"
                                    ng-model="money_data3.n_b1" /></td>
                            </tr>
                            <tr>
                                <td>特别重大故障</td>
                                <td>每发生1次扣除20000元</td>
                                <td><input class="form-control" name="m_b2"
                                    ng-model="money_data3.m_b2" ng-change="sum_money3()" type="number" min="0"  max="10000000"/></td>
                                <td><input class="form-control" name="n_b2"
                                    ng-model="money_data3.n_b2" /></td>
                            </tr>
                            
                            <tr>
                                <td>用户服务响应</td>
                                <td><a href="#" ng-click="showInfoWin('用户响应')">资料</a></td>
                                <td>超出要求时间扣除500元</td>
                                <td><input class="form-control" name="m_d1"
                                    ng-model="money_data3.m_d1" ng-change="sum_money3()" type="number" min="0"  max="10000000"/></td>
                                <td><input class="form-control" name="n_d1"
                                    ng-model="money_data3.n_d1" /></td>
                            </tr>                           
                            <tr>
                                <td>应急通信保障</td>
                                <td><a href="#" ng-click="showInfoWin('应急通信保障')">资料</a></td>
                                <td>开通时间每超1小时扣5000元，每发生1次事故扣10000元</td>
                                <td><input class="form-control" name="m_f1"
                                    ng-model="money_data3.m_f1" ng-change="sum_money3()" type="number" min="0"  max="10000000"/></td>
                                <td><input class="form-control" name="n_f1"
                                    ng-model="money_data3.n_f1" /></td>
                            </tr>
                            <tr>
                                <td>应急通信保障演练</td>
                                <td><a href="#" ng-click="showInfoWin('应急演练')">资料</a></td>
                                <td>每季度完成1次，每缺1次扣10000元</td>
                                <td><input class="form-control" name="m_g1"
                                    ng-model="money_data3.m_g1" ng-change="sum_money3()" type="number" min="0"  max="10000000"/></td>
                                <td><input class="form-control" name="n_g1"
                                    ng-model="money_data3.n_g1" /></td>
                            </tr>
                            
                            <tr>
                                <td>合计扣款</td>
                                <td colspan="4">{{money_sum3}}</td>
                            </tr>
                            <!-- <tr>
                                <td colspan="5">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="5" style="text-align: left;">
                                <span>成都市软件产业发展中心：</span> 
                                <span style="margin-left:50%;">成都亚光电子股份有限公司：</span></td>
                            </tr> -->



                        </tbody>
                    </table>

                </form>
								</div>
							</div>
							<!--  row -->
						</div>
						<!-- panel-body--end -->
						<div class="panel-footer">
							<!-- row -->
							<div class="row" style="margin-top:20px;">
								<div class="btn-group col-md-12">
									<button type="button" class="btn btn-success btn-block"
										onclick="xh.add()" id="add-apply-btn">提交</button>

								</div>
								<!-- <div class="btn-group col-md-6">
									<button type="button" class="btn btn-danger btn-block"
										ng-click="toback()">返回</button>

								</div> -->
							</div>
						</div>
						<!-- hpanel --end-->
					</div>
					<!-- col-md-12--end -->
				</div>
				<!-- row/ -->
			</div>
		</div>
	</div>
	<!-- 中间内容体 /-->

	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>

	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	   <script type="text/javascript" src="../../lib/layer-master/dist/layer.js"></script>
	<script type="text/javascript"
		src="../../Controllers/business/operations_check_write3_money.js"></script>
		
    <script type="text/javascript">
    xh.load();
    </script>

	
</body>
</html>
