<!DOCTYPE html>
<html>
<head>
<title>服务抽查</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<link rel="stylesheet" type="text/css"
	href="../../lib/layer-master/src/theme/layer.css">
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
</head>
<body ng-app="app" ng-controller="xhcontroller" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="color-line"></div>
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>

	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>运维管理</span></li>
							<li><span>日常监管</span></li>
							<li class="active"><span><a href="qualitycheck.html">服务抽检</a></span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">
			
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="hpanel">
					<div class="panel-heading hbuilt">

							<i class="fa fa-indent text-danger"></i>&nbsp;服务抽查列表
						</div>
						<div class="panel-body">
						<div class="btn-group" ng-model="loginUserRoleId">
									
									<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#add" ng-if="loginUserRoleId == 10002">
										<i class="fa fa-plus-circle"></i>&nbsp;添加抽查
									</button>
									
									<button class="btn btn-warning btn-sm" ng-click="refresh()">
										<i class="fa fa-refresh"></i>&nbsp;刷新
									</button>
								</div>
							<table id="tb-info" class="xh-table table-hover"
								ng-model="loginUser">
								<thead>
									<tr class="tr-gray">
										<th width="180px">联系人</th>
										<th width="150px">联系方式</th>
										<th>请求内容</th>
										<!-- <th></th> -->
										<th width="180px">申请时间</th>
										<th >状态</th>
										<th >操作详情</th>
									</tr>
								</thead>
								<tbody ng-model="loginUserRoleId">
									<tr ng-if="totals==0">
										<td colspan="6" class="text-center">没有记录！</td>
									</tr>
									<tr ng-repeat="x in data">
										<td>{{x.applicant}}</td>
										<td>{{x.tel}}</td>
										<td>运维质量抽查</td>
										<td>{{x.requestTime}}</td>
										<td ng-if="x.checked==-1" class="td-danger">抽查申请已被拒绝</td>
										<td ng-if="x.checked==0" class="td-warning">等待服务提供方确认是否可以抽检</td>
										<td ng-if="x.checked==1" class="td-warning">抽检结束，等待管理方上传抽捡记录</td>
										<td ng-if="x.checked==2" class="td-success">流程结束</td>
										<!-- <td ng-if="x.checked==2" class="td-warning">等待服务提供方审核运维质量抽查任务消息</td>
										<td ng-if="x.checked==3" class="td-warning">等待服务提供方上传确认消息</td>
										<td ng-if="x.checked==4" class="td-warning">等待管理方审核抽查确认消息/td>
										<td ng-if="x.checked==5" class="td-success">审核通过，流程结束</td> -->
										<td style="text-align:center">

										<a href="#"
											ng-click="toProgress($index)"><i
												class="fa fa-file-text-o text-success"> </i>&nbsp;申请资料及进度
										</a> 

										<a ng-if="loginUserRoleId==10003 && x.checked==0 && up.o_check_service=='on'"
											href="#" ng-click="checkWin($index)"><i
												class="fa fa-hand-o-down text-danger"></i>| &nbsp;确认可以抽捡</a>
											
										<a ng-if="loginUserRoleId==10002 && x.checked==1 && up.o_check_service=='on'"
											href="#" ng-click="checkWin($index)"><i
												class="fa fa-hand-o-down text-danger"></i>| &nbsp;上传抽检记录</a>

										</td>
									</tr>
								</tbody>
							</table>
							<div class="page">
								<div class="page-info">
									每页显示 <select id="page-limit" ng-change="refresh()"
										ng-model="count">
										<option value="15">15</option>
										<option value="20">20</option>
										<option value="30">30</option>
										<option value="40">40</option>
										<option value="50">50</option>
									</select> 条, <span ng-model="index">显示{{start}}-</span><span
										ng-model="lastIndex">{{lastIndex}}条,</span> <span
										ng-model="totals">总计{{totals}}条</span>
								</div>
								<div class="page-paging"></div>
							</div>
							<!-- row -->
							<div class="row">
								<div class="col-md-12"></div>
							</div>
							<!-- row -->
						</div>
						<!-- panel-body--end -->
						
						<!-- hpanel --end-->
					</div>
					<!-- col-md-12--end -->
				</div>
				<!-- row/ -->
			</div>
		</div>
	</div>
	<!-- 中间内容体 /-->

	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<!-- 添加 -->
	<div ng-include="'qualitycheck-add.html'"></div>
	<!-- 进度-->
	<div ng-include="'qualitycheck-progress.html'"></div>
	<!-- 审核-->
	<div ng-include="'qualitycheck-check.html'"></div>
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="../../lib/metisMenu/dist/metisMenu.min.js"></script>
	<script type="text/javascript"
		src="../../Resources/js/ajaxfileupload.js"></script>
	<script type="text/javascript" src="../../Controllers/business/qualitycheck.js"></script>
	<script type="text/javascript"
		src="../../lib/layer-master/src/layer.js"></script>
	<script type="text/javascript">
		xh.load();
	</script>
</body>
</html>
