<div class="modal fade" id="add" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg ">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<!-- <button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold"></small> -->
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
				<form action="#" id="addForm" onSubmit="return false">
					<div class="row">
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>申请人</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="applicant"
									required="required">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>联系方式</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="tel"
									required="required">
							</div>
						</div>
<!-- 						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>抽查请求时间</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="requestTime"
									required="required" onfocus="WdatePicker()">
							</div>
						</div> -->
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-8">
								<label>抽检计划</label>&nbsp;<span class="text-danger">[*]</span> 
								<input type="file" name="filePath" id="filePath1" class="form-control"/> 
							</div>	
							<div class="form-group col-md-4"style="margin-top:30px;" >
							    <input type="hidden" name="result" class="form-control"/> 
							    <input type="hidden" name="fileName" /> 
							    <input type="hidden" name="path"  /> 
								<a href="#" onclick="xh.upload(1)" class="btn btn-minier btn-danger">上传</a>&nbsp;&nbsp;
								<span id="uploadResult1" style="color:red"></span>
							</div>	
						</div>
					</div>
<!-- 					<div class="row">
						<div class="col-md-6">
							<div class="form-group col-md-12">
								<label>抽查审核人</label>&nbsp;<span class="text-danger">[*]</span>
								<select class="form-control" name="user_MainManager" ng-model="user_M">
									<option ng-repeat="x in userData_MainManager"
										value="{{x.user}}">{{x.userName}}</option>
								</select>
							</div>
						</div>
					</div> -->
				</form>
					
<!--  				<form action="#" id="" onSubmit="return false"
					enctype="multipart/form-data" method="POST">
					<div class="row">
						<div class="col-md-8">
							<div class="form-group col-md-10" style="padding-right:0px;">
								<input type="hidden" id="listener" name="listener" value="" />
								<input type="hidden" id="listenerIO" name="listenerIO" value="" />
								<label>上传附件</label>&nbsp;<span class="text-info">[*]</span> <input
									class="form-control" type="file" id="pathName" name="pathName"/>
							</div>
							<div class="form-group col-md-2" style="padding-left:0px;">
								<button type="button" ng-disabled="form.$invalid"
									class="btn btn-info btn-sm" style="margin-top:23px;"
									id="uploadfile">
									<i class="fa fa-plus-circle"></i>点击上传
								</button>
							</div>
						</div>
					</div>
				</form>  -->
				
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" ng-disabled="form.$invalid"
					class="btn btn-success btn-sm" id="add_btn">
					<i class="fa fa-plus"></i>&nbsp;发送申请
				</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#add_btn").click(function() {
		$('#addForm').submit();
	});
	var faIcon = {
		valid : 'fa fa-check-circle fa-lg text-success',
		invalid : 'fa fa-times-circle fa-lg',
		validating : 'fa fa-refresh'
	};
	$('#addForm').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
			applicant : {
				validators : {
					notEmpty : {
						message : '联系人不能为空'
					}
				}
			},
			tel : {
				validators : {
					notEmpty : {
						message : '联系方式不能为空'
					}
				}
			}

		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.add();
	});
</script>
<script>
	$(function() {
		$("[data-toggle='tooltip']").tooltip();
	});
</script>