<div class="modal fade" id="quitprogress" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold"></small>
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
				<ul id="xh-tabs" class="nav nav-tabs">
					<li class="active"><a href="#info" data-toggle="tab">申请人信息</a></li>
					<li><a href="#p-timeline" data-toggle="tab">申请进度</a></li>
				</ul>
				<div class="tab-content" style="padding: 20px">
					<div class="tab-pane fade in active" id="info">
						<div class="row">
							<div class="col-md-4">
								<div class="form-group col-md-12">
									<label>用户单位名称</label><input type="text"
										ng-model="editData.unit1" class="form-control"
										name="unit1" required="required">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group col-md-12">
									<label>退网时间</label> <input type="text"
										ng-model="editData.quitTime" class="form-control"
										name="netTime" required="required">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group col-md-12">
									<label>退网类型</label> <input type="text"
										ng-if="editData.quitModal == 1" class="form-control"
										value="有线退网" required="required">
										<input type="text"
										ng-if="editData.quitModal == -1" class="form-control"
										value="无线退网" required="required">
								</div>
							</div>
						</div>
						<!-- row-------end -->
						<div class="row">
							<div class="col-md-4">
								<div class="form-group col-md-12">
									<label>联系人</label><input type="text"
										ng-model="editData.quitPerson" class="form-control"
										name="unitPerson" required="required">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group col-md-12">
									<label>联系电话</label> <input type="text" ng-model="editData.tel"
										class="form-control" name="tel" required="required">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group col-md-12">
									<label>退网原因</label>
									<textarea
									style="height:100px;max-height:100px;"
									name="quitReason" ng-model="editData.quitReason" id="content" class="form-control" maxlength="70"></textarea>
									
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade text-danger" id="p-timeline"
						style="background: #e9f0f5; margin: 0;" ng-model="progressData" ng-if="progressData.quitModal== 1">
						<div id="cd-timeline" class="cd-container">
							<div class="cd-timeline-block">
								<div class="cd-timeline-img-first cd-green">开始</div>
								<div class="cd-timeline-content">
									<h2>用户提交审核信息</h2>
									<!-- <p>
										<textarea
									style="width:300px;height:100px;max-width:300px;max-height:100px;"
									name="quitReason" ng-model="progressData.quitReason" class="form-control" required="required" maxlength="70">
									</p> -->
									<span class="cd-date text-success font-bold text-x">
										提交时间：{{progressData.quitTime}}</span>
								</div>
							</div>
							
							<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-gray"
										ng-if="progressData.quit<=0"></div>
									<div class="cd-timeline-img cd-green"
										ng-if="progressData.quit>0"></div>
									<div class="cd-timeline-content">
										<h2>经管委审核</h2>
										<p>
											<span>备注：</span><span>{{progressData.note1}}</span>
										</p>
										<span ng-if="progressData.quit==0"
											class="cd-date text-danger">等待审核！</span> <span
											ng-if="progressData.quit>0"
											class="cd-date text-success font-bold text-x">已经审核;
											审核时间：{{progressData.time1}}</span>
									</div>
							</div>
							<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-gray"
										ng-if="progressData.quit<=1"></div>
									<div class="cd-timeline-img cd-green"
										ng-if="progressData.quit>1"></div>
									<div class="cd-timeline-content">
										<h2>管理方领导指派人员处理</h2>
										<p>
											<span>备注：</span><span>{{progressData.note2}}</span>
										</p>
										<span ng-if="progressData.quit==1"
											class="cd-date text-danger">等待指派！</span> <span
											ng-if="progressData.quit>1"
											class="cd-date text-success font-bold text-x">已经指派;
											审核时间：{{progressData.time2}}</span>
									</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block" >
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.quit<=2"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.quit>2"></div>
								<div class="cd-timeline-content">
									<h2>管理方人员上传处理方案给服务提供方</h2>
									<a ng-if="progressData.quit>2" href="#" title="点击下载文件"
											onclick="xh.download(1)" style="color: red">{{progressData.fileName1}}</a>
									<span ng-if="progressData.quit==2"
										class="cd-date text-danger">等待管理方上传处理方案</span> <span
										ng-if="progressData.quit>2"
										class="cd-date text-success font-bold">管理方上传处理方案成功
										时间：{{progressData.time3}}</span>
								</div>
							</div>
							<div class="cd-timeline-block" >
									<div class="cd-timeline-img cd-gray"
										ng-if="progressData.quit<=3"></div>
									<div class="cd-timeline-img cd-green"
										ng-if="progressData.quit>3"></div>
									<div class="cd-timeline-content">
										<h2>服务提供方确认处理</h2>
										<p>
											<span>备注：</span><span>{{progressData.note4}}</span>
										</p>
										<span ng-if="progressData.quit==3"
											class="cd-date text-danger">等待服务提供方审核处理方案！</span> <span
											ng-if="progressData.quit>3"
											class="cd-date text-success font-bold text-x">服务提供方已确认;
											审核时间：{{progressData.time4}}</span>
									</div>
							</div>
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.quit<=4"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.quit>4"></div>
								<div class="cd-timeline-content">
									<h2>服务提供方上传实施报告给管理方</h2>
									<a ng-if="progressData.quit>4" href="#" title="点击下载文件"
											onclick="xh.download(2)" style="color: red">{{progressData.fileName2}}</a>
									<span ng-if="progressData.quit==4"
										class="cd-date text-danger">等待管理方上传处理方案</span> <span
										ng-if="progressData.quit>4"
										class="cd-date text-success font-bold">管理方上传处理方案成功
										时间：{{progressData.time5}}</span>
								</div>
							</div>
							<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-gray"
										ng-if="progressData.quit<=5"></div>
									<div class="cd-timeline-img cd-green"
										ng-if="progressData.quit>5"></div>
									<div class="cd-timeline-content">
										<h2>管理方审核实施报告</h2>
										<p>
											<span>备注：</span><span>{{progressData.note6}}</span>
										</p>
										<span ng-if="progressData.quit==5"
											class="cd-date text-danger">等待管理方审核实施报告！</span> <span
											ng-if="progressData.quit>5"
											class="cd-date text-success font-bold text-x">管理方审核实施报告通过;
											审核时间：{{progressData.time6}}</span>
									</div>
							</div>
							<div class="cd-timeline-block">
								<div class="cd-timeline-img-first cd-gray"
									ng-if="progressData.quit<5">结束</div>
								<div class="cd-timeline-img-first cd-green"
									ng-if="progressData.quit>=5">结束</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade text-danger" id="p-timeline"
						style="background: #e9f0f5; margin: 0;" ng-model="progressData" ng-if="progressData.quitModal== -1">
						<div id="cd-timeline" class="cd-container">
							<div class="cd-timeline-block">
								<div class="cd-timeline-img-first cd-green">开始</div>
								<div class="cd-timeline-content">
									<h2>用户提交审核信息</h2>
									<!-- <p>
										<textarea
									style="width:300px;height:100px;max-width:300px;max-height:100px;"
									name="quitReason" ng-model="progressData.quitReason" class="form-control" required="required" maxlength="70">
									</p> -->
									<span class="cd-date text-success font-bold text-x">
										提交时间：{{progressData.quitTime}}</span>
								</div>
							</div>
							
							<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-gray"
										ng-if="progressData.quit<=0"></div>
									<div class="cd-timeline-img cd-green"
										ng-if="progressData.quit>0"></div>
									<div class="cd-timeline-content">
										<h2>经管委审核</h2>
										<p>
											<span>备注：</span><span>{{progressData.note1}}</span>
										</p>
										<span ng-if="progressData.quit==0"
											class="cd-date text-danger">等待审核！</span> <span
											ng-if="progressData.quit>0"
											class="cd-date text-success font-bold text-x">已经审核;
											审核时间：{{progressData.time1}}</span>
									</div>
							</div>
							<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-gray"
										ng-if="progressData.quit<=1"></div>
									<div class="cd-timeline-img cd-green"
										ng-if="progressData.quit>1"></div>
									<div class="cd-timeline-content">
										<h2>管理方领导指派人员处理</h2>
										<p>
											<span>备注：</span><span>{{progressData.note2}}</span>
										</p>
										<span ng-if="progressData.quit==1"
											class="cd-date text-danger">等待指派！</span> <span
											ng-if="progressData.quit>1"
											class="cd-date text-success font-bold text-x">已经指派;
											审核时间：{{progressData.time2}}</span>
									</div>
							</div>
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-gray"
									ng-if="progressData.quit<=2 && progressData.quitModal == -1"></div>
								<div class="cd-timeline-img cd-green"
									ng-if="progressData.quit>2 && progressData.quitModal == -1"></div>
								<div class="cd-timeline-content">
									<h2>管理方人员上传实施报告给管理方领导</h2>
									<a ng-if="progressData.quit>2 && progressData.quitModal == -1" href="#" title="点击下载文件"
											onclick="xh.download(3)" style="color: red">{{progressData.fileName3}}</a>
									<span ng-if="progressData.quit==2 && progressData.quitModal == -1"
										class="cd-date text-danger">等待管理方上传处理方案</span> <span
										ng-if="progressData.quit>2 && progressData.quitModal == -1"
										class="cd-date text-success font-bold">管理方上传处理方案成功
										时间：{{progressData.time7}}</span>
								</div>
							</div>
							<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-gray"
										ng-if="progressData.quit<=3 && progressData.quitModal == -1"></div>
									<div class="cd-timeline-img cd-green"
										ng-if="progressData.quit>3 && progressData.quitModal == -1"></div>
									<div class="cd-timeline-content">
										<h2>服务提供方审核处理方案</h2>
										<p>
											<span>备注：</span><span>{{progressData.note8}}</span>
										</p>
										<span ng-if="progressData.quit==3 && progressData.quitModal == -1"
											class="cd-date text-danger">等待服务提供方审核处理方案！</span> <span
											ng-if="progressData.quit>3 && progressData.quitModal == -1"
											class="cd-date text-success font-bold text-x">服务提供方审核处理方案通过;
											审核时间：{{progressData.time8}}</span>
									</div>
							</div>
							<!-- cd-timeline-block end-->
							<div class="cd-timeline-block">
								<div class="cd-timeline-img-first cd-gray"
									ng-if="progressData.quit<4">结束</div>
								<div class="cd-timeline-img-first cd-green"
									ng-if="progressData.quit>=4">结束</div>
							</div>
						</div>
					</div>
				</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-danger btn-sm"
				data-dismiss="modal">
				<i class="fa fa-remove"></i>&nbsp;关闭
			</button>
			</div>
			</div>
		</div>
	</div>
</div>
		