
<div class="modal fade" id="add" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold">添加无线用户业务属性</small>
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="addForm" onSubmit="return false">
					<div style="margin-bottom:10px;padding-left:15px;">唯一标识符</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group col-md-12">
								<label>无线用户业务属性标识</label>&nbsp;<span class="text-danger">[*]</span>
								<input type="text" class="form-control" name="id"
									required="required">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group col-md-12">
								<label>无线用户业务属性名称</label>&nbsp;<span class="text-danger">[*]</span>
								<input type="text" class="form-control" name="name"
									required="required">
							</div>
						</div>
					</div>
					<hr style="margin-top:10px;margin-bottom:10px;" />
					<!-- row-------end -->
					<div style="margin-bottom:10px;padding-left:15px;">状态集</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group col-md-12">
								<label>状态集标识</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" class="form-control" name="ssid"
									required="required">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group col-md-12">
								<label>状态集名称</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" class="form-control" name="ssname"
									required="required">
							</div>
						</div>
					</div>
					<hr style="margin-top:10px;margin-bottom:10px;" />
					<!-- row-------end -->
					<div style="margin-bottom:10px;padding-left:15px;">配置参数</div>
					<div class="row">
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>呼叫优先级</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" class="form-control" name="dispatchpriority"
									required="required">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>用户组</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" class="form-control" name="usergroup"
									required="required">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>紧急单呼许可范围</label>&nbsp;<span class="text-danger">[*]</span>
								<input type="text" class="form-control"
									name="emergindcallenabled" required="required">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>紧急组呼许可范围</label>&nbsp;<span class="text-danger">[*]</span>
								<input type="text" class="form-control"
									name="emerggroupcallenabled" required="required">
							</div>
						</div>
					</div>
					<!-- row-------end -->
					<div class="row">
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>允许私密呼叫</label>&nbsp;<span class="text-danger">[*]</span><br />
								<input style="width: 26px; height: 26px;" type="radio" value="1"
									class="radio-inline" name="pceenabled" id="pceenabled" checked>是
								<input
									style="width: 26px; height: 26px; margin: 4px 0px 0px 15px;"
									type="radio" value="0" class="radio-inline" name="pceenabled"
									id="pceenabled">否
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>允许组呼叫</label>&nbsp;<span class="text-danger">[*]</span><br />
								<input style="width: 26px; height: 26px;" type="radio" value="1"
									class="radio-inline" name="tgenabled" id="tgenabled" checked>是
								<input
									style="width: 26px; height: 26px; margin: 4px 0px 0px 15px;"
									type="radio" value="0" class="radio-inline" name="tgenabled"
									id="tgenabled">否
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>允许通播组呼叫</label>&nbsp;<span class="text-danger">[*]</span><br />
								<input style="width: 26px; height: 26px;" type="radio" value="1"
									class="radio-inline" name="mgenabled" id="mgenabled" checked>是
								<input
									style="width: 26px; height: 26px; margin: 4px 0px 0px 15px;"
									type="radio" value="0" class="radio-inline" name="mgenabled"
									id="mgenabled">否
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>允许通播组紧急呼叫</label>&nbsp;<span class="text-danger">[*]</span><br />
								<input style="width: 26px; height: 26px;" type="radio" value="1"
									class="radio-inline" name="mgemergencyenabled"
									id="mgemergencyenabled" checked>是 <input
									style="width: 26px; height: 26px; margin: 4px 0px 0px 15px;"
									type="radio" value="0" class="radio-inline"
									name="mgemergencyenabled" id="mgemergencyenabled">否
							</div>
						</div>
					</div>
					<!-- row-------end -->
					<div class="row">
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>允许调度呼叫预占</label>&nbsp;<span class="text-danger">[*]</span><br />
								<input style="width: 26px; height: 26px;" type="radio" value="1"
									class="radio-inline" name="dispatchpreempt"
									id="dispatchpreempt" checked>是 <input
									style="width: 26px; height: 26px; margin: 4px 0px 0px 15px;"
									type="radio" value="0" class="radio-inline"
									name="dispatchpreempt" id="dispatchpreempt">否
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>全部站点许可</label>&nbsp;<span class="text-danger">[*]</span><br />
								<input style="width: 26px; height: 26px;" type="radio" value="1"
									class="radio-inline" name="allsitesallowed"
									id="allsitesallowed" checked>是 <input
									style="width: 26px; height: 26px; margin: 4px 0px 0px 15px;"
									type="radio" value="0" class="radio-inline"
									name="allsitesallowed" id="allsitesallowed">否
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>允许呼叫预占</label>&nbsp;<span class="text-danger">[*]</span><br />
								<input style="width: 26px; height: 26px;" type="radio" value="1"
									class="radio-inline" name="calledpreempt" id="calledpreempt"
									checked>是 <input
									style="width: 26px; height: 26px; margin: 4px 0px 0px 15px;"
									type="radio" value="0" class="radio-inline"
									name="calledpreempt" id="calledpreempt">否
							</div>
						</div>
					</div>
					<!-- row-------end -->
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" ng-disabled="form.$invalid"
					class="btn btn-success btn-sm" id="add_btn">
					<i class="fa fa-plus"></i>&nbsp;添加
				</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#add_btn").click(function() {
		$('#addForm').submit();
	});

	var faIcon = {
		valid : 'fa fa-check-circle fa-lg text-success',
		invalid : 'fa fa-times-circle fa-lg',
		validating : 'fa fa-refresh'
	};
	$('#addForm').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
			id : {
				validators : {
					notEmpty : {
						message : '不能为空'
					},
					regexp : {
						regexp : /^[0-9.]+$/,
						message : '只能输入整数和小数'
					}
				}
			}

		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.add();
	});
</script>