<!DOCTYPE html>
<html>
<head>
<title>无线用户互联</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<link rel="stylesheet" href="../../Resources/css/My.css">
<link rel="stylesheet" href="../../lib/metisMenu/dist/metisMenu.min.css" />
<link rel="stylesheet"
	href="../../lib/bootstrap-3.3.6/css/bootstrap.css" />
<link rel="stylesheet" href="../../lib/sweetalert/lib/sweet-alert.css" />
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
</head>
<body ng-app="app" ng-controller="radiouserseria" class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>业务管理</span></li>
							<li><a href="../menu/menu_data.html" target="_self"><span>数据管理</span></a></li>
							<li><span>权限模板</span></li>
							<li class="active"><span>无线用户互联</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">
			<!-- row -->
			<div class="row">

				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-heading hbuilt">
							<div class="panel-tools">
								<a class="showhide"><i class="fa fa-chevron-up"></i></a> <a
									class="closebox"><i class="fa fa-times"></i></a>
							</div>
							<i class="fa fa-search"></i> 查询
						</div>
						<div class="panel-body">
							<div id="search-div">
								<form class="form-inline" role="form">
									<div class="form-group">
										<label for="id">互连属性标识</label>
										<div>
											<input type="text" class="form-control" id="id"
												placeholder="互连属性标识" width="20px">
										</div>
									</div>
									<div class="form-group">
										<label for="name">互连属性名</label>
										<div>
											<input type="text" class="form-control" id="name"
												placeholder="互连属性名">
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-2" style="padding-top:22px">
											<button type="submit" class="btn btn-sm btn-success"
												ng-click="search(1)">
												<i class="fa fa-search"></i>&nbsp;&nbsp;查询
											</button>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-2" style="padding-top:22px">
											<button class="btn btn-warning btn-sm" ng-click="refresh()">
												<i class="fa fa-refresh"></i>&nbsp;刷新
											</button>
										</div>
									</div>
								</form>
							</div>


						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-heading hbuilt">
							<div class="panel-tools">
								<a class="showhide"><i class="fa fa-chevron-up"></i></a> <a
									class="closebox"><i class="fa fa-times"></i></a>
							</div>
							属性
						</div>

						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<div class="btn-group" style="padding-top:10px;">
										<button class="btn btn-success btn-sm"
											ng-disabled="up.b_add=='off'?true:false"
											ng-click="showAddModel()">
											<i class="fa fa-plus-circle"></i>&nbsp;添加属性
										</button>
										<button class="btn btn-info btn-sm"
											ng-disabled="up.b_update=='off'?true:false"
											ng-click="showEditModel()">
											<i class="fa fa-edit"></i>&nbsp;修改属性
										</button>
										<button class="btn btn-danger btn-sm" onclick="xh.delMore()"
											ng-disabled="up.b_delete=='off'?true:false">
											<i class="fa fa-trash"></i>&nbsp;批量删除
										</button>
									</div>
								</div>
							</div>
							<!-- row -->
							<table id="tb-info" class="xh-table table-hover">
								<thead>
									<tr class="tr-gray">
										<th width="30px"><input type="checkbox"
											id="table-checkbox" class="table-check" /></th>
										<th>序号</th>
										<th>互连属性标识</th>
										<th>互连属性名</th>
										<th>优先级</th>
										<th>呼入限制</th>
										<th>呼出限制</th>
										<th width="150px">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-if="totals==0">
										<td colspan="8" class="text-center">没有记录！</td>
									</tr>
									<tr ng-repeat="x in data">
										<td><input type="checkbox" name="tb-check"
											value="{{x.id}}" index="{{$index}}" /></td>
										<td>{{$index+1}}</td>
										<td>{{x.id}}</td>
										<td>{{x.name}}</td>
										<td>{{x.prioritylevel}}</td>
										<td>{{x.bictype}}</td>
										<td>{{x.boctype}}</td>
										<td><a href="#" ng-click="editModel($index)"
											data-toggle="modal" ng-if="up.b_update=='on'?true:false">
												<i class="fa fa-edit text-success"></i>&nbsp;修改
										</a><a href="#" ng-if="up.b_update=='off'?true:false"> <i
												class="fa fa-edit text-success"></i>&nbsp;无法修改
										</a>| <a href="#" ng-click="delBs(x.id)"
											ng-if="up.b_delete=='on'?true:false"><i
												class="fa fa-trash text-success"></i>&nbsp;删除</a> <a href="#"
											ng-if="up.b_delete=='off'?true:false"><i
												class="fa fa-trash text-success"></i>&nbsp;无法删除</a></td>
									</tr>
								</tbody>
							</table>
							<div class="page">
								<div class="page-info">
									每页显示 <select id="page-limit" ng-change="refresh()"
										ng-model="count">
										<option value="20">20</option>
										<option value="30">30</option>
										<option value="40">40</option>
										<option value="50">50</option>
									</select> 条, <span ng-model="index">显示{{start}}-</span><span
										ng-model="lastIndex">{{lastIndex}}条,</span> <span
										ng-model="totals">总计{{totals}}条</span>
								</div>
								<div class="page-paging"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- row/ -->
	</div>
	<!-- 添加 -->
	<div ng-include="'radiouserseria-add.html'"></div>
	<!-- 编辑 -->
	<div ng-include="'radiouserseria-show.html'"></div>
	<!-- 中间内容体 /-->
	<div class="scroll-top text-info animated fadeIn scroll-top-hide">
		<i class="fa fa-chevron-circle-up fa-3x"></i>
	</div>
	<script src="../../Resources/js/jquery-2.2.3.min.js"></script>
	<script src="../../lib/bootstrap-3.3.6/js/bootstrap.min.js"></script>
	<script src="../../lib/metisMenu/dist/metisMenu.min.js"></script>
	<script src="../../lib/sweetalert/lib/sweet-alert.min.js"></script>
	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="../../lib/metisMenu/dist/metisMenu.min.js"></script>
	<script type="text/javascript"
		src="../../Controllers/business/radiouserseria.js"></script>
	<script type="text/javascript">
		xh.load();
	</script>

</body>
</html>
