
<div class="modal fade" id="sheet" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header ">
			
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold">系统升级记录表</small>
			</div>
			<div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
		
				<div class="order">
					<form action="" onsubmit="false" id="systemChange-form">
						<table id="order-table"
							style="width:100%;border-collapse: collapse;">
							<tbody>
								<tr>
									<td colspan="6" style="text-align: center;">
									系统升级记录表
									<div contenteditable="true" class="input-div" name="id" ng-show="false">{{sheetData.id}}</div>
									</td>
								</tr>
								<tr>
									<td style="height:40px;width:10%;">升级申请时间</td>
									<td style="height:40px;width:30%;"><div contenteditable="true" class="textarea-div" name="systemChangeStartTime"
											 onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">{{sheetData.systemChangeStartTime}}</div></td>
									<td style="height:40px;width:10%;">升级执行时间</td>
									<td style="height:40px;width:30%;"><div contenteditable="true" class="textarea-div" name="systemChangeExcTime"
														 onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">{{sheetData.systemChangeExcTime}}</div></td>
								</tr>

								<tr>
									<td>类型</td>
									<td colspan="5"><div contenteditable="true" name="progress">
										<input  type="radio" name="systemChangeType" value="1" ng-checked="sheetData.systemChangeType=='1'">服务器硬件
										<input  type="radio" name="systemChangeType" value="2" ng-checked="sheetData.systemChangeType=='2'">服务器软件
										<input  type="radio" name="systemChangeType" value="3" ng-checked="sheetData.systemChangeType=='3'">基站版本
									</div></td>
								</tr>
								<tr>
									<td>版本(旧)</td>
									<td><div contenteditable="true" class="textarea-div" name="versionOld" >{{sheetData.versionOld}}</div></td>
									<td>版本(新)</td>
									<td colspan="3"><div contenteditable="true" class="textarea-div" name="versionNew" >{{sheetData.versionNew}}</div></td>
								</tr>
								<tr>
									<td>新版解决问题</td>
									<td colspan="5"><div contenteditable="true"
											class="textarea-div" name="solutionNewVersion" >{{sheetData.solutionNewVersion}}</div></td>
								</tr>
								<tr>
									<td>升级步骤及结果</td>
									<td colspan="5"><div contenteditable="true"
											class="textarea-div" name="processAndResult" >{{sheetData.processAndResult}}</div></td>
								</tr>
								<tr>
									<td>备注</td>
									<td colspan="5"><div contenteditable="true"
														 class="textarea-div" name="systemChangeNote" >{{sheetData.systemChangeNote}}</div></td>
								</tr>
								<tr>
									<td>执行人员</td>
									<td colspan="5"><div contenteditable="true"
														 class="textarea-div" name="excPerson" >{{sheetData.excPerson}}</div></td>
								</tr>
								<tr>
									<td>监督人</td>
									<td><div contenteditable="true" class="textarea-div" name="supervisePersion" >{{sheetData.supervisePersion}}</div></td>
									<td>编号</td>
									<td colspan="3"><div contenteditable="true" class="textarea-div" name="serialNumber" >{{sheetData.serialNumber}}</div></td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm"
					data-dismiss="modal" id="systemChange-btn">
					<i class="fa fa-remove"></i>&nbsp;保存
				</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#systemChange-btn").click(function() {
		$('#systemChange-form').submit();
	});
	var faIcon = {
		valid : 'fa fa-check-circle fa-lg text-success',
		invalid : 'fa fa-times-circle fa-lg',
		validating : 'fa fa-refresh'
	};
	$('#systemChange-form').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
			user : {
				validators : {
					notEmpty : {
						message : '用户名不能为空'
					}
				}
			},
			roleId : {
				validators : {
					notEmpty : {
						message : '角色不能为空'
					}
				}
			},
			userPass : {
				validators : {
					notEmpty : {
						message : '密码不能为空'
					}
				}
			}

		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		/* xh.add(); */
		xh.sheetChange();
	});
</script>