<div class="modal fade" id="sheetshow" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;
                </button>
            </div>
            <div class="modal-body pad-0" style="margin: 2px; padding: 2px;">
                <div ng-model="sheetData">
                    <div class="order">
                        <form action="" onsubmit="false" id="systemChange-form">
                            <table id="order-table"
                                   style="width:100%;border-collapse: collapse;">
                                <tbody>
                                <tr>
                                    <td colspan="6" style="text-align: center;">
                                        系统升级记录表
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:40px;width:10%;">升级申请时间</td>
                                    <td style="height:40px;width:30%;">{{sheetData.systemChangeStartTime}}</td>
                                    <td style="height:40px;width:10%;">升级执行时间</td>
                                    <td style="height:40px;width:30%;">{{sheetData.systemChangeExcTime}}</td>
                                </tr>

                                <tr>
                                    <td>类型</td>
                                    <td colspan="5"><div contenteditable="true" name="progress">
                                        <input  type="radio" name="systemChangeTypeShow" value="1" ng-checked="editData.systemChangeType=='1'">服务器硬件
                                        <input  type="radio" name="systemChangeTypeShow" value="2" ng-checked="editData.systemChangeType=='2'">服务器软件
                                        <input  type="radio" name="systemChangeTypeShow" value="3" ng-checked="editData.systemChangeType=='3'">基站版本
                                    </div></td>
                                </tr>
                                <tr>
                                    <td>版本(旧)</td>
                                    <td>{{sheetData.versionOld}}</td>
                                    <td>版本(新)</td>
                                    <td colspan="3">{{sheetData.versionNew}}</td>
                                </tr>
                                <tr>
                                    <td>新版解决问题</td>
                                    <td colspan="5">{{editData.solutionNewVersion}}</td>
                                </tr>
                                <tr>
                                    <td>升级步骤及结果</td>
                                    <td colspan="5">{{sheetData.processAndResult}}</td>
                                </tr>
                                <tr>
                                    <td>备注</td>
                                    <td colspan="5">{{sheetData.systemChangeNote}}</td>
                                </tr>
                                <tr>
                                    <td>执行人员</td>
                                    <td colspan="5">{{sheetData.excPerson}}</td>
                                </tr>
                                <tr>
                                    <td>监督人</td>
                                    <td>{{sheetData.supervisePersion}}</td>
                                    <td>编号</td>
                                    <td colspan="3">{{sheetData.serialNumber}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm"
                        data-dismiss="modal">
                    <i class="fa fa-remove"></i>&nbsp;关闭
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#checkCut-btn").click(function () {
        $('#checkCut-form').submit();
    });
    var faIcon = {
        valid: 'fa fa-check-circle fa-lg text-success',
        invalid: 'fa fa-times-circle fa-lg',
        validating: 'fa fa-refresh'
    };
    $('#checkCut-form').bootstrapValidator({
        excluded: [':disabled'],
        /* feedbackIcons: faIcon, */
        fields: {
            user: {
                validators: {
                    notEmpty: {
                        message: '用户名不能为空'
                    }
                }
            },
            roleId: {
                validators: {
                    notEmpty: {
                        message: '角色不能为空'
                    }
                }
            },
            userPass: {
                validators: {
                    notEmpty: {
                        message: '密码不能为空'
                    }
                }
            }

        }
    }).on('success.form.bv', function (e, data) {
        e.preventDefault();
        /* xh.add(); */
        xh.sheetChange();
    });
</script>