<!-- 左侧导航菜单 -->
<aside id="menu">
	<ul class="nav" id="side-menu">
		<li><a href="#"> <span class="nav-label">
		<img alt="" src="../../Resources/images/menu/status.png">&nbsp;
		系统状态</span> <span
				class="fa arrow"></span>
		</a>
			<ul class="nav">
				<li><a href="joinnet.html" target="_self">Gis地图 </a></li>
				<li><a href="joinnet.html" target="_self">图形统计 </a></li>
			</ul></li>

		<li><a href="#"> <span class="nav-label">
		<img alt="" src="../../Resources/images/menu/web.png">&nbsp;
		运维管理</span><span
				class="fa arrow"></span>
		</a>
			<ul class="nav">

				<li><a href="#"> <span class="nav-label">实时监测</span> <span
						class="fa arrow"></span>
				</a>
					<ul class="nav nav-three-level">
						<li class="active"><a href="../operations/serverstatus.html"
							target="_self">交换中心状态 </a></li>
						<li><a href="bsstatus.html" target="_self">基站状态 </a></li>
						<li><a href="dispatchstatus.html" target="_self">调度台状态 </a></li>
						<li><a href="emhAlarm.html" target="_self">故障告警 </a></li>
					</ul></li>
				<li><a href="#"> <span class="nav-label">日常监管</span> <span
						class="fa arrow"></span>
				</a>
					<ul class="nav nav-three-level">
						<li><a href="" target="_self">报告审核 </a></li>
						<li><a href="" target="_self">服务抽检 </a></li>
						<li><a href="" target="_self">网络优化 </a></li>
						<li><a href="" target="_self">应急处置演练 </a></li>
						<li><a href="" target="_self">典型故障分析 </a></li>
						<li><a href="" target="_self">全网路测 </a></li>
						<li><a href="" target="_self">工作记录 </a></li>
					</ul></li>
			</ul></li>

		<li><a href="#"> <span class="nav-label">
		<img alt="" src="../../Resources/images/menu/business.png">&nbsp;
		业务管理</span><span
				class="fa arrow"></span>
		</a>
			<ul class="nav ">

				<li><a href="#"> <span class="nav-label">用户服务</span> <span
						class="fa arrow"></span>
				</a>
					<ul class="nav nav-three-level">
						<li><a href="joinnet.html" target="_self">入网 </a></li>
						<li><a href="quitnet.html" target="_self">退网 </a></li>
						<li><a href="" target="_self">业务变更 </a></li>
						<li><a href="fault.html" target="_self">故障申报 </a></li>
						<li><a href="communicationsupport.html" target="_self">通信保障
						</a></li>
						<li><a href="lend.html" target="_self">租借设备 </a></li>
					</ul></li>
				<li><a href="#"> <span class="nav-label">数据管理</span><span
						class="fa arrow"></span>
				</a>
					<ul class="nav nav-three-level">
						<li><a href="radiouser.html" target="_self">用户 </a></li>
						<li><a href="talkgroup.html" target="_self">用户组 </a></li>
						<li><a href="vpn.html" target="_self">组织结构 </a></li>
						<li><a href="../operations/audio.html" target="_self">业务数据
						</a></li>
						<li><a href="dgna.html" target="_self">其他 </a></li>
					</ul></li>
			</ul></li>
		<li><a href="#"> <span class="nav-label">
		<img alt="" src="../../Resources/images/menu/power.png">&nbsp;
		平台管理</span><span
				class="fa arrow"></span>
		</a>
			<ul class="nav ">
				<li><a href="role.html" target="_self"><span
						class="nav-label">角色管理</span>
				</a></li>
				<li><a href="user.html" target="_self"><span
						class="nav-label">用户管理</span>
				</a></li>
				<li><a href="log.html" target="_self"> <span
						class="nav-label" target="_self">日志管理</span>
				</a></li>
				<li><a href="event.html" target="_self"><span
						class="nav-label" target="_self">计划任务</span>
				</a></li>
			</ul></li>
	</ul>
</aside>
<script type="text/javascript">
	$('#side-menu').metisMenu();
</script>