<!-- 左侧导航菜单 -->
<aside id="menu">
	<!-- <div id="menu-title">
		<i class="fa fa-list-alt text-danger"></i>&nbsp;&nbsp;<span>菜单列表</span>
	</div> -->
	<ul class="nav" id="side-menu">
		<li class="open"><a href="#"> <i
				class="fa fa-user text-info"></i>&nbsp;&nbsp; <span
				class="nav-label">用户服务</span> <span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="joinnet.html" target="_self">
				<i class="fa fa-sitemap text-success"></i>&nbsp;&nbsp;入网</a></li>
				<li><a href="quitnet.html" target="_self">
				<i class="fa fa-sitemap text-success"></i>&nbsp;&nbsp;退网</a></li>
				<li><a href="" target="_self">
				<i class="fa fa-sitemap text-success"></i>&nbsp;&nbsp;业务变更</a></li>
				<li><a href="fault.html" target="_self">
				<i class="fa fa-sitemap text-success"></i>&nbsp;&nbsp;故障申报</a></li>
				<li><a href="communicationsupport.html" target="_self">
				<i class="fa fa-sitemap text-success"></i>&nbsp;&nbsp;通信保障</a></li>
				<li><a href="lend.html" target="_self">
				<i class="fa fa-sitemap text-success"></i>&nbsp;&nbsp;租借设备</a></li>
			</ul></li>

	<li><a href="#"> <i class="fa fa-database text-info"></i>&nbsp;&nbsp;
				<span class="nav-label">数据管理</span><span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="radiouser.html" target="_self">
				<i class="fa fa-sitemap text-success"></i>&nbsp;&nbsp;用户</a></li>
				<li><a href="talkgroup.html" target="_self">
				<i class="fa fa-sitemap text-success"></i>&nbsp;&nbsp;用户组</a></li>
				<li><a href="vpn.html" target="_self">
				<i class="fa fa-sitemap text-success"></i>&nbsp;&nbsp;组织结构</a></li>
				<li><a href="dgna.html" target="_self">
				<i class="fa fa-sitemap text-success"></i>&nbsp;&nbsp;其他</a></li>
			</ul></li>
	
	<!-- <li><a href="#"> <i class="fa fa-legal text-black"></i>&nbsp;&nbsp;
				<span class="nav-label">终端小工具</span><span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="dgna.html" target="_self">动态重组</a></li>
				
				<li><a href="kill.html" target="_self">遥启遥毙</a></li>
				
				<li><a href="gpsset.html" target="_self">GPS参数修改</a></li>
			</ul></li>	 -->					
	</ul>
</aside>
<script type="text/javascript">
	$('#side-menu').metisMenu();
</script>