<!-- 左侧导航菜单 -->
<aside id="menu">
	<!-- <div id="menu-title">
		<i class="fa fa-list-alt text-danger"></i>&nbsp;&nbsp;<span>菜单列表</span>
	</div> -->
	<ul class="nav" id="side-menu">
		<li class="open"><a href="#"> <i
				class="fa fa-share-alt-square text-black"></i>&nbsp;&nbsp; <span
				class="nav-label">业务办理</span> <span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="joinnet.html" target="_self">入网</a></li>
				<li><a href="quitnet.html" target="_self">退网</a></li>
				<li><a href="" target="_self">业务变更</a></li>
				<li><a href="fault.html" target="_self">故障申报</a></li>
				<li><a href="communicationsupport.html" target="_self">通信保障</a></li>
				<li><a href="lend.html" target="_self">租借设备</a></li>
			</ul></li>
		<li><a href="#"> <i class="fa fa-cny text-black"></i>&nbsp;&nbsp;
				<span class="nav-label">资产管理</span><span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="asset-count.html" target="_self">资产概况</a></li>
				<li><a href="asset-info.html" target="_self">资产记录</a></li>
				<li><a href="asset-transfer.html" target="_self">资产移交</a></li>
				<li><a href="assetrepairs.html" target="_self">设备维护</a></li>
				<li><a href="assetlose.html" target="_self">设备遗失</a></li>
			</ul></li>
	<li><a href="#"> <i class="fa fa-database text-black"></i>&nbsp;&nbsp;
				<span class="nav-label">用户数据管理</span><span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="radiouser.html" target="_self">用户</a></li>
				<li><a href="talkgroup.html" target="_self">用户组</a></li>
				<li><a href="vpn.html" target="_self">组织结构</a></li>
			</ul></li>
	
	<li><a href="#"> <i class="fa fa-legal text-black"></i>&nbsp;&nbsp;
				<span class="nav-label">终端小工具</span><span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="dgna.html" target="_self">动态重组</a></li>
				
				<li><a href="kill.html" target="_self">遥启遥毙</a></li>
				
				<li><a href="" target="_self">GPS参数修改</a></li>
			</ul></li>
			
	<li><a href="#"> <i class="fa fa-legal text-black"></i>&nbsp;&nbsp;
				<span class="nav-label">终端管理</span><span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="devicemanage.html" target="_self">终端管理</a></li>
				
				<li><a href="optimizenet.html" target="_self">网络优化</a></li>
				
				<li><a href="optimizenetdrop.html" target="_self">网络优化中断</a></li>
			</ul></li>							
	</ul>

</aside>
<script type="text/javascript">
	$('#side-menu').metisMenu();
</script>