<!DOCTYPE html>
<html>
<head>
<title>business_menu.html</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">

<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>

</head>

<body class="fixed-iframe" ng-app="app" ng-controller="menu">
	<!-- splash screen-->
	<div class="splash">
		<!-- <div class="color-line"></div> -->
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="content animate-panel" style="margin-top:0px">
			<div class="row" ng-show="menu.m_31">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-heading hbuilt">
							<i class="fa fa-list"></i> 故障处理
						</div>
						<div class="panel-body">
							<div class="menu-box text-center" style="cursor: pointer;">
                            <a href="../operations/order.html" target="_self">
                                <img alt="" src="../../Resources/images/icon/64/34.png">
                                <p>派单列表</p>
                                </a>
                            </div>
                            <div class="menu-box text-center" style="cursor: pointer;">
                            <a href="../operations/emhHistory.html" target="_self">
                                <img alt="" src="../../Resources/images/icon/64/36.png">
                                <p>环控历时数据</p>
                                </a>
                            </div>
                           
                            


						</div>
					</div>
				</div>
			</div>
			<!-- row -->
			<div class="row" ng-show="menu.m_31">
                <div class="col-md-12">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt">
                            <i class="fa fa-list"></i> 故障查询
                        </div>
                        <div class="panel-body">
                            <div class="menu-box text-center" style="cursor: pointer;">
                            <a href="../operations/#" target="_self">
                                <img alt="" src="../../Resources/images/icon/64/39.png">
                                <p>特别重大故障</p>
                                </a>
                            </div>
                            <div class="menu-box text-center" style="cursor: pointer;">
                            <a href="../operations/#" target="_self">
                                <img alt="" src="../../Resources/images/icon/64/40.png">
                                <p>重大故障</p>
                                </a>
                            </div>
                            <div class="menu-box text-center" style="cursor: pointer;">
                            <a href="../operations/#" target="_self">
                                <img alt="" src="../../Resources/images/icon/64/41.png">
                                <p>一般故障</p>
                                </a>
                            </div>
                            <div class="menu-box text-center" style="cursor: pointer;">
                            <a href="../operations/#" target="_self">
                                <img alt="" src="../../Resources/images/icon/64/42.png">
                                <p>隐患故障</p>
                                </a>
                            </div>
                            


                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->

		</div>
	</div>
	<!-- 中间内容体 /-->
<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
<script type="text/javascript" src="../../Controllers/menu/menu.js"></script>
<script type="text/javascript">
		xh.load();
</script>
</body>
</html>
