<!-- 左侧导航菜单 -->
<aside id="menu">
	<!-- <div id="menu-title">
		<i class="fa fa-list-alt text-danger"></i>&nbsp;&nbsp;<span>菜单列表</span>
	</div> -->
	<ul class="nav" id="side-menu">
		<li class="open"><a href="#"> <i
				class="fa fa-cog fa-x text-black"></i>&nbsp;&nbsp; <span
				class="nav-label">资源配置</span> <span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="bsInfo.html" target="_self">基站配置 </a></li>
				<li><a href="" target="_self">调度台配置</a></li>
			</ul></li>
		<li><a href="#"> <i class="fa fa-binoculars text-black"></i>&nbsp;&nbsp;
				<span class="nav-label">实时监测</span> <span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="bsstatus.html" target="_self">基站状态 </a></li>
				<li><a href="" target="_self">中心状态</a></li>
				<li><a href="userstatus.html" target="_self">终端状态</a></li>
				<li><a href="" target="_self">信道资源状态</a></li>
			</ul></li>
		<li><a href="#"> <i class="fa fa-exclamation-triangle text-danger"></i>&nbsp;&nbsp;
				<span class="nav-label">故障管理</span><span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="bsAlarm.html" target="_self">Tetra系统告警</a></li>
				<li><a href="emhAlarm.html" target="_self">环监告警</a></li>
				<li><a href="" target="_self">工单管理</a></li>
			</ul></li>
		<li><a href="#"> <i class="fa fa-file-powerpoint-o text-black"></i>&nbsp;&nbsp;
				<span class="nav-label">数据报表</span><span class="fa arrow"></span>
		</a>0
			<ul class="nav nav-second-level">
				<li><a href="audio.html" target="_self">全网录音</a></li>
				<li><a href="sms-recv.html" target="_self">800M短信</a></li>
				<li><a href="gps.html" target="_self">gps信息</a></li>
				<li><a href="userstatush.html" target="_self">终端上下线</a></li>
				<li><a href="inspection.html" target="_self">值班记录表</a></li>
				<li><a href="monthreport.html" target="_self">运维月报</a></li>
				<li><a href="quality.html" target="_self">运维质量抽检表</a></li>
				<li><a href="qualitycount.html" target="_self">运维质量抽检统计表</a></li>
				<li><a href="communicationfault.html" target="_self">通信保障</a></li>
			</ul></li>
	</ul>
</aside>
<script type="text/javascript">
	$('#side-menu').metisMenu();
</script>