<!-- 左侧导航菜单 -->
<aside id="menu">
	<!-- <div id="menu-title">
		<i class="fa fa-list-alt text-danger"></i>&nbsp;&nbsp;<span>菜单列表</span>
	</div> -->
	<ul class="nav h-list " id="side-menu">
		<li><a href="role.html" target="_self"> <i
				class="fa fa-child text-info"></i>&nbsp;&nbsp; <span
				class="nav-label">角色管理</span>
		</a></li>
		<li><a href="user.html" target="_self"> <i
				class="fa fa-user text-info"></i>&nbsp;&nbsp; <span
				class="nav-label">用户管理</span>
		</a></li>
		<li><a href="log.html" target="_self"> <i
				class="fa fa-file-excel-o text-info"></i>&nbsp;&nbsp; <span
				class="nav-label" target="_self">日志管理</span>
		</a></li>
		<li><a href="event.html" target="_self"> <i
				class="fa fa-tachometer text-info"></i>&nbsp;&nbsp; <span
				class="nav-label" target="_self">计划任务</span>
		</a></li>
	</ul>
</aside>
<script type="text/javascript">
	$('#side-menu').metisMenu();
</script>
