<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
<meta name="keywords" content="">
<meta name="description" content="">

<title>综合应用与管理平台</title>



<!--common-->
<link href="Resources/AdminEx/css/style.css" rel="stylesheet">
<link href="Resources/AdminEx/css/style-responsive.css" rel="stylesheet">
<style type="text/css">
marquee {
	float: left;
	width: 350px;
	height: 33px;
	color: red;
	/* margin-left: 5px; */
	margin-top: 10px;
	border: 0px solid #ccc;
	border-left: 0px;
	padding: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.input-group {
	float: left;
	margin-top: 10px;
	margin-left: 2px;
	padding: 5px;
	height: 33px;
	border: 0px solid #ccc;
	border-right: 0px;
	height: 33px;
	padding: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.input-group i {
	color: green;
}

/* .password-tip {
	display: none;
	float: left;
	height: 170px;
	width: 330px;
	overflow: hidden;
	background: #5FB878;
	padding: 10px;
	color: #fff;
} */
</style>


<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="Resources/AdminEx/js/html5shiv.js"></script>
  <script src="Resources/AdminEx/js/respond.min.js"></script>
  <![endif]-->
</head>
<!-- <div class="password-tip">
	<p>密码修改提示！</p>
	<p>你的登陆密码过于简单，密码长度必须大于6位,包含大小写字母，数字或者特殊符号</p>
	<p>请尽快修改登陆密码</p>
	<p style="text-align: center;color:blue; font-weight:800;">修改通道：系统主界面-》右上角》修改个人资料</p>
	<p style="text-align: center;">
		<a style="color:red; font-weight:800; cursor: pointer;"
			href="Views/web/updateMember.html" target="mainframe">快捷通道,点击前往</a>
	</p>
</div> -->

<body class="sticky-header" ng-app="app" ng-controller="index">

	<section>
		<!-- left side start-->
		<div class="left-side sticky-left-side">

			<!--logo and iconic logo start-->
			<div class="logo">
				<a href="index.html"><img src="Resources/images/img/logo.png"
					width="45px" height="45px" alt=""></a> <span
					style="color:#fff;font-size:16px;">综合应用与管理平台</span>
			</div>

			<div class="logo-icon text-center">
				<a href="index.html"><img src="Resources/images/img/logo.png"
					width="45px" height="45px" alt=""></a>
			</div>
			<!--logo and iconic logo end-->

			<div class="left-side-inner">

				<!-- visible to small devices only -->
				<div class="visible-xs hidden-sm hidden-md hidden-lg">
					<div class="media logged-user">
						<img alt="" src="Resources/images/icon/64/user.png"
							class="media-object">
						<div class="media-body">
							<h4>{{loginUser}}</h4>
							<span></span>
						</div>
					</div>

					<h5 class="left-nav-title">会员中心</h5>
					<ul class="nav nav-pills nav-stacked custom-nav">
						<li><a href="Views/operations/email.html" target="mainframe"><i
								class="fa fa-user"></i> <span>邮件</span></a></li>
						<li><a href="Views/web/updateMember.html" target="mainframe"><i
								class="fa fa-cog"></i> <span>修改个人资料</span></a></li>
						<li><a href="web/loginOut"><i class="fa fa-sign-out"></i>
								<span>退出</span></a></li>
					</ul>
				</div>

				<!--sidebar nav start-->
				<ul class="nav nav-pills nav-stacked custom-nav">
					<li class="menu-list nav-active" ng-show="menu.m_1"><a href=""><i
							class="fa fa-th-large"></i> <span>运维管理</span></a>
						<ul class="sub-menu-list">
							<!-- <li class="active" ng-show="menu.m_11"><a href="map.html" target="mainframe">
									系统状态</a></li> -->
							<li ng-show="menu.m_11"><a
								href="Views/menu/menu_monitor.html" target="mainframe">系统监控</a></li>
							<!-- <li ng-show="menu.m_11"><a href="Views/operations/bsFault.html"  target="mainframe">系统告警</a></li> -->
							<li ng-show="menu.m_12"><a
								href="Views/menu/menu_operations.html" target="mainframe">
									服务监管</a></li>
							<li ng-show="menu.m_13"><a
								href="Views/operations/appInspection.html" target="mainframe">运维巡检</a></li>
							<li ng-show="menu.m_14"><a href="Views/menu/menu_count.html"
								target="mainframe">统计分析</a></li>
							<li ng-show="menu.m_14"><a href="Views/menu/menu_fault.html"
                                target="mainframe">故障处理</a></li>
                            <li ng-show="menu.m_14"><a href="Views/web/system-config.html"
                                target="mainframe">告警提示配置</a></li>

						</ul></li>
					<!--  <li class="menu-list"><a href=""><i class="fa fa-tasks"></i> <span>综合业务</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="general.html"> 数据管理</a></li>
                        <li><a href="general.html"> 配置管理</a></li>
                        <li><a href="general.html"> 资产管理</a></li>
                    </ul>
                </li> -->

					<li class="menu-list" ng-show="menu.m_3"><a href=""><i
							class="fa fa-tasks"></i> <span>业务管理</span></a>
						<ul class="sub-menu-list">
							<li ng-show="menu.m_31"><a
								href="Views/menu/menu_business.html" target="mainframe">
									网办业务</a></li>
							<li ng-show="menu.m_32"><a href="Views/menu/menu_data.html"
								target="mainframe"> 数据管理</a></li>
							<li ng-show="menu.m_33"><a href="Views/menu/menu_radio.html"
								target="mainframe"> 终端管理</a></li>
							<li ng-show="menu.m_34"><a
								href="Views/menu/menu_config.html" target="mainframe">配置管理</a></li>

						</ul></li>
					<li class="menu-list" ng-show="menu.m_2"><a href=""><i
							class="fa fa-jpy"></i> <span>资产管理</span></a>
						<ul class="sub-menu-list">
							<li ng-show="menu.m_21"><a
								href="Views/business/asset-count.html" target="mainframe">
									资产概况</a></li>
							<li ng-show="menu.m_22"><a
								href="Views/business/asset-info.html" target="mainframe">
									资产明细</a></li>
							<li ng-show="menu.m_23"><a href="Views/menu/menu_asset.html"
								target="mainframe"> 变更管理</a></li>
						</ul></li>
					<li class="menu-list" ng-show="menu.m_4"><a href=""><i
							class="fa fa-laptop"></i> <span>平台管理</span></a>
						<ul class="sub-menu-list">
							<li ng-show="menu.m_41"><a href="Views/web/role.html"
								target="mainframe"> 角色管理</a></li>
							<li ng-show="menu.m_42"><a href="Views/web/user.html"
								target="mainframe"> 用户管理</a></li>
							<li ng-show="menu.m_43"><a
								href="Views/business/access-user.html" target="mainframe">
									接入用户</a></li>
							<li ng-show="menu.m_44"><a href="Views/web/log.html"
								target="mainframe"> 日志查询</a></li>
						</ul></li>




				</ul>
				<!--sidebar nav end-->

			</div>
		     
		</div>
		<!-- left side end-->

		<!-- main content start-->
		<div class="main-content">

			<!-- header section start-->
			<div class="header-section" style="border-bottom:1px solid #ccc;">

				<!--toggle button start-->
				<a class="toggle-btn"><i class="fa fa-bars"></i></a>
				<!--toggle button end-->

				<!--search start-->
				<div class="searchform">
					<!-- <input type="text" class="form-control" name="keyword" placeholder="公告栏" /> -->

					<!-- <i class="fa fa-"></i> -->
					<span class="input-group ">公告&nbsp;<i
						class="fa fa-volume-up"></i></span>
					<marquee class="" class="form-control">{{news}}</marquee>

					<!-- <marquee class="form-control">Welcom CSDN!</marquee> -->
				</div>
				<!--search end-->

				<!--notification menu start -->
				<div class="menu-right">
					<ul class="notification-menu">
					
					    <li ng-if="voiceCheckTag==1"><a href="#" onclick="xh.stopCheckMap3()"
                            class="btn btn-default dropdown-toggle info-number"
                            data-toggle="tooltip" data-placement="right" title="关闭核减提示音"> <img
                                src="Resources/images/icon/32/bell3.png" id="close-check-bell" /> <span
                                class="badge">{{CheckAlarmTotals}}</span>
                        </a></li>
                        <li ng-if="voiceOrderTag==1"><a href="#" onclick="xh.stopOrderMap3()"
                            class="btn btn-default dropdown-toggle info-number"
                            data-toggle="tooltip" data-placement="right" title="关闭派单提示音"> <img
                                src="Resources/images/icon/32/bell4.png" id="close-order-bell" /> <span
                                class="badge">{{OrderAlarmTotals}}</span>
                        </a></li>

						<li ng-if="voiceTag==1"><a href="#" onclick="xh.stopMap3()"
							class="btn btn-default dropdown-toggle info-number"
							data-toggle="tooltip" data-placement="right" title="关闭告警音"> <img
								src="Resources/images/icon/32/bell.png" id="close-bell" /> <span
								class="badge">{{AlarmTotals}}</span>
						</a></li>
						<li><a 
                            href="http://183.221.117.37:7800/analystrunner/d831608f-2dbe-416c-b0bb-9b573bba9629" target="_blank"
                            class="btn btn-default dropdown-toggle info-number"> 
                            <img alt="" src="Resources/images/icon/32/bigdata.png">
                             <span class="badge"></span> <span>可视化</span>
                        </a></li>
						<li ng-if="roleType==0 || roleType==3"><a 
                            href="http://172.27.253.22:8080" target="_blank"
                            class="btn btn-default dropdown-toggle info-number"> 
                            <img alt="" src="Resources/images/icon/32/huawei.png">
                             <span class="badge"></span> <span>eSight系统</span>
                        </a></li>
						<!-- <li ng-if="roleType==0 || roleType==3"><a
							href="Views/operations/order.html" target="mainframe"
							class="btn btn-default dropdown-toggle info-number"> <i
								class="fa fa-bell-o"></i> <span class="badge"></span> <span>派单列表</span>
						</a></li> -->

						<li><a href="#"
							class="btn btn-default dropdown-toggle info-number"
							data-toggle="dropdown"> <img alt="" src="Resources/images/icon/32/sms.png"> <span
								class="badge">{{email}}</span> <span>站内信</span>
						</a>
							<div class="dropdown-menu dropdown-menu-head pull-right">
								<h5 class="title">新消息</h5>
								<ul class="dropdown-list normal-list">
									<li class="new"><a href="Views/operations/email.html"
										target="mainframe"> <span class="label label-danger"><i
												class="fa fa-envelope-o"></i></span> <span>你有新消息，请查收</span>
									</a></li>

								</ul>
							</div></li>
						<!-- <li><a href="Views/monitor/event.html" target="mainframe"
							class="btn btn-default dropdown-toggle info-number"> <i
								class="fa fa-bell-o"></i> <span class="badge">4</span> <span>待办事项</span>
						</a></li> -->
						<li><a href="#"
							class="btn btn-default dropdown-toggle info-number"
							data-toggle="dropdown"> <img alt="" src="Resources/images/icon/32/code.png"> <span
								class="badge">1</span> <span>点我，扫一扫</span>
						</a>
							<div class="dropdown-menu dropdown-menu-head pull-right">
								<h5 class="title">运维APP 安卓版下载链接,扫一扫</h5>
								<div style="padding:20px;">
									<img alt="" src="Resources/app/apk.png">
								</div>

							</div></li>
						<li><a href="#" class="btn btn-default dropdown-toggle"
							data-toggle="dropdown"> <img
								src="Resources/images/icon/64/user.png" alt="" /> {{loginUser}}
								<span class="caret"></span>
						</a>
							<ul class="dropdown-menu dropdown-menu-usermenu pull-right">
								<li><a href="Views/operations/email.html"
									target="mainframe"><i class="fa fa-user"></i> 邮件</a></li>
								<li><a href="Views/web/updateMember.html"
									target="mainframe"><i class="fa fa-cog"></i> 修改个人资料</a></li>
								<li><a href="web/loginOut"><i class="fa fa-sign-out"></i>退出</a></li>
							</ul></li>


					</ul>
				</div>
				<!--notification menu end -->

			</div>
			<!-- header section end-->

			<!--body wrapper start-->
			<div class="wrapper">
				<iframe src="map.html" id="mainframe" name="mainframe"
					frameborder="0" scrolling="no"></iframe>

			</div>
			<!--body wrapper end-->

			<!--footer section start-->
			<div ng-include="'Views/footer.html'"></div>
			<!--footer section end-->


		</div>
		<!-- main content end-->
	</section>
	<audio id="bgMusic" loop="loop">
		<source src="Resources/sound/alarm.mp3" type="audio/mp3">
		<source src="Resources/sound/alarm.ogg" type="audio/ogg">
	</audio>
	<audio id="mp3_check">
		<source src="Resources/sound/check.mp3" type="audio/mp3">
		<source src="Resources/sound/check.ogg" type="audio/ogg">
	</audio>
	<audio id="mp3_order">
		<source src="Resources/sound/order2.mp3" type="audio/mp3">
		<source src="Resources/sound/order2.ogg" type="audio/ogg">
	</audio>
	<div class="modal fade" id="checkPassWin" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"></div>
				<div class="modal-body pad-0" style="margin:2px;padding:2px;">
					<p>密码修改提示！</p>
					<p>你的登陆密码过于简单，密码长度必须大于6位,包含大小写字母，数字或者特殊符号</p>
					<p>请尽快修改登陆密码</p>
					<p style="text-align: center;color:blue; font-weight:800;">修改通道：系统主界面-》右上角》修改个人资料</p>
					<p style="text-align: center;">
						<a style="color:red; font-weight:800; cursor: pointer;"
							href="Views/web/updateMember.html" target="mainframe">快捷通道,点击前往</a>
					</p>

				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>




	<!-- Placed js at the end of the document so the pages load faster -->
	<script src="Resources/AdminEx/js/jquery-1.10.2.min.js"></script>
	<script src="Resources/AdminEx/js/jquery-ui-1.9.2.custom.min.js"></script>
	<script src="Resources/AdminEx/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="Resources/AdminEx/js/bootstrap.min.js"></script>
	<script src="Resources/AdminEx/js/modernizr.min.js"></script>
	<script src="Resources/AdminEx/js/jquery.nicescroll.js"></script>
	<script type="text/javascript" src="Resources/js/angular.min.js"></script>
	<!-- <script type="text/javascript" src="lib/layer-master/dist/layer.js"></script> -->


	<!--common scripts for all pages-->
	<script src="Resources/AdminEx/js/scripts.js"></script>

	<script type="text/javascript" src="Controllers/index.js"></script>
	<script type="text/javascript">
		xh.load();
	</script>


</body>
</html>
