<!DOCTYPE html>
<html>
<head>
<title>GIS地图</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript" src="Resources/js/xhbootstrap-css.js"></script>
<link rel="stylesheet"
	href="http://125.70.9.194:801/3.15/esri/css/esri.css">
<style type="text/css">
html,body {
	margin: 0;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}

#myModal {
	z-index: 9999;
}

.modal-backdrop {
	z-index: -1;
}

.esriLayerList {
	height: auto;
	width: 200px !important;
	position: fixed;
	right: 0%;
	bottom: 0%;
	z-index: 1;
	border-radius: 4px;
}

#esri_dijit_OverviewMap_0-map_gc {
	margin-top: 20px !important;
}

#side-menu li {
	background: rgba(176, 196, 222, 0.7);
}
/* 隐藏左上角放大缩小 */
#mapDiv_zoom_slider {
	display: none;
}
/* 右侧标签样式 */
.nav_right {
	width: 20px;
	height: 110px;
	position: fixed;
	top: 46%;
	left: 0px;
	background: rgba(176, 196, 222, 0.7);
	text-align: center;
	font-size: 16px;
	color: black;
	line-height: 55px;
	display: block;
	cursor: pointer;
	z-index: 1000;
	border-top-left-radius: 0em;
	border-top-right-radius: 20em;
	border-bottom-right-radius: 20em;
	border-bottom-left-radius: 0em;
}

/* 圈选按钮样式 */
.dijitOffScreen {
	position: absolute !important;
	left: -10000px !important;
	top: -10000px !important;
}

#dijit_form_Button_0>span.dijitReset.dijitToggleButtonIconChar {
	display: none;
}
/*右上角工具栏*/
.info_right {
	position: fixed;
	top: 0;
	right: 6%;
	z-index: 1000;
}

.dropdown-menu {
	background: rgba(255, 255, 255, 0.6);
}

.chooseLevel {
	color: red;
}
</style>
</head>
<body ng-app="app" ng-controller="map" class="fixed-iframe">

	<!-- 右上角显示框 -->
	<div class="info_right">
		<div class="btn-group">
			<button type="button" class="btn btn-primary btn-sm dropdown-toggle"
				data-toggle="dropdown">
				级别 <span class="caret"></span>
			</button>
			<div class="dropdown-menu" role="menu">
				<ul class="nav nav-second-level" ng-repeat="x in levelData"
					id="testChooseLevel">
					<li style="text-align:center;" ng-if="x.level!=null"><a
						href="#" ng-click="levelChoose(x.level,$index)">{{x.level}}级基站
							<i class="fa fa-check-square-o" ng-show="clickLevel==$index"></i>
							<i class="fa fa-square-o" ng-show="clickLevel!=$index"></i>
					</a></li>
				</ul>
			</div>

		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-primary btn-sm dropdown-toggle"
				data-toggle="dropdown">
				区域 <span class="caret"></span>
			</button>
			<div class="dropdown-menu" role="menu">
				<ul ng-repeat="x in data">
					<li><label class="areaChoose"><input type="checkbox"
							ng-click="areaChoose(x.zone)" ng-value="x.zone">{{x.zone}}</label></li>
				</ul>
			</div>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-primary btn-sm dropdown-toggle"
				data-toggle="dropdown">
				图层 <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li style="padding-left:36px;"><label><input
						id="bsInfo" type="checkbox" value="" checked>基站信息图</label></li>
				<li style="padding-left:36px;"><label><input
						id="roadtestInfo" type="checkbox" value="">路测信息图</label></li>
				<li style="padding-left:36px;"><label><input
						id="testDemo" type="checkbox" value="">基站覆盖仿真图</label></li>
			</ul>
		</div>
		<div class="btn-group">
			<button data-dojo-type="dijit/form/Button"
				class="btn btn-primary btn-sm dropdown-toggle">圈选</button>
		</div>
	</div>


	<div id="mapDiv"></div>
	<!-- 模态框（圈选） start-->
	<div class="modal fade" id="rectangle" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<div class="message_move">圈选查询</div>
				</div>
				<div class="modal-body">
					<ul id="myTab" class="nav nav-tabs">
						<li class="active"><a href="#manage" data-toggle="tab">
								已选{{totalsChoose}}个基站</a></li>
						<!-- <li><a href="#param" data-toggle="tab">路测信息</a></li>
						<li><a href="#moveController" data-toggle="tab">其他</a></li>
						<li><a href="#movie" data-toggle="tab">视频</a></li> -->
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade in active" id="">
							<table id="tb-info" class="xh-table table-hover">
								<thead>
									<tr class="tr-gray">
										<th>基站ID</th>
										<th>基站名称</th>
										<th>基站级别</th>
										<th>话务量</th>
										<th>排队数</th>
										<th>信道占用率</th>
										<th>是否启用</th>
										<th>状态</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-if="totalsChoose==0">
										<td colspan="8" class="text-center">没有记录！</td>
									</tr>
									<tr ng-repeat="x in dataRectangle">
										<td>{{x.bsId}}</td>
										<td>{{x.name}}</td>
										<td>{{x.level}}</td>
										<td>{{x.testnum1}}</td>
										<td>{{x.testnum2}}</td>
										<td>{{x.testnum3}}</td>
										<td ng-if="x.status==0" class="td-gray"><span
											style="color:#fff">停用</span></td>
										<td ng-if="x.status==1" class="td-success"><span
											style="color:#fff">已经启用</span></td>
										<td ng-if="x.bsStatus==0" class="td-success">连接</td>
										<td ng-if="x.bsStatus!=0" class="td-gray"><span
											style="color:#fff">断开</span></td>
									</tr>
								</tbody>
							</table>
							<div class="page">
								<div class="page-info">
									每页显示 <select id="page-limitChoose" ng-change="search()"
										ng-model="countChoose">
										<option value="10">10</option>
									</select> 条, <span ng-model="indexChoose">显示{{startChoose}}-</span><span
										ng-model="lastIndexChoose">{{lastIndexChoose}}条,</span> <span
										ng-model="totalsChoose">总计{{totalsChoose}}条</span>
								</div>
								<div class="page-pagingChoose"></div>
							</div>
						</div>
						<div class="tab-pane fade" id=""></div>
						<div class="tab-pane fade" id=""></div>
						<div class="tab-pane fade" id=""></div>
					</div>
				</div>
				<div class="modal-footer"></div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
	<!-- 模态框（圈选）end -->

	<!-- 模态框（Modal） start-->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<div class="message_move">当前基站信息</div>
				</div>
				<div class="modal-body">
					<ul id="xh-tabs" class="nav nav-tabs">
						<li class="active"><a href="#info" data-toggle="tab"
							ng-click=''> 基本信息 </a></li>
						<li><a href="#config" data-toggle="tab" ng-click='config()'>配置信息</a></li>

						<li><a href="#business" data-toggle="tab"
							ng-click='bsGroup()'> 业务信息</a></li>
					</ul>
					<div class="tab-content" style="padding:20px">
						<div class="tab-pane fade in active" id="info">
							<div ng-include="'Views/operations/bsstatus-view-info.html'"></div>
						</div>
						<div class="tab-pane fade" id="config">
							<div ng-include="'Views/operations/bsstatus-view-config.html'"></div>
						</div>
						<div class="tab-pane fade" id="business">
							<div class="row">
								<div class="col-md-12">
									<div class="panel-body">
										<ul id="xh-tabs" class="nav nav-tabs">
											<li class="active"><a href="#group" data-toggle="tab"
												ng-click='bsGroup()'> 注册组 </a></li>
											<li><a href="#radio" data-toggle="tab"
												ng-click='radioUser()'> 注册终端 </a></li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane fade in active" id="group">
												<div ng-include="'Views/operations/bsstatus-view-group.html'"></div>
											</div>
											<div class="tab-pane fade" id="radio">
												<div ng-include="'Views/operations/bsstatus-view-radio.html'"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-sm"
						data-dismiss="modal">关闭</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
	<!-- 模态框（Modal）end -->
	<script>
		var dojoConfig = {
			parseOnLoad : true,
			packages : [ {
				"name" : "src",
				"location" : "/axis2"
			} ]
		};
		/* location.pathname.replace(/\/[^/]+$/, '') */
	</script>



	<script type="text/javascript" src="Resources/js/xhbootstrap-js.js"></script>
	<script type="text/javascript"
		src="lib/metisMenu/dist/metisMenu.min.js"></script>
	<script type="text/javascript" src="echarts.source.js"></script>
	<script src="http://125.70.9.194:801/3.15/init.js"></script>

	<!-- highcharts -->
	<script type="text/javascript" src="lib/highcharts/highcharts.js"></script>
	<script type="text/javascript" src="lib/highcharts/highcharts-more.js"></script>
	<script type="text/javascript"
		src="lib/highcharts/modules/exporting.js"></script>
	<script type="text/javascript"
		src="lib/highcharts/themes/grid-light.js"></script>
	<script type="text/javascript" src="Resources/js/mapInit.js"></script>
	<script type="text/javascript">
		$(function() {
			$("testChooseLevel li a").click(function() {
				console.log("aaa");

			});
		});
	</script>
</body>

</html>
