<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.AssetTransferMapper">
	<!-- 自定义返回结果集 -->
	<resultMap id="assetTransferMap" type="xh.mybatis.bean.AssetTransferBean">
		<id property="id" column="id" javaType="java.lang.Integer"></id>
		<result property="type" column="type" javaType="java.lang.Integer"></result>
		<result property="name" column="name" javaType="java.lang.String"></result>
		<result property="model" column="model" javaType="java.lang.String"></result>
		<result property="serialNumber" column="serialNumber" javaType="java.lang.String"></result>
		<result property="price" column="price" javaType="java.lang.String"></result>
		<result property="user" column="user" javaType="java.lang.String"></result>
		<result property="createTime" column="createTime" javaType="java.lang.String"></result>

		<result property="statusCount" column="statusCount" javaType="java.lang.Integer"></result>
	</resultMap>

	<!--查询资产移交记录statusCount -->
	<select id="assetTransfer" parameterType="map" resultMap="assetTransferMap"
		useCache="true">
		select * from xhgmnet_business_transfer where 1=1

		
		order by createTime desc limit #{start},#{limit}
	</select>
	<!--查询资产移交记录statusCount -->
	<select id="assetTransferCount" parameterType="map" resultType="int"
		useCache="true">
		select count(*) from xhgmnet_business_transfer
		
	</select>
		<!--增加移交资产 -->
	<insert id="insertAssetTransfer" useGeneratedKeys="true" keyProperty="id"
		parameterType="xh.mybatis.bean.AssetTransferBean">
		insert into
		xhgmnet_business_transfer(type,name,model,serialNumber,price,user,createTime)
		values(#{type},#{name},#{model},#{serialNumber},#{price},#{user},#{createTime})
	</insert>
	<!--更新资产移交记录 -->
	<update id="updateAssetTransfer" parameterType="xh.mybatis.bean.AssetTransferBean">
		update
		xhgmnet_business_transfer set type=#{type},
		name=#{name},model=#{model},
		serialNumber=#{serialNumber},price=#{price},user=#{user} where id=#{id}
	</update>
	<!--更新资产移交刷新资产记录 -->
	<update id="updateAssetTransfer2" parameterType="xh.mybatis.bean.AssetTransferBean">
		update
		xhgmnet_business_assetinfo set 
		status="1",note=#{note} where serialNumber=#{serialNumber}
	</update>
		<!--删除资产记录 -->
	<delete id="deleteAssetTransfer" parameterType="java.util.List">
		delete from xhgmnet_business_transfer where id in(
		<foreach collection="list" item="id" separator=",">
			#{id}
		</foreach>
		)
	</delete>
</mapper>
