<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.InfoDeviceMapper">

	<!--获取基站下的设备信息 -->
	<select id="bsInfoDeviceList" parameterType="int" resultType="map"
		useCache="true">
		select * from xhgmnet_bs_accessories where bsId=#{bsId}
	</select>
	<!--获取基站下的设备信息记录总数 -->
	<select id="bsInfoDeviceListCount" parameterType="int"
		resultType="int" useCache="true">
		select count(*) from xhgmnet_bs_accessories
		where bsId=#{bsId}
	</select>
	<insert id="insertBsDevice" useGeneratedKeys="false"
		keyProperty="bsId" parameterType="xh.mybatis.bean.InfoDeviceBean">
		INSERT INTO xhgmnet_bs_accessories
		(bsId,power, manufacturer, bsType, cabinetType, bscCount, bsc1Item,
		bsc2Item, bsrCount, bsr1Item, bsr2Item, bsr3Item, bsr4Item,
		duplexerCount, mixerCount, bsLineType, bsLineCount,
		lineGain, gpsLineType, gpsLineCount, powerType, masterPowerDownType,
		cabinetPowerDownType, batteryVolume,
		duration, generatorPower, generatorType, fire, masterType, cameraType) VALUES
		(#{bsId},#{power}, #{manufacturer}, #{bsType}, #{cabinetType},
		#{bscCount}, #{bsc1Item}, #{bsc2Item},
		#{bsrCount}, #{bsr1Item}, #{bsr2Item}, #{bsr3Item}, #{bsr4Item}, #{duplexerCount},
		#{mixerCount}, #{bsLineType},
		#{bsLineCount}, #{lineGain}, #{gpsLineType}, #{gpsLineCount}, #{powerType},
		#{masterPowerDownType},
		#{cabinetPowerDownType}, #{batteryVolume}, #{duration}, #{generatorPower}, #{generatorType},
		#{fire}, #{masterType}, #{cameraType})
	</insert>
	<update id="updateBsDevice" parameterType="xh.mybatis.bean.InfoDeviceBean">
		update xhgmnet_bs_accessories set power=#{power},
		manufacturer=#{manufacturer}, bsType=#{bsType},
		cabinetType=#{cabinetType}, bscCount=#{bscCount},
		bsc1Item=#{bsc1Item}, bsc2Item=#{bsc2Item},
		bsrCount=#{bsrCount}, bsr1Item=#{bsr1Item}, bsr2Item=#{bsr2Item}, bsr3Item=#{bsr3Item},
		bsr4Item=#{bsr4Item}, duplexerCount=#{duplexerCount},
		mixerCount=#{mixerCount}, bsLineType=#{bsLineType},
		bsLineCount=#{bsLineCount},lineGain=#{lineGain},
		gpsLineType=#{gpsLineType},gpsLineCount=#{gpsLineCount},
		powerType=#{powerType},
		masterPowerDownType=#{masterPowerDownType},cabinetPowerDownType=#{cabinetPowerDownType},
		batteryVolume=#{batteryVolume}, duration=#{duration},
		generatorPower=#{generatorPower}, generatorType=#{generatorType},
		fire=#{fire}, masterType=#{masterType}, cameraType=#{cameraType} where
		bsId=#{bsId}
	</update>
</mapper>
