<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xh.mybatis.mapper.RadioDispatchBusinessMapper" >
  <resultMap id="BaseResultMap" type="xh.mybatis.bean.RadioDispatchBusiness" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="monitorOn" property="monitoron" jdbcType="INTEGER" />
    <result column="PCPreempt" property="pcpreempt" jdbcType="INTEGER" />
    <result column="callPriority" property="callpriority" jdbcType="INTEGER" />
    <result column="allMute" property="allmute" jdbcType="INTEGER" />
    <result column="allMuteTimeout" property="allmutetimeout" jdbcType="INTEGER" />
    <result column="pttPriority" property="pttpriority" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="userGroup" property="usergroup" jdbcType="INTEGER" />
    <result column="emergIndCallEnabled" property="emergindcallenabled" jdbcType="INTEGER" />
    <result column="emergGroupCallEnabled" property="emerggroupcallenabled" jdbcType="INTEGER" />
    <result column="prohibitTone" property="prohibittone" jdbcType="INTEGER" />
    <result column="sideTone" property="sidetone" jdbcType="INTEGER" />
    <result column="patchGroupNum" property="patchgroupnum" jdbcType="INTEGER" />
    <result column="MSGroupNum" property="msgroupnum" jdbcType="INTEGER" />
    <result column="APBNum" property="apbnum" jdbcType="INTEGER" />
    <result column="calledPreempt" property="calledpreempt" jdbcType="INTEGER" />
    <result column="inboundCall" property="inboundcall" jdbcType="INTEGER" />
    <result column="inboundPTT" property="inboundptt" jdbcType="INTEGER" />
    <result column="instantTransmit" property="instanttransmit" jdbcType="INTEGER" />
    <result column="patchPC" property="patchpc" jdbcType="INTEGER" />
  </resultMap>
  <select id="ById" parameterType="map" resultMap="BaseResultMap"
		useCache="true">
		select * from xhgmnet_dispatchuser_ia where 1=1
		<if test="id !=null and id !=''">
			and id like concat('%',#{id},'%')
		</if>
		<if test="name !=null and name !=''">
			and name like concat('%',#{name},'%')
		</if>
		order by id asc limit #{start},#{limit}
	</select>

	<select id="Count" parameterType="map" resultType="int"
		useCache="true">
		select count(*) from xhgmnet_dispatchuser_ia where 1=1
		<if test="id!=null and id !=''">
			and id like concat('%',#{id},'%')
		</if>
		<if test="name!=null and name!=''">
			and name like concat('%',#{name},'%')
		</if>
	</select>
	
	<!--增加 -->
	<insert id="insert" parameterType="java.util.Map">
		insert into
		xhgmnet_dispatchuser_ia(id,name,monitorOn,PCPreempt,callPriority,allMute,allMuteTimeout,pttPriority,time,userGroup,emergIndCallEnabled,emergGroupCallEnabled,
		prohibitTone,sideTone,patchGroupNum,MSGroupNum,APBNum,calledPreempt,inboundCall,inboundPTT,instantTransmit,patchPC)
		values(#{id},#{name},#{monitoron},#{pcpreempt},#{callpriority},#{allmute},#{allmutetimeout},#{pttpriority},#{time},#{usergroup},#{emergindcallenabled},
		#{emerggroupcallenabled},#{prohibittone},#{sidetone},#{patchgroupnum},#{msgroupnum},#{apbnum},#{calledpreempt},#{inboundcall},#{inboundptt},#{instanttransmit},#{patchpc})
	</insert>

	<!--更新 -->
	<update id="update" parameterType="java.util.Map">
		update
		xhgmnet_dispatchuser_ia set name=#{name},monitorOn=#{monitoron},PCPreempt=#{pcpreempt},callPriority=#{callpriority},allMute=#{allmute},
		allMuteTimeout=#{allmutetimeout},pttPriority=#{pttpriority},time=#{time},userGroup=#{usergroup},emergIndCallEnabled=#{emergindcallenabled},
		emergGroupCallEnabled=#{emerggroupcallenabled},prohibitTone=#{prohibittone},sideTone=#{sidetone},patchGroupNum=#{patchgroupnum},MSGroupNum=#{msgroupnum},
		APBNum=#{apbnum},calledPreempt=#{calledpreempt},inboundCall=#{inboundcall},inboundPTT=#{inboundptt},instantTransmit=#{instanttransmit},
		patchPC=#{patchpc} where id=#{id} 
	</update>

	<!--删除-->
	<delete id="delete" parameterType="java.util.List">
		delete from xhgmnet_dispatchuser_ia where id in(
		<foreach collection="list" item="id" separator=",">
			#{id}
		</foreach>
		)
	</delete>
  
</mapper>