<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.ServerStatusMapper">

    <!--接入用户列表-->
    <select id="serverstatus" resultType="map" useCache="true">
     <!-- select * from xhgmnet_server_sys_info limit 0,100 -->
     select * from (select name,(dpan/1024) as dpan,status,time,type from xhgmnet_server_sys_info) as a 
     
     union select server_name as name,(diskSize-diskUsed)/(1024*1024*1024) as dpan,runStatus as status,
     time,type from xhgmnet_eastcom_server
    </select>  
   
   
</mapper>
