<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.UserStatusMapper">
    <!--终端状态-->
    <select id="userstatus" parameterType="map" resultType="java.util.HashMap" useCache="true">
     select a.*,b.name from xhgmnet_operations_userstatus a left join 
     xhgmnet_bs_station as b on a.bsId=b.bsId where 1=1
     <if test="userId !=null and userId !=''">
         and a.userId=#{userId}
     </if>
     <if test="regStatus==0">
         and (a.regStatus=0 or a.regStatus=4)
     </if>
     <if test="regStatus==1">
         and (a.regStatus=1 or a.regStatus=2 or a.regStatus=3)
     </if>
     order by a.userId asc limit #{start},#{limit}
    </select>  
    <!--终端状态数量-->
    <select id="userstatusCount" parameterType="map" resultType="int" useCache="true">
     select count(userId) from xhgmnet_operations_userstatus where 1=1
     <if test="userId !=null and userId !=''">
         and userId=#{userId}
     </if>
     <if test="regStatus==0">
         and (regStatus=0 or regStatus=4)
     </if>
     <if test="regStatus==1">
         and (regStatus=1 or regStatus=2 or regStatus=3)
     </if>
    </select> 
    <!--终端在线状态统计 -->
	<select id="userStatusByChart" resultType="java.util.HashMap"
		useCache="true">
		select regStatus as name,count(userId) as value from xhgmnet_operations_userstatus
		group by regStatus order by regStatus asc
	</select> 
	<!--终端在线统计 -->
	<select id="userOnline" resultType="int"
		useCache="true">
		select count(*) from xhgmnet_operations_userstatus where regStatus in(1,2,3)
	</select> 

</mapper>
